<div class="notifications-item">
    <span class="icon icon-warning notification-icon"></span>
    <p class="notification-text" *ngIf="notification.product['sell-type'] !== 'GRATIS'">
        <span class="highlight bold clickable"(click)="clickUser()">
            {{notification.product.user.name}}
        </span>
        <span>ha confirmado tu compra</span>
        <span class="highlight bold clickable" (click)="goToDetail(notification.product.id)">
            {{ notification.product.name + ': ' + (notification.purchase.amount | currency:'$':0) + ' pesos.'}}
        </span>
    </p>
    <p class="notification-text" *ngIf="notification.product['sell-type'] === 'GRATIS'">
        <span>Has pedido a</span>
        <span class="highlight bold clickable">{{notification.product.user.name}}</span>
        <span>el artículo</span>
        <span class="highlight bold clickable">
            {{ notification.product.name + ': ' + (notification.purchase.amount | currency:'$':0) + ' pesos.'}}
        </span>
    </p>
    <small class="notification-date">
        {{notification.at | amLocale:'es' | amTimeAgo}}
    </small>
    <p class="notification-text" *ngIf="notification.status" [innerHTML]="notification.status"></p>
    <div class="notification-buttons" *ngIf="!notification.status">
        <div class="button-item">
            <button class="button button-secondary" (click)="productReceived(notification.product.id)">
                <span>Recibí el artículo</span>
            </button>
        </div>
        <div class="button-item">
            <button class="button button-primary">
                <span>Contactar al vendedor</span>
            </button>
        </div>
    </div>
</div>
