@import '../../styles/settings/_colors.scss';
@import '../../styles/settings/_variables.scss';

:host{
    button, a{
        width: 100%;
        display: block;
       // padding: 6.3px 42px;
        padding: 6.3px 20px;
        font-weight: normal;
        font-size: 21px;
        color: #FFF;
        border-radius: 30px 30px 30px 30px;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        &:hover{
            text-decoration: none;
        }
        &.primary{
            background-color: $red;
            &:hover{
                background-color: #bf111c;
            }
        }
        &.alternative{
            background-color: rgba(255, 255, 255, 0.5);
            &:hover{
                background-color: rgba(217, 217, 217, 0.5);
            }
        }
        &:disabled{
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}

:host(.primary-blue) {
    button.primary{
        background-color: #0FBBD8;
        transition: background 0.8s;
        &:hover{
          background: #15c5e2 radial-gradient(circle, transparent 1%, #15c5e2 1%) center/15000%;
        }
        &:active{
          background-color: #6eb9f7;
          background-size: 100%;
          transition: background 0s;
        }
    }
}

:host(.primary-size) {
  button.primary{
      font-size: 1.6rem;
  }
}

:host() {
  button.register {
      font-size: 1.6rem;
  }
}


