<div class="container-activacion-cuenta">
  <div class="container">
    <div class="title">
      {{title}}
    </div>
    <div class="description">
      <span>{{firstRow}}</span>
      <span>{{secondRow}}</span>
    </div>
    <div class="container-form">
      <form role="form" (ngSubmit)="continue()" novalidate [formGroup]="form" name="activacionForm" class="form-theme">
        <div class="form-froup input-code">
          <input *ngIf="!textArea" class="form-control" name="field" formControlName="field" placeholder="{{placeholder}}">
          <textarea *ngIf="textArea" class="form-control" name="field" formControlName="field" placeholder="{{placeholder}}"></textarea>
        </div>
        <div>
          <custom-button type="submit" text="{{actionText}}" [disabled]="formIsInValid"></custom-button>
        </div>
      </form>
    </div>
  </div>
</div>