<div class="info-container">
  <div class="tittle main-title">
    <h1 class="text">Artículos rotando</h1>
  </div>
  <nav class="sold-header-nav">
    <div class="nav nav-tabs">
      <div class="tab tab-left" [ngClass]="{ active:  currentTab == 'selling' }">
        <div (click)="currentTab = 'selling'" class="option">
          <a class="link">Rotando</a>
        </div>
      </div>
      <div class="tab tab-right" [ngClass]="{ active:  currentTab == 'expired' }">
        <div (click)="currentTab = 'expired'" class="option">
          <a class="link">Vencidos</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container--app">
    <div id="sold" *ngIf="currentTab === 'selling'">
      <div *ngIf="isSpinnerShow" class="spinner">
        <custom-spinner></custom-spinner>
      </div>
      <div *ngIf="showEmptyProduct" class="products-empty">
        <div>
          <div class="ico ico-no-product"></div>
          <p class="text">Aún no tienes ningun artículo rotando.</p>
          <div class="container-offer">
            <a class="upload-offer-button" routerLink="/products/form">
              <div class="gtmSubeTuOferta outside-circle">
                <div class="gtmSubeTuOferta inside-circle">
                  <span class="gtmSubeTuOferta icon-tag"></span>
                </div>
                <label class="gtmSubeTuOferta">Sube tu oferta</label>
              </div>
            </a>
          </div>
        </div>
      </div>
    <div class="row-list__wrapper" *ngIf="!showEmptyProduct">
      <div [ngStyle]="{'min-height':showAnyProductsMessage ? '0' : '480px' }" class="container-masonry">
        <div class="list">
          <div class="masonry">
            <div class="grid-item">
              <product #productsEnd *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: pageNumber, totalItems: totalItems }"
                class="product-feed"
                [isProductSelling]="true" [showField]="true" [product]="product"
                [colourCompany]="product['seller_company_color']  ? product['seller_company_color'] : '#FF3646'" id="{{product.product_id}}">
              </product>
            </div>
          </div>
          <pagination-controls *ngIf="showPagination" class="has-text-centered" responsive="true" previousLabel="Anterior"
            nextLabel="Siguiente" (pageChange)="getPage($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
    </div>
    <div id="purchased" *ngIf="currentTab === 'expired'">
      <div *ngIf="isSpinnerShow" class="spinner">
        <custom-spinner></custom-spinner>
      </div>
      <div *ngIf="showEmptyExpired" class="products-empty">
        <div class="ico ico-expired"></div>
        <p class="text">No tienes productos vencidos.</p>
      </div>
      <div class="row-list__wrapper" *ngIf="!showEmptyExpired">

      </div>
    </div>
  </div>
</div>
