:host {
  width: 79%;
  height: auto;
  padding: 0 5%;
  padding-left: 2%;
  min-height: 60rem;
  padding-top: 45px;
  padding-bottom: 70px;
  .spinner{
    position: relative;
    height: 60rem;
  }
  custom-spinner {
    position: absolute;
    left: 48%;
    top: 40%;
  }
  .tittle {
    .text {
      color: #ed2f3c;
    }
    h1.text {
      font-size: 4rem;
      font-weight: normal;
      margin: 0;
    }
  }

  .product-container {
    padding: 10px;
  }

  .main-title {
    padding-bottom: 15px;
    border-bottom: 2px solid #eae9e8;
    margin-bottom: 25px;
  }

  .products-empty {
    text-align: center;
    padding: 20px 10px;
    min-height: 40rem;
    .ico-expired {
      margin: 0 auto;
      width: 200px;
      height: 200px;
      background: url(../../../assets/img/productos_vencidos.svg);
      background-size: 200px 200px;
    }
    .ico-no-product {
      margin: 0 auto;
      width: 200px;
      height: 200px;
      background: url(../../../assets/img/productos_rotando.svg);
      background-size: 200px 200px;
    }
    p {
      font-size: 2rem;
    }
  }
  .sold-header-nav {
    .nav-tabs {
      display: flex;
      width: 100%;
    }
    .tab {
      width: 50%;
    }
    .tab.active {
      .option {
        border-bottom: 3px solid #00aac7;
      }
    }
    .option {
      cursor: pointer;
      font-size: 2.5rem;
      text-align: center;
      width: 100%;
      padding: 5px 0;
      border-bottom: 3px solid #eae9e8;
    }
  }

  .container-masonry {
    .masonry {
      .grid-item {
        width: 32%;
      }
    }
  }

  .container--app {
    width: 100%;
  }
  .row-list__wrapper {
    margin: 20px 0;
  }
  .row-list__ul {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .modal--offer {
    overflow-y: visible;
  }
  .row-list__item {
    width: 50%;
    overflow: hidden;
    list-style-type: none;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
  }
  .product-buy__thumbnail {
    margin-right: 15px;
    height: 46px;
    width: 46px;
    border-radius: 4px;
    float: left;
    background-size: cover;
  }
  .product-buy__info {
    float: left;
    padding-top: 3px;
  }
  .product-buy__title {
    line-height: 19px;
    margin-bottom: 2px;
    margin-top: 0;
  }
  .text--small,
  .product-buy__title {
    font-size: 1.4rem;
  }
  .container-offer {
    margin: 25px 0;
    .upload-offer-button {
      display: inline-block;
      vertical-align: middle;
      .outside-circle {
        padding: 5px;
        display: table-cell;
        vertical-align: middle;
        border: 2px dashed #9b9b9b;
        color: #4a4a4a;
        height: 75px;
        width: 300px;
        .inside-circle {
          color: white;
          display: inline-flex;
          vertical-align: middle;
          padding: 9px 6px;
          height: 4rem;
          width: 4rem;
          background-color: #41b5cb;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          span {
            font-size: 25px;
          }
        }
        label {
          vertical-align: middle;
          margin-left: 16px;
          cursor: pointer;
          font-weight: bold;
          font-size: 3.5rem;
          margin-bottom: 0px;
        }
      }
    }
    .navbar-brand {
      width: 130px;
      cursor: pointer;
      img {
        height: auto;
        width: 100%;
      }
    }
  }

}

:host {
  .container-masonry {
    padding: 4rem 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 480px;
    .masonry {
      width: 100%;
      max-width: 100%;
      min-height: 500px;
      margin: auto;
      .grid-item {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
      }
      product, product-rotalo-center{
        cursor: pointer;
        text-align: left;
        width: 30%;
        overflow: hidden;
        margin: 0 1rem 2.5rem;
        border: 1px solid #e2e2e2;
        border-radius: 5px;
      }

    }
  }

  .has-text-centered {
    text-align: center;
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 1095px) {
  :host {

    .container-masonry .masonry product {
      width: 45%;
    }

  }
}

@media screen and (max-width: 790px) {
  :host {
    .container-masonry .masonry product {
      width: 100%;
    }
  }
}


@media screen and (max-width: 700px) {
  :host {
    .container-masonry .masonry product {
      width: 45%;
    }
  }
}

@media screen and (max-width: 430px) {
  :host {
    .container-masonry .masonry product {
      width: 100%;
    }
  }
}
