@import '../../../styles/settings/_colors.scss';
@import '../../../styles/settings/_variables.scss';

:host{
  .msg-products-empty{
    width: 100%;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 2rem;
  }
  custom-spinner{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 50%);
  }
}
