<!--<div class="container-bar-offer">
  <div class="container">
    <h1 class="offer-head-title">{{titlePurchase}}</h1>
  </div>
</div>-->
<div *ngIf="product">
  <modal-buy-info  [statusProduct]="product.status" [idProduct]="product.id" *ngIf="isModalBuyShowed" (closeModal)="showMessageModal($event)"></modal-buy-info>
  <div  class="buy-product-container">
    <form (ngSubmit)="buyProductCash()" [formGroup]="buyForm">
        <div class="container-offer">
          <confirm-purchase *ngIf="confirmPurchase" ></confirm-purchase>
          <info-page [idProduct] = "idProduct"  [selectValue] = "selectOptionsPageInfo" *ngIf="showInfoPage" ></info-page>
          <div class="purchaseProduct" *ngIf="!showInfoPage  && !confirmPurchase">
              <msg-congratulation *ngIf="transactionSuccess"></msg-congratulation>
              <div class="container" *ngIf="!transactionSuccess">
                <div class="buy-detail">
                  <p>Revisa el detalle de tu producto</p>
               <!--<p>Recuerda seleccionar la opción de pago y de entrega según lo que acordaste con el vendedor.</p> -->
                </div>
                <ol class="steps-buy-product">
                  <li>
                    <span>Revisa el detalle de tu producto</span>
                    <div class="container-header product">
                      <div class="image">
                        <img [src]="photoProduct">
                      </div>
                      <div class="category-container">
                        <div class="title">{{product.name}}</div>
                        <div class="category">
                          <span>{{categoryProduct}}</span> - {{subCategoryProduct}}</div>
                        <div class="used">
                          <span>Condición:</span> {{usedProduct}}</div>
                      </div>
                      <div class="price">
                        <div class="title">Precio</div>
                        <div *ngIf="product.currency != 'GTQ'">{{priceProduct | currency:"$":0 | removeDigits }}</div>
                        <div *ngIf="product.currency == 'GTQ' && idCountry == 9">{{priceProduct | currency:"Q":0 | removeDigits }}</div>
                      </div>
                      <div *ngIf="showOptionsVehicles &&  showOptionEstate" class="price">
                          <div class="title-quantity">Cantidad</div>
                        <!--  <div class="text-center">{{quantity}}</div> -->
                        <div class="full-width quantity-container">
                              <form role="form" [formGroup]="quantityForm" name="quantityForm" class="form-theme"  #form>
                                  <div  class="form-group">
                                      <div class="input-group quantity-wrapper">
                                        <span class="input-group-btn">
                                          <button (click)="minusStock()" type="button" class="btn btn-default btn-number btn-sm">
                                            <span>-</span>
                                          </button>
                                        </span>
                                        <input
                                        (blur)="changeTotalValue()"
                                        type="text" class="form-control input-number input-sm quantity-style" name="stock" currencyMask [options]="{prefix: '' , align: 'left', precision: 0}"
                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="stock" placeholder="0" maxlength="5"
                                        autocomplete="off">
                                        <span class="input-group-btn">
                                          <button (click)="addStock()" type="button" class="btn btn-default btn-number btn-sm">
                                            <span>+</span>
                                          </button>
                                        </span>

                                      </div>
                                      <span [ngStyle]="{'display': quantityForm.get('stock').errors ? 'block' : ''}" class="error-msg">Este campo debe ser mayor a 0 y menor igual a {{totalStock}}</span>
                                    </div>
                              </form>
                          </div>
                      </div>
                        <div *ngIf="showOptionsVehicles &&  showOptionEstate" class="price">
                            <div class="title">Total</div>
                            <div class="total-price" *ngIf="product.currency != 'GTQ'">{{totalPrice | currency:"$":0 | removeDigits }}</div>
                            <div class="total-price" *ngIf="product.currency == 'GTQ' && idCountry == 9">{{totalPrice | currency:"Q":0 | removeDigits }}</div>
                          </div>
                    </div>
                  </li>
                  <li>
                      <span>Información del vendedor</span>
                      <div class="container-header info-seller-container">
                        <div class="info-seller">
                          <div class="media-middle">
                              <div *ngIf="!product.user.photo" class="product-info-user--icon">
                                  <span class="icon-account"></span>
                              </div>
                              <div *ngIf="product?.user.photo && product?.user.photo.url" class="product-info-user--icon">
                                  <img class="user-photo" [src]="product?.user.photo.url">
                              </div>
                          </div>
                          <div *ngIf="product.user.company" class="media-middle product-info-user--data">
                              <p class="first-text bold">{{product.user.name}}</p>
                              <p class="second-text">{{product.user.company.name}}</p>
                          </div>
                        </div>
                        <div class="info-seller">
                            <div class="media-middle">
                                <div class="product-info-user--icon">
                                    <div class="icon-cellphone"></div>
                                </div>
                            </div>
                            <div *ngIf="product.user.cellphone" class="media-middle product-info-user--data">
                                <p class="first-text">Celular</p>
                                <p class="second-text bold">{{product.user.cellphone}}</p>
                            </div>
                        </div>
                        <div class="info-seller">
                            <div class="media-middle">
                                <div class="product-info-user--icon">
                                    <div class="icon-email"></div>
                                </div>
                            </div>
                            <div *ngIf="product.user.cellphone" class="media-middle product-info-user--data">
                                <p class="first-text">Correo electrónico</p>
                                <p class="second-text bold">{{product.user.email}}</p>
                            </div>
                        </div>
                      </div>
                  </li>
                 <!-- <li>
                    <span>¿Cómo lo vas a pagar?</span>
                    <div class="buy-detail buy-">
                      <p>Selecciona una de las formas de pago disponible. Ten en cuenta lo pactado con el vendedor.</p>
                    </div>
                    <div [attr.disabled]="!vaproductIsFree() ? null : ''" class="container-header" *ngIf="product">
                      <div class="cc-selector-2">
                        <div class="option">
                          <label class="container-radio">
                            <input
                            [attr.disabled]="!vaproductIsFree() ? null : ''"
                            checked="checked"
                            id="bank2"
                            type="radio"
                            name="payment-type"
                            value="bank_account_transfer"
                            formControlName="payment-type"
                            />
                            <div class="thumb">
                              <label class="bancolombia thumb-cc" for="bank2"></label>
                            </div>
                            <span class="checkmark"></span>
                          </label>
                          <div class="description">
                            <label>Transferencia Bancolombia</label>
                          </div>
                        </div>
                        <div class="option">
                          <label class="container-radio">
                            <input
                            [attr.disabled]="!vaproductIsFree() ? null : ''"
                            id="nequi2"
                            type="radio"
                            name="payment-type"
                            value="nequi"
                            formControlName="payment-type" />
                            <div class="thumb">
                              <label class="nequi thumb-cc" for="nequi2"></label>
                            </div>
                            <span class="checkmark"></span>
                          </label>
                          <div class="description">
                            <label>Transferencia Nequi</label>
                          </div>
                        </div>
                        <div class="option">
                          <label class="container-radio">
                            <input
                            [attr.disabled]="!vaproductIsFree() ? null : ''"
                            id="cash2"
                            type="radio"
                            name="payment-type"
                            value="cash"
                            formControlName="payment-type" />
                            <div class="thumb">
                              <label class="cash thumb-cc" for="cash2"></label>
                            </div>
                            <span class="checkmark"></span>
                          </label>
                          <div class="description">
                            <label>Efectivo Contraentrega</label>
                          </div>
                        </div>
                      </div>
                      <div class="price">
                        <div>{{pricePayment | currency:"$":0 | removeDigits }}</div>
                      </div>
                    </div>
                    <div *ngIf="payWithBank" class="info-message-bank">
                        <p>¡Un segundo!</p>
                        <p> Antes de continuar con tu compra, asegúrate de tener a la mano la información de la
                            cuenta de destino del vendedor para realizar la trasnferencia.</p>
                        <p> Si no lo tienes contacta al
                            vendedor.</p>
                      </div>
                  </li>-->
                  <!--<li>
                    <span>¿Cómo es la entrega del producto?</span>
                    <div class="buy-detail buy-">
                      <p>Selecciona la forma de entrega del producto. Recuerda seleccionar lo pactado con el vendedor.</p>
                    </div>
                    <div class="container-header" *ngIf="product">
                      <div class="cc-selector-2">
                        <div class="option">
                          <label class="container-radio">
                            <input checked="checked" id="person2" type="radio" name="delivery" value="person" />
                            <div class="thumb">
                              <label class="person thumb-cc" for="person2"></label>
                            </div>
                            <span class="checkmark"></span>
                          </label>
                          <div class="description">
                            <label for="person2">Entrega presencial</label>
                          </div>
                        </div>
                      </div>
                      <div class="price">
                        <div>{{priceDelivery | currency:"$":0 | removeDigits }}</div>
                      </div>
                    </div>
                  </li>-->
                </ol>
              <!--  <div class="container-total-price">
                    <div class="total-price">
                      <div>Total: <span>{{priceProduct | currency:"$":0 | removeDigits }}</span></div>
                    </div>
                </div>-->
                <div class="button-form">
                  <div class="container-button">
                    <div class="button">
                        <custom-button  text="Atrás" (click)="goBack()"></custom-button>
                    </div>
                    <div *ngIf="product && product['sell-type'] !='ALQUILA'" class="button">
                        <custom-button [buttonClass]="'gtmCompConfirmComp primary'" [disabled]="disableButton" class="gtmCompConfirmComp" type="submit"  text="Confirmar compra" ></custom-button>
                    </div>
                  </div>
                  <div *ngIf="errorMessage" class="error-message">
                   <div class="alert"></div> {{errorMessage}}
                  </div>
                </div>
              </div>
            </div>
          </div>
    </form>
    </div>
    <custom-footer></custom-footer>
</div>

