@import "../../styles/settings/_colors.scss";
@import "../../styles/settings/_variables.scss";
:host {
  display: block;
  height: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  custom-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  .buy-product-container {
    position: relative;
    margin: 0 auto;
    width: 95%;
  }
  .container-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    .container {
      width: 100%;
      .container-header {
        position: relative;
        right: 3%;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        margin: 1.5rem;
        padding-right: 4%;
        margin-bottom: 2rem;
        background-color: #f7f7f7;
        flex-wrap: wrap;
        padding-bottom: 15px;
        .image {
          width: auto;
          margin-right: 2rem;
          img {
            width: auto;
            height: auto;
            max-height: 15rem;
          }
        }
        .title {
          font-size: 2rem;
          font-weight: bold;
          color: #272727;
          margin-bottom: 10px;
        }
        .category {
          font-size: 1.5rem;
          color: #777777;
          span {
            font-weight: bold;
          }
        }
        .used {
          font-size: 1.6rem;
          color: #707070;
          span {
            color: #707070;
          }
        }
        .price {
          margin-left: auto;
          font-size: 2.4rem;
          color: #777777;
          font-weight: 500;
          line-height: 2.5rem;
        }
      }
      .container-header[disabled] {
        opacity: 0.5;
        .thumb-cc {
          cursor: inherit;
        }
        .cc-selector-2 input {
          cursor: inherit;
        }
      }
      .info-message-bank {
        margin-bottom: 30px;
        p:first-child {
          font-size: 1.6rem;
        }
        p {
          color: #4a4a4a;
          font-weight: bold;
          font-size: 1.4rem;
        }
      }
      .container-form {
        .title-form {
          font-size: 1.8rem;
          font-weight: bold;
          color: #4a4a4a;
          margin-bottom: 3rem;
        }
        .select-medium {
          margin-bottom: 3rem;
        }
      }
      .container-sufi {
        .title {
          font-size: 1.6rem;
          color: #4a4a4a;
          font-weight: 700;
          margin: 3rem 0;
          text-align: center;
        }
      }
    }
  }
  .container-bar-offer {
    background: url("/assets/img/image_bw.jpg") no-repeat center;
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
      .inside-circle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 4rem;
        background-color: #41b5cb;
        border-radius: 50%;
        margin-right: 2rem;
        .icon-tag {
          font-size: 2.5rem;
          color: white;
        }
      }
      .offer-head-title {
        color: white;
        margin: 0;
        font-size: 4rem;
      }
    }
  }
  .buy-detail {
    p {
      text-align: center;
      font-size: 2.4rem;
      font-weight: bold;
      color: #272727;
      margin-top: 10px;
      margin-bottom: 30px;
      padding-left: 20px;
    }
  }
  .steps-buy-product {
    li {
      font-size: 2.2rem;
      color: #383838;
      font-weight: bold;
      span {
        color: #707070;
      }
    }
  }
  .purchaseProduct {
    width: 100%;
  }
  .info-seller-container {
    background: white;
    min-height: 86px;
    .info-seller {
      width: 33%;
      padding-left: 1.5%;
      .media-middle {
        vertical-align: middle;
        display: inline-block;
        width: 5rem;
        padding-right: 10px;
        color: #707070;
        font-size: 1.8rem;
        &.product-info-user--data{
          width: calc(100% - 6rem);
        }
        .product-info-user--icon {
          width: 35px;
          height: 35px;
          text-align: center;
          padding-top: 5px;
          background-color: #D6D5D5;
          border-radius: 50%;
          position: relative;
          span {
            color: white;
          }
          .user-photo {
            width: 100%;
            height: 100%;
            min-height: 100%;
            border-radius: 100%;
          }
        }        
      }
    }
  }
}


:host {
  .input-group {
    position: relative;
    width: 130px;
  }

  .quantity-container {
    .form-theme .form-group {
      margin-bottom: 0;
    }
  }

  .title-quantity{
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: bold;
    color: #272727;
  }

  .input-number {
    width: 55px;
  }

  .btn {
    width: 30px;
    span {
      font-size: 2rem;
    }
  }

  .label-title {
    display: block;
  }

  .quantity-wrapper {
    background: white;
    display: inline-block;
    border: 1px solid #A2A2A2;
    border-radius: 13px;
  }

  .total-price {
    color: #FF4958;
  }

  .product{
      .quantity-on-stock {
        color: #383838;
        margin-left: 10px;
        font-size: 1.6rem;
      }

    }
  
  .input-group-btn, .quantity-style {
    display: inline-block;
    vertical-align: middle;
  }

  .form-control.quantity-style {
    text-align: center !important;
    background: white;
    border: 0 solid #A2A2A2;
    border-radius: 0;
    border-left: 1px solid #A2A2A2;
    border-right: 1px solid #A2A2A2;
  }

  .form-theme .form-group .form-control.quantity-style  {
    height: 36px;
  }


}

/**Estilos para opciones de pago**/

:host {
  .cash {
    background-image: url("/assets/img/icono_efectivo.svg");
  }
  .bancolombia {
    background-image: url("/assets/img/logo_bancolombia.svg");
  }
  .nequi {
    background-image: url("/assets/img/logo_nequi.svg");
  }
  .person {
    background-image: url("/assets/img/icono_personalmente.svg");
  }
  .cc-selector-2 {
    flex-wrap: wrap;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .cc-selector-2 input {
    position: absolute;
    cursor: pointer;
    z-index: 999;
    right: 5px;
    top: 5px;
    opacity: 0;
  }
  .option {
    width: 98px;
    text-align: center;
    .description {
      margin-top: 10px;
      font-size: 1.5rem;
      color: #777777;
    }
  }
  .thumb {
    position: relative;
    width: 94px;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .thumb-cc {
    cursor: pointer;
    display: inline-block;
    width: 94px;
    height: 94px;
  }
  .container-radio {
    display: block;
    position: relative;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .checkmark {
    position: absolute;
    border-radius: 5px;
    top: 7px;
    right: 10px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #bababa;
  }
  .container input:checked~.checkmark {
    background-color: #ff2334;
    border: none;
  }
  .container input:checked~.thumb {
    border: 1px solid #ff2334;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container input:checked~.checkmark:after {
    display: block;
  }
  .container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .container-total-price {
    .total-price {
      padding-left: 40px;
      text-align: right;
      padding-right: 8%;
      font-size: 2.4rem;
      span {
        font-size: 3.5rem;
        color: #ff2334;
      }
    }
  }
  .button-form {
    margin: 20px auto;
    .container-button {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      .button {
        width: 210px;
      }
    }
  }
  .icon-cellphone {
    margin: 0 auto;
    width: 45px;
    height: 45px;
    background: url(../../assets/img/celular.svg);
    background-size: 45px 45px;
    position: absolute;
    top: -4px;
    left: -4px;
  }
  .icon-email {
    margin: 0 auto;
    width: 45px;
    height: 45px;
    background: url(../../assets/img/email.svg);
    background-size: 45px 45px;
    position: absolute;
    top: -5px;
    left: -5px;
  }

  @media (max-width: 700px) {
    .container-gallery {
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 800px) {
    .container-offer{
      padding: 4rem 1rem;
    }
    .info-seller-container .info-seller{
      width: 100%;      
      display: inline-block;
      margin-bottom: 2rem;

      .media-middle{
        &.product-info-user--data{
          word-wrap:break-word;
        }
      } 
    }  
     .container-offer .container .container-header .price, .category-container {
      width: 100%;
      margin: 2% 3%;
    } 
  }

  @media (max-width: 400px) {
    .buy-product-container {
      margin: 0 auto;
      width: 100%;
    }
    .container-offer .container .container-header .image img {
      width: 100%;
    }
  }
}
