<div class="container-offer">
    <msg-congratulation *ngIf="transactionSuccess"></msg-congratulation>
    <div class="container" *ngIf="!transactionSuccess">
        <div class="container-header" *ngIf="product">
            <div class="image">
                <img [src]="product.photos.url || product.photos[0].url">
            </div>
            <div>
                <div class="title">{{product.name}}</div>
                <div class="price">Total a pagar: {{product.price | currency }}</div>
            </div>
        </div>
        <div class="container-form">
            <div class="title-form">1. Cuéntale ¿Cómo le vas a pagar?</div>
            <form class="form-theme" (ngSubmit)="buyProduct()">
                <div class="form-group" class="select-medium">
                    <select class="form-control" #selectMedium (change)="selectedMedium()">
                        <option selected disabled>--Seleccionar--</option>
                        <option  [attr.disabled]="!vaproductIsFree() ? null : ''" value="cash">Efectivo</option>
                        <option  [attr.disabled]="!vaproductIsFree() ? null : ''" value="bank_account_transfer">Transferencia Bancolombia</option>
                        <option  [attr.disabled]="vaproductIsFree() ? null : ''" value="na">No aplica</option>
                    </select>
                </div>
                <div  *ngIf="payWithBank"  class="info-message-bank">
                  <p>¡Un segundo!</p>
                  <p> Antes de continuar con tu compra, asegúrate de tener a la mano la información de la
                      cuenta de destino del vendedor para realizar la trasnferencia. Si no lo tienes contacta al
                      vendedor.</p>
                </div>
                <div class="form-group">
                    <custom-button buttonClass="gtmCompConfirmComp primary"  type="submit" text="Confirmar Compra"></custom-button>
                </div>
            </form>
        </div>
        <div *ngIf="checkSufiBotton()" class="container-sufi">
            <div class="title">¿Necesitas plata para comprarlo?</div>
            <div class="action">
                <custom-button (click)="openSimulateCreditSufi(product.id)" buttonClass="gtmCompSufiTePresta primary" text="Te presta"></custom-button>
            </div>
        </div>
    </div>
</div>
