<back-arrow></back-arrow>
<div class="container-fluid">
  <div class="">
    <form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" name="loginForm" class="text-center form-theme">
      <div class="m-b">
        <a href="../index.html" class="m-b-lg">
          <img src="./assets/img/logo-red.svg" alt="brand">
          <h1 class="sr-only">rótalo</h1>
        </a>
      </div>
      <p class="title-text">Ingresar</p>
      <div *ngIf="errorLogin" class="container--app">
        <div class="alert-danger" role="alert">
          <div>
            <span>{{errorLogin}}</span>
          </div>
        </div>
      </div>
      <div class="form-group  text-left">
        <input
        (click)="markAsTouched(loginForm.get('email'))"
        [ngClass]="{'invalid': loginForm.get('email').invalid && !loginForm.get('email').pristine}"
        formControlName="email"
         maxlength="50"
         id="txt-email"
         type="email"
         class="form-control"
         placeholder="Email corporativo">
         <span class="help-block text-left">
            <span *ngIf="loginForm.get('email').invalid && !loginForm.get('email').pristine">
              El campo no cumple con el formato de correo.
            </span>
          </span>
      </div>
      <div class="form-group  text-left">
        <input
        (click)="markAsTouched(loginForm.get('password'))"
        [ngClass]="{'invalid': loginForm.get('password').invalid && !loginForm.get('password').pristine}"
        formControlName="password"
        maxlength="20"
        id="txt-password"
        type="password"
        class="form-control"
        placeholder="Contraseña">
        <span class="help-block">
            <span *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid && !loginForm.get('password').pristine && !loginForm.get('password').errors?.minlength">
                Este campo es obligatorio.
            </span>
            <span *ngIf="loginForm.get('password').errors?.minlength && !loginForm.get('password').pristine">
                El campo no cumple la longitud mínima.
            </span>
          </span>
      </div>
      <div>
        <custom-button  [disabled]="!loginForm.valid"  type="submit" text="Ingresar"></custom-button>
      </div>
      <div class="content-link">
        <a routerLink="/reset-password" class="gtmLoginOlvTuContrasenia">¿Olvidaste tu contraseña?</a>
      </div>
      <footer>
        <p class="">¿No tienes una cuenta? <a routerLink="/signup" >Crea una cuenta</a></p>
      </footer>
    </form>
  </div>
</div>
<custom-footer></custom-footer>
