<nav>
  <div class="container material-register">
    <div #navbar class="navbar-header" >
      <div class="flexbox center-center">
        <div class="container-logo">
          <a  class="brand-container" (click)="goToHome()">
            <img  src="./assets/img/logo-red.svg" alt="brand">
          </a>
        </div>
        <div *ngIf="isColombia" class="link-shop-container">
          <a [routerLink]="shop">
            <div class="promo-shop">
              <div class="shop-icon"></div>
              <div class="label">Tienda del inmueble</div>
              <div class="tag purple">¡Nuevo!</div>
            </div>
          </a>
        </div>
      </div>
      <div class="menu_login_container">
          <form id="loginForm" role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" name="loginForm" class="text-center form-theme form-login">
              <a class="shop" mat-icon-button>
                  <div class="shop-icon"></div>
              </a>
              <div class="text-left">
                  <span [ngClass]="{'input--filled': loginForm.get('email').value}" class="input-email input input--float">
                    <input
                    #email
                    (click)="markAsTouched(loginForm.get('email'));"
                    [ngClass]="{'invalid': loginForm.get('email').invalid && !loginForm.get('email').pristine}"
                    formControlName="email"
                    maxlength="64"
                    class=" input__field input__field--float "
                    id="txt-email"
                    placeholder="Email corporativo"
                    type="email"/>

                    <span class="help-block text-left">
                        <span *ngIf="loginForm.get('email').invalid && !loginForm.get('email').pristine">
                          El campo no cumple con el formato de correo.
                        </span>
                        <span *ngIf="errorLogin">
                            {{errorLogin}}
                        </span>
                    </span>
                  </span>
              </div>
              <div class="text-left">
                <span [ngClass]="{'input--filled': loginForm.get('password').value}" class="input-password input input--float">
                    <input
                    #pass
                    (click)="markAsTouched(loginForm.get('password'))"
                    [ngClass]="{'invalid': loginForm.get('password').invalid && !loginForm.get('password').pristine}"
                    formControlName="password"
                    maxlength="20"
                    class="input__field input__field--float"
                    id="txt-password"
                    placeholder="Contraseña"
                    type="password"
                    />
                    <span class="help-block">
                        <span *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid && !loginForm.get('password').pristine && !loginForm.get('password').errors?.minlength">
                            Este campo es obligatorio.
                        </span>
                        <span *ngIf="loginForm.get('password').errors?.minlength && !loginForm.get('password').pristine">
                            Debe tener mínimo 6 caracteres
                        </span>
                    </span>
                </span>
              </div>
              <div class="button-container">
                <custom-button id="login"  class="primary-size primary-blue btn-desktop" type="submit" text="Iniciar sesión"></custom-button>
                <custom-button routerLink="/login-mobile"  id="login-mobile" class="primary-size primary-blue btn-mobile" type="submit" text="Iniciar sesión"></custom-button>
                <div class="content-link">
                    <a routerLink="/reset-password" class="gtmLoginOlvTuContrasenia">¿Olvidaste tu contraseña?</a>
                </div>
              </div>
          </form>
      </div>
    </div>
  </div>
</nav>

