@import "../../styles/settings/colors.scss";
@import "../../styles/settings/variables.scss";
:host {
  display: block;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  position: relative;
  z-index: 1;
  box-shadow: 2px 4px 10px rgba(0,0,0,.2);
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    @media #{$medium-max} {
      width: 90%;
      ;
    }
  }
  .container-logo{
    cursor: pointer;
    padding-bottom: 10px;
  }
  .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand-container {
      display: inline-block;
      vertical-align: middle;
      img {
        height: 40px;
      }
    }
  }

  .content-link{
    margin-top: 5px;
    a{
      cursor: pointer;
      font-size: 1.4rem;
      color: #00AAC7;
      font-weight: bold;
      text-decoration: none
    }
    a:hover{
      text-decoration: none;
    }
  }

  .form-login{
    display: flex;
  }
  .button-container
  {
    margin-top: 25px;
  }

  .input-email {
    width: 300px;
  }

  .input-password {
    width: 240px;
  }

  .btn-mobile{
    display: none;
  }

  .input__field {
    font-size: 1.6rem;
  }

  .input__field::placeholder  {
    color:#808080;
    -moz-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    transform-origin: 0 50%;

  }

  .input__field:focus::placeholder  {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

 /* input[type="email"]{
    text-transform: lowercase;
  }*/

}

@media screen and (max-width: 900px) {
  :host {

    .container {
      padding: 15px 5.7%;
    }

    .input, .content-link {
      display: none;
    }

    .container-logo{
      padding-bottom: 0px;
    }

    .button-container{
      margin-top: 0px;
    }

   .btn-desktop{
      display: none;
    }

    .btn-mobile{
      display: block;
    }

  }
}

