<custom-modal title="{{title}}" class="modal-theme" (close)="closeModal()">
	<div modal-body class="container-body">
		<div>
			<div class="container-logo">
				<img src="./assets/img/sufi.svg" alt="Sufi">
			</div>
			<div class="container-text">
        <span>¡Relájate! La solicitud ya fue enviada y pronto un integrante de nuestro</span>
        <span>equipo se pondrá en contacto para contarte el resultado.</span><br>
        <span>Si tienes alguna duda, contáctanos a través de nuestro correo</span>
        <span>servicioalcliente@rotalo.com</span>
			</div>
		</div>
	</div>
	<div modal-footer class="container-actions">
		<custom-button text="Aceptar" (click)="acceptModalSufi()"></custom-button>
	</div>
</custom-modal>
