<div class="container-product" *ngIf="product" #containerProducts>
  <a>
    <div (click)="selectProduct()" [ngClass]="isProductSelling || isProductSold? 'opacity-container' : ''" class="container-photo">
      <!--<img [src]="product.photos.url" [alt]="product.name">-->
      <img (load)="triggerMasonryLayout()" *ngIf="!product.photos" [src]="defaultImage" [alt]="product.name" (error)="updateSrc($event)">
      <img (load)="triggerMasonryLayout()" *ngIf="product.photos" [src]="product.photos?.url || product.photos[0].url" [alt]="product.name"
        (error)="updateSrc($event)">
      <!--<img [src]="product.photos.url || product.photos[0].url" [alt]="product.name">-->
    </div>
    <div class="container-name">
      <div (click)="shareProduct('custom-modal-2')" *ngIf="!isProductSelling  && !isProductSold" class="gtmCompartirProducto icon-share-container">
        <div class="gtmCompartirProducto icon-share">
        </div>
      </div>
      <span (click)="selectProduct()" class="name">{{product.name}}</span>
    </div>
    <div class="product-info" (click)="selectProduct()">
      <div [ngClass]="showField ? '' : 'border-price'" class="container-price">
        <div class="price-container">
          <div>
            <span *ngIf="product.price != 0 && product.currency == 'GTQ'" class="name">{{product.price | currency:"Q":0 | removeDigits}}</span>
            <span *ngIf="product.price != 0 && product.currency != 'GTQ' && idCountry == 9" class="name">{{product.price | currency:"$":0 | removeDigits}}</span>
            <span *ngIf="product.price != 0 && product.currency != 'GTQ' && idCountry == 1" class="name">{{product.price | currency:"$":0 | removeDigits}}</span>
            <span *ngIf="product.price == 0" class="name">Gratis</span>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>