:host {
  masonry-brick {
    cursor: pointer;
  }
  back-top {
    position: fixed;
    z-index: 99999;
    bottom: 15px;
    left: 50%;
    opacity: 0;
    transition: opacity 0.5s;
    &.show {
      opacity: 1;
      transition: opacity 1s;
    }
  }
  ngx-carousel {
    position: relative;
    .item-banner {
      img {
        width: 100%;
        height: auto;
      }
    }
    .arrow {
      display: inline-block !important;
      border: 0;
      border-bottom: 4px solid white;
      border-left: 4px solid white;
      z-index: 1;
      top: 46%;
      left: 2rem;
      width: 30px;
      height: 30px;
      transform: rotate(45deg);
      border-radius: 1px;
      position: absolute;
      cursor: pointer;
    }
    .arrow-next {
      // left: unset;
      left: auto;
      right: 2rem;
      transform: rotate(-135deg);
    }
  }
  .container-masonry {
    padding: 4rem 5%;
    .masonry {
      width: 100%;
      max-width: 100%;
      margin: auto;
      .grid-item {
        width: 32.5%;
      }
      product {
        text-align: left;
        width: 31%;
        overflow: hidden;
        margin: 0 1rem 2.5rem;
      }
    }
  }
  .container-spinner {
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 999999;
    bottom: 0;
    left: 0;
    background: rgba($color: #ffffff, $alpha: 0.5);
    padding: 1rem 0;
  }
  .msg-no-products {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem 0;
  }
  .lable-sell-process {
    position: absolute;
    background: #ED2F3C;
    z-index: 1;
    color: #FFFFFF;
    top: 30px;
    font-size: 3rem;
    border-top-right-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
    padding-right: 3%;
    padding-left: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .icon-clock {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-image: url(../../assets/img/icono_reloj_en_proceso.svg);
  }
  .label-sell--center {
    text-align: center;
    vertical-align: middle;
  }
}

:host {
  .featured-section {
    background-color: #F4F4F4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.16);
    min-height: 480px;
    .featured-container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 35px 0;
      .header-featured {
        margin-bottom: 15px;
        h3,
        .star-img {
          display: inline-block;
        }
        h3 {
          color: #383838;
          font-size: 1.8rem;
          font-weight: bold;
          margin: 0 0 0 8px;
        }
        .star-img {
          vertical-align: middle;
          width: 56px;
          height: 56px;
        }
      }
    }

    .featured-cards {
      display: flex;
      flex-flow: row wrap;
    }
    .featured-card {
      width: 20%;
      .item__wrapper {
        margin: 0 8px 20px;
        max-width: 224px;
        height: 318px;
        .item__card {
          cursor: pointer;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          display: inline-block;
          vertical-align: text-top;
          margin: 0;
          max-width: 224px;
          height: 318px;
          color: #333;
          white-space: normal;
          background-color: #fff;
          border-radius: 5px;
          position: relative;
          flex-direction: column;
          transition: height .1s ease-out;
          z-index: 1;
          .item__image-container {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 224px;
            height: 216px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            background-color: #dadada;
            position: relative;
            img {
              height: auto;
              max-width: 100%;
              max-height: 100%;
            }
          }
          .item__content {
            position: relative;
            position: relative;
            padding: 5px 10px;
            .item__name {
              position: relative;
              overflow-wrap: break-word;
              color: #404040;
              font-size: 1.4rem;
              font-weight: bold;
              line-height: 17px;
              display: block;
              text-overflow: ellipsis;
              word-wrap: break-word;
              overflow: hidden;
              max-height: 3.6rem;
              line-height: 1.8rem;
            }
            .item__price-block {
              color: #FF3646;
              font-size: 1.6rem;
              font-weight: bold;
              line-height: 1.9;
            }
            .item__location {
              color: #A2A2A2;
              font-size: 1.4rem;
              line-height: 17px;
              padding-bottom: 2px;
            }
            .item_info-user {
              display: flex;
              align-items: center;
              border-top: 1px solid rgba(51, 51, 51, .1);
              padding-top: 2px;
              opacity: 0;
              visibility: hidden;
              transition: .1s ease-out;
              transition-property: opacity, top;
              transition: visibility 0s;
              .icon-container {
                color: white;
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: #ED2F3C;
                margin-right: 1rem;
                overflow: hidden;
                position: relative;
                img {
                  width: auto;
                  height: 100%;
                }
              }
              .info-user {
                .name-text {
                  color: #707070;
                  font-weight: bold;
                  font-size: 1.4rem;
                  line-height: 17px;
                }
                .company-text {
                  color: #707070;
                  font-weight: bold;
                  font-size: 1.2rem;
                  line-height: 15px;
                }
              }
            }
          }
        }
        .item__card:hover {
          height: 350px;
          z-index: 2;
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          .item__content {
            .item_info-user {
              opacity: 1;
              visibility: visible;
              transition: visibility .1s .1s;
            }
          }
        }
      }
    }
  }
}

:host {
  .icon-share-container{
    cursor: pointer;
    z-index: 3;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 8px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    position: absolute;
    right: 0;
    bottom: -15px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    .icon-share {
      margin: 0 auto;
      width: 20px;
      height: 20px;
      background: url(../../assets/img/icon_share_detalle.svg);
      background-size: 20px 20px;
    }
  }
  .icon-share-container:hover {
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  }
}

:host {
  @media screen and (max-width: 890px) {
    .featured-section {
      .featured-container {
        max-width: 800px;
      }
    }
    .featured-section .featured-card {
      width: 25%;
    }
  }
  @media screen and (max-width: 760px) {
    .featured-section .featured-card .item__wrapper {
      margin: 0 auto 45px;
    }

    .featured-section {
      .featured-container {
        max-width: 700px;
      }
    }
    .featured-section .featured-card {
      width: 50%;
    }
  }
  @media screen and (max-width: 470px) {
    .featured-section {
      .featured-container {
        width: 92%;
        .header-featured {
          h3 {
            font-size: 1.4rem;
          }
        }
      }
      .featured-cards {
        justify-content: space-between;
      }
      .featured-card {
        width: 48%;
        .item__wrapper {
          height: auto;
          margin: 0 auto 30px;
          .item__card {
            height: auto;
            .item__image-container {
              height: 137px;
            }
            .item__content {
              .item__name {
                font-size: 1.2rem;
              }
              .item__location {
                font-size: 1.0rem;
                line-height: 12px;
              }
              .item_info-user {
                opacity: 1;
                visibility: visible;
                transition: visibility .1s .1s;
                .icon-container {
                  width: 2.8rem;
                  height: 2.8rem;
                }
                .info-user {
                  .name-text {
                    font-size: 1.0rem;
                    line-height: 12px;
                  }
                  .company-text {
                    font-size: 0.8rem;
                    line-height: 10px;
                  }
                }
              }
            }
          }
          .item__card:hover {
            height: auto;
            z-index: 2;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 570px) {
  :host {
    .lable-sell-process {
      font-size: 1.3rem;
    }
  }
}

@media screen and (max-width: 900px) {
  :host {
    ngx-carousel {
      .arrow {
        display: none !important;
      }
    }
    .container-masonry {
      .masonry {
        .grid-item {
          width: 48%;
        }
      }
    }
  }
}
