:host{
    back-top{
        position: fixed;
        z-index: 99999;
        bottom: 15px;
        left: 50%;
        opacity: 0;
        transition: opacity 0.5s;
        &.show{
            opacity: 1;
            transition: opacity 1s;
        }
    }

    ngx-carousel{
        position: relative;
        .item-banner{
            img{
                width: 100%;
                height: auto;
            }
        }
       .arrow{
            display: inline-block !important;
            border: 0;
            border-bottom: 4px solid white;
            border-left: 4px solid white;
            z-index: 1;
            top: 46%;
            left: 2rem;
            width: 30px;
            height: 30px;
            transform: rotate(45deg);
            border-radius: 1px;
            position: absolute;
            cursor: pointer;
        }
        .arrow-next{
           // left: unset;
            left: auto;
            right: 2rem;
            transform: rotate(-135deg);
        }
    }
    .container-masonry{
        padding: 4rem 5%;
        .masonry{
            width: 100%;
            max-width: 100%;
            margin: auto;
            .grid-item{
                width: 32.5%;
            }
            product{
                text-align: left;
                width: 31%;
                overflow: hidden;
                margin: 0 1rem 2.5rem;
            }
        }
    }
    .container-spinner{
        width: 100%;
        text-align: center;
        position: fixed;
        z-index: 999999;
        bottom: 0;
        left: 0;
        background: rgba($color: #ffffff, $alpha: 0.5);
        padding: 1rem 0;
    }
    .msg-no-products{
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        margin: 2rem 0;
    }
}

@media screen and (max-width: 900px){
    :host{
        ngx-carousel{
           .arrow{
               display: none !important;
           }
        }
        .container-masonry{
            .masonry{
                .grid-item{
                    width: 48%;
                }
            }
        }
    }
}
