:host{
    back-top{
        position: fixed;
        z-index: 99999;
        bottom: 15px;
        left: 50%;
        opacity: 0;
        transition: opacity 0.5s;
        &.show{
            opacity: 1;
            transition: opacity 1s;
        }
    }

    ngx-carousel{
        position: relative;
        .item-banner{
            height: 400px;
        }
       .arrow{
            display: inline-block !important;
            border: 0;
            border-bottom: 4px solid white;
            border-left: 4px solid white;
            z-index: 1;
            top: 46%;
            left: 2rem;
            width: 30px;
            height: 30px;
            transform: rotate(45deg);
            border-radius: 1px;
            position: absolute;
            cursor: pointer;
        }
        .arrow-next{
            left: unset;
            right: 2rem;
            transform: rotate(-135deg);
        }
    }
    .container-products{
        padding: 4rem 10rem;
        width: 100%;
        product{
            width: 31%;
            overflow: hidden;
            margin: 0 1rem 2.5rem;
            float: left;
        }
    }
}