<div class="md-overlay"></div>
<div class="md-overlay-red"></div>

<modal-shareProduct class="md-modal-center md-effect-1" id="custom-modal-2"></modal-shareProduct>
<modal-ticket [coupon] = "couponService" class="md-modal-center md-effect-1 md-modal-coupon" id="custom-modal-3"></modal-ticket>

<toolbar
(selectedCommunity)="changeCommunity($event)"
(tagsChanged)="searchByTags($event)"
(categorySelected)= "selectedCategory($event)"
(subCategorySelected)= "selectedSubCategory($event)"></toolbar>

<subcategory-filter *ngIf="!showBanner || configFiltersSubcategory"
[config]="configFiltersSubcategory"
[country]="countrySelected"
(onFilterBySellType)="filteBySellType($event)"
(onFilterBySort)="filterBySort($event)"
(onFilterByCity)="filterByCity($event)"
(onFilterByState)="filterByState($event)"></subcategory-filter>

<ngx-carousel class="carousel-theme" *ngIf="showBanner && !configFiltersSubcategory" [inputs]="carouselConfig">
  <ngx-item NgxCarouselItem *ngFor="let image of imagesBanner">
      <div class="item-banner">
        <img [ngStyle]="{'cursor': isExclusiveOffer(image) ? 'pointer' : '' }" (click) = "openModalCupon(image, 'custom-modal-3')" [src]="image">
      </div>
  </ngx-item>
  <span NgxCarouselPrev class="gtmBannerRotFlechas arrow arrow-prev"></span>
  <span NgxCarouselNext class="gtmBannerRotFlechas arrow arrow-next"></span>
</ngx-carousel>

<div *ngIf="groupFeaturedProducts.length != 0" class="featured-section">
    <div class="featured-container">
      <div class="row-featured">
        <div class="header-featured">
          <img class="star-img" src="../../assets/img/estrella.gif" alt="estrella">
          <h3>Artículos destacados</h3>
        </div>
        <ngx-carousel class="carousel-featured" *ngIf="groupFeaturedProducts.length != 0" [inputs]="carouselProductsConfig">
            <ngx-item NgxCarouselItem *ngFor="let groupfeaturedProduct of groupFeaturedProducts">
                <div class="carousel-container">
                    <div  class="featured-cards">
                      <div *ngFor="let featuredproduct of groupfeaturedProduct" class="featured-card">
                          <div *ngIf= "featuredproduct" class="item__wrapper">
                              <div class="item__card">
                                  <div class="item__image-container">
                                    <div *ngIf="featuredproduct['is-low-price'] && featuredproduct['featuredType'] == 'isLowPrice'" class="container-low-price">
                                      <p>$ REBAJÓ</p>
                                    </div>
                                    <div *ngIf="featuredproduct['featuredType'] == 'mostVisits'" class="container-trending">
                                        <p>TRENDING</p>
                                    </div>
                                      <img (click)="selectProduct(featuredproduct)"  *ngIf="!featuredproduct.photos" [src]="defaultImage" [alt]="featuredproduct.name" (error)="updateSrc($event)">
                                      <img (click)="selectProduct(featuredproduct)"  *ngIf="featuredproduct.photos" [src]="featuredproduct.photos?.url || featuredproduct.photos[0].url" [alt]="featuredproduct.name"  (error)="updateSrc($event)">
                                      <div (click)= "shareProduct('custom-modal-2' , featuredproduct)" class="gtmCompartirProducto icon-share-container">
                                          <div class="gtmCompartirProducto icon-share">
                                          </div>
                                      </div>
                                  </div>
                                  <div  (click)="selectProduct(featuredproduct)" class="item__content">
                                    <div class="item__name">
                                      <span>
                                          {{featuredproduct.name}}
                                      </span>
                                    </div>
                                    <div class="item__price-block">
                                      <span *ngIf=" featuredproduct.price != 0">{{featuredproduct.price | currency:"$":0 | removeDigits}} {{ featuredproduct.currency }}</span>
                                      <span *ngIf=" featuredproduct.price == 0">Gratis</span>
                                    </div>
                                    <div class="item__location">
                                        <span class="icon-location"></span>
                                        <span>{{getLocation(featuredproduct)}}</span>
                                    </div>
                                    <div *ngIf="featuredproduct.user" class="item_info-user">
                                        <div class="icon-container" [ngStyle]="{'background-color':featuredproduct.user.company.colour}">
                                            <span class="icon-account" *ngIf="!featuredproduct.user.photo && !featuredproduct.user.photos"></span>
                                            <img  *ngIf="featuredproduct.user.photo" [src]="featuredproduct.user.photo.url">
                                            <img  *ngIf="featuredproduct.user.photos" [src]="featuredproduct.user.photos.url">
                                        </div>
                                        <div class="info-user">
                                            <p class="name-text">{{featuredproduct.user.name}}</p>
                                            <p  *ngIf="featuredproduct.user && featuredproduct.user.company" [ngStyle]="{'color':featuredproduct.user.company.colour}" class="company-text">
                                                {{featuredproduct.user?.company.name}}
                                                <span class="comunidad-text"> -  {{featuredproduct.user?.company.community.name}}</span>
                                            </p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
            </ngx-item>
            <span NgxCarouselPrev class="hide arrow arrow-prev"></span>
            <span NgxCarouselNext class="hide arrow arrow-next"></span>
        </ngx-carousel>
      </div>
    </div>
  </div>
<div>
  <div class="container-spinner" *ngIf="isSpinnerShow">
      <custom-spinner></custom-spinner>
  </div>
  <div class="msg-no-products" *ngIf="showAnyProductsMessage">
    ¡Aún no tenemos productos en esta categoría! Por favor busca nuevamente.
  </div>
  <div [ngStyle]="{'min-height':showAnyProductsMessage ? '0' : '480px' }" class="container-masonry">
      <div class="list">
          <div class="masonry">
            <div class="grid-item">
              <product  #productsEnd *ngFor="let product of products | paginate: { itemsPerPage: 26, currentPage: pageNumber, totalItems: totalPages }" class="product-feed"
                  [ngClass]="product && product.status === 'sell_process' ? 'deactivated-photo' : ''"
                  [isProductSelling]="false"
                  [showField] = "true"
                  [product]="product"
                  (selected)="selectProduct($event); setScroll($event)"
                  [colourCompany]="product.user.company?.colour"
                  id="{{product.id}}"
                  >
              </product>
            </div>
          </div>
          <pagination-controls
          class="has-text-centered"
          responsive="true"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          (pageChange)="getPage($event)">
          </pagination-controls>
      </div>
  </div>
</div>
<custom-footer></custom-footer>
