<back-top number="300" stepTime="10" #backTop></back-top>

<toolbar
(selectedCommunity)="changeCommunity($event)"
(tagsChanged)="searchByTags($event)"
(categorySelected)= "selectedCategory($event)"
(subCategorySelected)= "selectedSubCategory($event)"></toolbar>

<subcategory-filter *ngIf="!showBanner || configFiltersSubcategory"
[config]="configFiltersSubcategory"
[country]="countrySelected"
(onFilterBySellType)="filteBySellType($event)"
(onFilterBySort)="filterBySort($event)"
(onFilterByCity)="filterByCity($event)"
(onFilterByState)="filterByState($event)"></subcategory-filter>

<ngx-carousel class="carousel-theme" *ngIf="showBanner && !configFiltersSubcategory" [inputs]="carouselConfig">
  <ngx-item NgxCarouselItem *ngFor="let image of imagesBanner">
      <div class="item-banner">
        <img [src]="image">
      </div>
  </ngx-item>
  <span NgxCarouselPrev class="gtmBannerRotFlechas arrow arrow-prev"></span>
  <span NgxCarouselNext class="gtmBannerRotFlechas arrow arrow-next"></span>
</ngx-carousel>

<div>
  <div class="container-spinner" *ngIf="isSpinnerShow">
      <custom-spinner></custom-spinner>
  </div>
  <div class="msg-no-products" *ngIf="noExistProducts">
    ¡Aún no tenemos productos en esta categoría! Por favor busca nuevamente.
  </div>
  <div class="container-masonry" id="hola">
      <masonry class="masonry"
      #masonryRef
      [useImagesLoaded]="false"
      [options]="masonryConfig"
      infiniteScroll
      [infiniteScrollDistance]="0.5"
      [infiniteScrollDisabled]="isInfiniteScrollDisabled"
      (scrolled)="scrolledInfinite()">
        <masonry-brick class="grid-item" *ngFor="let product of products">
            <div *ngIf="product && product.status === 'sell_process'" class="lable-sell-process">
                <div class="icon-clock label-sell--center"></div>
                <label class="label-sell--center">Venta en proceso</label>
            </div>
            <product id="{{product.id}}"
            [ngClass]="product && product.status === 'sell_process' ? 'deactivated-photo' : ''"
            [isProductSelling]="false"
            [showField] = "true"
            [product]="product"
            [masonryInfo]="masonryRef"
            (selected)="selectProduct($event); setScroll($event)" [colourCompany]="product.user.company.colour">


            </product>
        </masonry-brick>
      </masonry>
  </div>
</div>
