<div class="container-form">
    <div class="title-form">
      <span>Completa los siguientes datos</span>
      <span>para que tu producto rote con rapidez</span>
    </div>
    <form role="form" [formGroup]="photosForm" name="photosForm" class="form-theme" (ngSubmit)="publishPhoto(form)" #form>
      <div class="container-step">
        <div class="step-number">
          <span class="number">1. </span>Excoge las imágenes perfectas, mira algunos tips.
        </div>
        <div>
          <image-upload
          [max]="6"
          [extensions]="['jpg','png']"
          [buttonCaption]="'Selecciona una Imagen'"
          [dropBoxMessage]="'Arrastra tus imagenes aquí!'"
          [clearButtonCaption]="'Limpiar'"
          (uploadFinished)="onUploadImageFinished($event)"
          (removed)="onRemoveImage($event)"></image-upload>
        </div>
      </div>
      <div class="container-step">
        <div class="step-number">
          <span class="number">2. </span>Datos de tu producto.
        </div>
        <div class="info-product">
          <div class="form-group">
            <input class="form-control" name="name" formControlName="name" placeholder="¿Qué quieres rotar?*" maxlength="100">
          </div>
          <div class="form-group item-price">
            <input
            class="form-control input-price"
            name="price"
            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
            formControlName="price"
            placeholder="¿Cuánto vale?*"
            maxlength="100">
            <select class="form-control currency-select" name="currency" formControlName="currency">
              <option value="COP">COP</option>
              <option value="'USD'">USD</option>
            </select>
            <div class="check-offer">
              <input type="checkbox" id="checkTerms" name="negotiable" formControlName="negotiable" checked>
              <span>Recibo Ofertas</span>
            </div>
          </div>
          <div class="form-group">
            <select class="form-control" (change)="selectedComunity($event.target.value)" #categorySelect>
              <option value="" disabled>Escoge una categoria*</option>
              <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <select [(ngModel)]="currentSubcategory" class="form-control" (change)="selectedSubcategory($event.target.value)" name="subcategory-id" formControlName= "subcategory-id">
              <option value="" disabled>Escoge una subcategoria*</option>
              <option *ngFor="let subCategory of subCategories" value="{{subCategory.id}}">{{subCategory.name}}</option>
            </select>
          </div>
          <div  *ngIf="subcategoryIsVehicle()" class="form-group">
              <select class="form-control">
                  <option value="Modelo de vehiculo*" disabled>Modelo de vehículo*</option>
                  <option *ngFor="let modelVehicle of modelsVehicle">{{modelVehicle}}</option>
              </select>
          </div>
          <div  *ngIf="subcategoryIsVehicle()" class="form-group">
              <select class="form-control">
                  <option value="Tipo de vehiculo*" disabled>Tipo de vehículo*</option>
                  <option *ngFor="let vehicleProperty of vehicleProperties" value="{{vehicleProperty}}">{{vehicleProperty}}</option>
              </select>
          </div>
          <div class="form-group">
            <select class="form-control" name="used" formControlName= "used">
              <option value="Estado del articulo*" disabled>Estado del articulo*</option>
              <option [ngValue]="true">Articulo Usado</option>
              <option [ngValue]="false">Articulo Nuevo</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control" name="visible" formControlName= "visible">
              <option value="¿Quién puede verlo?" disabled>¿Quién puede verlo?</option>
              <option [ngValue]="true">Todas las cominidades</option>
              <option [ngValue]="false">Solo mi comunidad</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control" name="sell-type" formControlName= "sell-type">
              <option value="Tipo de venta*" disabled>Tipo de venta*</option>
              <option value="VENTA">Vendo</option>
              <option value="SUBASTA">Subasto</option>
              <option value="GRATIS">Regalo</option>
            </select>
          </div>
          <div class="form-group full">
            <textarea class="form-control" placeholder="Describe tu producto*" name="description" formControlName= "description" maxlength="500"></textarea>
          </div>
        </div>
      </div>
      <div class="actions-form">
        <custom-button type="submit" text="Subir Oferta" [disabled]="formIsInValid"></custom-button>
      </div>
    </form>
  </div>
