<modal-tips class="opacity" *ngIf="isModalShowed" (close)="closeModal()"></modal-tips>

<div class="container-form">
  <div class="title-form">
    <div class="numberCircle">1</div>
    <div class="step-info">
        <h1>¿Qué vas a rotar?</h1>
        <p>
            Cuéntanos todo sobre tu producto
        </p>
    </div>
  </div>
  <form role="form" [formGroup]="photosForm" name="photosForm" class="form-theme" (ngSubmit)="publishPhoto(form)" #form>
    <div class="container-step">
      <div class="material-design container-step">
        <div class="info-product">

          <div class="row-section">
            <div class="row">
              <div class="form-group field-form" [ngClass]="{'valid': photosForm.get('category').value}">
                <select name="category-id" class="form-control" (change)="selectedComunity($event.target.value)"
                  #categorySelect formControlName="category">
                  <option value="" selected="true" disabled></option>
                  <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                </select>
                <label class="label-title">Categoría</label>
                <span class="error-msg">Este campo es requerido</span>
              </div>
              <div class="form-group field-form" [ngClass]="{'valid': photosForm.get('subcategory-id').value}">
                <div>
                  <select [(ngModel)]="currentSubcategory" class="form-control" (change)="selectedSubcategory($event.target.value); setValidationVehicle()"
                    name="subcategory-id" formControlName="subcategory-id">
                    <option value="" disabled></option>
                    <option *ngFor="let subCategory of subCategories" value="{{subCategory.id}}">{{subCategory.name}}</option>
                  </select>
                  <label class="label-title">Subcategoría</label>
                  <span class="error-msg">Este campo es requerido</span>
                </div>
              </div>
            </div>
            <div class="row-img">
                <div class="step-number">
                    <span class="number"></span>Comparte las mejores imágenes de tu producto, recuerda ¡todo entra por los ojos!.
                    <span (click)="openModal()" class="util-modal icon-light vertical-align--middle"></span>
                  </div>
                  <div [ngClass]="{'load-photos': photosCounter > 0}" class="container-prev-photos" *ngIf="photosUploaded">
                    <custom-spinner *ngIf="photosCounter > 0"></custom-spinner>
                    <div class="prev-photos" *ngFor="let photo of photosUploaded">
                      <div class="remove-action">
                        <span class="icon-close" (click)="onRemovePreviewImage(photo)"></span>
                      </div>
                      <div class="container-img">
                        <img [src]="photo?.url">
                      </div>
                    </div>
                  </div>
                  <div>
                    <image-upload [max]="maxNumberImg" #imageInput [preview]="false" [extensions]="['jpeg','png', 'jpg']" [buttonCaption]="'Seleccionar imágenes'"
                      [dropBoxMessage]="'Arrastra tus imágenes aquí!'" [clearButtonCaption]="'Limpiar'" [style]="customStyleImageLoader"
                      (uploadFinished)="onUploadImageFinished($event)" (removed)="onRemoveImage($event.file)"></image-upload>
                  </div>
                  <span class="help-block uploadImg" *ngIf="errorUploadImg">
                    ¡Oops, tus imágenes están muy grandes! Deben ser máximo de 10MB. Escríbenos a info@rotalo.co si sigues teniendo problemas.
                  </span>
                  <span class="help-block uploadImg" *ngIf="errorMaxImg">
                    Escoge al menos una imagen.
                  </span>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="label-title">¿En que estado se encuentra?</label>
                   <div>
                        <div class="md-radio">
                          <input
                          [value]="false"
                          formControlName="used"
                          id="1"
                          type="radio"
                          name="used">
                          <label for="1">Nuevo</label>
                        </div>
                        <div  class="md-radio">
                          <input
                          [value]="true"
                          formControlName="used"
                          id="2"
                          type="radio"
                          name="used">
                          <label for="2">Usado</label>
                        </div>
                        <span class="error-msg">Este campo es requerido</span>
                   </div>
                </div>

                <div class="form-group">
                    <label class="label-title">¿Qué te gustaría hacer?</label>
                   <div>
                        <div class="md-radio">
                          <input
                          (click)="changeKindOfProduct($event.target.value)"
                          [attr.disabled]="disabledFieldType ? '' : null"
                          value="VENTA"
                          formControlName="sell-type"
                          id="vender"
                          type="radio"
                          name="sell-type">
                          <label for="vender">Vender</label>
                        </div>
                        <div  class="md-radio">
                            <input
                            (click)="changeKindOfProduct($event.target.value)"
                            [attr.disabled]="disabledFieldType ? '' : null"
                            value="ALQUILA"
                            formControlName="sell-type"
                            id="alquilar"
                            type="radio"
                            name="sell-type">
                            <label for="alquilar">Alquilar</label>
                        </div>
                        <div  *ngIf="showOptions" class="md-radio">
                          <input
                          (click)="changeKindOfProduct($event.target.value)"
                          [attr.disabled]="disabledFieldType ? '' : null"
                          value="SUBASTA"
                          formControlName="sell-type"
                          id="subastar"
                          type="radio"
                          name="sell-type">
                          <label for="subastar">Subastar</label>
                        </div>
                        <div  *ngIf="showOptions" class="md-radio">
                            <input
                            (click)="changeKindOfProduct($event.target.value)"
                            [attr.disabled]="disabledFieldType ? '' : null"
                            value="GRATIS"
                            formControlName="sell-type"
                            id="regalar"
                            type="radio"
                            name="sell-type">
                            <label for="regalar">Regalar</label>
                        </div>
                        <span class="error-msg">Este campo es requerido</span>
                   </div>
                </div>

                <div [ngClass]="{'valid': photosForm.get('price').value || photosForm.get('price').value == 0  }" class="form-group field-form" data-input="price">
                    <div>
                      <div class="price-container" [ngClass]="{'error-price': validateIfErrorPrice()}">
                        <input [attr.disabled]="disabledField ? '' : null" class="form-control input-price" name="price" currencyMask [options]="{prefix: '' , align: 'left', precision: 0}"
                          onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="price" placeholder=""
                          maxlength="50" autocomplete="off">
                        <label class="label-title">Precio (con los pies en la tierra).</label>
                        <span class="error-msg">Este campo es requerido</span>
                        <span class="error-msg-price">Este campo debe ser mayor que 0.</span>
                      </div>
                      <select [ngStyle]="{'display': isColombia ? 'none' : 'block' }"  class="form-control currency-select" name="currency" formControlName="currency">
                        <option *ngIf="isColombia" value="COP">COP</option>
                        <option *ngIf="isGuatemala" value="GTQ">GTQ</option>
                        <option *ngIf="!isColombia" value="'USD'">USD</option>
                      </select>
                      <div class="check-offer">
                        <label for="checkTerms" class="material-checkbox container-check">
                          <input type="checkbox" id="checkTerms" name="negotiable" formControlName="negotiable" checked>
                          <span class="checkmark"></span>
                        </label>
                        <span class="check-label">Recibo ofertas</span>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="row">
                <div class="form-group field-form">
                    <label class="label-title">En que ubicación se encuentra tu producto</label>
                    <select-states [ngClass]="{'invalid': errorState}" class="product-location white-theme-select material-select" [initialValue]="stateValue" [country]="country" (selected)="state=$event; validateState()"></select-states>
                    <span class="error-msg">Este campo es requerido</span>
                  </div>
                  <div class="form-group select-cities field-form">
                    <select-cities [ngClass]="{'invalid': errorCity}" class="product-location white-theme-select material-select" [initialValue]="cityValue" [state]="state" (selected)="city=$event; validateCity()"></select-cities>
                    <span class="error-msg">Este campo es requerido</span>
                </div>
                <div class="form-group" *ngIf="photosForm.get('sell-type').value == 'SUBASTA'" [ngClass]="{'valid': photosForm.get('sell-type').value}">
                    <label class="label-title">Fecha de vencimiento</label>
                    <my-date-picker class="data-picker-theme" name="publish-until" placeholder="Fecha de vencimiento de la subasta" formControlName="publish-until"
                    [options]="datePickerOptions"></my-date-picker>
                    <span class="help-block error-msg"> Este campo es requerido </span>
                </div>
            </div>
          </div>
          <div *ngIf="subcategoryIsVehicle() || subcategoryIsMotos()" class="row-section">
              <div class="title-form">
                  <div class="numberCircle">2</div>
                  <div class="step-info">
                      <h1>Todos los que buscan un vehículo, necesitan esta información</h1>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group field-form" [ngClass]="{'valid': photosForm.get('carMake').value}">
                      <select name="year" class="form-control" formControlName="carMake" (change)="setLinesVehicle($event.target.value)">
                        <option value="" disabled></option>
                        <option value="{{carMake.id}}" *ngFor="let carMake of brandsList">{{carMake.name}}</option>
                      </select>
                      <label class="label-title">Marca</label>
                      <span class="error-msg">Este campo es requerido</span>
                  </div>
                  <div class="form-group field-form" [ngClass]="{'valid': photosForm.get('line-id').value}">
                      <select name="line-id" class="form-control" formControlName="line-id">
                        <option value="" disabled></option>
                        <option value="{{model.id}}" *ngFor="let model of modelList">{{model.name}}</option>
                      </select>
                      <label class="label-title">Modelo</label>
                      <span class="error-msg">Este campo es requerido</span>
                  </div>
                  <div class="form-group field-form" [ngClass]="{'valid': photosForm.get('model').value}">
                      <select name="model" class="form-control" formControlName="model">
                        <option value="" disabled></option>
                        <option value="{{year}}" *ngFor="let year of yearsVehicle">{{year}}</option>
                      </select>
                      <label class="label-title">Año</label>
                      <span class="error-msg">Este campo es requerido</span>
                  </div>
              </div>
              <div class="row">
                <div class="form-group field-form" [ngClass]="{'valid': photosForm.get('mileage').value || photosForm.get('mileage').value == 0}">
                    <div class="kilometraje-container">
                      <input class="form-control input-price" name="mileage" currencyMask
                        [options]="{prefix: '' , align: 'left', precision: 0}" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                        formControlName="mileage" placeholder="" maxlength="50" autocomplete="off">
                      <label class="label-title">Kilometraje</label>
                      <label class="symbol-km">Km</label>
                      <span class="error-msg">Este campo es requerido</span>
                      <span class="error-msg-price">Este campo debe ser mayor que 0.</span>
                    </div>
                </div>
                <div class="form-group field-form" [ngClass]="{'valid': photosForm.get('color').value}">
                    <select name="color" class="form-control" formControlName="color">
                      <option value="" disabled></option>
                      <option value="{{color}}" *ngFor="let color of colorList">{{color}}</option>
                    </select>
                    <label class="label-title">Color</label>
                    <span class="error-msg">Este campo es requerido</span>
                </div>
                 <div class="form-group field-form" [ngClass]="{'valid': photosForm.get('transmission').value}">
                  <select name="transmission" class="form-control" formControlName="transmission">
                    <option value="" disabled></option>
                    <option value="{{transmission}}" *ngFor="let transmission of transmissionList">{{transmission}}</option>
                  </select>
                  <label class="label-title">Transmisión</label>
                  <span class="error-msg">Este campo es requerido</span>
                </div>
              </div>
              <div class="row">
                <div *ngIf="!subcategoryIsVehicle()" class="form-group field-form" [ngClass]="{'valid': photosForm.get('displacement').value}">
                  <select name="displacement" class="form-control" formControlName="displacement">
                    <option value="" disabled></option>
                    <option value="{{cylinder}}" *ngFor="let cylinder of cylinderList">{{cylinder}}</option>
                  </select>
                  <label class="label-title">Cilindraje</label>
                  <span class="error-msg">Este campo es requerido</span>
                </div>
                <div *ngIf="subcategoryIsVehicle()" class="form-group field-form" [ngClass]="{'valid': photosForm.get('gas').value}">
                  <select name="gas" class="form-control" formControlName="gas">
                    <option value="" disabled></option>
                    <option value="{{combustible}}" *ngFor="let combustible of combustibleList">{{combustible}}</option>
                  </select>
                  <label class="label-title">Combustible</label>
                  <span class="error-msg">Este campo es requerido</span>
                </div>
                <div *ngIf="subcategoryIsVehicle()" class="form-group field-form" [ngClass]="{'valid': photosForm.get('license-plate').value}">
                  <select name="license-plate" class="form-control" formControlName="license-plate">
                    <option value="" disabled></option>
                    <option value="{{vehicleNumber}}" *ngFor="let vehicleNumber of vehicleNumberList">{{vehicleNumber}}</option>
                  </select>
                  <label class="label-title">Nº Placa (terminado en)</label>
                  <span class="error-msg">Este campo es requerido</span>
                </div>
                <div *ngIf="subcategoryIsVehicle()" class="form-group field-form" [ngClass]="{'valid': photosForm.get('type-vehicle').value}">
                  <select name="type-vehicle" class="form-control" formControlName="type-vehicle">
                    <option value="" disabled></option>
                    <option *ngFor="let vehicleProperty of vehicleProperties" value="{{vehicleProperty}}">{{vehicleProperty}}</option>
                  </select>
                  <label class="label-title">Tipo de uso</label>
                  <span class="error-msg">Este campo es requerido</span>
                </div>
              </div>
          </div>
          <div *ngIf="subcategoryIsVehicle() || subcategoryIsMotos()" class="row-section">
              <div class="title-form">
                  <div class="numberCircle">3</div>
                  <div class="step-info">
                      <h1>Agrégale esa milla extra a tu producto</h1>
                      <p>
                          Cuéntanos acerca de esos detalles que enamoran
                      </p>
                  </div>
                </div>
                <div class="row">
                  <div *ngIf="subcategoryIsVehicle()" class="form-group">
                    <div>
                        <input formControlName="airbag" type="checkbox" id="id-name--1" name="airbag" class="switch-input">
                        <label for="id-name--1" class="switch-label">Airbag</label>
                    </div>
                    <div>
                        <input formControlName="air-conditioner" type="checkbox" id="id-name--2" name="air-conditioner" class="switch-input">
                        <label for="id-name--2" class="switch-label">Aire acondicionado</label>
                    </div>
                  </div>
                  <div class="form-group">
                      <div>
                          <input formControlName="abs-brakes" type="checkbox" id="id-name--3" name="abs-brakes" class="switch-input">
                          <label for="id-name--3" class="switch-label">Frenos ABS</label>
                      </div>
                      <div>
                          <input formControlName="unique-owner" type="checkbox" id="id-name--4" name="unique-owner" class="switch-input">
                          <label for="id-name--4" class="switch-label">Único dueño</label>
                      </div>
                    </div>
                  <div class="form-group">
                    <label class="label-title">Tipo de asiento</label>
                    <div>
                      <div class="md-radio">
                        <input [value]="true" formControlName="type-of-seat" id="kindSeat1" type="radio" name="type-of-seat">
                        <label for="kindSeat1">Cuero
                        </label>
                      </div>
                      <div class="md-radio">
                        <input [value]="false" formControlName="type-of-seat" id="kindSeat2" type="radio" name="type-of-seat">
                        <label for="kindSeat2">Tela</label>
                      </div>
                      <span class="error-msg">Este campo es requerido</span>
                    </div>
                  </div>
                </div>
          </div>
          <div class="row-section">
              <div class="title-form">
                  <div *ngIf="subcategoryIsVehicle() || subcategoryIsMotos()" class="numberCircle">4</div>
                  <div *ngIf="!subcategoryIsVehicle() && !subcategoryIsMotos()" class="numberCircle">2</div>
                  <div class="step-info">
                      <h1>Por último agrega la información de la publicación</h1>
                  </div>
              </div>
              <div class="form-group">
                <label class="label-title">¿Quién puede ver tu publicación?</label>
                 <div>
                      <div class="md-radio">
                        <input
                        [value]="false"
                        formControlName="visible"
                        id="visible1"
                        type="radio"
                        name="visible">
                        <label for="visible1">Mi comunidad - {{communityName}}
                        </label>
                      </div>
                      <div  class="md-radio">
                        <input
                        [value]="true"
                        formControlName="visible"
                        id="visible2"
                        type="radio"
                        name="visible">
                        <label for="visible2">Todas las comunidades</label>
                      </div>
                      <span class="error-msg">Este campo es requerido</span>
                 </div>
              </div>

              <div class="row">
                <div class="form-group half" data-input="name">
                  <label class="label-title">Título de la publicación</label>
                  <input type="text" class="form-control" name="name" formControlName="name" maxlength="50" placeholder="Ejm: Alquilo Apto duplex amoblado">
                  <span class="help-block error-msg"> Este campo es requerido </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group half">
                  <label class="label-title">Descripción de la publicación (Escribe las características principales)</label>
                  <textarea class="form-control" placeholder="Ejm: Apartamento amoblado, cuenta con 65m2, 3 habitaciones, sala comedor, zona de ropas, cuarto útil y parqueadero. Cuenta con acceso a transporte público, cercano a super mercados y parques." name="description" formControlName="description"
                    maxlength="500"></textarea>
                  <span class="error-msg">Este campo es requerido</span>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="actions-form">
      <custom-button [ngClass]="product ? 'gtmOfertEditOfert' : 'gtmOfertSubirOfert'" type="submit" [text]="product ? 'Guardar' : 'Guardar publicación'"></custom-button>
    </div>
  </form>
</div>
