@import '../../styles/settings/_colors.scss';
@import '../../styles/settings/_variables.scss';

:host{
    .container-form{
        padding: 66px 76px;
        .title-form{
            font-size: 2.5rem;
            color: $red;
            font-weight: bold;
            font-size: 4rem;
            margin-bottom: 4rem;
            span:last-child{
                font-size: 2.8rem;
                display: block;
            }
        }
        form{
            .container-step{
                margin-bottom: 4rem;
                .step-number{
                    color: #9B9B9B;
                    font-size: 1.8rem;
                    font-weight: 400;
                    margin-bottom: 2rem;
                    .number{
                        font-size: 2rem;
                        color: $red;
                        font-weight: bold;
                    }
                }
            }
            .info-product{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 5rem;
                .form-group{
                    width: 48%;
                }
                .item-price{
                    display: flex;
                    .currency-select{
                        width: auto;
                        min-width: 8rem;
                    }
                }
                .form-group.full{
                    width: 100%;
                }
                textarea{
                    min-height: 8rem;
                }
            }
            .actions-form{
                text-align: center;
                custom-button{
                    display: inline-block;
                    width: 20rem;
                }
            }
        }
    }
}