.hide{
    display: none;
}

.pointer{
  cursor: hand;
  cursor: pointer;
}

.blue-sea-tag {
    background-color: #33D7C7 !important;
  }
  
  .yellow-tag {
    background-color: #DBB202 !important;
  }
  
  .pink-tag {
    background-color: #D3609F !important;
  }
  
  .orange-tag {
    background-color: #EC6531 !important;
  }
  
  .violet-tag {
    background-color: #5C2D8B !important;
  }
  
  .blue-tag {
    background-color: #41B5CB !important;
  }
  
  .yellow-dark-tag {
    background-color: #F3A643 !important;
  }
  
  .green-tag {
    background-color: #B1CF4A !important;
  }
  
  .violet-light-tag {
    background-color: #9D47DE !important;
  }

  .bg--red{
     background-color: cadetblue !important;
  }