.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

.red-theme-select {
    select {
        background-color: #cd0c2f;
        background-image: url(assets/img/arrow.svg);
        color: white;
        border: 0;
        border-radius: 3rem;
        font-size: 2rem;
        padding: 0.3rem 6.7rem 0.3rem 1.2rem;
    }
}

.white-theme-select {
    select.form-control {
        background-image: url(assets/img/arrow.png);
        background-position: 95% center;
        background-size: 15px;
        background-repeat: no-repeat;
    }
}

.btn-square {
    button {
        border-radius: 4px !important;
    }
}

.button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: $font-size-base;
    font-weight: 600;
    line-height: 1.375;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &-primary {
        background-color: $brand-primary;
        color: white;
        &:hover,
        &:active,
        &:focus {
            color: white;
            background-color: darken($brand-primary, 15%);
        }
        &[disabled] {
            background: $red-light;
            border-color: darken($red-light, 12%);
        }
    }
    &-secondary {
        background-color: $brand-secondary;
        border-color: $greenblue-dark;
        color: white;
        &:hover,
        &:active,
        &:focus {
            color: white;
            background-color: darken($brand-secondary, 15%);
        }
        &[disabled] {
            background: $blue-light;
            border-color: darken($blue-light, 12%);
        }
    }
    &-alternative {
        background-color: rgba(white, 0.5);
        color: white;
        &:hover,
        &:active,
        &:focus {
            color: white;
            background-color: darken(rgba(white, 0.5), 15%);
        }
    }
}
select::-ms-expand {
  display: none;
}
@media screen and (max-width: 930px){
    .top-select-country{
        display: flex;
        select{
            width: 2rem;
            height: 2rem;
            padding: 0;
            border-radius: 50%;
            border: 2px solid white;
            background-image: none;
            overflow: hidden;
            padding: 12px;
            background: transparent;
            color: black;
        }
    }
}

@media screen and (max-width: 400px){
    .top-select-country{
        display: flex;
        select{
            width: 15px;
            height: 15px;
        }
    }
}
