<div>
    <select 
    class="form-control" 
    name="countries"
    (change)="loadStates($event)"
    required>
        <option selected value disabled>Selecciona tu país</option>
        <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
    </select>
    <select 
    *ngIf="states.length > 0" 
    class="form-control" 
    (change) = "loadCities($event)"
    name="states">
        <option selected value disabled>Selecciona Estado</option>
        <option *ngFor="let state of states" value="{{state.id}}">{{state.name}}</option>
    </select>
    <select 
    *ngIf="cities.length > 0"
    class="form-control" 
    (change) = "setCityLocation($event)"
    name="cities">
        <option selected value disabled>Selecciona una ciudad</option>
        <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
    </select>
</div>