<div class="container-fluid">
  <div class="container container--app">
    <div id="top"></div>
    <div id="flashMessage" class="container--app p-b">
      <div *ngIf="messageChange && !errorChange" class="alert alert-success text--center" role="success" >
        <p><span class="icon-check alert-icon"></span>{{messageChange}}</p>
      </div>
      <div  *ngIf="errorChange && !messageChange"   class="alert alert-danger" role="alert">
        <ul>
          <li>
            <span>{{errorChange}}</span>
          </li>
        </ul>
      </div>
    </div>
    <h1 class="zeta text--grey-dark bold">Nueva Contraseña</h1>
    <p class="text--grey-dark">Ingresa tu nueva contraseña.</p>
    <form role="form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="form-theme">
      <div class="form-group">
        <input
        (click)="markAsTouched(changePasswordForm.get('password'))"
        [ngClass]="{'invalid': changePasswordForm.get('password').invalid && !changePasswordForm.get('password').pristine}"
        formControlName="password"
        maxlength="20"
        id="txt-pass-new"
        type="password"
        class="form-control"
        placeholder="Contraseña">
        <span class="help-block">
            <span *ngIf="changePasswordForm.get('password').touched && changePasswordForm.get('password').errors?.required && !changePasswordForm.get('password').pristine">
                Este campo es obligatorio.
            </span>
            <span *ngIf="changePasswordForm.get('password').errors?.minlength && !changePasswordForm.get('password').pristine">
                El campo no cumple la longitud mínima.
            </span>
          </span>
      </div>
      <div class="form-group m-b-md">
        <input
        (click)="markAsTouched(changePasswordForm.get('password-confirmation'))"
        [ngClass]="{'invalid': changePasswordForm.get('password-confirmation').invalid && !changePasswordForm.get('password-confirmation').pristine}"
        formControlName="password-confirmation"
        maxlength="20"
        id="txt-pass-new-conf"
        type="password"
        class="form-control"
        placeholder="Confirmar contraseña">
        <span class="help-block">
            <span *ngIf="changePasswordForm.get('password-confirmation').touched && changePasswordForm.get('password-confirmation').errors?.required && !changePasswordForm.get('password-confirmation').pristine">
                Este campo es obligatorio.
            </span>
            <span *ngIf="changePasswordForm.get('password-confirmation').errors?.minlength && !changePasswordForm.get('password-confirmation').pristine">
                El campo no cumple la longitud mínima.
            </span>
            <span *ngIf="!changePasswordForm.get('password-confirmation').errors?.required && changePasswordForm?.errors?.match && !changePasswordForm.get('password-confirmation').errors?.minlength &&!changePasswordForm.get('password-confirmation').pristine">
                La contraseña de verificación no coincide.
            </span>
          </span>
      </div>
      <footer>
          <div class="btn-square">
              <custom-button [disabled]="!changePasswordForm.valid"  type="submit" text="Guardar"></custom-button>
          </div>
      </footer>
    </form>
  </div>
</div>
<custom-footer></custom-footer>
