@import "../../../styles/settings/_colors.scss";
@import "../../../styles/settings/_variables.scss";
:host {
  display: block;
  .container {
    width: 50%;
    margin: 5rem auto 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .zeta, p{
    margin: 0;
    font-size: 1.6rem;
  }
  p{
    margin-bottom: 20px;
  }
  .alert-success {
    padding: 15px;
    background-color: #F2F2F2;
    color: #4A4A4A;
    p{
      margin: 0;
    }
  }
  .alert-success .alert-icon {
    color: #8DBA02;
    margin-right: 10px;
  }

  .alert-danger {
    padding: 15px;
    color: #ED2F3C;
    background-color: #F2F2F2;
    text-align: center;
    font-size: 1.6rem;
  }

  @media (max-width: 780px) {
    .container {
      width: 100%;
    }
  }
  footer{
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    line-height: 19px;
    a {
      color: $red;
      cursor: pointer;
    }
    a:hover{
      color: #bf111c;
      text-decoration: none;
    }
  }

  .container-fluid{
    min-height: calc(100vh - 100px);
    padding-bottom: 7rem;
    padding-top: 2rem;
  }

}
