@import '../../styles/settings/_colors.scss';
@import '../../styles/settings/_variables.scss';

:host{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: rgba(0, 0,0, 0.5);
    display: flex;
    justify-content: center;
    padding: 5rem 0;

    .modal__body::-webkit-scrollbar{
      height:5px;
      width:5px;
      border-radius: 4px;
      background: transparent;
      transition: all 0.3s ease;
    }

    .modal__body::-webkit-scrollbar-thumb{
      background:#CBCBCB;
      border-radius: 4px;
    }
    .container-modal{
        background: white;
        width: 50%;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        .modal__header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
            background: $red;
            color: white;
            padding: 1rem 2.5rem;
            .icon-close{
                cursor: pointer;
                font-size: 18px;
                font-weight: bold;
            }
        }
        .modal__body{
            padding: 1rem 5rem 5rem;
       //     min-height: 500px;
            min-height: 420px;
            overflow: auto;
        }
        .modal__footer{
            padding: 1rem 2.5rem;
            .btn-max{
              min-width: 250px;
            }
        }
    }
}

@media screen and (max-width: 980px){
    :host{
        padding: 1rem 0;
        .container-modal{
            width: 90%;
        }
    }
}
