<div class="container-modal">
  <div class="modal__header">
      <div class="split__title">
        <h1 class="modal__title">Términos y condiciones</h1>
      </div>
      <a class="modal__close" (click)="closeModal()">
        <span class="icon-close">
        </span>
      </a>
  </div>
  <div class="modal__body modal--offer">
    <terms></terms>
  </div>
  <div  class="text--center modal__footer">
    <custom-button class="btn-max" (click)="acceptTerms()" text="Cerrar"></custom-button>
  </div>
</div>
