@import '../../../styles/settings/_colors.scss';
@import '../../../styles/settings/_variables.scss';

:host() {
  display: block;
  height: 100%;
  position: relative;
  padding-bottom: 84px;
  min-height: 80.5vh;

  custom-spinner {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 50%);
  }

  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .product-photos {
    width: 50%;
    float: left;
    position: relative;

    .panel-heading {
      padding: 0;
      overflow: hidden;
      position: relative;

      &:hover {
        .carousel-arrow__next {
          right: 0;
          opacity: 1;
        }

        .carousel-arrow__prev {
          left: 0;
          opacity: 1;
        }
      }

      .carousel-inner {
        position: relative;
        width: 100%;
      }

      .carousel-arrow {
        background: #ffffff;
        border-radius: 100px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
        height: 34px;
        width: 34px;
        top: 50%;
        position: absolute;
        z-index: 99;
        text-align: center;
        transform: translateY(-50%);
        transition: all 0.3s ease-in;
        opacity: 0;
        display: inline-flex !important;
        justify-content: center;
        align-items: center;

        .icon {
          font-size: 2rem;
        }
      }

      .carousel-arrow__next {
        right: -60px;
        margin-right: 16px;
      }

      .carousel-arrow__prev {
        left: -60px;
        margin-left: 16px;
      }

      .carousel-inner>.item {
        transition: transform 0.6s ease-in-out;
        backface-visibility: hidden;
        perspective: 1000px;
      }

      .carousel-inner>.item.next.left,
      .carousel-inner>.item.prev.right,
      .carousel-inner>.item.active {
        transform: translate3d(0, 0, 0);
        left: 0;
      }

      .container-product__image {
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          pointer-events: none;
          height: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }

      .ngxcarouselPointDefault .ngxcarouselPoint {
        position: absolute;
        bottom: 18px;
        left: 50%;
        z-index: 15;
        width: 60%;
        margin-left: -30%;
        padding-left: 0;
        list-style: none;
        text-align: center;

        &>li {
          background-color: rgba(237, 47, 60, 0.4);
          border: 0 none;
          height: 8px;
          margin: 0 4px;
          width: 8px;
          display: inline-block;
          text-indent: -999px;
          cursor: pointer;
          border-radius: 10px;
        }

        .active {
          background-color: white;
          border: 1px solid rgba(237, 47, 60, 0.4);
          height: 8px;
          margin: 0 4px;
          width: 8px;
        }
      }
    }
  }

  .product {
    margin-top: 2.5rem;
    margin-bottom: 25px;
    overflow: hidden;

    * {
      font-size: 2rem;
      color: #707070;
    }

    .visits {
      font-size: 1.6rem;
      margin: 10px auto;
    }

    .product-info {
      width: 50%;
      position: relative;
      float: right;
      padding: 0px;
      padding-left: 30px;
      min-height: 400px;

      .error-msg {
        padding-left: 0px;
        color: #d61320;
        font-size: 1.4rem;
      }

      .button-center {
        margin: 0 3px 0 3px;
      }

      .title-product {
        color: #272727;
        font-size: 2.4rem;
        margin: 0;
        font-weight: bold;
      }

      .valor-product {
        font-size: 3rem;
        color: $red;
      }

      .capitalize {
        text-transform: capitalize;
      }

      .description,
      .contTipo {
        margin: 0 0 15px;
      }

      .contTipo {
        .icon-eye {
          font-size: 1.2rem;
          margin: 0 5px;
        }

        strong {
          font-weight: bold;
        }
      }

      .product-info-estado {
        margin: 0;
        padding: 2rem;
        background: #d7d7d7;

        .condition {
          color: $red;
        }
      }
    }

    .space {
      padding: 0 5px;
    }
  }

  .deactivated-photo {
    position: relative;
    opacity: 0.5;
  }

  .lable-sell-process {
    position: absolute;
    background: #ed2f3c;
    z-index: 1;
    color: #ffffff;
    top: 30px;
    font-size: 3rem;
    border-top-right-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
    padding-right: 3%;
    padding-left: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .icon-clock {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-image: url(../../../assets/img/icono_reloj_en_proceso.svg);
  }

  .label-sell--center {
    text-align: center;
    vertical-align: middle;
  }

  .share-product-container {

    .share-product {
      font-size: 1.5rem;
      font-weight: bold;
      color: #FFFFFF;
    }

    .icon-container {
      .button-share {
        width: 44px;
        height: 45px;
        text-align: center;
        background-color: #C61B27;
      }
    }
  }

  .form-theme {
    margin-top: 10px;
    margin-bottom: 10px;

    .form-group {
      margin-bottom: 5px;
      position: relative;

      .form-control {
        height: 45px;
      }

      .icon-container {
        cursor: pointer;
        position: absolute;
        right: 0px;
        bottom: 0;
        top: 0;
      }
    }

    .success-text {
      color: #00AAC7;
      font-weight: bold;
    }

    .icon-email {
      margin: 0 auto;
      width: 20px;
      height: 20px;
      background: url(../../../assets/img/enviar.svg);
      background-size: 20px 20px;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: 'FlipH';
    }
  }

  .get-offer {
    display: inline-block;
    margin-left: 5px;

    span {
      color: #707070;
      font-size: 1.5rem;
    }

    .icon-check {
      color: #4B2878;
      margin-right: 5px;
      font-size: 2.0rem;
    }
  }

  .icon-arrow {
    display: none;
  }

  .form-theme .form-group .form-control.share-input {
    font-size: 1.7rem;
  }

  .btns-container .btn-item .botons span.icon-credit {
    color: #FF3646;
    font-weight: bold;
  }

  .btns-container .btn-item.full-item {
    width: 100%;
  }

  .product {

    .location span,
    .visit {
      font-size: 1.8rem;
    }
  }



}

:host() {
  .menu-container {
    .option {
      cursor: pointer;
      position: relative;

      label {
        color: #383838;
        font-size: 1.4rem;
      }
    }
  }
}

.info-center {
  text-align: center;

  label {
    color: #9b9b9b;
    font-size: 2rem;
    font-weight: 700;
  }
}

:host() {
  .mobile {
    display: none;
  }

  .btns-container {
    display: flex;
    flex-wrap: wrap;
    padding-right: 5%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    .btn-item {
      width: 48%;

      .botons {
        background-color: #FF3646;
        padding: 9px;
        width: 100%;
        min-width: 203px;
        max-width: 203px;
        min-height: 44px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        font-size: 1.5rem;
        border: 0;
        border-radius: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        margin-left: 0px;

        span {
          color: #fff;
          font-size: 2rem;
          padding-right: 8px;
        }
      }

      .botons:hover {
        background-color: #C61B27;
      }
    }

    .btn-two-container {
      width: 100%;
      margin-top: 15px;
      display: flex;
      justify-content: space-between;

      .btn-item:first-child {
        .botons {
          background-color: #ffffff;
          color: #FF3646;
          border: 1px solid #A2A2A2;
        }

        .botons:hover {
          color: #707070;
        }
      }
    }
  }

  .product {

    .icon {
      color: #D6D6D6;
      font-size: 1.6rem;
      margin: 0 10px;
    }

    .location span {
      color: #707070;
      font-size: 1.6rem;
    }

    .location {
      margin: 0 0 0 10px;

      span.icon-location {
        color: #D6D6D6;
      }
    }

    .label-title,
    input {
      font-size: 1.8rem;
      color: #383838;
      padding-right: 10px;
    }

    .low-price {
      .valor-product {
        color: #8B8B8B;
        font-size: 1.6rem;
        font-weight: normal;
        text-decoration: line-through;
      }
    }

    .valor-product {
      font-size: 3rem;
      color: #FF3646;
      font-weight: bold;
    }

    .date,
    .visit {
      font-size: 1.6rem;
      margin: 5px 0;
      color: #8B8B8B;
    }

    .span-title {
      font-size: 1.6rem;
    }

    .description {
      margin-top: 2rem;
      font-size: 1.6rem;

      pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        font-size: 1.6rem;
        font-family: 'Lato Regular';
      }

      .description-title {
        font-size: 2.2rem;
        font-weight: bold;
        color: #272727;
      }
    }
  }

  .share-container {

    .help-block,
    .icon-circle-cancel,
    span {
      font-size: 1.7rem;
      color: #FFFFFF;
      padding: 0;
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    align-items: center;
  }

  .share {
    .share-button {

      .ic_arrow_share {
        display: inline-block;
        margin-bottom: 4px;
        width: 16px;
        height: 16px;
        min-width: 16px;
        background-size: 16px 16px;
        background-image: url(../../../assets/img/iconos/ic_arrow_share.svg);
      }

      color: #7C7C7C;
      font-size: 1.6rem;
      font-family: 'Lato Regular';
      font-weight: normal;
    }

    .share-button:hover {
      .ic_arrow_share {
        margin-bottom: 4px;
        width: 16px;
        height: 16px;
        min-width: 16px;
        background-size: 16px 16px;
        background-image: url(../../../assets/img/iconos/ic_arrow_share_hover.svg);
      }

      color: #272727;
    }
  }

}

:host() {
  .row-container {
    display: flex;
    flex-wrap: wrap;
  }

  .column {
    width: 50%;
  }

  .info-section {
    //border: 2px solid #F7F7F7;
    position: relative;
  }

  .info-section:after {
    content: '';
    position: absolute;
    right: -42px;
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    right: -10px;
    z-index: 1;
  }

  .margin-info {
    margin: 20px;
  }

  .product-info-ubicacion {
    >div {
      margin: 15px 0 10px;
    }

    .icon {
      color: #D6D6D6;
      font-size: 1.6rem;
      margin: 0 10px;
    }

    font-size: 2rem;
    padding-bottom: 20px;
    color: #707070;
  }

  .media-middle {
    vertical-align: middle;
    display: table-cell;
    padding-right: 10px;
  }

  .product-info-user {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5px;
    border-bottom: 1px solid #E5E5E5;
    border-radius: 7px;
    padding: 20px;
    margin: 15px 0;

    .photo-user {
      width: 45px;
      height: 45px;
      min-width: 45px;
      min-height: 45px;
      overflow: hidden;

      img {
        width: auto;
        height: 100%;
        min-height: 100%;
        border-radius: 100%;
      }

      .thumbnail-img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
    }

    .product-info-user--icon {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(254, 120, 46);
      /*asd*/
      border-radius: 50%;

      span {
        font-size: 20px;
        color: white;
      }
    }
  }


  .product-info-user--data {
    .name-user {
      color: #272727;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 1.6rem;
    }

    .color-company {
      font-size: 1.6rem;
      color: #707070;
    }

    * {
      color: rgb(254, 120, 46);
      /*asd*/
    }

    .panel-product {
      font-size: 1.4rem;
      color: #707070;

      span {
        font-size: 0.75em;
      }
    }
  }


  .product-btn {
    text-align: right;
    position: relative;
    display: block;
    width: 50%;
    margin: 0;
    margin-top: 1rem;
    flex-grow: 1;

    .product-btns {
      display: inline-block;
      margin: 0;

      .botons {
        border: 1px solid #FF3646;
        padding: 9px;
        width: 203px;
        min-height: 44px;
        color: #FF3646;
        font-weight: bold;
        cursor: pointer;
        font-size: 1.5rem;
        border-radius: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        .icon-custom--mail {
          color: white;
          font-size: 1.4rem;
        }
      }

      .botons:hover {
        border: 1px solid #AE1631;
        color: #AE1631;
      }
    }
  }


}

:host() {

  .product strong {
    font-weight: bold;
  }


  .share-container {
    padding: 45px 45px;
    background: #FF3646;
    border-radius: 8px;
    width: 100%;
  }

  .icon-chat-detalle {
    font-size: 2rem;
    padding-right: 8px;
  }

  .icon-share-container {
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 11px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;

    .icon-email {
      margin: 0 auto;
      width: 20px;
      height: 20px;
      background: url(../../../assets/img/icon_share_detalle.svg);
      background-size: 20px 20px;
    }
  }
}

:host() {
  .back-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-exist {
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: white;
      border: 1px solid #eee;
      border-radius: 13px;

      .text-modal-exist {
        font-size: 24px;
        color: #414141;
        text-align: center;
      }

      .section-button {
        margin-top: 30px;

        .btn-go-car {
          width: 170px;
          padding: 8px 0px;
          border-style: none;
          border-radius: 25px;
          font-size: 18px;
          transition: 100ms;
          background: #FF3646;
          border: 1px solid #FF3646;
          color: white;

          &:hover {
            background: #bf111c;
            border: 1px solid #bf111c;
          }
        }
      }
    }
  }
}

:host() {
  .info-container {
    width: 50%;
  }

  .btns-container .btn-item-full {
    width: 100%;
  }

  .product {
    .low-price {
      .valor-product {
        color: #8B8B8B;
        text-decoration: line-through;
      }
    }
  }

  .price-container {
    /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
  }



}

/* The switch - the box around the switch-slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The switch-slider */
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.switch-slider {
  background-color: $greenblue;
}

input:focus+.switch-slider {
  box-shadow: 0 0 1px $greenblue;
}

input:checked+.switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded switch-sliders */
.switch-slider.round {
  border-radius: 34px;
}

.switch-slider.round:before {
  border-radius: 50%;
}

.media {
  .media-body {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2%;
    display: table-cell;
    vertical-align: top;
    width: 100%;
  }
}

.media {
  .media-body {
    padding-bottom: 10px;
    padding-left: 2%;
  }
}

.media-left {
  display: table-cell;
}

.media-middle {
  vertical-align: middle;
}

.post-status {
  color: #9b9b9b;
  font-size: 1.4rem;
  margin-bottom: 0;
}

.post-status.active {
  color: #41bad0;
}

.btns-container .btn-item .botons span.icon-custom--sufi-logo {
  color: #FF1522;
}

:host {
  .tabla-container {
    width: 100%;

    .table-info {
      width: 100%;
    }

    h1 {
      color: #272727;
      font-size: 1.8rem;
      font-weight: bold;
      margin: 1.6rem 0;
    }

    .table-info {
      width: 100%;
    }

    td {
      div {
        color: #8B8B8B;
        font-size: 1.5rem;

        p {
          padding: 0;
          padding-top: 5px;
          padding-bottom: 15px;
          color: #2E2E2E;
          font-size: 1.6rem;
        }
      }
    }

    .middle-cell {
      border-left: 1px dashed #8B8B8B;
      border-right: 1px dashed #8B8B8B;
    }

    .middle-cell-no-right {
      border-left: 1px dashed #C6C6C6;
    }

    .padding-cell-left {
      padding-left: 2%;
    }

    .padding-cell-right {
      padding-right: 2%;
    }
  }
}

:host {
  .additional-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .additional-container {
      width: 15%;
      min-width: 100px;
      text-align: center;

      .additional-img {
        margin: 0 auto;
        width: 60px;
        height: 60px;
        background-size: 60px 60px;
      }

      .img-airbag {
        background-image: url(../../../assets/img/ic_detalle_airbag.svg);
      }

      .img-frenos {
        background-image: url(../../../assets/img/ic_detalle_frenos.svg);
      }

      .img-aire {
        background-image: url(../../../assets/img/ic_detalle_aire.svg);
      }

      .img-material {
        background-image: url(../../../assets/img/ic_detalle_material.svg);
      }

      .img-unico {
        background-image: url(../../../assets/img/ic_detalle_unico.svg);
      }
    }

    .additional-text {
      color: #383838;
      font-size: 1.4rem;
    }
  }
}

:host {
  .product {
    .condition-container {
      * {
        font-size: 1.8rem;
      }
    }
  }

  .full-width {
    width: 100%;
  }
}

:host {
  .input-group {
    position: relative;
    width: 130px;
  }

  .input-number {
    width: 55px;
  }

  .btn {
    width: 30px;

    span {
      font-size: 2rem;
    }
  }

  .label-title {
    display: block;
    color: #383838 !important;
    font-size: 1.8rem !important;
    margin-top: 15px;
  }

  .form-control-select {
    display: block;
    min-width: 80px;
    height: 36px;
    font-size: 1.8rem !important;
    line-height: 1.4;
    color: #383838 !important;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #383838;
    box-shadow: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-top: 10px;
  }

  .option-select {
    font-size: 1.8rem !important;
    line-height: 1.4;
    color: #383838 !important;
  }

  .size-div {
    margin-top: 10px;
  }

  .quantity-wrapper {
    display: inline-block;
    margin-top: 10px;
    border: 1px solid #A2A2A2;
    border-radius: 7px;
  }

  .quantity-container {
    margin-bottom: 15px;
  }

  .product {
    .quantity-on-stock {
      color: #383838;
      margin-left: 10px;
      font-size: 1.6rem;
    }

  }

  .total-stock {
    width: 100%;
    margin: 10px auto;
  }

  .input-group-btn,
  .quantity-style {
    display: inline-block;
    vertical-align: middle;
  }

  .form-control.quantity-style {
    text-align: center !important;
    font-size: 1.6rem;
    padding: 6px 6px;
    background: white;
    border: 0 solid #A2A2A2;
    border-radius: 0;
    border-left: 1px solid #A2A2A2;
    border-right: 1px solid #A2A2A2;
  }

  .form-theme .form-group .form-control.quantity-style {
    height: 36px;
  }

  .form-theme .form-control.ng-touched.ng-dirty.ng-invalid.quantity-style {
    border-left: 1px solid #ED2F3C;
    border-right: 1px solid #ED2F3C;
  }

  .product {
    .form-theme .error-msg {
      padding-left: 0px;
      color: #d61320;
      font-size: 1.4rem;
    }
  }

}

:host {
  .banner-simulator {
    margin-top: 20px;
    background-image: url('../../../assets/img/banner-simulation.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100px;
  }

  .sufi-container {
    border-radius: 5px;
    border: 1px dashed #D5D5D5;
    padding: 10px;
    margin-top: 15px;
    position: relative;

    .icon-custom--sufi-logo {
      color: rgb(237, 28, 42);
      margin-right: 10px;
    }

    .title {
      font-size: 1.6rem;
      color: #272727;
      padding-bottom: 15px;
    }

    .container-input {
      width: 100%;

      .row {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
      }

      .column {
        display: flex;
        width: 50%;
        align-items: center;
      }

      .label-title,
      input {
        font-size: 1.8rem;
        color: #383838;
        padding-right: 10px;
      }

      .input-price {
        width: 55%;
        font-size: 1.6rem;
        border-radius: 5px;
        border: 1px solid #D0D0D0;
        padding: 5px 2px 5px 10px;
      }

      .select-time {
        border-radius: 5px;
        border: 1px solid #D0D0D0;
        width: 55px;
        color: #767676;
        font-size: 1.6rem;
        padding: 4px;
        background-color: white;

        option {
          color: #767676;
          font-size: 1.6rem;
        }
      }
    }


    .btn-container {
      padding-top: 10px;
      display: flex;
      justify-content: flex-end;

      .terms {
        position: relative;
        display: block;
        width: 100%;
        min-height: 22px;

        p {
          font-size: 1.0rem;
          color: #767676;
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      }
    }

    .btn-item {
      text-align: right;

      button {
        min-width: 245px;
        border: 1px solid #FF3646;
        padding: 9px;
        min-height: 44px;
        color: #FF3646;
        background-color: #FFFFFF;
        font-weight: bold;
        cursor: pointer;
        font-size: 1.6rem;
        border-radius: 22px;
      }

      button:hover {
        border: 1px solid #AE1631;
        color: #AE1631;
        //background-color: #0080FF;
      }
    }

  }
}

:host {

  .sufi-info {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    .col {
      width: 49%;
      border: 1px dashed #D5D5D5;
      border-radius: 5px;
      padding-bottom: 7px;
    }

    .col .title-plan {
      text-align: center;
      background-color: #F8F8F8;
      padding-bottom: 5px;
    }

    .col .title-plan p {
      color: #272727;
      font-size: 1.6rem;
      display: inline-block;
    }

    table {
      width: 100%;
      border-collapse: inherit;
      border-spacing: 0px 5px;

      td {
        font-size: 1.4rem;
        color: #707070;
        width: 50%;
        padding-left: 5px;

        strong {
          font-weight: bold;
          font-size: 1.8rem;
          color: #383838;
        }
      }

      tr {
        padding-bottom: 10px;
      }

      .text-right {
        color: #383838;
        padding-right: 5px;
        text-align: right;
      }
    }

    .container-bottom {
      background-color: #FFF4F4;
      width: 95%;
      margin: 0 auto;
      padding: 7px 8px;
      border-radius: 3px;

      p {
        color: #000000;
        font-size: 1.2rem;
        line-height: 1.6rem;
      }

      strong {
        color: #000000;
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
    }

    .container-plan {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 90%;
    }

  }

  .tooltip {
    position: relative;
    width: 15px;
    height: 15px;
    background: url(../../../assets/img/iconos/ic_tooltip.svg);
    background-size: 15px 15px;
    margin: 0 auto;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
  }

  .tooltip:hover {
    .toolTipText {
      visibility: visible;
      opacity: 1;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
  }

  .tooltip {
    .toolTipText {
      visibility: hidden;
      width: 115px;
      background-color: white;
      color: #383838;
      text-align: center;
      padding: 5px 5px;
      position: absolute;
      z-index: 1;
      bottom: 140%;
      left: 30%;
      margin-left: -55px;
      opacity: 0;
      transition: opacity 1s;
      font-size: 1.4rem;
    }
  }

  .toolTipText::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }


}

:host {
  .container-options {
    background-color:#FAFAFA;
    width: 100%;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    max-width: 540px;
    .container-title {
      display: flex;
      justify-content: space-between;
      .title p {
        color:#272727;
        font-size: 1.6rem;
      }
    }

    .container-logos {
      display: flex;
      .mis-aliados {
        margin: 0 10px;
        width: 71.707px;
        height: 32.635px;
        background-image: url(../../../assets/img/logo_mis_aliados.svg);
        background-size: 71.707px 32.635px;
      }
      .sura {
        width: 81.937px;
        height: 31.166px;
        background-image: url(../../../assets/img/logo_sura.svg);
        background-size: 81.937px 31.166px;
      }
    }

    .options {
      display: flex;
      margin-top: 15px;
      .option {
        cursor: pointer;
        background-color: #FFFFFF;
        width: 100%;
        max-width: 209px;
        min-width: 75px;
        min-height: 87px;
        border: 1px solid #EFEFEF;
        border-radius: 8px;
        margin: 0 5px;
        display: flex;
        align-items: center;
        transition: all 0.5s ease;
        .text {
          color: #383838;
          font-size: 1.6rem;
          font-weight: bold;
          transition: all 0.5s ease;
        }

        .logo {
          .logo-1 {
            width: 65px;
            height: 65px;
            background-image: url(../../../assets/img/aliados/ic_plomeria.svg);
            background-size: 65px 65px;
            transition: all 0.5s ease;
          }

          .logo-2 {
            width: 65px;
            height: 65px;
            background-image: url(../../../assets/img/aliados/ic_pintura.svg);
            background-size: 65px 65px;
            transition: all 0.5s ease;
          }

          .logo-3 {
            width: 65px;
            height: 65px;
            background-image: url(../../../assets/img/aliados/ic_carpinteria.svg);
            background-size: 65px 65px;
            transition: all 0.5s ease;
          }
        }
      }

      .option:first-child {
        margin-left: 0;
      }

      .option:last-child {
        margin-right: 0;
      }

      .option:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0), 0 3px 6px rgba(0, 0, 0, 0.15);
        .text-1 {
          color: #FFAE2A;
        }
        .text-2 {
          color: #5A298D;
        }
        .text-3 {
          color: #00AAC7;
        }

        .logo {
          .logo-1 {
            background-image: url(../../../assets/img/aliados/ic_prolmeria_hover.svg);
          }
          .logo-2 {
            background-image: url(../../../assets/img/aliados/ic_pintura_hover.svg);
          }
          .logo-3 {
            background-image: url(../../../assets/img/aliados/ic_carpinteria_hover.svg);
          }
        }
      }
    }
  }
}

:host {
  .container {
    width: 100%;
    position: relative;
  }

  .option {
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #E2E2E2;
  }

  .ac-container {
    text-align: left;
  }

  .ac-container label {
    padding: 20px 20px;
    padding-right: 35px;
    font-weight: bold;
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    color: #383838;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    font-size: 1.6rem;
  }

  .ac-container input:checked+label,
  .ac-container input:checked+label:hover {
    .icon {
      transform: rotate(0deg);
    }
  }

  .ac-container label:hover:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
  }

  .ac-container input[type="checkbox"]:not(.otherFilters) {
    display: none;
  }

  .ac-container article {
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    /* -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;*/
  }

  .ac-container article p {
    color: #777777;
    line-height: 20px;
    font-size: 1.6rem;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  }

  .ac-container input:checked~article {
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  }

  .ac-container input:checked~article.ac-small {
    height: 200px;
    overflow: auto;

    p {
      color: #707070;
      font-size: 1.2rem;
      padding: 0;
      margin: 0;
    }
  }

  .ac-container input:checked~article.ac-small::-webkit-scrollbar {
    transition: all 0.5s;
    width: 5px;
    height: 1px;
    z-index: 10;
  }

  .ac-container input:checked~article.ac-small::-webkit-scrollbar-track {
    background: transparent;
  }

  .ac-container input:checked~article.ac-small::-webkit-scrollbar-thumb {
    background: #EDEDED;
  }


  .ac-container input:checked~article.ac-medium {
    height: 180px;
  }

  .ac-container input:checked~article.ac-large {
    height: 230px;
  }

  .accordion {
    .icon {
      position: absolute;
      top: 12px;
      bottom: 0;
      right: 5px;
      box-sizing: border-box;
      transition: transform 0.3s;
      width: 15px;
      height: 15px;
      transform: rotate(180deg);
    }
  }

  .accordion {

    article.ac-small {

      p {
        color: #707070;
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
      }
    }

    .ac-container label {
      padding: 11px 13px;
      color: #383838;
      font-size: 1.4rem;
      font-weight: bold;
      z-index: 0;
    }

    .ac-container input:checked~article.ac-small {
      z-index: 0;
      margin-top: 0px;
      padding: 0;
      margin: 10px 17px;

      p {
        color: #707070;
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
      }
    }

    .option {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .answer p {
      color: #383838;
      font-size: 1.6rem;
    }

    .icon {
      background-image: url(../../../assets/img/arrow.svg);
      background-position: 92% center;
      background-size: 10px 10px;
      background-repeat: no-repeat;
      appearance: none;
      transform: rotate(0deg);
    }


    .icon-blue {
      background-image: url(../../../assets/img/ic_arrow_blue.svg);
      background-position: 92% center;
      background-size: 10px 10px;
      background-repeat: no-repeat;
      height: 10px;
      width: 10px;
      margin-left: 3px;
    }

    .ac-container input:checked+label .icon,
    .ac-container input:checked+label:hover .icon {
      transform: scale(1, -1);
    }

  }

}

:host {
  .form-container {
    position: relative;
    margin-bottom: 30px;

    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      width: 17px;
      height: 18px;
      background: url(../../../assets/img/iconos/ic_close.svg) no-repeat;
      background-size: contain;
      margin-top: 0px;
    }
  }

  .contactForm {
    width: 55%;
    margin: 0 auto;
    padding-top: 30px;

    h3 {
      font-size: 2.0rem;
      color: #272727;
      text-align: center;
    }

    .label-title {
      color: #383838 !important;
      font-size: 1.4rem !important;
      margin-bottom: 10px;
    }

     select {
      background-position: 95% center;
    }

    .form-theme .form-control, .form-control option{
      font-size: 1.6rem;
      color: #383838 ;
    }

    .material-design input[type=text].form-control, .material-design textarea.form-control, .material-design .input-price {
      border: 1px solid #A2A2A2;
      border-radius: 10px;
    }

    .form-theme .material-design .form-control.ng-touched.ng-invalid,
    .form-theme .material-design select.ng-touched.ng-invalid {
      border-color: #ED2F3C;
    }

    .form-theme .material-design select:focus {
      border-bottom: 2px solid #0FBBD8;
    }

    .material-design .error-price input.ng-valid {
      border-color: #ED2F3C;
    }

    .form-theme .material-design textarea.form-control:focus,
    .form-theme .material-design input[type=text]:focus,
    .form-theme .material-design .input-price:focus {
      border-color: #0FBBD8;
    }

    .btn-container {
      justify-content: center;
      padding-top: 15px;
    }

  }
}

:host {
  .check-offer {
    margin-top: 15px;
    text-align: center;
  }
}

.material-design {
  .material-checkbox {
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
  }

  .material-checkbox>input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
    z-index: -1;
    left: -15px;
    top: -15px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.42);
    outline: none;
    opacity: 0;
    transform: scale(1);
    -ms-transform: scale(0);
    /* Graceful degradation for IE */
    transition: opacity 0.5s, transform 0.5s;
  }

  .material-checkbox>input:checked {
    background-color: #0FBBD8;
  }

  .material-checkbox:active>input {
    opacity: 1;
    transform: scale(0);
    transition: opacity 0s, transform 0s;
  }

  .material-checkbox>input:disabled {
    opacity: 0;
  }

  .material-checkbox>input:disabled+span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
  }

  .material-checkbox>span::before {
    content: "";
    display: inline-block;
    border: solid 2px rgba(0, 0, 0, 0.42);
    border-radius: 2px;
    width: 14px;
    height: 14px;
    vertical-align: 0px;
    transition: border-color 0.5s, background-color 0.5s;
  }

  .material-checkbox>input:checked+span::before {
    border-color: #0FBBD8;
    //background-color: #0FBBD8;
  }

  .material-checkbox>input:active+span::before {
    border-color: #0FBBD8;
  }

  .material-checkbox>input:focus+span::before {
    border-color: #0FBBD8;
  }

  .material-checkbox>input:checked:active+span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.42);
  }

  .material-checkbox>input:disabled+span::before {
    border-color: rgba(0, 0, 0, 0.26);
  }

  .material-checkbox>input:checked:disabled+span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.26);
  }

  .material-checkbox>span::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 10px;
    border: solid 2px transparent;
    border-left: none;
    border-top: none;
    transform: translate(5.5px, 1px) rotate(45deg);
    -ms-transform: translate(5.5px, 2px) rotate(45deg);
  }

  .material-checkbox>input:checked+span::after {
    border-color: #0FBBD8;
  }

  .check-label{
    color: #383838;
    font-size: 1.3rem;
    margin-left: 5px;
    font-family: 'Lato Regular';
  }

}

:host {
  .success-message {
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    p {
      text-align: center;
      color:#383838;
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 1300px) {
  :host {
    .product-btn {
      width: 100%;
      text-align: left;
    }

    .info-container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1250px) {
  :host {
    .container-options {
      .options {
        .option {
          flex-direction: column;
          height: 123px;
          max-width: 110px;
        }
      }
    }

    .container-options .container-logos .sura {
      margin-top: 10px;
    }

    .container-options .options .option .logo .logo-1,
    .container-options .options .option .logo .logo-2,
    .container-options .options .option .logo .logo-3 {
      width: 80px;
      height: 80px;
      background-size: 80px 80px;
    }

    .container-options .options .option .text {
      font-size: 1.6rem;
    }

    .container-options .options {
      .option {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0), 0 3px 6px rgba(0, 0, 0, 0.15);
        .logo {
          .logo-1 {
            background-image: url(../../../assets/img/aliados/ic_prolmeria_hover.svg);
          }
          .logo-2 {
            background-image: url(../../../assets/img/aliados/ic_pintura_hover.svg);
          }
          .logo-3 {
            background-image: url(../../../assets/img/aliados/ic_carpinteria_hover.svg);
          }
        }
        .text-1 , .text-2, .text-3 {
          color: #383838 !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  :host {
    .row {
      flex-direction: column;
    }

    .sufi-container .container-input .column {
      width: 100%;
      padding-bottom: 10px;
    }

    .sufi-info {
      flex-direction: column;

      .col {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    .sufi-container .btn-container {
      flex-direction: column;
    }

    .terms,
    .sufi-container .btn-item {
      text-align: center;
    }

    .terms {
      order: 2;
    }

    .btn-item {
      order: 1;
    }

  }
}

@media screen and (max-width: 768px) {
  :host {
    .banner-simulator {
      height: 60px;
    }
  }
}

@media screen and (max-width: 750px) {
  :host {
    .info-container {
      width: 100%;
    }

    .container {
      width: 100%;

      .product {
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;

        .title-product {
          font-size: 2.2rem;
        }

        .product-info {
          margin-top: 16px;
        }

        .product-info,
        .product-photos {
          width: 100%;
        }
      }
    }

    .product-info-ubicacion {
      font-size: 1.8rem;
    }

    .product-photos {
      .panel-heading {
        .container-product__image {
          height: 262px;
        }
      }
    }

    .product-btn {
      width: 100%;
      float: none;
      display: block;

      .product-btns {
        width: 100%;

        .cont-botons {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

        }
      }
    }

    .btns-container {
      margin-top: 15px;
    }

  }

  .additional-info {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 750px) {
  :host {
    .mobile {
      display: block;
    }

    .desktop {
      display: none;
    }

    .product * {
      font-size: 1.6rem;
    }

    .product .product-info {
      min-height: auto;
      padding: 0px;
    }

    .info-section:after {
      content: '';
      display: none;
    }

    .btn-two-container,
    .btns-container,
    .row-container {
      flex-direction: column;
      padding: 0;
    }

    .btns-container {
      .btn-item {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;

        .botons {
          max-width: 264px;
          margin: 0 auto;
        }
      }
    }

    .product-btn .product-btns .botons {
      width: 100%;
      max-width: 264px;
    }

    .row-container {
      .column {
        width: 100%;
      }

      .input-container {
        padding: 10px 30px;
        padding-bottom: 30px;
        background: #F0F0F0;
        height: 105px;
      }

      .icon-share-container {
        margin-right: 20px;
      }

      .share-product-container .share-product {
        font-size: 1.2rem;
      }

      .share-container {
        background: white;
        padding: 0;
      }

      .share-mobile {
        background: #FF3646;
        padding: 10px 20px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        position: relative;

        .icon-arrow {
          display: block;
          width: 20px;
          margin: 0 auto;
          color: white;
        }

        .icon-arrow.open {
          transform: rotate(180deg);
        }
      }
    }

    .form-theme {
      .icon-circle-cancel {
        color: #FF3646;
      }

      .icon-check {
        color: #5cb85c;
      }
    }

    .form-theme .help-block {
      font-size: 1.1rem;
      color: #707070;
    }

    .form-theme .form-group .form-control {
      font-size: 1.1rem;
    }

    .get-offer {
      width: 235px;
    }

    .product-info-user {
      padding: 0;
      padding-top: 20px;
    }

    .banner-simulator {
      margin-top: 0px;
      background-image: url('../../../assets/img/banner-mobile-simulation.png');
      height: 100px;
    }

  }
}

@media screen and (max-width: 460px) {
  :host {
    .banner-simulator {
      height: 80px;
    }
  }
}

.ic_share_email {
  display: inline-block;
  width: 16px;
  height: 16px;
  min-width: 16px;
  background-size: 16px 16px;
  background-image: url(../../../assets/img/iconos/ic_share_email.svg);
}

.ic_share_whatsapp {
  display: inline-block;
  width: 16px;
  height: 16px;
  min-width: 16px;
  background-size: 16px 16px;
  background-image: url(../../../assets/img/iconos/ic_share_whatsapp.svg);
}

::ng-deep .mat-menu-content:not(:empty) {
  padding: 0 !important;
}

::ng-deep .mat-menu-panel {
  min-width: auto !important;
}
