<app-modal-detail [product]="productForModal" (closeModal)="closeModal()" *ngIf="showModalBuy"></app-modal-detail>
<offer-modal *ngIf="isOfferModalShowed" [config]="configModal" (close)="isOfferModalShowed = false"></offer-modal>
<custom-spinner *ngIf="!products"></custom-spinner>
<div class="md-overlay"></div>
<modal-shareProduct class="md-modal-center md-effect-1" id="custom-modal-2"></modal-shareProduct>
<div *ngIf="products" class="container">
  <div class="product">
        <div  class="product-photos">
          <div *ngIf="!products?.photoList" class="panel-heading">
            <div class="container-product__image">
              <img src="/assets/img/product-no-image.png">
            </div>
        </div>
        <div *ngIf="products?.photoList" [ngClass]="isSellProcess() ? 'deactivated-photo' : ''" class="panel-heading">
          <ngx-carousel [inputs]="carouselConfig">
            <ngx-item NgxCarouselItem *ngFor="let productImage of productsPhotos">
              <div class="container-product__image">
                <img src="{{productImage?.url}}">
              </div>
            </ngx-item>
            <span (click)="clickArrow()" NgxCarouselPrev class="gtmFlechasProductos carousel-arrow carousel-arrow__prev">
              <span class="icon icon-chevron-thin-left"></span>
            </span>
            <span (click)="clickArrow()" NgxCarouselNext class="gtmFlechasProductos carousel-arrow carousel-arrow__next">
              <span class="icon icon-chevron-thin-right"></span>
            </span>
          </ngx-carousel>
        </div>
        <div class="tabla-container description desktop">
            <div class="flex">
                <h1>Descripción</h1>
                <div class="share">
                  <!--  <button class="share-button" mat-button [matMenuTriggerFor]="menu">
                      <div class="ic_arrow_share"></div>
                      Compartir publicación
                    </button>-->
                    <mat-menu class="share-product" #menu="matMenu">
                      <div mat-menu-item>
                          <!--
                          <button mat-icon-button>
                              <div (click)="shareProduct('custom-modal-2' , products)" class="ic_share_email"></div>
                           </button>
                           -->
                           <button (click) = "sendMessageWhatsapp(products.id)" mat-icon-button>
                              <div class="ic_share_whatsapp"></div>
                           </button>
                      </div>
                    </mat-menu>
                </div>
            </div>
            <pre>{{products.description}}</pre>
          </div>
          <div *ngIf="products.vehicle" class="tabla-container desktop">
              <h1>Características</h1>
              <table class="table-info">
                <tbody>
                  <tr>
                    <td class=" ">
                      <div>
                        Marca/Modelo
                        <p *ngIf="products.vehicle.line">{{products.vehicle.line.brand.name}},
                          {{products.vehicle.line.name}}</p>
                      </div>
                    </td>
                    <td class="padding-cell-left middle-cell">
                      <div>
                        Año
                        <p *ngIf="products.model">{{products.model}}</p>
                      </div>
                    </td>
                    <td class="padding-cell-left">
                      <div>
                        Kilometraje
                        <p *ngIf="products.vehicle.mileage &&  products.vehicle.mileage != 0">{{products.vehicle.mileage |
                          currency:" " | removeDigits }} Km</p>
                        <p *ngIf="products.vehicle.mileage == 0">0 Km</p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class=" ">
                      <div>
                        Color
                        <p *ngIf="products.vehicle.color">{{products.vehicle.color}}</p>
                      </div>
                    </td>
                    <td class="padding-cell-left middle-cell">
                      <div *ngIf="products.vehicle.gas">
                        Combustible
                        <p *ngIf="products.vehicle.gas">{{products.vehicle.gas}}</p>
                      </div>
                      <div *ngIf="products.vehicle.displacement">
                        Cilindraje
                        <p *ngIf="products.vehicle.displacement">{{products.vehicle.displacement}}</p>
                      </div>
                    </td>
                    <td class="padding-cell-left">
                      <div *ngIf="products.vehicle.vehicleType == 'AUTO'">
                        Tipo de Uso
                        <p *ngIf="products.typeVehicle">{{products.typeVehicle}}</p>
                      </div>
                      <div *ngIf="products.vehicle.vehicleType == 'MOTO'">
                        Tipo de Vehículo
                        <p *ngIf="products.vehicle.vehiclesType.name">{{products.vehicle.vehiclesType.name}}</p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class=" ">
                      <div *ngIf="products.vehicle.vehicleType == 'AUTO'">
                        Placa
                        <p *ngIf="products.vehicle.licensePlate">*****{{products.vehicle.licensePlate}}</p>
                      </div>
                    </td>
                    <td class="padding-cell-left middle-cell">
                      <div *ngIf="products.vehicle.vehicleType == 'AUTO'">
                        Transmisión
                        <p *ngIf="products.vehicle.transmission">{{products.vehicle.transmission}}</p>
                      </div>
                    </td>
                    <td class="padding-cell-left">
                      <div *ngIf="products.vehicle.vehicleType == 'AUTO'">
                        Tipo de Vehículo
                        <p *ngIf="products.vehicle.vehiclesType.name">{{products.vehicle.vehiclesType.name}}</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h1 *ngIf="motoHasCharacteristics() || autoHasCharacteristics()">Características adicionales</h1>
              <div class="additional-info">
                <div *ngIf="products.vehicle.airbag && products.vehicle.vehicleType == 'AUTO'" class="additional-container">
                  <div class="img-airbag additional-img"></div>
                  <div class="additional-text">Airbag</div>
                </div>
                <div *ngIf="products.vehicle.absBrakes" class="additional-container">
                  <div class="img-frenos additional-img"></div>
                  <div class="additional-text">Frenos ABS</div>
                </div>
                <div *ngIf="products.vehicle.airConditioner && products.vehicle.vehicleType == 'AUTO'"
                  class="additional-container">
                  <div class="img-aire additional-img"></div>
                  <div class="additional-text">Aire acondicionado</div>
                </div>
                <div *ngIf="products.vehicle.typeOfSeat && products.vehicle.vehicleType == 'AUTO'"
                  class="additional-container">
                  <div class="img-material additional-img"></div>
                  <div *ngIf="products.vehicle.typeOfSeat == 'CUERO'" class="additional-text">Material Cuero</div>
                  <div *ngIf="products.vehicle.typeOfSeat == 'TELA'" class="additional-text">Material Tela</div>
                </div>
                <div *ngIf="products.vehicle['uniqueOwner']" class="additional-container">
                  <div class="img-unico additional-img"></div>
                  <div class="additional-text">Único dueño</div>
                </div>
              </div>
          </div>
          <div *ngIf="products.immovable" class="tabla-container desktop">
              <h1>Características</h1>
              <table class="table-info">
                <tbody>
                  <tr>
                    <td class=" ">
                      <div>
                        Antiguedad
                        <p *ngIf="products.immovable.antiquity">
                          {{products.immovable.antiquity}}
                        </p>
                      </div>
                    </td>
                    <td class="padding-cell-left middle-cell">
                      <div>
                        Metros construidos
                        <p *ngIf="products.immovable.squareMeters">
                          {{products.immovable.squareMeters}} mts2
                        </p>
                      </div>
                    </td>
                    <td class="padding-cell-left">
                      <div>
                        Piso
                        <p *ngIf="products.immovable.floor">
                          {{products.immovable.floor}}
                        </p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class=" ">
                      <div>
                        Tipo de vendedor
                        <p *ngIf="products.immovable.sellerType">{{products.immovable.sellerType}}</p>
                      </div>
                    </td>
                    <td class="padding-cell-left middle-cell">
                      <div>
                        Habitaciones
                        <p *ngIf="products.immovable.rooms">{{products.immovable.rooms}}</p>
                      </div>
                    </td>
                    <td class="padding-cell-left">
                      <div>
                        Baños
                        <p *ngIf="products.immovable.bathrooms">{{products.immovable.bathrooms}}</p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class=" ">
                      <div>
                        Porteria
                        <p *ngIf="products.immovable.guardHouse">{{products.immovable.guardHouse}}</p>
                      </div>
                    </td>
                    <td class="padding-cell-left middle-cell">
                      <div>
                        Ascensor
                        <p *ngIf="!products.immovable.elevator">No</p>
                        <p *ngIf="products.immovable.elevator">Si</p>
                      </div>
                    </td>
                    <td class="padding-cell-left">
                      <div>
                        Parqueadero
                        <p *ngIf="!products.immovable.parking">No</p>
                        <p *ngIf="products.immovable.parking">Si</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h1>Características adicionales</h1>
              <table class="table-info">
                <tbody>
                  <tr>
                    <td class=" ">
                      <div>
                        Valor de la administración
                        <p *ngIf="products.immovable.canonQuota">
                          {{products.immovable.canonQuota | currency:"$" | removeDigits}}
                        </p>
                        <p *ngIf="!products.immovable.canonQuota">
                          $ 0
                        </p>
                      </div>
                    </td>
                    <td class="padding-cell-left middle-cell">
                      <div>
                        Metros 2 terreno
                        <p *ngIf="products.immovable.squareMetersTerrain">
                          {{products.immovable.squareMetersTerrain}} mts2
                        </p>
                        <p *ngIf="!products.immovable.squareMetersTerrain">
                          0 mts2
                        </p>
                      </div>
                    </td>
                    <td class="padding-cell-left">
                      <div>
                        Estrato
                        <p *ngIf="products.immovable.socialClass">
                          {{products.immovable.socialClass}}
                        </p>
                        <p *ngIf="!products.immovable.socialClass">
                          N/A
                        </p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class=" ">
                      <div>
                        Juegos infantiles
                        <p *ngIf="products.immovable.childishGames">Si</p>
                        <p *ngIf="!products.immovable.childishGames">No</p>
                      </div>
                    </td>
                    <td class="padding-cell-left middle-cell">
                      <div>
                        Cuarto útil
                        <p *ngIf="products.immovable.usefulRoom">Si</p>
                        <p *ngIf="!products.immovable.usefulRoom">No</p>
                      </div>
                    </td>
                    <td class="padding-cell-left">
                      <div>
                        Piscina
                        <p *ngIf="products.immovable.pool">Si</p>
                        <p *ngIf="!products.immovable.pool">No</p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class=" ">
                      <div>
                        Amoblado
                        <p *ngIf="products.immovable.fullyFurnished">Si</p>
                        <p *ngIf="!products.immovable.fullyFurnished">No</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>

          <div *ngIf="products.children" class="tabla-container desktop">
              <h1>Características</h1>
              <table class="table-info">
                <tbody>
                  <tr *ngIf="!products.children[0].brand">
                    <td class=" ">
                      <div>
                        Género
                        <p *ngIf="products.children[0].genderName">{{products.children[0].genderName}}</p>
                      </div>
                    </td>
                    <td class="padding-cell-left middle-cell-no-right">
                      <div>
                        Color
                        <p *ngIf="products.children[0].color">{{products.children[0].color}}</p>
                      </div>
                    </td>
                    <td></td>
                  </tr>

                  <tr *ngIf="products.children[0].brand">
                    <td class=" ">
                      <div>
                        Género
                        <p *ngIf="products.children[0].genderName">{{products.children[0].genderName}}</p>
                      </div>
                    </td>
                    <td class="padding-cell-left middle-cell">
                      <div>
                        Color
                        <p *ngIf="products.children[0].color">{{products.children[0].color}}</p>
                      </div>
                    </td>
                    <td class="padding-cell-left">
                      <div>
                        Marca
                        <p *ngIf="products.children[0].brand">{{products.children[0].brand}}</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>

    </div>
    <div *ngIf="products" class="product-info">
      <div class="card-product">
        <div class="capitalize">
          <span class="span-title">{{products.used ? 'Usado' : 'Nuevo'}} - {{products['sellType'].toLowerCase()}}</span>
        </div>
        <div class="title-product">{{products.name}}</div>
        <div class="date">
          <span *ngIf="reference" class="date">Referencia: {{reference}} - </span>
          <span class="date">{{visitsNumber}} visitas</span>
        </div>

          <div
          [ngClass]="products['previousPrice'] && products['previousPrice'] >  products['price'] || isActivePromo? 'btn-item-full' : ''"
          class="btn-item ">
            <div class="price-container">
                <div
                [ngClass]="products['previousPrice'] && products['previousPrice'] >  products['price'] || isActivePromo? 'low-price' : ''"
                *ngIf="products['previousPrice'] && isPromoDateBefore && isActivePromo || products['previousPrice'] && products['previousPrice'] >  products['price']">
                <span *ngIf="products['previousPrice'] != 0 && products.currency != 'GTQ' && idCountry == 1"
                  class="valor-product">
                  {{products['previousPrice'] | currency:"$" | removeDigits}}</span>
              </div>
              <div>
                <span *ngIf="products.price != 0 && products.currency != 'GTQ' && idCountry == 1" class="valor-product">
                  {{products.price | currency:"$" | removeDigits}}</span>
              </div>
            </div>
          </div>
          <!--
          <div class="size-div" *ngIf="products && products.children">
              <label class="label-title">Talla</label>
              <select ng-model="childrens" class="form-control-select" (change)="updateSize($event.target.value)">
                <option ng-selected="childrens" *ngFor="let children of products.children" value="{{children.id}}" class="option-select">
                  {{children.sizeName}}
                </option>
              </select>
              <span *ngIf="errorSize == true" class="error-msg">Selecciona la talla</span>
            </div>-->
        <div class="btns-container">
            <!--
            <div class="full-width quantity-container">
              <form role="form" [formGroup]="quantityForm" name="quantityForm" class="form-theme"
                (ngSubmit)="quantity(form)" #form>
                <div class="form-group">
                  <label class="label-title">Cantidad</label>
                  <div class="input-group quantity-wrapper">
                    <span class="input-group-btn">
                      <button (click)="minusStock()" type="button" class="btn btn-default btn-number btn-sm button-center">
                        <span>-</span>
                      </button>
                    </span>
                    <input type="text" class="form-control input-number input-sm quantity-style" name="stock" currencyMask
                      [options]="{prefix: '' , align: 'left', precision: 0}"
                      onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="stock"
                      placeholder="0" maxlength="5" autocomplete="off">
                    <span class="input-group-btn">
                      <button (click)="addStock()" type="button" class="btn btn-default btn-number btn-sm button-center">
                        <span>+</span>
                      </button>
                    </span>
                  </div>
                  <span class="quantity-on-stock" *ngIf="totalStock==1">({{totalStock}} disponible)</span>
                  <span class="quantity-on-stock" *ngIf="totalStock>1">({{totalStock}} disponibles)</span>
                  <span [ngStyle]="{'display': quantityForm.get('stock').errors ? 'block' : ''}" class="error-msg">Este
                    campo debe ser mayor a 0 y menor igual a {{totalStock}}</span>
                </div>
              </form>
            </div> -->
          <div class="btn-item">
            <button class="gtmProductosSufiMeInteresa botons"
              (click)="openModal()">
              Me interesa
            </button>
          </div>
        </div>

        <div *ngIf="products && !checkBAMBotton() && checkSufiBotton() && !isSellProcess() && !validateSession() &&  products['sellType'] !== 'ALQUILA' && tradicionalSimulacion && especialSimulacion">
          <div class="banner-simulator">
          </div>
          <div class="sufi-container accordion">
              <div *ngIf="!showForm">
                <div class="title">
                  <span class="icon-custom icon-custom--sufi-logo"></span>
                  Simula tu crédito Sufi con la tasa especial Rótalo
                </div>
                <form [formGroup]="simulateForm">
                  <div class="container-input">
                    <div class="row">
                      <div class="column">
                        <label class="label-title">Cuota Inicial</label>
                        <input (ngModelChange)="simulateSufi()" name="credit-value" formControlName="credit-value"
                          class="gtmProdCuotaInicial form-control input-price" currencyMask
                          [options]="{prefix: '$' , align: 'left', precision: 0 , allowNegative: false}"
                          onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="1.000.000"
                          maxlength="14" autocomplete="off">
                      </div>
                      <div class="column">
                        <label class="label-title">Plazo en meses</label>
                        <select (change)="simulateSufi()" formControlName="term-months"
                          class="gtmProdPlazoMeses select-time form-control" name="term-months">
                          <option value="" disabled></option>
                          <option class="gtmProdPlazoMeses" value="{{timetoPay}}"
                            *ngFor="let timetoPay of rangeTimetoPayArray">{{timetoPay}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="table-container">
                      <label class="label-title">Tu plan de pago estimado es:</label>
                      <div class="sufi-info">
                        <div class="col">
                          <div class="title-plan">
                            <div>
                              <p>Plan tradicional Rótalo con Sufi</p>
                              <div class="tooltip">
                                <span class="toolTipText">
                                  Paga cuotas fijas mensuales siempre con 0.81 de tasa.
                                </span>
                              </div>
                            </div>
                          </div>

                          <div class="container-plan">
                            <table>
                              <tr>
                                <td *ngIf="simulateForm && simulateForm.get('term-months').value">
                                  {{simulateForm.get('term-months').value}} Cuotas mensuales de </td>
                                <td *ngIf="tradicionalSimulacion.aplica" class="text-right" [countUp]="tradicionalSimulacion.cuotas[0].valor"
                                  [options]="optionsCountSimulate"></td>
                                <td class="text-right" *ngIf="!tradicionalSimulacion.aplica">N/A</td>
                              </tr>
                              <tr>
                                <td>Seguro de vida desde</td>
                                <td *ngIf="tradicionalSimulacion.aplica" class="text-right" [countUp]="tradicionalSimulacion.seguroVida"
                                  [options]="optionsCountSimulate"></td>
                                <td class="text-right" *ngIf="!tradicionalSimulacion.aplica">N/A</td>
                              </tr>

                              <!--
                                    <tr>
                                        <td>Total</td>
                                        <td class="text-right">
                                          <strong [countUp]="tradicionalSimulacion.cuotas[0].valorMasSeguros" [options]="optionsCountSimulate"></strong>
                                        </td>
                                    </tr>-->
                            </table>
                            <div class="container-bottom">
                              <p> <strong>Ahorra hasta </strong> <strong [countUp]="tradicionalSimulacion.ahorro"
                                  [options]="optionsCountSimulate"></strong> <strong> / mes.</strong></p>
                              <p> vs. la tasa de mercado Sufi.</p>
                            </div>
                          </div>

                        </div>
                        <div class="col">
                          <div class="title-plan">
                            <div>
                              <p>Plan Especial Rótalo con Sufi</p>
                              <div class="tooltip">
                                <span class="toolTipText">
                                  Paga el primer año con tasa del 0.65 y en adelante 0.88.
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="container-plan">
                            <table>
                              <tr>
                                <td>{{especialSimulacion.cuotas[0].cuotas}} Cuotas mensuales de </td>
                                <td *ngIf="especialSimulacion.aplica" class="text-right" [countUp]="especialSimulacion.cuotas[0].valor"
                                  [options]="optionsCountSimulate"></td>
                                <td class="text-right" *ngIf="!especialSimulacion.aplica">N/A</td>
                              </tr>
                              <tr *ngIf="especialSimulacion.cuotas[1].cuotas && especialSimulacion.cuotas[1].cuotas > 0">
                                <td>{{especialSimulacion.cuotas[1].cuotas}} Cuotas mensuales de </td>
                                <td  *ngIf="especialSimulacion.aplica" class="text-right" [countUp]="especialSimulacion.cuotas[1].valor"
                                  [options]="optionsCountSimulate"></td>
                                <td class="text-right" *ngIf="!especialSimulacion.aplica">N/A</td>
                              </tr>
                              <tr>
                                <td>Seguro de vida desde </td>
                                <td  *ngIf="especialSimulacion.aplica" class="text-right" [countUp]="especialSimulacion.seguroVida"
                                  [options]="optionsCountSimulate"></td>
                                <td class="text-right" *ngIf="!especialSimulacion.aplica">N/A</td>
                              </tr>
                              <tr>
                                <td>Seguro de cuota desde </td>
                                <td  *ngIf="especialSimulacion.aplica" class="text-right" [countUp]="especialSimulacion.seguroCuota"
                                  [options]="optionsCountSimulate"></td>
                                <td class="text-right" *ngIf="!especialSimulacion.aplica">N/A</td>
                              </tr>
                              <!--      <tr>
                                        <td>Total</td>
                                        <td class="text-right">
                                          <strong [countUp]="especialSimulacion.cuotas[0].valorMasSeguros" [options]="optionsCountSimulate"></strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td class="text-right">
                                          <strong [countUp]="especialSimulacion.cuotas[1].valorMasSeguros" [options]="optionsCountSimulate"></strong>
                                        </td>
                                    </tr> -->
                            </table>
                            <div class="container-bottom">
                              <p> <strong>Ahorra hasta </strong> <strong [countUp]="especialSimulacion.ahorro"
                                  [options]="optionsCountSimulate"></strong> <strong> / mes.</strong></p>
                              <p> vs. la tasa de mercado Sufi.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="btn-container">
                  <div class="btn-item btn-desktop">
                    <button class="gtmProductosSufiQuierMasInfoSimu botons" (click)="openSimulateCreditSufi(products.id)">
                      Quiero más información
                    </button>
                  </div>
                  <div class="btn-item btn-mobile">
                    <button class="gtmProductosSufiQuierMasInfoSimu botons" (click)="openModalSufi()">
                      Quiero más información
                    </button>
                  </div>
                </div>
                <div class="menu-container ac-container">
                  <div>
                    <div class="option">
                      <input id="terms-1" name="accordion-1" type="checkbox" />
                      <label for="terms-1">Valores aproximados y sujetos a términos y condiciones.<div class="icon"></div>
                      </label>
                      <article class="ac-small">
                        <p>
                          ROT001 – Plan Tradicional con Tasa Especial durante todo el crédito.
                        </p>
                        <br>
                        <p>
                          Esta información es suministrada en atención a la solicitud que has efectuado a Bancolombia
                          S.A., la misma se entrega sólo para fines informativos y no comporta oferta, opción o promesa de
                          contratar a cargo de Bancolombia S.A. Los términos de esta simulación son suministrados con base
                          en las condiciones comerciales y de mercado que han sido establecidas para la fecha en que se
                          realiza.
                        </p>
                        <br>
                        <p>
                          *Sujeto a aprobación de estudio de crédito y cumplimiento de las políticas de la entidad que
                          financia. Entidad que financia Bancolombia S.A. Cuota inicial desde el 0% del valor comercial
                          del vehículo. El cliente durante toda la vigencia del crédito pagará mensualmente cargos
                          adicionales y cuotas correspondientes a abono a capital e intereses a una tasa desde 0,81% NMV
                          equivalente al 10,16% EA, la cual se determinará de acuerdo al perfil de riesgo establecido por
                          la entidad financiera para cada cliente. Cuota fija, tasa variable, plazo estimado de 72 meses.
                          Promoción vigente para solicitudes de crédito radicadas con documentación completa entre el 1 de
                          septiembre de 2019 y el 31 de diciembre de 2019 que se desembolsen entre el 1 de septiembre de
                          2019 y 15 el de febrero de 2020. Aplica para vehículos nuevos y usados hasta 10 años de
                          antigüedad de servicio particular ofrecidos originados desde Rótalo. Las imágenes son solo de
                          referencia y podrán variar. Bancolombia S.A ofrece únicamente la posibilidad de acceder a la
                          financiación. Los vehículos comercializados son responsabilidad del concesionario; y por lo
                          tanto son ellos los responsables de la calidad del servicio, la oferta, la venta, el
                          funcionamiento, la garantía, la instalación y él envió y/o entrega de los mismos.
                        </p>
                        <br>
                        <p>
                          ** Este simulador tiene un fin estrictamente informativo y no comporta oferta, opción o promesa
                          de contratar a cargo de Bancolombia S.A. Los términos de esta simulación son suministrados con
                          base en las condiciones comerciales y de mercado que han sido establecidas para la fecha en que
                          se realiza. El valor mensual a pagar es referencial y está compuesto por cuota correspondiente a
                          intereses, capital y cargos adicionales. La cuotas son calculadas con una tasa de interés
                          variable del 0,81% NMV equivalente al 10,16% EA y un plazo estimado. Los intereses se liquidarán
                          con la tasa vigente al momento de la utilización del crédito.
                        </p>
                        <br>
                        <p>
                          Recuerda que para esta simulación se utilizó la tasa “desde” mencionada en la explicación del
                          plan, la cual podrá variar de acuerdo al perfil de riesgo de cada cliente.
                        </p>
                        <br>
                        <p>
                          ROT002 – Plan Tradicional con Tasa Especial de 0,65% durante el primer año.
                        </p>
                        <br>
                        <p>
                          Esta información es suministrada en atención a la solicitud que has efectuado a Bancolombia
                          S.A., la misma se entrega sólo para fines informativos y no comporta oferta, opción o promesa de
                          contratar a cargo de Bancolombia S.A. Los términos de esta simulación son suministrados con base
                          en las condiciones comerciales y de mercado que han sido establecidas para la fecha en que se
                          realiza.
                        </p>
                        <br>
                        <p>
                          *Sujeto a aprobación de estudio de crédito y cumplimiento de las políticas de la entidad que
                          financia. Entidad que financia Bancolombia S.A. Financiación hasta el 100% del valor comercial
                          del vehículo. Aplica para Monto mínimo de financiación de $30.000.000 COP. El cliente durante
                          los doce (12) primeros meses de vigencia del crédito pagará mensualmente cuotas correspondientes
                          a abono a capital e intereses a una tasa desde 0,65% N.M.V. equivalente al 8,08% E.A., la cual
                          se determinará de acuerdo al perfil de riesgo establecido por la entidad financiera para cada
                          cliente, y la contratación del seguro de vida y el seguro de empleado protegido o independiente
                          protegido ofrecidos por las entidades aseguradoras través de SUFI. A partir del mes trece (13) y
                          hasta finalizar la vigencia del crédito, el cliente pagará cuotas mensuales correspondientes a
                          abono a capital e intereses a una tasa desde 0,88% N.M.V. equivalente al 11,09% E.A., la cual se
                          determinará de acuerdo al perfil de riesgo establecido por la entidad financiera para cada
                          cliente. Durante toda la vigencia del crédito el cliente pagará mensualmente cargos adicionales.
                          Cuota fija, tasa variable, plazo estimado de 72 meses. Promoción vigente para solicitudes de
                          crédito radicadas con documentación completa entre el 1 de septiembre de 2019 y el 31 de
                          diciembre de 2019 que se desembolsen entre el 1 de septiembre de 2019 y 15 el de febrero de
                          2020. Aplica para vehículos nuevos y usados hasta 10 años de antigüedad de servicio particular
                          originados desde Rótalo. Las imágenes son solo de referencia y podrán variar. Bancolombia S.A
                          ofrece únicamente la posibilidad de acceder a la financiación. Los vehículos comercializados son
                          responsabilidad de quienes los vende a través de Rótalo; y por lo tanto son ellos los
                          responsables de la calidad del servicio, la oferta, la venta, el funcionamiento, la garantía, la
                          instalación y él envió y/o entrega de los mismos.
                        </p>
                        <br>
                        <p>
                          ** Este simulador tiene un fin estrictamente informativo y no comporta oferta, opción o promesa
                          de contratar a cargo de Bancolombia S.A. Los términos de esta simulación son suministrados con
                          base en las condiciones comerciales y de mercado que han sido establecidas para la fecha en que
                          se realiza. El valor mensual a pagar es referencial y está compuesto por cuota correspondiente a
                          intereses, capital y cargos adicionales. La cuotas son calculadas para los primeros doce (12)
                          meses con una tasa de interés variable del 0,65% N.M.V. equivalente al 8,08% E.A., y a partir
                          del mes trece (13) y hasta finalizar la vigencia del crédito con una tasa del 0,88% N.M.V.
                          equivalente al 11,09% E.A., y un plazo estimado. Los intereses se liquidarán con la tasa vigente
                          al momento de la utilización del crédito.
                        </p>
                        <br>
                        <p>
                          Recuerda que para esta simulación se utilizó la tasa “desde” mencionada en la explicación del
                          plan, la cual podrá variar de acuerdo al perfil de riesgo de cada cliente.
                        </p>
                        <br>
                        <p>
                          Seguro de Vida: Seguro Colectivo de Seguros de Vida Suramericana S.A en el cual Bancolombia S.A.
                          actúa como tomador por cuenta de sus deudores. El valor de la prima del seguro de vida y vida
                          más esta sujeta a declaraciones de asegurabilidad por parte del cliente.
                        </p>
                        <br>
                        <p>
                          Cardif: Cardif Colombia Seguros Generales S.A. asume exclusivamente la responsabilidad del
                          cumplimiento de las obligaciones del producto frente al consumidor financiero. Este producto es
                          ofrecido por la red de Bancolombia S.A. limitándose única y exclusivamente al correcto
                          cumplimiento de las instrucciones debidamente impartidas por Cardif Colombia Seguros Generales
                          S.A. para la prestación del servicio en dicha red.
                        </p>
                      </article>
                    </div>
                  </div>

                </div>
              </div>
              <div *ngIf="showForm" class="form-container">
                <div (click)="closeForm()" class="close">
                </div>
                <div class="success-message contactForm" *ngIf="showSuccess">
                    <div class="img-monkey"></div>
                    <div>
                      <p>¡Genial! Tu simulación se envió con éxito, un asesor Sufi te contactará.</p>
                    </div>
                    <div class="row">
                        <div class="btn-container">
                          <div class="btn-item">
                            <button (click)="closeForm()">
                              Enviar
                            </button>
                          </div>
                        </div>
                      </div>
                </div>
                <div *ngIf="!showSuccess" class="contactForm">
                  <form role="form" class="form-theme" [formGroup]="contactUser" name="contactForm"
                    (ngSubmit)="creditRequest()">
                    <h3>
                      ¡Déjanos tus datos para contactarte!
                    </h3>
                    <div class="material-design">
                      <div class="row">
                        <div class="form-group">
                          <div class="cellphone-container">
                            <label class="label-title">Número de celular</label>
                            <input formControlName="celular" name="phone-user" class="form-control input-price"
                              onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
                              autocomplete="off">
                            <span class="error-msg"> El campo no cumple con el formato de teléfono.</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group">
                          <div>
                            <label class="label-title">En qué horario quieres que te llamemos</label>
                            <select formControlName="horarioContacto" class="form-control" name="hour-contact">
                              <option value="" disabled></option>
                              <option value="Mañana">Mañana</option>
                              <option value="Tarde">Tarde</option>
                              <option value="Noche">Noche</option>
                            </select>
                            <span class="error-msg">Este campo es requerido</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group">
                          <div>
                            <label class="label-title">¿En qué plan estás interesado?</label>
                          </div>
                          <div class="check-offer">
                            <label for="checkTerms1" class="material-checkbox container-check">
                              <input [value]="'Plan Tradicional Rótalo'" type="checkbox" formControlName="checkTerms1"
                                id="checkTerms1" name="check-authorization">
                              <span class="checkmark"></span>
                            </label>
                            <span class="check-label">Plan Tradicional Rótalo</span>
                          </div>
                          <div class="check-offer">
                            <label for="checkTerms2" class="material-checkbox container-check">
                              <input [value]="'Plan Especial Rótalo'" type="checkbox" formControlName="checkTerms2"
                                id="checkTerms2" name="check-authorization">
                              <span class="checkmark"></span>
                            </label>
                            <span class="check-label">Plan Especial Rótalo</span>
                          </div>
                        </div>
                      </div>
                      <div class="row margin-row">
                        <div class="check-offer">
                          <label for="checkTerms" class="material-checkbox container-check">
                            <input formControlName="check-authorization" type="checkbox" id="checkTerms"
                              name="check-authorization">
                            <span class="checkmark"></span>
                          </label>
                          <span class="check-label">Acepto términos y condiciones</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="btn-container">
                          <div class="btn-item">
                            <button class="gtmProductosSufiQuierMasInfoSimuEnviar">
                              Enviar
                            </button>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="errorSuccess" class="row">
                        <div class="error-message">
                          <p>Todos los campos son requeridos</p>
                        </div>
                      </div>

                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>


        <div class="tabla-container description mobile">
            <div class="flex">
                <h1>Descripción</h1>
                <div class="share">
                 <!--   <button class="share-button gtmComparteProducto" mat-button [matMenuTriggerFor]="menu">
                      <div class="ic_arrow_share"></div>
                      Compartir publicación
                    </button>-->
                    <mat-menu class="share-product" #menu="matMenu">
                      <div mat-menu-item>
                          <button mat-icon-button>
                              <div (click)="shareProduct('custom-modal-2' , products)" class="gtmComparteProductoRotalo ic_share_email"></div>
                           </button>
                           <button (click) = "sendMessageWhatsapp(products.id)" mat-icon-button>
                              <div class="ic_share_whatsapp"></div>
                           </button>
                      </div>
                    </mat-menu>
                </div>
            </div>
            <pre>{{products.description}}</pre>
        </div>
        <div *ngIf="products.immovable" class="tabla-container mobile">
            <h1>Características</h1>
            <table class="table-info">
              <tbody>
                <tr>
                  <td class=" ">
                    <div>
                      Antiguedad
                    </div>
                  </td>
                  <td class="">
                    <div>
                      <p *ngIf="products.immovable.antiquity">
                        {{products.immovable.antiquity}}
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class=" ">
                    <div>
                      Metros construidos
                    </div>
                  </td>
                  <td class="">
                    <div>
                      <p *ngIf="products.immovable.squareMeters">
                        {{products.immovable.squareMeters}} mts2
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class=" ">
                    <div>
                      Piso
                    </div>
                  </td>
                  <td class="">
                    <div>
                      <p *ngIf="products.immovable.floor">
                        {{products.immovable.floor}}
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class=" ">
                    <div>
                      Tipo de vendedor
                    </div>
                  </td>
                  <td class="">
                    <div>
                      <p *ngIf="products.immovable.sellerType">{{products.immovable.sellerType}}</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class=" ">
                    <div>
                      Habitaciones
                    </div>
                  </td>
                  <td class="">
                    <div>
                      <p *ngIf="products.immovable.rooms">{{products.immovable.rooms}}</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class=" ">
                    <div>
                      Baños
                    </div>
                  </td>
                  <td class="">
                    <div>
                      <p *ngIf="products.immovable.bathrooms">{{products.immovable.bathrooms}}</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class=" ">
                    <div>
                      Porteria
                    </div>
                  </td>
                  <td class="">
                    <div>
                      <p *ngIf="products.immovable.guardHouse">{{products.immovable.guardHouse}}</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class=" ">
                    <div>
                      Ascensor
                    </div>
                  </td>
                  <td class="">
                    <div>
                      <p *ngIf="!products.immovable.elevator">No</p>
                      <p *ngIf="products.immovable.elevator">Si</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class=" ">
                    <div>
                      Parqueadero
                    </div>
                  </td>
                  <td class="">
                    <div>
                      <p *ngIf="!products.immovable.parking">No</p>
                      <p *ngIf="products.immovable.parking">Si</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <h1>Características adicionales</h1>
            <table class="table-info">
              <tbody>
                <tr>
                  <td class=" ">
                    <div>
                      Valor de la administración
                    </div>
                  </td>
                  <td class="">
                    <div>
                      <p *ngIf="products.immovable.canonQuota">
                        {{products.immovable.canonQuota | currency:"$" | removeDigits}}
                      </p>
                      <p *ngIf="!products.immovable.canonQuota">
                        $ 0
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class=" ">
                    <div>
                      Metros 2 terreno
                    </div>
                  </td>
                  <td class="">
                    <div>
                      <p *ngIf="products.immovable.squareMetersTerrain">
                        {{products.immovable.squareMetersTerrain}} mts2
                      </p>
                      <p *ngIf="!products.immovable.squareMetersTerrain">
                        0 mts2
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class=" ">
                    <div>
                      Estrato
                    </div>
                  </td>
                  <td class="">
                    <div>
                      <p *ngIf="products.immovable.socialClass">
                        {{products.immovable.socialClass}}
                      </p>
                      <p *ngIf="!products.immovable.socialClass">
                        N/A
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class=" ">
                    <div>
                      Juegos infantiles
                    </div>
                  </td>
                  <td class="">
                    <div>
                      <p *ngIf="products.immovable.childishGames">Si</p>
                      <p *ngIf="!products.immovable.childishGames">No</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class=" ">
                    <div>
                      Cuarto útil
                    </div>
                  </td>
                  <td class="">
                    <div>
                      <p *ngIf="products.immovable.usefulRoom">Si</p>
                      <p *ngIf="!products.immovable.usefulRoom">No</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class=" ">
                    <div>
                      Piscina
                    </div>
                  </td>
                  <td class="">
                    <div>
                      <p *ngIf="products.immovable.pool">Si</p>
                      <p *ngIf="!products.immovable.pool">No</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class=" ">
                    <div>
                      Amoblado
                    </div>
                  </td>
                  <td class="">
                    <div>
                      <p *ngIf="products.immovable.fullyFurnished">Si</p>
                      <p *ngIf="!products.immovable.fullyFurnished">No</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div *ngIf="products.vehicle" class="tabla-container mobile">
            <h1>Características</h1>
            <table class="table-info">
              <tbody>
                <tr>
                  <td class=" ">
                    <div>
                      Marca/Modelo
                      <p *ngIf="products.vehicle.line">{{products.vehicle.line.brand.name}},
                        {{products.vehicle.line.name}}</p>
                    </div>
                  </td>
                  <td class="padding-cell-left middle-cell">
                    <div>
                      Año
                      <p *ngIf="products.model">{{products.model}}</p>
                    </div>
                  </td>
                  <td class="padding-cell-left">
                    <div>
                      Kilometraje
                      <p *ngIf="products.vehicle.mileage &&  products.vehicle.mileage != 0">{{products.vehicle.mileage |
                        currency:" " | removeDigits }} Km</p>
                      <p *ngIf="products.vehicle.mileage == 0">0 Km</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class=" ">
                    <div>
                      Color
                      <p *ngIf="products.vehicle.color">{{products.vehicle.color}}</p>
                    </div>
                  </td>
                  <td class="padding-cell-left middle-cell">
                    <div *ngIf="products.vehicle.gas">
                      Combustible
                      <p *ngIf="products.vehicle.gas">{{products.vehicle.gas}}</p>
                    </div>
                    <div *ngIf="products.vehicle.displacement">
                      Cilindraje
                      <p *ngIf="products.vehicle.displacement">{{products.vehicle.displacement}}</p>
                    </div>
                  </td>
                  <td class="padding-cell-left">
                    <div *ngIf="products.vehicle.vehicleType == 'AUTO'">
                      Tipo de Vehículo
                      <p *ngIf="products.typeVehicle">{{products.typeVehicle}}</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class=" ">
                    <div *ngIf="products.vehicle.vehicleType == 'AUTO'">
                      Placa
                      <p *ngIf="products.vehicle.licensePlate">*****{{products.vehicle.licensePlate}}</p>
                    </div>
                  </td>
                  <td class="padding-cell-left middle-cell">
                    <div *ngIf="products.vehicle.vehicleType == 'AUTO'">
                      Transmisión
                      <p *ngIf="products.vehicle.transmission">{{products.vehicle.transmission}}</p>
                    </div>
                  </td>
                  <td class="padding-cell-left">
                    <div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <h1 *ngIf="motoHasCharacteristics() || autoHasCharacteristics()">Características adicionales</h1>
            <div class="additional-info">
              <div *ngIf="products.vehicle.airbag && products.vehicle.vehicleType == 'AUTO'" class="additional-container">
                <div class="img-airbag additional-img"></div>
                <div class="additional-text">Airbag</div>
              </div>
              <div *ngIf="products.vehicle.absBrakes" class="additional-container">
                <div class="img-frenos additional-img"></div>
                <div class="additional-text">Frenos ABS</div>
              </div>
              <div *ngIf="products.vehicle.airConditioner && products.vehicle.vehicleType == 'AUTO'"
                class="additional-container">
                <div class="img-aire additional-img"></div>
                <div class="additional-text">Aire acondicionado</div>
              </div>
              <div *ngIf="products.vehicle.typeOfSeat && products.vehicle.vehicleType == 'AUTO'"
                class="additional-container">
                <div class="img-material additional-img"></div>
                <div *ngIf="products.vehicle.typeOfSeat == 'CUERO'" class="additional-text">Material Cuero</div>
                <div *ngIf="products.vehicle.typeOfSeat == 'TELA'" class="additional-text">Material Tela</div>
              </div>
              <div *ngIf="products.vehicle['uniqueOwner']" class="additional-container">
                <div class="img-unico additional-img"></div>
                <div class="additional-text">Único dueño</div>
              </div>
            </div>
        </div>
        <div class="info-section">
          <div class="product-info-user">
            <div class="info-container">
              <div class="media-middle">
                <div *ngIf="!products.user.photos && products.user.company" class="product-info-user--icon" [ngStyle]="{'background-color':products.user.company.colour}">
                  <span class="icon-account"></span>
                </div>
                <div *ngIf="products.user.photos" class="photo-user">
                  <div [ngStyle]="{'background-image': getUrlImge()}" class="thumbnail-img"></div>
                </div>
              </div>
              <div *ngIf="products.user.company" class="media-middle product-info-user--data">
                <p class="name-user">{{products.user.name}}</p>
                <p class="panel-product color-company">
                  <!--{{products.user.company.name}}
                  - -->
                  {{products.user.company.community.name}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="location">
          <span class="icon icon-location"></span>
          <span>{{getLocation(products)}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

