<div class="upload-products">
    <div class="title">
      <p>Carga de productos</p>
    </div>
    <div class="container">
      <div class="steps">

        <div class="card">
          <div>
              <div class="number-steps">
                  <p>Sube tus productos en 3 pasos</p>
              </div>
              <ul class="order">
                  <div class="steps-info">
                    <li>
                      <div class = "item">
                          <span>1.</span>
                          <a href="www.google.com" mat-button download>Descarga la plantilla</a>
                      </div>
                    </li>
                    <li>
                        <div class = "item">
                          <span>2.</span>
                          <button mat-button>Adjunta el archivo</button>
                        </div>
                        <div class = "item-check ">
                          <div class="check"></div>
                          <p>Archivo adjunto</p>
                        </div>
                    </li>
                    <li>
                        <div class = "item">
                            <span>3.</span>
                       <image-upload id="image-upload" #imageInput [preview]="false"
                            [extensions]="['jpeg','png', 'jpg', 'webp']" [buttonCaption]="'Seleccionar imágenes'"
                            [dropBoxMessage]="'Arrastra tus imágenes aquí!'" [clearButtonCaption]="'Limpiar'"
                            [style]="customStyleImageLoader" (uploadFinished)="onUploadImageFinished($event)">
                          </image-upload>
                         <input type="file" (change)="onFileChanged($event)" multiple accept='image/*' multiple>
                          <button (click) = "uploadFiles(imageInput)" mat-button>Selecciona la url de las fotos</button>
                        </div>
                        <div class = "item-check ">
                            <div class="check"></div>
                            <p>Archivo adjunto</p>
                        </div>
                    </li>
                    <li>
                      <button mat-flat-button color="primary">Finalizar carga</button>
                    </li>
                  </div>
              </ul>
          </div>
        </div>

        <div class="historical-table">
          <div class="sub">Historial de archivos cargados</div>
          <div class="table">
              <table>
                  <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th class="center max-table">Productos Aprobados</th>
                    <th class="center max-table">Productos Rechazados</th>
                  </tr>
                  <tr *ngFor="let historicalProduct of historicalProducts">
                    <td>
                      <p>{{historicalProduct.nombreArchivo}}</p>
                    </td>
                    <td>
                      <p>{{formatDate(historicalProduct.fecha)}}</p>
                    </td>
                    <td>
                      <p>
                        {{historicalProduct.estado}}
                      </p>
                    </td>
                    <td class="center max-table">
                      <p>
                        {{historicalProduct.productosAprobados}}
                      </p>
                    </td>
                    <td class="center max-table">
                      <p>{{historicalProduct.productosRechazados}}</p>
                    </td>
                    <td *ngIf="historicalProduct.urlLog" class="download-container">
                      <!--download-->
                      <a [href]="historicalProduct.urlLog" target="_blank" download>Descargar informe de errores</a>
                    </td>
                  </tr>
              </table>
              <div class="download-container">
                <div (click)="refreshRegister()" class="circle">
                  <div class="icon-refresh"></div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="detail-info">
        <div class="msg-process">
          <div class="icon-load"></div>
          <div class="msg">
            <div class="first">
              <p>En proceso</p>
            </div>
            <div class="second">
              <p>Esto tardará unos segundos…</p>
            </div>
          </div>
        </div>

        <div class="msg-process">
            <div class="icon-error"></div>
            <div class="msg">
              <div class="first">
                <p>¡Hubo un error!</p>
              </div>
              <div class="second">
                <p>Tu archivo presenta algunos errores.</p>
              </div>
            </div>
        </div>

        <div class="msg-process">
            <div class="icon-check-upload"></div>
            <div class="msg">
              <div class="first">
                <p>¡Perfecto!</p>
              </div>
              <div class="second">
                <p>Tu archivo se cargo satisfactoriamente.</p>
              </div>
            </div>
        </div>

        <div class="error-container">
          <p>El nombre del archivo no es permitido.</p>
        </div>
      </div>
    </div>
  </div>
