:host {
  width: 82%;
  padding: 45px 5% 70px 2%;
  position: relative;
  background-color: #FAFAFA;

  .flex {
    display: flex;
    flex-wrap: wrap;
  }

  .upload-products {
    width: 100%;

    .title {
      font-size: 2.0rem;
      color: #272727;
      font-weight: bold;
      margin-bottom: 40px;
    }

    .container {
      display: flex;
      color: #707070;
      font-size: 1.6rem;
      align-items: flex-start;

      .steps {
        width: 75%;
        margin-right: 10px;

        .card {
          padding: 19px 21px 0px 21px;
          background-color: #FFFFFF;
          min-height: 132px;
          margin-bottom: 44px;
        }

        .sub-title {
          margin-bottom: 26px;

          p {
            color: #333333;
            font-size: 1.6rem;
          }
        }

        .order {
          padding: 0px;
          display: flex;
          padding-bottom: 23px;
          margin-top: 15px;

          .steps-info {
            display: flex;
            width: 100%;
            justify-content: space-between;

            li {
              color: #333333;
              font-size: 1.6rem;
              font-weight: bold;

              // width: 100%;
              .item-check {
                font-size: 1.2rem;
                font-weight: bold;
                color: #383838;

                .check {
                  width: 20px;
                  height: 20px;
                  background: url(../../../assets/img/iconos/upload-check.svg);
                  background-size: 20px 20px;
                  margin: 0 auto;
                  margin-right: 5px;
                }

                p,
                .check {
                  display: inline-block;
                  vertical-align: middle;
                }
              }

              .mat-button {
                font-weight: normal;
                color: #0FBBD8;
                font-size: 1.4rem;
                font-family: 'Lato Regular';
              }

              .mat-flat-button {
                margin: 0 auto;
                border-radius: 22px;
                background-color: #FF3646;
                color: #FFFFFF;
                font-size: 1.6rem;
                font-family: 'Lato Regular';
                min-width: 100px;

                &:hover {
                  background-color: #bf111c;
                }
              }

              .mat-flat-button[disabled][disabled] {
                color: #FFFFFF;
                background-color: #D1D1D1;
                cursor: not-allowed;
              }

            }
          }
        }

        .historical-table {
          .sub {
            color: #333333;
            font-size: 1.6rem;
            font-weight: bold;
            margin-bottom: 1.4rem;
          }

          .table {
            width: 100%;
            padding: 5px 0 10px 10px;
            background-color: white;
            overflow: auto;
            height: 550px;

            table {
              color: #333333;
              font-size: 1.4rem;

              th {
                font-weight: bold;
                text-align: left;
              }

              td,
              th {
                padding: 5px 10px;
              }

              .center {
                text-align: center;
              }

              .max-table {
                max-width: 140px;
              }
            }
          }

          .table::-webkit-scrollbar {
            transition: all 0.5s;
            width: 5px;
            height: 1px;
            border-radius: 4px;
            z-index: 10;
          }

          .table::-webkit-scrollbar-track {
            background: transparent;
          }

          .table::-webkit-scrollbar-thumb {
            background: #CBCBCB;
            border-radius: 4px;
          }

        }

        .download-container {
          width: 100%;
          text-align: right;
          padding-right: 10px;
          a {
            color: #0FBBD8;
            font-size: 1.4rem;
            text-decoration: underline;
            cursor: pointer;
          }

          .circle {
            background-color: #0FBBD8;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            position: relative;
            margin: 0 10px;

            .icon-refresh {
              width: 18px;
              height: 18px;
              background: url(../../../assets/img/iconos/refresh.svg) no-repeat;
              background-size: contain;
              background-position: center;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }

        .text-left.download-container {
          text-align: left;
        }

      }

      .detail-info {
        width: 25%;
        background-color: #FFFFFF;
        padding: 24px 12px 0 12px;
        min-height: 132px;

        .msg-process {
          display: flex;

          .icon-load {
            width: 60px;
            height: 60px;
            background: url(../../../assets/img/loading.gif) no-repeat;
            background-size: contain;
            background-position: center;
            margin-right: 10px;
          }

          .icon-error {
            width: 60px;
            height: 60px;
            background: url(../../../assets/img/error.svg) no-repeat;
            background-size: contain;
            background-position: center;
            margin-right: 10px;
          }

          .icon-check-upload {
            width: 60px;
            height: 60px;
            background: url(../../../assets/img/check-upload.svg) no-repeat;
            background-size: contain;
            background-position: center;
            margin-right: 10px;
          }

          .msg {
            color: #383838;

            .first {
              font-weight: bold;
              font-size: 1.8rem;
            }

            .second {
              font-size: 1.6rem;
            }
          }
        }

        .error-container {
          width: 100%;
          margin-top: 10px;
          margin-bottom: 20px;

          p {
            color: #FF3646;
            font-size: 1.4rem;
            padding: 5px 0;
            word-break: break-word;
          }
        }
      }
    }
  }

  .contact {
    display: flex;
    margin-bottom: 18px;

    a {
      font-weight: bold;
      font-size: 1.6rem;
      color: #272727;
      text-decoration: underline;
    }
  }

  .info-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .text-label {
    color: #414141;
    font-size: 1.6rem;
  }

  .icon-label {
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .icon-shopping-car {
    background: url(../../../assets/img/iconos/ic_local_shipping_24px.svg) no-repeat;
    background-size: contain;
    background-position: center;
  }

  .icon-watch {
    background: url(../../../assets/img/iconos/ic_history_24px.svg) no-repeat;
    background-size: contain;
    background-position: center;
  }

  .icon-bank {
    background: url(../../../assets/img/iconos/ic_bancolombia.svg) no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }

  .upload-products .container .steps .card.animate-loading,
  .upload-products .container .detail-info.animate-loading {
    background-color: #E3E3E3;
  }

  .animate-loading {
    -webkit-animation: loadAnimation 3s infinite;
    -moz-animation: loadAnimation 3s infinite;
    -o-animation: loadAnimation 3s infinite;
    animation: loadAnimation 3s infinite;
  }

  image-upload {
    display: none;
  }
}


@media screen and (max-width: 1249px) {
  :host {
    .upload-products .container {
      flex-direction: column;
    }

    .upload-products .container .steps {
      width: 100%;
      margin: 0px;
    }

    .upload-products .container .steps {
      margin-bottom: 10px;
    }

  }
}

@media screen and (max-width: 760px) {
  :host {
    padding: 20px 0% 0px 0%;

    .upload-products .container .steps {
      padding: 13px 0px 0px 0px;
    }

    .upload-products .container .steps .number-steps p {
      font-size: 1.6rem;
    }

    .upload-products .container .steps .order .first .thumb {
      width: 71.13px;
      min-width: 71.13px;
      height: 71.13px;
    }

    .upload-products .container .steps .order .first~.steps-info {
      flex-direction: column;
    }

    .upload-products .container .steps .order .steps-info {
      font-size: 1.4rem;
    }

    .upload-products .container .steps .order .steps-info li {
      padding: 10px 0px 0px 10px;
    }

    .upload-products .container .steps .order .total-product {
      font-size: 1.6rem;
      color: #383838;
      text-align: right;

      span {
        display: inline;
        font-weight: normal;
      }

      span:first-child {
        font-weight: bold;
      }
    }

    .flex {
      flex-direction: column;
    }

    .text-label {
      font-size: 1.4rem;
    }

  }
}

@keyframes loadAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes loadAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes loadAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loadAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
