@import "../../styles/settings/colors.scss";
@import "../../styles/settings/variables.scss";
:host {
  display: block;
  //background-color: #ED2F3C;
  background-color: orange;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  border-color: #d61320;
  .container {
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
    @media #{$medium-max} {
      width: 90%;
      ;
    }
  }
  .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    back-arrow {
      margin-right: 1rem;
    }
    .upload-offer-button {
      display: inline-block;
      vertical-align: middle;
      .outside-circle {
        padding: 5px;
        display: table-cell;
        vertical-align: middle;
        background-color: #CD0E2E;
        color: white;
        height: 50px;
        width: 190px;
        border-radius: 30px 30px 30px 30px;
        .inside-circle {
          display: inline-flex;
          vertical-align: middle;
          padding: 9px 6px;
          height: 4rem;
          width: 4rem;
          background-color: $blue;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          span {
            font-size: 25px;
          }
        }
        label {
          vertical-align: middle;
          margin-left: 16px;
          cursor: pointer;
          font-weight: normal;
          font-size: 20px;
          margin-bottom: 0px;
        }
      }
    }
    .navbar-brand {
      width: 130px;
      cursor: pointer;
      margin-right: 8%;
      img {
        height: auto;
        width: 100%;
      }
    }
    .list-options {
      display: flex;
      color: white;
      li {
        font-size: 2.5rem;
        a {
          cursor: pointer;
          color: white;
        }
        .icon-message,
        .icon-rotalo {
          position: relative;
        }
        .icon-rotalo {
          display: block;
          width: 27px;
          height: 27px;
          background-image: url(../../assets/img/rotalo-center.svg);
          background-size: 27px 27px;
        }
        .noti-circle {
          position: absolute;
          background-color: $blue;
          top: 10px;
          right: -10px;
          border-radius: 50%;
          font-size: 13px;
          height: 20px;
          width: 20px;
          display: flex;
          justify-content: center;
          font-family: "Abel", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-weight: bold;
          align-items: center;
        }
      }
      li:not(:last-child) {
        margin-right: 5rem;
      }
    }
  }
  .perfil-container {
    position: relative;
    .dropdown-menu {
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 1000;
      float: left;
      min-width: 14rem;
      padding: .5rem 0;
      margin: .125rem 0 0;
      font-size: 2rem;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      transition: all 0.3s ease;
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
      -webkit-transform: scale(0);
      transform: scale(0);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    }
    .dropdown-menu--show {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    .dropdown-item {
      display: block;
      width: 100%;
      padding: .25rem 1.5rem;
      clear: both;
      font-weight: 400;
      font-size: 2rem;
      color: #9B9B9B;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      &:hover {
        background: #ebebeb;
        color: #CD0E2E;
      }
    }
  }
  .icon-account {
    cursor: pointer;
  }
}

@media screen and (max-width: 930px) {
  :host {
    .navbar-header {
      .list-options {
        li:not(:last-child) {
          margin-right: 3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  :host {
    .container-offer {
      position: fixed;
      bottom: 3rem;
      right: 3rem;
      z-index: 99999;
      .upload-offer-button {
        .outside-circle {
          width: auto;
          background-color: transparent;
          .inside-circle {
            width: 5rem;
            height: 5rem;
          }
          label {
            display: none;
          }
        }
      }
    }
    .navbar-header {
      padding: 2rem 0;
      .navbar-brand {
        width: 20%;
        min-width: 8rem;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  :host {
    .container {
      width: 95%;
    }
    .navbar-header {
      back-arrow {
        width: 3rem;
        height: 3rem;
      }
      .list-options {
        padding-left: 10px;
        li {
          font-size: 2rem;
        }
        li:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }
}
