@import "../../styles/settings/colors.scss";
@import "../../styles/settings/variables.scss";

:host{
    display: block;
    background-color: #ED2F3C;
    border-color: #d61320;
    .container {
        width: 98%;
        max-width: 1200px;
        margin: 0 auto;
        @media #{$medium-max} {
            width: 90%;;
        }
    }
    .navbar-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .upload-offer-button{
            .outside-circle{
                padding: 5px;
                display: table-cell;
                vertical-align: middle;
                background-color: #CD0E2E;
                color: white;
                height: 50px;
                width: 190px;
                border-radius: 30px 30px 30px 30px;
                .inside-circle {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 9px 6px;
                    height: 40px;
                    width: 40px;
                    background-color: #41b5cb;
                    border-radius: 20px 20px 20px 20px;
                    span {
                        font-size: 25px;
                    }
                }
                label {
                    vertical-align: middle;
                    margin-left: 16px;
                    cursor: pointer;
                    font-weight: normal;
                    font-size: 20px;
                    margin-bottom: 0px;
                }
            }
            @media #{$medium-max} {
                display: none;
            }
        }
        .navbar-brand {
            width: 130px;
            img{
                height: auto;
                width: 130px;
            }            
        }
        .list-options{
            display: flex;
            color: white;            
            
            li{
                font-size: 2.5rem;
            }
            li:not(:last-child){
                margin-right: 5rem;
            }
        }
    }
    
}
