<div class="md-overlay-promo"></div>
<nav>
  <div class="container">
    <div class="navbar-header material-design form-theme">
      <div class="divisor-left">
        <back-arrow class="white" *ngIf="!hideBackArrow"></back-arrow>
        <a class="gtmLogoRotalo navbar-brand" (click)="goToHome()">
          <img class="gtmLogoRotalo" src="./assets/img/logo-red.svg" alt="brand">
          <h1 class="sr-only">rótalo</h1>
        </a>
        <div *ngIf="showOptions" class="search-container desktop">
          <form (ngSubmit)="onSubmitSearch()">
            <input [(ngModel)]="tags" class="form-control" type="text" name="search">
            <button class="button-search" type="submit">
              <div class="search-icon">
              </div>
            </button>
          </form>
        </div>

      </div>
      <div class="divisor-right">
        <ul class="list-options">
          <li *ngIf="showOptions" class="desktop">
            <a class="gtmCategorias categories" #closeMenu (click)="openCategories($event)">
              <span>
                Categorías
              </span>
            </a>
          </li>
          <li *ngIf="showOptions" class="desktop">
            <div class="toolbar__filters">
              <div class="select-community">
                <select name="community" (change)="changeSelectComunidad($event)">
                  <option selected value disabled>Comunidades</option>
                  <option value="-1">Todas</option>
                  <option *ngFor="let community of communities" value="{{community.id}}">{{community.nombre}}
                </select>
              </div>
            </div>
          </li>
          <li class="gtmCentroRotalo rotalo-center">
            <a (click)="initScrollProduct()" [routerLink]="rotaloCenter" [ngClass]="{active: isActive('rotalo-center')}">
              <span class="gtmCentroRotalo text-rotalo">
                Centro Rótalo
                <span *ngIf="messageAvailable" class="noti-circle">{{messagesUnRead}}</span>
              </span>
              <span class="gtmCentroRotalo icon-rotalo">
                <span *ngIf="messagesUnRead && messagesUnRead > 0" class="noti-circle">{{messagesUnRead}}</span>
              </span>
            </a>
          </li>
          <li class="perfil-container gtmPerfil">
            <div [ngClass]="{active: isActive('profile')}" (click)="onActivateMenu()" class="container-perfil">
              <span class="gtmPerfil icon-account-header">
              </span>
              <p>Perfil</p>
              <span *ngIf="hobbyNotification" class="noti-circle">1</span>
            </div>
            <div [ngClass]="{'dropdown-menu--show': showDropdownMenu}" class="dropdown-menu">
              <button (click)="onActivateMenu(); initScrollProduct()" [routerLink]="rotaloProfile" class="dropdown-item">Perfil</button>
              <button (click)="onLogout()" routerLink="/login" class="dropdown-item">Cerrar Sesión</button>
            </div>
          </li>
          <li *ngIf="isBancolombiaShop" (click)="goToShoppingCar()" class="car-container cart-active">
            <div [ngClass]="{active: isActive(rotaloCart)}" class="container-car">
              <span class="icon-shopping-car">
              </span>
              <p>Carrito</p>
              <span *ngIf="isBancolombiaShop && cartAvailable" class="noti-circle">{{totalCart}}</span>
            </div>
          </li>

          <li (click)="goToNotifications();" class="mobile-notification bell-container">
            <div class="container-bell">
              <span class="icon-bell">
              </span>
            </div>
          </li>
          <li class="desktop-notification bell-container">
            <div (click)="loadNotifications()" [matMenuTriggerFor]="appMenu" class="container-bell">
              <span  class="icon-bell">
              </span>
            </div>
            <mat-menu xPosition="before" #appMenu="matMenu">
              <notifications-component (click)="$event.stopPropagation();"></notifications-component>
            </mat-menu>
          </li>

        </ul>
        <div class="flexbox center-center">
          <div [ngClass]="isBancolombiaShop?  'disabled': '' " class="container-offer">
            <a (click)="initScrollProduct(); goToUploadProduct()" class="upload-offer-button">
              <div class="gtmSubeTuOferta outside-circle">
                <div class="gtmSubeTuOferta inside-circle">
                  <span>+</span>
                </div>
                <label class="gtmSubeTuOferta">Subir oferta</label>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="back-categories" (click)="_closeMenu()" id="back-categories"></div>
  <categories-menu #categoriesMenu (categorySelected)="selectedCategory($event)" (subCategorySelected)="selectedSubCategory($event)"
    (closeMenu)="_closeMenu()"></categories-menu>
</nav>
<div *ngIf="showOptions" class="navbar-header material-design form-theme toolbar">
  <div class="toolbar-container">
    <div class="divisor-left">
      <div class="search-container">
        <form (ngSubmit)="onSubmitSearch()">
          <input [(ngModel)]="tags" class="form-control" type="text" name="search">
          <button class="button-search" type="submit">
            <div class="search-icon">
            </div>
          </button>
        </form>
      </div>
    </div>
    <div class="divisor-right mobile">
      <ul class="list-options">
        <li>
          <div class="toolbar__filters">
            <div class="select-community">
              <select name="community" (change)="changeSelectComunidad($event)">
                <option selected value disabled>Comunidades</option>
                <option value="-1">Todas</option>
                <option *ngFor="let community of communities" value="{{community.id}}">{{community.nombre}}
              </select>
            </div>
          </div>
        </li>
        <li>
          <a class="gtmCategorias categories" #closeMenu (click)="openCategories($event)">
            <span>
              Categorías
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
