<modal-message *ngIf="isModalMessageShowed" (close)="closeModalMessage()"></modal-message>
<nav>
  <div class="container">
    <div class="navbar-header">
      <div class="flexbox center-center">
        <back-arrow class="white" *ngIf="!hideBackArrow"></back-arrow>
        <div class="container-offer">
          <a class="upload-offer-button" routerLink="/products/form">
            <div class="gtmSubeTuOferta outside-circle">
              <div class="gtmSubeTuOferta inside-circle">
                <span class="gtmSubeTuOferta icon-tag"></span>
              </div>
              <label class="gtmSubeTuOferta">Sube tu oferta</label>
            </div>
          </a>
        </div>
      </div>
      <a class="gtmLogoRotalo navbar-brand" (click)="goToHome()">
        <img class="gtmLogoRotalo" src="./assets/img/logo-white.svg" alt="brand">
        <h1 class="sr-only">rótalo</h1>
      </a>
      <ul class="list-options">
        <li class="gtmNotificaciones">
          <a [routerLink]="notificationsRoute">
            <span class="gtmNotificaciones icon-ring">
              <span *ngIf="notificationsAvailable" class="noti-circle">{{notificationsUnread}}</span>
            </span>
          </a>
        </li>
        <li class="gtmPerfil" routerLink="/profile/show">
          <a ui-sref="profile.show">
            <span class="gtmPerfil icon-account"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
