<div class="info-container">
    <div class="tittle main-title">
      <h1 class="text ">Configuración</h1>
    </div>
    <div class="container container--app">
        <div id="flashMessage" class="flashMessage">
          <div *ngIf="messageChange && !errorChange" class="alert alert-success text--center" role="success">
            <p>
              <span class="icon-check alert-icon"></span> {{messageChange}}</p>
          </div>
          <div *ngIf="errorChange && !messageChange" class="alert alert-danger" role="alert">
            <ul>
              <li>
                <span>{{errorChange}}</span>
              </li>
            </ul>
          </div>
        </div>
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <ul class="notifications-settings__list">
            <li class="notifications-settings__item" *ngFor="let categories of preferenceOptions | groupBy:'category'">
              <span class="icon icon-mail notifications-settings__icon"></span>
              <div class="notifications-settings__info">
                <label for="" class="uppercase">{{categories.key}}</label>
                <div class="checkbox custom-control custom-checkbox" *ngFor="let preference of categories.value; let i = index">
                  <div>
                    <label>
                      <input (click) = "activateButton()" [(ngModel)]="preferencesArray[preference.key]" name="{{preference.key}}" type="checkbox">
                      <span class="custom-control-indicator custom-control-indicator--top">
                      </span>
                      {{preference.label}}
                    </label>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="btn-notificationes">
            <custom-button [disabled]="disableButton" type="submit" text="Guardar Cambios"></custom-button>
          </div>
        </form>
      </div>
</div>
