<div class="container-product" *ngIf="product" #containerProducts>
  <a class="gtmProductosSufiVerDetalle" onclick="return false;" [href]="getUrlProduct(product)">
    <div (click)="selectProduct($event)" [ngClass]="isProductSelling || isProductSold? 'opacity-container' : ''" class="gtmProductosSufiVerDetalle container-photo">
      <!--<img [src]="product.photos.url" [alt]="product.name">-->
      <img class="gtmProductosSufiVerDetalle" (load)="triggerMasonryLayout()" *ngIf="!product.product_photo_url" [src]="defaultImage" [alt]="product.product_name" (error)="updateSrc($event)">
      <img class="gtmProductosSufiVerDetalle" (load)="triggerMasonryLayout()" *ngIf="product.product_photo_url" [src]="product.product_photo_url" [alt]="product.product_name"
        (error)="updateSrc($event)">
      <!--<img [src]="product.photos.url || product.photos[0].url" [alt]="product.name">-->
    </div>
    <div class="gtmProductosSufiVerDetalle container-name">
      <!--
      <div (click)="shareProduct('custom-modal-2')" *ngIf="!isProductSelling  && !isProductSold" class="gtmCompartirProducto icon-share-container">
        <div class="gtmCompartirProducto icon-share">
        </div>
      </div>
      -->
      <span (click)="selectProduct($event)" class="gtmProductosSufiVerDetalle name">{{product.product_name}}</span>
    </div>
    <div class="product-info gtmProductosSufiVerDetalle" (click)="selectProduct($event)">
      <div [ngClass]="showField ? '' : 'border-price'" class="gtmProductosSufiVerDetalle container-price">
        <div class="price-container">
          <div>
            <span *ngIf="product.product_price != 0 && product.product_currency == 'GTQ'" class="gtmProductosSufiVerDetalle name">{{product.product_price | currency:"Q" | removeDigits}}</span>
            <span *ngIf="product.product_price != 0 && product.product_currency != 'GTQ' && idCountry == 9" class="gtmProductosSufiVerDetalle name">{{product.product_price | currency:"$" | removeDigits}}</span>
            <span *ngIf="product.product_price != 0 && product.product_currency != 'GTQ' && idCountry == 1" class="gtmProductosSufiVerDetalle name">{{product.product_price | currency:"$" | removeDigits}}</span>
            <span *ngIf="product.product_price == 0" class="gtmProductosSufiVerDetalle name">Gratis</span>
          </div>
          <div *ngIf="product.product_old_price && product.product_old_price != product.product_price" class="gtmProductosSufiVerDetalle low-price">
            <span class="gtmProductosSufiVerDetalle">{{product.product_old_price | currency:"$" | removeDigits}}</span>
          </div>
        </div>
      </div>
      <div *ngIf="product.product_city_name && product.product_state_name" class="gtmProductosSufiVerDetalle item__location">
        <div (click)="selectProduct($event)"  class="location">
            <span class="icon-location"></span>
            <span class="gtmProductosSufiVerDetalle">{{product.product_city_name}}, {{product.product_state_name}}</span>
        </div>
        <div (click)="checkLike()" class="heart-container">
            <div [ngClass]="likeSelected ? 'active' : ''" class="heart"></div>
            <span>
                {{kFormatter()}}
            </span>
          </div>
      </div>
    </div>
  </a>
</div>

