::ng-deep.mat-dialog-container {
  border-radius: 12px !important;
}

::ng-deep.alert-class {
  .mat-dialog-container {
    background: url(../../assets/img/sufi.png) no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: none;
  }
}

::ng-deep.mat-dialog-content {
  min-height: 250px;
}

.modal-container {
  width: 100%;
  padding-top: 20px;
  position: relative;
  cursor: pointer;
  .close {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url(../../assets/img/icon_close_detalle.svg) no-repeat;
    background-size: contain;
    margin-top: 0px;
    top: -12px;
    right: -10px;
    &:hover {
      background: url(../../assets/img/icon_close_detalle_hover.svg) no-repeat;
      background-size: contain;
    }
  }
}


@media screen and (max-width: 900px) {
  ::ng-deep.alert-class {
    .mat-dialog-container {
      background: url(../../assets/img/sufi_mobile.png) no-repeat;
      background-size: contain;
    }
  }

  ::ng-deep.mat-dialog-content {
    min-height: 290px;
  }

  ::ng-deep.cdk-overlay-pane.alert-class {
    width: 300px !important;
  }

  .modal-container .close {
    top: 6px;
    right: 3px;
  }

}
