<div (click)="openSearch()" [ngClass]="showSearchMobile ?  'show ': '' " class="md-overlay-promo"></div>
<nav>
    <div class="container">
      <div class="navbar-header material-design form-theme">
        <div class="divisor-left">
          <back-arrow  *ngIf="!hideBackArrow"></back-arrow>
          <a class="navbar-brand" (click)="goToHome()">
            <img  src="./assets/img/logo-red.svg" alt="brand">
            <h1 class="sr-only">rótalo</h1>
          </a>
          <div class="search-container desktop">
            <form (ngSubmit)="onSubmitSearch()">
              <input [formControl]="queryField"  class="form-control" type="text" name="search">
              <button class="button-search" type="submit">
                <div class="search-icon">
                </div>
              </button>
            </form>
          </div>
        </div>

        <div class="divisor-right">
          <ul class="list-options">
              <li (click)="openSearch()" class="mobile-search bell-container">
                  <div class="container-bell">
                    <span class="search-icon-dark">
                    </span>
                  </div>
                </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="search" [ngClass]="showSearchMobile ?  'show ': '' ">
        <div class="search-container-mobile">
          <div (click)="openSearch()" class="back-arrow"></div>
          <form class="form-theme" (ngSubmit)="onSubmitSearch()">
            <input placeholder="¿Qué estás buscando?"  [formControl]="queryField"
              class="form-control" type="text" name="search">
            <button class="button-search" type="submit">
              <div class=" search-icon-dark">
              </div>
            </button>
          </form>
        </div>
      </div>
  </nav>
