<div class="info-container">
    <div class="title main-title">
      <h1 class="text ">Banners home</h1>
    </div>
    <div id="flashMessage" class="flashMessage">
        <div *ngIf="successChange" class="alert alert-success text--center" role="success">
          <p>
            <span class="icon-check alert-icon"></span>Tus banners se actualizaron exitosamente.</p>
        </div>
        <div *ngIf="errorChange" class="alert alert-danger" role="alert">
          <ul>
            <li>
              <span>{{errorChange}}</span>
            </li>
          </ul>
        </div>
    </div>
    <div class="form-container">
      <form class="form-theme">
        <div class="material-design">
          <div class="row">
            <div class="dynamic-container">
                <div class="subtitle">
                    <a>Añade las imágenes del home de tu tienda</a>
                </div>
                <div class="info">
                    <p>Está será la vitrina de tu negocio, sube fotos profesionales y con poco texto. (Válido formato .jpg
                      .png o .gif)</p>
                </div>
                <div>
                    <div class="row">
                        <div class="images-container full">
                          <div class="container-prev-photos">
                            <div class="grid-wrapper">
                              <div id="grid-holder-principal" class="grid-holder">
                                <div class="item place-holder logo">
                                  <div id='photo-principal' class="item-content">
                                    <div
                                      class="container-img">
                                      <div (click)="onRemovePreviewImage(imageInputDesktop, 'desktop')" class="remove-action">
                                        <span class="icon-close"></span>
                                      </div>
                                      <img class="imagenUpload" [src]="">
                                    </div>

                                    <image-upload id="image-upload-desktop-principal" [max]="1" #imageInputDesktop [preview]="false"
                                      [extensions]="['jpeg', 'jpg','png', 'gif']" [buttonCaption]="'Seleccionar imágenes'"
                                      [dropBoxMessage]="'Arrastra tus imágenes aquí!'" [clearButtonCaption]="'Limpiar'" [style]="customStyleImageLoader"
                                      (uploadFinished)="onUploadImageFinished($event, 'desktop')">
                                    </image-upload>

                                    <div class="container-wrapper" (click)="uploadFiles(imageInputDesktop)" (drop)="onDrop($event, imageInputDesktop)"
                                      (dragover)="onDragOver($event, imageInputDesktop)">
                                      <div class="wrapper">
                                        <div class="icon-camera"></div>
                                        <p>
                                          Agregar
                                        </p>
                                      </div>
                                    </div>
                                    <div class="title-first">Logotipo</div>
                                    <div class="title-first">300 x 300 px</div>
                                  </div>
                                </div>
                                <div class="item place-holder">
                                  <div id='photo2-principal' class="item-content">
                                    <div class="container-img">
                                      <div (click)="onRemovePreviewImage(imageInputMobile, 'mobile')" class="remove-action">
                                        <span class="icon-close"></span>
                                      </div>
                                      <img class="imagenUpload" [src]="">
                                    </div>
                                    <image-upload id="image-upload-mobile-principal" [max]="1" #imageInputMobile [preview]="false"
                                      [extensions]="['jpeg', 'jpg', 'png', 'gif']" [buttonCaption]="'Seleccionar imágenes'"
                                      [dropBoxMessage]="'Arrastra tus imágenes aquí!'" [clearButtonCaption]="'Limpiar'" [style]="customStyleImageLoader"
                                      (uploadFinished)="onUploadImageFinished($event, 'mobile')">
                                    </image-upload>
                                    <div class="container-wrapper" (click)="uploadFiles(imageInputMobile)" (drop)="onDrop($event, imageInputMobile)"
                                      (dragover)="onDragOver($event, imageInputMobile)">
                                      <div class="wrapper">
                                        <div class="icon-camera"></div>
                                        <p>
                                          Agregar
                                        </p>
                                      </div>
                                    </div>
                                    <div class="title-first">Banner versión desktop</div>
                                    <div class="title-first">1000 px X 300 px</div>
                                  </div>
                                </div>
                                <div class="item place-holder">
                                    <div id='photo2-principal' class="item-content">
                                      <div class="container-img">
                                        <div (click)="onRemovePreviewImage(imageInputMobile, 'mobile')" class="remove-action">
                                          <span class="icon-close"></span>
                                        </div>
                                        <img class="imagenUpload" [src]="">
                                      </div>
                                      <image-upload id="image-upload-mobile-principal" [max]="1" #imageInputMobile [preview]="false"
                                        [extensions]="['jpeg', 'jpg', 'png', 'gif']" [buttonCaption]="'Seleccionar imágenes'"
                                        [dropBoxMessage]="'Arrastra tus imágenes aquí!'" [clearButtonCaption]="'Limpiar'" [style]="customStyleImageLoader"
                                        (uploadFinished)="onUploadImageFinished($event, 'mobile')">
                                      </image-upload>
                                      <div class="container-wrapper" (click)="uploadFiles(imageInputMobile)" (drop)="onDrop($event, imageInputMobile)"
                                        (dragover)="onDragOver($event, imageInputMobile)">
                                        <div class="wrapper">
                                          <div class="icon-camera"></div>
                                          <p>
                                            Agregar
                                          </p>
                                        </div>
                                      </div>
                                      <div class="title-first">Banner versión mobile</div>
                                    <div class="title-first">1000 px X 300 px</div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
