<navigation-top *ngIf="showHeader"></navigation-top>
<back-arrow *ngIf="!showHeader"></back-arrow>
<!--div *ngIf="showHeader" class="container-bar-offer">
  <div class="container">
    <h1 class="offer-head-title">Preguntas frecuentes</h1>
  </div>
</div-->
<div class="large container-accordion">
  <div>
    <h2 class="faq-title">Preguntas frecuentes</h2>
  </div>
  <p>{{introduction}}</p>
  <div *ngIf="questions">
    <accordion class="desktop accordion" [questions]='questions'></accordion>
  </div>
</div>
<custom-footer></custom-footer>
