<!-- <div class="container--app p-b">
    <div ng-if="success.value" class="alert alert-success text--center p-y" role="success">
      <p><span class="icon-check alert-icon"></span> {{success.message}}</p>
    </div>
  
    <div ng-if="error.value" class="alert alert-danger" role="alert">
      <ul ng-if="error.messages.length > 1">
        <li ng-repeat="error in error.messages track by $index">
          <span>{{error}}</span>
        </li>
      </ul>
      <div ng-if="error.messages.length == 1">
        <span>{{error.messages[0]}}</span>
      </div>
    </div>
  </div> -->
  