<nav>
  <div class="container">
    <div class="navbar-header">
      <div class="divisor-left">
        <back-arrow-microsite></back-arrow-microsite>
        <a class="gtmLogoRotalo navbar-brand" (click)="goToHome()">
          <img class="gtmLogoRotalo" src="./assets/img/logo-red.svg" alt="brand">
          <h1 class="sr-only">rótalo</h1>
        </a>
      </div>
      <div class="divisor-right">
        <ul class="list-options">
          <li class="gtmCentroRotalo">
            <a (click)="initScrollProduct()" [routerLink]="rotaloCenter">
              <span class="gtmCentroRotalo text-rotalo">
                Centro Rótalo
                <span *ngIf="messageAvailable" class="noti-circle">{{messagesUnRead}}</span>
              </span>
            </a>
          </li>
          <li class="perfil-container gtmPerfil">
            <div (click)="onActivateMenu()" class="container-perfil">
              <span class="gtmPerfil icon-account-header">
              </span>
              <p>Perfil</p>
              <span *ngIf="hobbyNotification" class="noti-circle">1</span>
            </div>
            <div [ngClass]="{'dropdown-menu--show': showDropdownMenu}" class="dropdown-menu">
              <button (click)="onActivateMenu(); initScrollProduct()" [routerLink]="rotaloProfile" class="dropdown-item">Perfil</button>
              <button (click)="onLogout()" routerLink="/login" class="dropdown-item">Cerrar Sesión</button>
            </div>
          </li>
          <li class="car-container" [ngClass]="{'active': isInMicrosite}" (click)="goToShoppingCar()">
            <div class="container-car">
              <span class="icon-shopping-car">
              </span>
              <p>Carrito</p>
            </div>
          </li>
        </ul>
        <div class="flexbox center-center">
          <div class="container-offer">
            <a (click)="clickUploadProduct()" class="upload-offer-button">
              <div class="gtmSubeTuOferta outside-circle" [ngClass]="{'disable': isInMicrosite}">
                <div class="gtmSubeTuOferta inside-circle">
                  <span>+</span>
                </div>
                <label class="gtmSubeTuOferta">Subir oferta</label>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>