<div class="modal-share-container">
  <div class="modal-upload">
    <div class="md-content-upload">
      <div class="close-container">
        <span (click)="close()"  class="icon-circle-cancel"></span>
      </div>
      <div class="share-product-container">
        <div>
          <div class="icon-check-modal"></div>
          <p  class="share-product">¡Tu oferta ha sido publicada con éxito!</p>
        </div>
        <div>
          <p  class="share-description">Comparte esta oferta con todos tus amigos para que tu publicación pueda estar en la sección de destacados.</p>
        </div>
        <div class="input-container">

        </div>
      </div>
    </div>
  </div>

<div class="modal-info">
    <div class="close-container">
        <span (click)="close()"  class="icon-circle-cancel"></span>
      </div>
  <div class="info-container">
    <div class="info">
      <img class="img-modal-pc" src="../../assets/img/ic_modal_pc.svg" alt="pc destacados">
      <div class="information-text">
        <p>Sabías qué… Las ofertas que están en las primeras posiciones se venden más rápido que el resto.</p>
      </div>
    </div>
  </div>
</div>
</div>

