<div class="container-offer">
  <div class="container">
    <div class="buy-detail">
      <img src="/assets/img/{{imgName}}.svg" alt="spinner">
      <div class="info-purchase">
        <h3>{{titleInfo}}</h3>
        <p>{{descriptionInfo}}</p>
        <p>{{descriptionInfo2}}</p>
        <p>{{descriptionInfo3}}</p>
      </div>
    </div>
    <div class="actions-form">
      <div class="button-container">
        <custom-button text="Aceptar" type="submit" (click) = 'redirectPage()' ></custom-button>
      </div>
    </div>
  </div>
</div>
