<div class="modal-container">
  <div (click) = "close()" class="gtmProductosSufiMeInteresaCerrar close"></div>
  <mat-dialog-content>
    <div class="container">
      <div class="monkey-success">
        <div class="img-monkey"></div>
        <div class="text">
          <p>
            Sufi te ofrece la financiación de tu vehículo. Autorizas a Bancolombia S.A.
            para compartir con sus concesionarios aliados tu información personal para que te contacten para ofrecerte el vehículo de tu interés,
            y aquella relacionada con el estado de tu solicitud de financiación
            así como las condiciones financieras otorgadas por parte del Banco para la adquisición del vehículo.
          </p>
        </div>
      </div>
      <div  class="product-btns">
        <div class="cont-botons success">
          <button  (click) = "sendEmail()"
          class="botons gtmProductosSufiMeInteresaOk" mat-flat-button>OK</button>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>

