<div class="modal-container">
  <div (click) = "close()" class="close"></div>
  <mat-dialog-content>
    <div class="container">
      <div class="monkey-success">
        <div class="img-monkey"></div>
        <div class="text">
          <p>¡Genial! Te contactaremos pronto</p>
          <p>para darte más información</p>
        </div>
      </div>
      <div  class="product-btns">
        <div class="cont-botons success">
          <button  (click) = "close()"
          class="botons" mat-flat-button>OK</button>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>

