<div>
  <div  class="container">
    <div id="flashMessage" class="flashMessage">
      <div *ngIf="messageChange && !errorChange" class="alert alert-success text--center" role="success">
        <p>
          <span class="icon-check alert-icon"></span> {{messageChange}}</p>
      </div>
      <div *ngIf="errorChange && !messageChange" class="alert alert-danger" role="alert">
        <ul>
          <li>
            <span>{{errorChange}}</span>
          </li>
        </ul>
      </div>
    </div>
    <h1 class="zeta text--grey-dark bold">Gustos y Aficiones</h1>
    <p class="text--grey-dark">Ingresa tu gustos y aficiones.</p>
    <p class="text--grey-dark">Usa palabras clave separadas por comas (,).</p>

    <form [formGroup]="hobbiesForm" (ngSubmit)="onSubmit()" role="form">
      <div class="form-group">
        <textarea formControlName="hobbies"  id="txta-hobbie" class="form-control hobbies-input"  placeholder="música, tecnología, fútbol, iPhone, deportes, teclados, mouse, camaras digitales, relojes, zapatos, viajes, audífonos, macbook pro, gafas de sol, maletín."></textarea>
        <p class="line-height--large text-left text--grey"><i>Ejemplo: carros, tecnología, cocina</i></p>
      </div>
      <footer>
        <div class="btn-square">
          <custom-button  class="btn--square" type="submit" text="Guardar Cambios"></custom-button>
        </div>
      </footer>
    </form>
  </div>
</div>
