:host{
    .categories-container{
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 50rem;
        max-width: 100%;
        padding: 2rem;

        .button-close-modal {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background: white;
            border: 2px solid #FF3646;
            cursor: pointer;
            display: flex;
            justify-content: center;

            p {
                font-size: 2rem;
                color: #FF3646;
                line-height: 1;
                font-weight: bold;
            }
        }

        .category{
            margin-bottom: 1rem;
            .title-circle{
                //background: cadetblue;
                cursor: pointer;
                background: #DFDFDF;
                color: #9F9F9F;
                display: inline-flex;
                padding: .5rem 1rem;
                border-radius: 2rem;
                margin-bottom: 1rem;
                cursor: pointer;
                min-width: 10rem;
                justify-content: center;
                align-items: center;
                color:white;
                label{
                    font-size: 1.7rem;
                    margin-left: 1rem;
                }
            }
            .sub-categories{
                ul{
                    padding:0;
                    li{
                        font-size: 1.6rem;
                        color: #9B9B9B;
                        font-weight: bold;
                        cursor: pointer;
                    }
                    a.disabled{
                      cursor: auto;
                      color:  rgba(155, 155, 155, 0.61);
                      font-weight: normal;
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 1150px){
    :host{
        .categories-container{
            height: 70rem;
        }
    }
}

@media screen and (max-width: 750px){
    :host{
        .categories-container{
            height: 100rem;
        }
    }
}

@media screen and (max-width: 500px){
    :host{
        .categories-container{
            height: auto;
        }
    }
}
