:host{
    .categories-container{
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 500px;
        max-width: 100%;
        padding: 2rem;
        .category{
            margin-bottom: 1rem;
            .title-circle{
                background: cadetblue;
                display: inline-flex;
                padding: .5rem 1rem;
                border-radius: 2rem;
                margin-bottom: 1rem;
                cursor: pointer;
                min-width: 10rem;
                justify-content: center;
                align-items: center;
                color:white;
                label{
                    font-size: 1.7rem;
                    margin-left: 1rem;
                }
            }
            .sub-categories{
                ul{
                    padding:0;
                    li{
                        font-size: 1.6rem;
                        color: #9B9B9B;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}