<div class="back-categories" (click)="clickCloseMenu()"></div>
<div *ngIf="!hideCloseButton()" class="close-container">
    <div class="button-close-modal" (click)="clickCloseMenu()">
        <p>x</p>
    </div>
</div>
<div class="categories-container">
  <div class="category" *ngFor="let category of categories">
    <div class="gtmMegaMeCateg{{category.url}}  title-circle" [ngClass]="category.productsActives != 0 ?  category.color: ''">
      <span [ngClass]="category.icon"></span>
      <a class="gtmMegaMeCateg{{category.url}}" (click)="selectCategory(category, {})">
        <span></span>
        <label>{{ category.name }}</label>
      </a>
    </div>
    <div class="sub-categories">
      <ul>
        <li class="gtmMegaMeCateg{{category.url}}{{ subcategory.url }}" *ngFor="let subcategory of category.subcategories"
          (click)="selectCategory(category, subcategory)">
          <a [ngClass]="subcategory.productsActives != 0 ?  '': 'disabled'" class="gtmMegaMeCateg{{category.url}}{{ subcategory.url }}">
            {{ subcategory.name }} </a>
        </li>
      </ul>
    </div>
  </div>
</div>
