<navigation-top></navigation-top>
  <div>
    <div class="profile-header text-center p-b-0" style="background-image: url(../assets/img/banner.jpg); ">
      <div class="container-fluid">
        <div  class="container-inner">
          <div *ngIf="!photoProfile" class="img-circle media-object bg-img-fix" style="background-image: url(../assets/img/profile-no-image.png)"></div>
          <div *ngIf="photoProfile" class="img-circle media-object bg-img-fix" [style.background-image]="photoProfile" ></div>
          <h3 class="profile-header-user">{{userName}}</h3>
        </div>
      </div>
    </div>
    <div class="container container--app p-t p-b">
      <ul class="media-list media-list-users list-group">
        <li routerLink="/products/selling" class="list-group-item clickable">
          <div class="split">
            <div class="split__title">
              <span class="text--grey-dark">({{selling}}) Rotando</span>
            </div>
            <span class="icon icon-chevron-thin-right text--blue-light"></span>
          </div>
        </li>
        <li routerLink="/products/sold" class="list-group-item clickable">
          <div class="split">
            <div class="split__title">
              <span class=" text--grey-dark">({{staged}}) Rotados</span>
            </div>
            <span class="icon icon-chevron-thin-right text--blue-light"></span>
          </div>
        </li>
      </ul>
      <ul class="media-list media-list-users list-group">
        <li routerLink="/profile/edit" class="list-group-item clickable">
          <div class="split">
            <div class="split__title">
              <span class="text--grey-dark">Editar Cuenta</span>
            </div>
            <span class="icon icon-chevron-thin-right text--blue-light"></span>
          </div>
        </li>
        <li routerLink="/profile/change-password" class="list-group-item clickable">
          <div class="split">
            <div class="split__title">
              <span class=" text--grey-dark">Cambiar Contraseña</span>
            </div>
            <span class="icon icon-chevron-thin-right text--blue-light"></span>
          </div>
        </li>
        <li routerLink="/profile/gustos" class="list-group-item clickable">
          <div class="split">
            <div class="split__title">
              <span class=" text--grey-dark">Gustos y Aficiones</span>
            </div>
            <span class="icon icon-chevron-thin-right text--blue-light"></span>
          </div>
        </li>
        <li routerLink="/profile/notifications-settings" class="list-group-item clickable">
          <div class="split">
            <div class="split__title">
              <span class=" text--grey-dark">Notificaciones</span>
            </div>
            <span class="icon icon-chevron-thin-right text--blue-light"></span>
          </div>
        </li>
      </ul>
      <ul class="media-list media-list-users list-group">
        <li routerLink="/home" (click)="onLogout()" class="list-group-item clickable">
          <div class="split">
            <div class="split__title">
              <span class=" text--grey-dark">Cerrar Sesión</span>
            </div>
            <span class="icon icon-chevron-thin-right text--blue-light"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
