@import "../../../styles/settings/_colors.scss";
@import "../../../styles/settings/_variables.scss";

:host {
  display: block;
 /* back-arrow {
    display: block;
    padding: 2rem 1.5rem;
    width: 100%;
  }*/
  form {
    width: 100%;
    margin: 0 auto;
    font-size: 1.6rem;
    .text--small {
      font-size: 1.4rem;
    }
    footer {
      font-weight: 400;
      line-height: 19px;
      a {
        color: $red;
        cursor: pointer;
      }
      a:hover {
        color: #bf111c;
        text-decoration: none;
      }
    }
    p {
      margin: 0 0 22px;
    }
  }
  .container--app{
    max-width: 430px;
    margin: 0 auto;
    padding-top: 30px;
  }

  .alert-response {
    color: #333333;
    text-align: center;
    padding: 15px;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    span{
      font-size: 1.6rem;
    }
  }

  .container-fluid{
    min-height: calc(100vh - 140px);
    padding-bottom: 7rem;
    padding-top: 7rem;
    min-width: 430px;
  }

  .button-recuperar {
    width: 48%;
    display: block;
    margin: 0 auto;
    &:hover{
        text-decoration: none;
    }
    &.primary{
        background-color: $red;
        &:hover{
            background-color: #bf111c;
        }
    }
    &.alternative{
        background-color: rgba(255, 255, 255, 0.5);
        &:hover{
            background-color: rgba(217, 217, 217, 0.5);
        }
    }
    &:disabled{
        cursor: not-allowed;
        opacity: 0.5;
    }
  }

  .text-gray-3 {
    color: #333333;
  }

  .text-titulo {
    font-size: 2.0rem;
  }

  text-cont {
    font-size: 1.6rem;
  }

  .text-correo {
    font-size: 1.8rem;
  }

  .div-top {
    margin-top: 15px;
    margin-left: 10px;
  }
}

:host{
  @media (max-width: 450px) {
    form {
      max-width: 235px;
    }
  }
}
