<back-arrow></back-arrow>
<div class="container-fluid container container--app p-t p-b">
  <div>
    <div class="alert alert-success text--center p-y" role="success">
      <p>
        <span class="icon-check alert-icon"></span>
      </p>
    </div>
    <form role="form" class="form-theme text-center">
      <div class="text-left">
        <p class="text--grey-dark bold">Recuperar Contraseña</p>
        <p class="text--grey text--small m-b">Ingresa tu email para recuperar tu contraseña. Enviaremos instrucciones para recuperar tu contraseña.</p>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="E-mail">
      </div>
      <div class="texto">
        <custom-button type="submit" text="Enviar"></custom-button>
      </div>
    </form>
  </div>
</div>
