<div class="info-container">
    <div class="tittle main-title">
      <h1 class="text ">Administrador de usuarios</h1>
    </div>

    <div class="first-row">
      <div *ngIf="campaigns && campaigns.length > 0" class="filter-container">
        <form class="form-theme">
          <div class="material-design">
            <div class="row">
              <div class="form-group half">
                <label class="label-title">Filtar por</label>
                <select [(ngModel)]="selectState" name="communityId" class="category form-control">
                  <option value="">Estado</option>
                  <option *ngFor="let state of states" value="{{state}}">{{state}}
                </select>
              </div>
              <div class="form-group half" data-input="searchText">
                <label class="label-title">Fecha de creación</label>
                <input class="form-control" type="text" id="searchTextId" [(ngModel)]="searchText" name="searchText"
                  placeholder="dd/mm/aaaa">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <mat-tab-group class="tab-table">
        <mat-tab label="Activos">
            <div class="material-design">
                <mat-table [dataSource]="dataSource" matSort matSortActive="title" matSortDirection="asc">
                  <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Blah</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.title}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="createdAt">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>username</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.createdAt}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="communitiesText">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.communitiesText}}</mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
                </mat-table>
              </div>
        </mat-tab>
        <mat-tab label="Inactivos"> Content 2 </mat-tab>
        <mat-tab label="Administradores"> Content 3 </mat-tab>
    </mat-tab-group>





  </div>
