<div class="modal">
  <div class="md-content">
    <div class="close-container">
      <span (click)="close()" class="icon-circle-cancel"></span>
    </div>
    <iframe *ngIf="showColombiaVideo" width="100%" height="100%" src ="https://www.youtube.com/embed/mwfH-h-UtCM" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
    <iframe *ngIf="!showColombiaVideo" width="100%" height="100%" src="https://www.youtube.com/embed/WxdLnx-bM44" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
  </div>
</div>
