:host {
  width: 100%;

  .conversation.scroll {
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
  }

  /*
  .conversation.scroll:hover {
    overflow-y: auto;
    overflow-x: hidden;
  }*/

  .conversation.scroll::-webkit-scrollbar{
    height:5px;
    width:5px;
    border-radius: 4px;
    background: transparent;
    transition: all 0.3s ease;
  }

  .conversation.scroll::-webkit-scrollbar-thumb{
    background:#CBCBCB;
    border-radius: 4px;
  }


  .header-notifications{
    padding: 13px 23px;
    min-height: 50px;
    border-bottom: 1px dashed #D3E0E9;
    p {
      color: #383838;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
  .icon-close {
    cursor: pointer;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    a {
      color: #41BAD0;
      font-size: 1.6rem;
      text-decoration: underline;
      cursor: pointer;
    }

    .message {
      color:#B2B2B2;
      font-size: 1.6rem;
      padding: 20px 0px 30px;
    }
  }
}

.material-design {
  @keyframes ripple {
    0% {
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
    }

    50% {
      box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

    100% {
      box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
    }
  }

  .md-radio {
    margin: 15px 0;
  }

  .md-radio.md-radio-inline {
    display: inline-block;
  }

  .md-radio input[type="radio"] {
    display: none;
  }

  .md-radio input[type="radio"]:checked+label:before {
    border-color: #0FBBD8;
    animation: ripple 0.2s linear forwards;
  }

  .md-radio input[type="radio"]:checked+label:after {
    transform: scale(1);
  }

  .md-radio label {
    display: inline-block;
    position: relative;
    padding: 0 30px;
    margin-bottom: 0;
    color: #383838;
    font-size: 1.6rem;
    cursor: pointer;
    vertical-align: bottom;
  }

  .md-radio label:before,
  .md-radio label:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    transition: all .3s ease;
    transition-property: transform, border-color;
  }

  .md-radio label:before {
    left: 0;
    top: 2px;
    width: 15px;
    height: 15px;
    border: 2px solid rgba(0, 0, 0, 0.54);
  }

  .md-radio label:after {
    top: 6px;
    left: 4px;
    width: 7px;
    height: 7px;
    transform: scale(0);
    background: #0FBBD8;
  }

  *:before,
  *:after {
    box-sizing: border-box;
  }
}

custom-spinner {
  text-align: center;
}
