<navigation-top-login>
</navigation-top-login>
<div class="container">
  <div>
      <div class="icon-link-page">
        </div>
        <div class="info-container">
          <div class="title">
            <p>
                Rayos, tu link de activación ha caducado.
            </p>
          </div>
          <div class="description">
            <p>
                Haz click en “Enviar” para recibir un nuevo enlace.
            </p>
          </div>
          <div class="btn-container">
            <button (click)="reSendEmail()" color="warn" class="button" mat-flat-button>Enviar</button>
          </div>
          <div *ngIf="showMessageEmail" class="success-message">
            <span class="text">
              ¡Genial! Te hemos enviado un correo con el nuevo link de activación. Ten en cuenta que el link caduca en 24 horas.
            </span>
          </div>
          <div *ngIf="showMessageError" class="success-message">
            <span class="text error">
              {{error}}
            </span>
          </div>
        </div>
  </div>
</div>
<custom-footer></custom-footer>
