<navigation-top-login>
</navigation-top-login>
<div class="container">
  <div>
      <div class="icon-link-page">
        </div>
        <div class="info-container">
          <div class="title">
            <p>
              ¡Rayos! este link está roto
            </p>
          </div>
          <div class="description">
            <p>
              Haz clic en el botón y te enviaremos otro link de activación
            </p>
          </div>
          <div class="btn-container">
            <button (click)="reSendEmail()" color="warn" class="button" mat-flat-button>Enviar nuevamente</button>
          </div>
          <div *ngIf="showMessageEmail" class="success-message">
            <span class="icon-check">
            </span>
            <span class="text">
              ¡Hemos enviado el correo con éxito!
            </span>
          </div>
          <div *ngIf="showMessageError" class="success-message">
            <span class="text error">
              {{error}}
            </span>
          </div>
        </div>
  </div>
</div>
<custom-footer></custom-footer>
