:host {

  .modal-share-container {
    display: flex;
    flex-wrap: wrap;
   }

  .modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(143, 27, 15, 0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  /* Content styles */
  .md-content-upload {
    background-color: #FF3646;
    position: relative;
    margin: 0 auto;
  }

  .md-content-upload h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 0 0;
  }

  .md-content-upload>div {
    padding: 3rem 1rem 12rem;
    margin: 0;
  }

  .md-content-upload>div p {
    margin: 0;
    padding: 10px 0;
    font-size: 1.6rem;
    color: #777777;
  }

  .md-content-upload>div ul {
    margin: 0;
    padding: 0 0 30px 20px;
  }

  .md-content-upload>div ul li {
    padding: 5px 0;
  }

  .md-content-upload{
    .close-container{
      padding: 15px 20px 10px 10px;
      text-align: right;
      .icon-circle-cancel{
        cursor: pointer;
        color: #FFFFFF;
        font-size: 2.5rem;
      }
    }
  }

  .icon-send {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../../assets/img/enviar.svg);
    background-size: 20px 20px;
    position: absolute;
  }

  .img-modal-pc {
    width: 80%;
  }

}

:host {

  .icon-check-modal{
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background: url(../../assets/img/ic_modal_check.svg);
    background-size: 25px 25px;
  }

  .modal-upload{
    width: 55%;
    min-width: 300px;
  }

  .modal-info {
    width: 45%;
    min-width: 300px;
    text-align: center;
    background: #FFFFFF;
    padding: 30px;
    .info-container{
      position: relative;
      height: 100%;
      border: 1px dashed #707070;
      .info {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .information-text{
      margin: 0 auto;
      margin-top: 15px;
      width: 70%;
      p{
        font-size: 1.4rem;
        color: #404040;
      }
    }
  }
}

:host.md-show .modal-background {
  opacity: 1;
  visibility: visible;
}

:host {
  .md-content-upload{
    text-align: center;
    .share-product-container {
      margin: 0 auto;
      width: 85%;

      .share-product {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.9rem;
        font-weight: bold;
        color: #FFFFFF;
      }

      .share-description {
        font-size: 1.6rem;
        color: #FFFFFF;
      }
      .icon-container {
        .button-share {
          width: 44px;
          height: 45px;
          background-color: #C61B27;
        }
      }
    }
  }
}

:host {
  .form-theme {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    .form-group {
      margin-bottom: 5px;
      position: relative;
      .form-control {
        height: 45px;
      }
      .icon-container {
        cursor: pointer;
        position: absolute;
        right: 0px;
        bottom: 0;
        top: 0;
      }
    }
    .success-text {
      color: #00AAC7;
      font-weight: bold;
    }

    .icon-email {
      margin: 0 auto;
      width: 20px;
      height: 20px;
      background: url(../../assets/img/enviar.svg);
      background-size: 20px 20px;
    }

    .help-block {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      font-size: 1.7rem;
      color: #FFFFFF;
      padding: 0;
    }
  }

}

@media (max-width: 1000px) {
  :host {

    .modal-share-container {
      width: 300px;
      margin: 0 auto;
    }

    .modal,
    .modal-info {
      width: 100%;
    }

    .modal-info {
      min-height: 210px;
    }

    .md-content-upload .close-container {
      padding: 5px;
    }

    .md-content-upload .share-product-container .share-product {
      font-size: 1.2rem;
    }

    .md-content-upload .share-product-container .share-description {
      font-size: 1.0rem;
    }

    .form-theme .form-group .form-control {
      height: 30px;
      font-size: 1.0rem;
    }

     .modal-info .information-text p {
      font-size: 1.0rem;
     }

     .modal-info .info-container {
      border: none;
     }

    .modal-info .information-text {
      width: 100%;
    }

    .md-content-upload .share-product-container .icon-container .button-share {
      width: 30px;
      height: 30px;
    }

    .form-theme .icon-email {
      width: 15px;
      height: 15px;
      background-size: 15px 15px;
    }

    .form-theme .help-block {
      font-size: 1rem;
    }

     .md-content-upload > div {
      padding: 0rem 1rem 4rem;
    }

  }
}

