<div class="toolbar">
	<div class="toolbar-container" ng-class="{'toolbar--search-open': searchOpen}">
		<div class="container-icon-search" (click)="showSearchBar($event)">
			<img class="icon-search" src="./assets/img/search-glass.png" alt="search icon">
		</div>
 <!--   <rl-tag-input
		[(ngModel)]="tags"
		[addOnSpace]="true"
		[autocomplete]="true"
		placeholder="¿Qué estás buscando?"
		(addTag)="changeTags()"
		(focusBar)="showAutocomplateOptions()"
		(blurBar)="hideAutocomplateOptions()"
		(removeTag)="changeTags()"></rl-tag-input>-->
		<div class="container-options-autocomplete" #autoCompleteBox>
			<ul>
				<li *ngFor="let option of autoCompleteOptions" (click)="clickOptionAutocomplete(option)">{{option}}</li>
			</ul>
		</div>
		<div class="container-categrias">
			<span class="gtmCategorias categ-text pointer" (click)="openCategories($event)" #closeMenuLabel>Categorías</span>
			<span class="gtmCategorias icon-width icon-close icon-menu pointer" #closeMenu (click)="openCategories($event)"></span>
		</div>
	</div>
	<div class="toolbar__filters">
		<div class="select-community">
			<select name="community" (change)="changeSelectComunidad($event)">
				<option selected value disabled>Comunidades</option>
        <option value="-1">Todas</option>
        <option *ngFor="let community of communities" value="{{community.id}}" >{{community.nombre}}
        </option>
			</select>
		</div>
	</div>
	<categories-menu #categoriesMenu (categorySelected)= "selectedCategory($event)" (subCategorySelected)= "selectedSubCategory($event)"></categories-menu>
</div>
