<div class="toolbar">
  <div class="toolbar-container" ng-class="{'toolbar--search-open': searchOpen}">
    <img class="icon-search" src="./assets/img/search-glass.png" alt="search icon">
    <rl-tag-input [(ngModel)]="tags" [addOnSpace]="true" placeholder="¿Qué estás buscando?"></rl-tag-input>

    <div class="container-categrias">
      <span class="categ-text">Categorías</span>
      <span class="icon-width icon-menu" ng-class="ctrl.menuicon"></span>
    </div>
  </div>
    <!-- <div class="mobile-circles" ng-class="{'hide-comp': searchOpen }">
      <div class="search-circle" ng-click="searchOpen = true">
        <span class="icon-search"></span>
      </div>
      <div class="categories-circle" ng-click="ctrl.tooglehideCategories()">
        <span class="icon-menu"></span>
      </div>
    </div> -->
    <div class="toolbar__filters">
      <div class="select-community">
        <select name="community" ng-model="ctrl.communityFilter" ng-change="ctrl.changeCommunity()">
          <option selected value disabled>Comunidades</option>
          <option ng-value="true">Todas</option>
          <option ng-value="false">{{"Comunidad"}}</option>
        </select>
      </div>
    </div>
    <!-- <div class="search-results" ng-if="searchOpen && ctrl.withTerms">
      <recent-searches select-item="ctrl.selectItem"></recent-searches>
    </div> -->
</div>
<!-- <div ng-class="{'invisible': $root.hideCategories}" class="categories" partial path="views/categories/categories-menu.html"></div>
  <div ng-if="!$root.showCarousel" class="text-center padding-top">
    <location-filter-select location-model="$root.country"></location-filter-select>
  </div> -->

