<div class="toolbar">
	<div class="toolbar-container" ng-class="{'toolbar--search-open': searchOpen}">
		<img class="icon-search" src="./assets/img/search-glass.png" alt="search icon">
		<rl-tag-input [(ngModel)]="tags" [addOnSpace]="true" placeholder="¿Qué estás buscando?" (addTag)="changeTags($event)" (removeTag)="changeTags($event)"></rl-tag-input>
		<div class="container-categrias">
			<span class="categ-text">Categorías</span>
			<span class="icon-width icon-close icon-menu" (click)="openCategories($event)"></span>
		</div>
	</div>
	<div class="toolbar__filters">
		<div class="select-community">
			<select name="community" (change)="changeSelectComunidad($event)">
				<option selected value disabled>Comunidades</option>
				<option value="-1">Todas</option>
				<option *ngIf="community" value="{{community.id}}">{{community.name}}</option>
			</select>
		</div>
	</div>
	<categories-menu #categoriesMenu (categorySelected)= "selectedCategory($event)" (subCategorySelected)= "selectedSubCategory($event)"></categories-menu>
</div>