<app-modal-detail [product]="productForModal" (closeModal)="closeModal()" *ngIf="showModalBuy"></app-modal-detail>
<offer-modal *ngIf="isOfferModalShowed" [config]="configModal" (close)="isOfferModalShowed = false"></offer-modal>
<custom-spinner *ngIf="!products"></custom-spinner>

<div class="ad-preview">
  <label>Estás en modo vista previa. Así verán las personas tu publicación.</label>
  <div class="btn-preview">
    <button class="botons-preview" (click)="editProduct(products)">
      Editar publicación
    </button>
  </div>
</div>
<banner-latienda></banner-latienda>
<div *ngIf="products" class="container">
  <div class="product">
      <div *ngIf="!products?.photoList" class="product-photos">
        <div class="panel-heading">
          <div class="container-product__image">
            <img src="/assets/img/product-no-image.png">
          </div>
        </div>
        <div class="description">
          <pre>{{products.description}}</pre>
        </div>
        <div>
          tabla
        </div>
      </div>
      <div *ngIf="products?.photoList" class="product-photos">
        <div *ngIf="isSellProcess()" class="lable-sell-process">
          <div class="icon-clock label-sell--center"></div>
          <label class="label-sell--center">Venta en proceso</label>
        </div>
        <div [ngClass]="isSellProcess() ? 'deactivated-photo' : ''" class="panel-heading">
          <ngx-carousel [inputs]="carouselConfig">
            <ngx-item NgxCarouselItem *ngFor="let productImage of productsPhotos">
              <div class="container-product__image">
                <img src="{{productImage?.url}}">
              </div>
            </ngx-item>
            <span (click)="clickArrow()" NgxCarouselPrev class="gtmFlechasProductos carousel-arrow carousel-arrow__prev">
              <span class="icon icon-chevron-thin-left"></span>
            </span>
            <span (click)="clickArrow()" NgxCarouselNext class="gtmFlechasProductos carousel-arrow carousel-arrow__next">
              <span class="icon icon-chevron-thin-right"></span>
            </span>
          </ngx-carousel>
        </div>
        <div class="tabla-container description desktop">
            <div class="flex">
                <h1>Descripción</h1>
                <!--div class="share">
                    <button class="share-button gtmComparteProducto" mat-button [matMenuTriggerFor]="menu">
                      <div class="ic_arrow_share"></div>
                      Compartir publicación
                    </button>
                    <mat-menu class="share-product" #menu="matMenu">
                      <div mat-menu-item>
                          <button mat-icon-button>
                              <div (click)="shareProduct('custom-modal-2' , products)" class="gtmComparteProductoRotalo ic_share_email"></div>
                           </button>
                           <button (click) = "sendMessageWhatsapp(products.id)" mat-icon-button>
                              <div class="ic_share_whatsapp"></div>
                           </button>
                      </div>
                    </mat-menu>
                </div-->
            </div>
            <pre>{{products.description}}</pre>
        </div>
        <div *ngIf="products.vehicle" class="tabla-container desktop">
          <h1>Características</h1>
          <table class="table-info">
            <tbody>
              <tr>
                <td class=" ">
                  <div>
                    Marca/Modelo
                    <p *ngIf="products.vehicle.line && products.vehicle.line.brand">{{products.vehicle.line.brand.name}},
                      {{products.vehicle.line.name}}</p>
                  </div>
                </td>
                <td class="padding-cell-left middle-cell">
                  <div>
                    Año
                    <p *ngIf="products.model">{{products.model}}</p>
                  </div>
                </td>
                <td class="padding-cell-left">
                  <div>
                    Kilometraje
                    <p *ngIf="products.vehicle.mileage &&  products.vehicle.mileage != 0">{{products.vehicle.mileage |
                      currency:" " | removeDigits }} Km</p>
                    <p *ngIf="products.vehicle.mileage == 0">0 Km</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Color
                    <p *ngIf="products.vehicle.color">{{products.vehicle.color}}</p>
                  </div>
                </td>
                <td class="padding-cell-left middle-cell">
                  <div *ngIf="products.vehicle.gas">
                    Combustible
                    <p *ngIf="products.vehicle.gas">{{products.vehicle.gas}}</p>
                  </div>
                  <div *ngIf="products.vehicle.displacement">
                    Cilindraje
                    <p *ngIf="products.vehicle.displacement">{{products.vehicle.displacement}}</p>
                  </div>
                </td>
                <td class="padding-cell-left">
                  <div *ngIf="products.vehicle.vehicleType == 'AUTO'">
                    Tipo de Uso
                    <p *ngIf="products.typeVehicle">{{products.typeVehicle}}</p>
                  </div>
                  <div *ngIf="products.vehicle.vehicleType == 'MOTO'">
                    Tipo de Vehículo
                    <p *ngIf="products.vehicle.vehiclesType && products.vehicle.vehiclesType.name">{{products.vehicle.vehiclesType.name}}</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div *ngIf="products.vehicle.vehicleType == 'AUTO'">
                    Placa
                    <p *ngIf="products.vehicle.licensePlate">*****{{products.vehicle.licensePlate}}</p>
                  </div>
                </td>
                <td class="padding-cell-left middle-cell">
                  <div *ngIf="products.vehicle.vehicleType == 'AUTO'">
                    Transmisión
                    <p *ngIf="products.vehicle.transmission">{{products.vehicle.transmission}}</p>
                  </div>
                </td>
                <td class="padding-cell-left">
                  <div *ngIf="products.vehicle.vehicleType == 'AUTO'">
                    Tipo de Vehículo
                    <p *ngIf="products.vehicle.vehiclesType && products.vehicle.vehiclesType.name">{{products.vehicle.vehiclesType.name}}</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <h1 *ngIf="motoHasCharacteristics() || autoHasCharacteristics()">Características adicionales</h1>
          <div class="additional-info">
            <div *ngIf="products.vehicle.airbag && products.vehicle.vehicleType == 'AUTO'" class="additional-container">
              <div class="img-airbag additional-img"></div>
              <div class="additional-text">Airbag</div>
            </div>
            <div *ngIf="products.vehicle.absBrakes" class="additional-container">
              <div class="img-frenos additional-img"></div>
              <div class="additional-text">Frenos ABS</div>
            </div>
            <div *ngIf="products.vehicle.airConditioner && products.vehicle.vehicleType == 'AUTO'"
              class="additional-container">
              <div class="img-aire additional-img"></div>
              <div class="additional-text">Aire acondicionado</div>
            </div>
            <div *ngIf="products.vehicle.typeOfSeat && products.vehicle.vehicleType == 'AUTO'"
              class="additional-container">
              <div class="img-material additional-img"></div>
              <div *ngIf="products.vehicle.typeOfSeat == 'CUERO'" class="additional-text">Material Cuero</div>
              <div *ngIf="products.vehicle.typeOfSeat == 'TELA'" class="additional-text">Material Tela</div>
            </div>
            <div *ngIf="products.vehicle['uniqueOwner']" class="additional-container">
              <div class="img-unico additional-img"></div>
              <div class="additional-text">Único dueño</div>
            </div>
          </div>
        </div>
        <div *ngIf="products.immovable" class="tabla-container desktop">
          <h1>Características</h1>
          <table class="table-info">
            <tbody>
              <tr>
                <td class=" ">
                  <div>
                    Antiguedad
                    <p *ngIf="products.immovable.antiquity">
                      {{products.immovable.antiquity}}
                    </p>
                  </div>
                </td>
                <td class="padding-cell-left middle-cell">
                  <div>
                    Metros construidos
                    <p *ngIf="products.immovable.squareMeters">
                      {{products.immovable.squareMeters}} mts2
                    </p>
                  </div>
                </td>
                <td class="padding-cell-left">
                  <div>
                    Piso
                    <p *ngIf="products.immovable.floor">
                      {{products.immovable.floor}}
                    </p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Tipo de vendedor
                    <p *ngIf="products.immovable.sellerType">{{products.immovable.sellerType}}</p>
                  </div>
                </td>
                <td class="padding-cell-left middle-cell">
                  <div>
                    Habitaciones
                    <p *ngIf="products.immovable.rooms">{{products.immovable.rooms}}</p>
                  </div>
                </td>
                <td class="padding-cell-left">
                  <div>
                    Baños
                    <p *ngIf="products.immovable.bathrooms">{{products.immovable.bathrooms}}</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Porteria
                    <p *ngIf="products.immovable.guardHouse">{{products.immovable.guardHouse}}</p>
                  </div>
                </td>
                <td class="padding-cell-left middle-cell">
                  <div>
                    Ascensor
                    <p *ngIf="!products.immovable.elevator">No</p>
                    <p *ngIf="products.immovable.elevator">Si</p>
                  </div>
                </td>
                <td class="padding-cell-left">
                  <div>
                    Parqueadero
                    <p *ngIf="!products.immovable.parking">No</p>
                    <p *ngIf="products.immovable.parking">Si</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <h1>Características adicionales</h1>
          <table class="table-info">
            <tbody>
              <tr>
                <td class=" ">
                  <div>
                    Valor de la administración
                    <p *ngIf="products.immovable.canonQuota">
                      {{products.immovable.canonQuota | currency:"$" | removeDigits}}
                    </p>
                    <p *ngIf="!products.immovable.canonQuota">
                      $ 0
                    </p>
                  </div>
                </td>
                <td class="padding-cell-left middle-cell">
                  <div>
                    Metros 2 terreno
                    <p *ngIf="products.immovable.squareMetersTerrain">
                      {{products.immovable.squareMetersTerrain}} mts2
                    </p>
                    <p *ngIf="!products.immovable.squareMetersTerrain">
                      0 mts2
                    </p>
                  </div>
                </td>
                <td class="padding-cell-left">
                  <div>
                    Estrato
                    <p *ngIf="products.immovable.socialClass">
                      {{products.immovable.socialClass}}
                    </p>
                    <p *ngIf="!products.immovable.socialClass">
                      N/A
                    </p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Juegos infantiles
                    <p *ngIf="products.immovable.childishGames">Si</p>
                    <p *ngIf="!products.immovable.childishGames">No</p>
                  </div>
                </td>
                <td class="padding-cell-left middle-cell">
                  <div>
                    Cuarto útil
                    <p *ngIf="products.immovable.usefulRoom">Si</p>
                    <p *ngIf="!products.immovable.usefulRoom">No</p>
                  </div>
                </td>
                <td class="padding-cell-left">
                  <div>
                    Piscina
                    <p *ngIf="products.immovable.pool">Si</p>
                    <p *ngIf="!products.immovable.pool">No</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Amoblado
                    <p *ngIf="products.immovable.fullyFurnished">Si</p>
                    <p *ngIf="!products.immovable.fullyFurnished">No</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="products.immovable" class="tabla-container mobile">
          <h1>Características</h1>
          <table class="table-info">
            <tbody>
              <tr>
                <td class=" ">
                  <div>
                    Antiguedad
                  </div>
                </td>
                <td class="">
                  <div>
                    <p *ngIf="products.immovable.antiquity">
                      {{products.immovable.antiquity}}
                    </p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Metros construidos
                  </div>
                </td>
                <td class="">
                  <div>
                    <p *ngIf="products.immovable.squareMeters">
                      {{products.immovable.squareMeters}} mts2
                    </p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Piso
                  </div>
                </td>
                <td class="">
                  <div>
                    <p *ngIf="products.immovable.floor">
                      {{products.immovable.floor}}
                    </p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Tipo de vendedor
                  </div>
                </td>
                <td class="">
                  <div>
                    <p *ngIf="products.immovable.sellerType">{{products.immovable.sellerType}}</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Habitaciones
                  </div>
                </td>
                <td class="">
                  <div>
                    <p *ngIf="products.immovable.rooms">{{products.immovable.rooms}}</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Baños
                  </div>
                </td>
                <td class="">
                  <div>
                    <p *ngIf="products.immovable.bathrooms">{{products.immovable.bathrooms}}</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Porteria
                  </div>
                </td>
                <td class="">
                  <div>
                    <p *ngIf="products.immovable.guardHouse">{{products.immovable.guardHouse}}</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Ascensor
                  </div>
                </td>
                <td class="">
                  <div>
                    <p *ngIf="!products.immovable.elevator">No</p>
                    <p *ngIf="products.immovable.elevator">Si</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Parqueadero
                  </div>
                </td>
                <td class="">
                  <div>
                    <p *ngIf="!products.immovable.parking">No</p>
                    <p *ngIf="products.immovable.parking">Si</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <h1>Características adicionales</h1>
          <table class="table-info">
            <tbody>
              <tr>
                <td class=" ">
                  <div>
                    Valor de la administración
                  </div>
                </td>
                <td class="">
                  <div>
                    <p *ngIf="products.immovable.canonQuota">
                      {{products.immovable.canonQuota | currency:"$" | removeDigits}}
                    </p>
                    <p *ngIf="!products.immovable.canonQuota">
                      $ 0
                    </p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Metros 2 terreno
                  </div>
                </td>
                <td class="">
                  <div>
                    <p *ngIf="products.immovable.squareMetersTerrain">
                      {{products.immovable.squareMetersTerrain}} mts2
                    </p>
                    <p *ngIf="!products.immovable.squareMetersTerrain">
                      0 mts2
                    </p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Estrato
                  </div>
                </td>
                <td class="">
                  <div>
                    <p *ngIf="products.immovable.socialClass">
                      {{products.immovable.socialClass}}
                    </p>
                    <p *ngIf="!products.immovable.socialClass">
                      N/A
                    </p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Juegos infantiles
                  </div>
                </td>
                <td class="">
                  <div>
                    <p *ngIf="products.immovable.childishGames">Si</p>
                    <p *ngIf="!products.immovable.childishGames">No</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Cuarto útil
                  </div>
                </td>
                <td class="">
                  <div>
                    <p *ngIf="products.immovable.usefulRoom">Si</p>
                    <p *ngIf="!products.immovable.usefulRoom">No</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Piscina
                  </div>
                </td>
                <td class="">
                  <div>
                    <p *ngIf="products.immovable.pool">Si</p>
                    <p *ngIf="!products.immovable.pool">No</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <div>
                    Amoblado
                  </div>
                </td>
                <td class="">
                  <div>
                    <p *ngIf="products.immovable.fullyFurnished">Si</p>
                    <p *ngIf="!products.immovable.fullyFurnished">No</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <div *ngIf="products.children" class="tabla-container desktop">
        <h1>Características</h1>
        <table class="table-info">
          <tbody>
            <tr *ngIf="!products.children[0].brand">
              <td class=" ">
                <div>
                  Género
                  <p *ngIf="products.children[0].genderName">{{products.children[0].genderName}}</p>
                </div>
              </td>
              <td class="padding-cell-left middle-cell-no-right">
                <div>
                  Color
                  <p *ngIf="products.children[0].color">{{products.children[0].color}}</p>
                </div>
              </td>
              <td></td>
            </tr>

            <tr *ngIf="products.children[0].brand">
              <td class=" ">
                <div>
                  Género
                  <p *ngIf="products.children[0].genderName">{{products.children[0].genderName}}</p>
                </div>
              </td>
              <td class="padding-cell-left middle-cell">
                <div>
                  Color
                  <p *ngIf="products.children[0].color">{{products.children[0].color}}</p>
                </div>
              </td>
              <td class="padding-cell-left">
                <div>
                  Marca
                  <p *ngIf="products.children[0].brand">{{products.children[0].brand}}</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="products" class="product-info">
      <div class="card-product">
        <div class="title-product">{{products.name}}</div>
        <div class="date">
            <span *ngIf="reference" class="date">Referencia: {{reference}} - </span>
            <span class="date">{{visitsNumber}} visitas</span>
        </div>

          <div
          [ngClass]="products['previousPrice'] && products['previousPrice'] >  products['price'] || isActivePromo? 'btn-item-full' : ''"
          class="btn-item ">
            <div class="price-container">
                <div
                [ngClass]="products['previousPrice'] && products['previousPrice'] >  products['price'] || isActivePromo? 'low-price' : ''"
                *ngIf="products['previousPrice'] && isPromoDateBefore && isActivePromo || products['previousPrice'] && products['previousPrice'] >  products['price']">
                <span *ngIf="products['previousPrice'] != 0 && products.currency != 'GTQ' && idCountry == 1"
                  class="valor-product">
                  {{products['previousPrice'] | currency:"$" | removeDigits}}</span>
              </div>
              <div>
                <span *ngIf="products.price != 0 && products.currency != 'GTQ' && idCountry == 1" class="valor-product">
                  {{products.price | currency:"$" | removeDigits}}</span>
              </div>
            </div>
          </div>
          <div class="size-div" *ngIf="products && products.children">
              <label class="label-title">Talla</label>
              <select ng-model="childrens" class="form-control-select" (change)="updateSize($event.target.value)">
                <option ng-selected="childrens" *ngFor="let children of products.children" value="{{children.id}}" class="option-select">
                  {{children.sizeName}}
                </option>
              </select>
              <span *ngIf="errorSize == true" class="error-msg">Selecciona la talla</span>
            </div>
          <div class="btns-container">
            <div class="full-width quantity-container">
              <form role="form" [formGroup]="quantityForm" name="quantityForm" class="form-theme"
                (ngSubmit)="quantity(form)" #form>
                <div class="form-group">
                  <label class="label-title">Cantidad</label>
                  <div class="input-group quantity-wrapper">
                    <span class="input-group-btn">
                      <button (click)="minusStock()" type="button" class="btn btn-default btn-number btn-sm button-center">
                        <span>-</span>
                      </button>
                    </span>
                    <input type="text" class="form-control input-number input-sm quantity-style" name="stock" currencyMask
                      [options]="{prefix: '' , align: 'left', precision: 0}"
                      onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="stock"
                      placeholder="0" maxlength="5" autocomplete="off">
                    <span class="input-group-btn">
                      <button (click)="addStock()" type="button" class="btn btn-default btn-number btn-sm button-center">
                        <span>+</span>
                      </button>
                    </span>
                  </div>
                  <span class="quantity-on-stock" *ngIf="totalStock==1">({{totalStock}} disponible)</span>
                  <span class="quantity-on-stock" *ngIf="totalStock>1">({{totalStock}} disponibles)</span>
                  <span [ngStyle]="{'display': quantityForm.get('stock').errors ? 'block' : ''}" class="error-msg">Este
                    campo debe ser mayor a 0 y menor igual a {{totalStock}}</span>
                </div>
              </form>
            </div>
          <div class="btn-item">
            <button class="botons">
              <span class="icon-shop_car"></span>
              Agregar al carrito
            </button>
          </div>
        </div>
        <div class="info-section">
          <div class="product-info-user">
            <div class="info-container">
              <div class="media-middle">
                <div *ngIf="!products.user.photos && products.user.company" class="product-info-user--icon" [ngStyle]="{'background-color':products.user.company.colour}">
                  <span class="icon-account"></span>
                </div>
                <div *ngIf="products.user.photos" class="photo-user">
                  <div [ngStyle]="{'background-image': getUrlImge()}" class="thumbnail-img"></div>
                </div>
              </div>
              <div *ngIf="products.user.company" class="media-middle product-info-user--data">
                <p class="name-user">{{products.user.name}}</p>
                <p class="panel-product color-company">{{products.user.company.name}}
                  -
                  {{products.user.company.community.name}}
                </p>
              </div>
            </div>
            <div class="product-btn" >
              <div class="product-btns">
                <div class="cont-botons">
                  <div class="botons">
                    Chatea con el asesor
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--div class="row-container">
            <div class="share-container">
              <div class="share-product-container">
                <div (click)="validateMobile()" class="gtmCompartirProducto share-mobile">
                  <div class="icon-share-container">
                    <div class="icon-email"></div>
                  </div>
                  <a class="gtmCompartirProducto share-product">Comparte este producto con un amigo</a>
                  <span [ngClass]="{'open': showInputShare}" class="icon-arrow"></span>
                </div>
                <div *ngIf="showInputShare" class="input-container">
                  <form (ngSubmit)="shareProduct()" [formGroup]="sendInfoProduct" class="form-theme">
                    <div class="form-group">
                      <input (click)="messageSuccess=false; messageError= false" [ngClass]="{'invalid': sendInfoProduct.get('email').invalid && !sendInfoProduct.get('email').pristine}"
                        formControlName="email" maxlength="100" id="txt-email-detail" type="email" class="form-control share-input"
                        placeholder="Escribe aquí el correo corporativo de tu amigo">
                      <div class="icon-container">
                        <button class="button-share" type="submit">
                          <div class="icon-email"></div>
                        </button>
                      </div>
                    </div>
                    <span *ngIf="sendInfoProduct.get('email').invalid && !sendInfoProduct.get('email').pristine" class="help-block">
                      <span class="icon-circle-cancel"></span>
                      <span *ngIf="!sendInfoProduct.get('email').errors.emailError">
                        Aseguráte de que sea un correo válido.
                      </span>
                      <span *ngIf="sendInfoProduct.get('email').errors.emailError">
                        ¡Hey! compártelo a un correo diferente al tuyo.
                      </span>
                    </span>
                    <span *ngIf="messageSuccess" class="help-block">
                      <span class="icon-check"></span>
                      <span>
                        ¡Hemos enviado el correo con éxito!
                      </span>
                    </span>
                    <span *ngIf="messageError" class="help-block">
                      <span class="icon-circle-cancel"></span>
                      <span>
                        {{textError}}
                      </span>
                    </span>
                  </form>
                </div>
              </div>
            </div>
          </div-->
        </div>
        <div class="location">
          <span class="icon icon-location"></span>
          <span>{{getLocation(products)}}</span>
        </div>
      </div>
    </div>

  </div>
</div>
<custom-footer></custom-footer>
