:host{
    .container{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        .container-form{
            max-width: 284px;
            width: 100%;
        }
        .container-logo{
            margin-bottom: 10px;
        }
        .container-text{
            margin-bottom: 60px;
            color: white;
            font-size: 16px;
        }
        .button-ingresar{
            margin-bottom: 10px;
        }
    }
    .sufi-logo{
        position: absolute;
        right: 1%;
        bottom: 1%;
    }
    .vigilado-logo{
        position: absolute;
        left: 1%;
        bottom: 1%;
    }
    .link-info{
        position: absolute;
        padding-left: 5px;
        bottom: 60px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 22rem;
      a{
        color: white;
        font-size: 1.2rem;
      }
    }
}

:host{
  @media (max-width: 450px) {
    .container{
      .container-form{
        max-width: 235px;
      }
    }
  }
}


