<navigation-top-login>
</navigation-top-login>
<div class="md-overlay"></div>
<modal-video class="md-modal-center md-effect-1" id="custom-modal-3"></modal-video>
<div class="home-container">
  <div class="video-container">
    <img src="../../assets/img/img_bienvenida@2x.png" alt="video">
    <div class="hero-image"></div>
    <div class="play-container">
      <div class="btn-container-video">
        <div (click)= "showVideo('custom-modal-3')"  class="btn-play"></div>
        <div class="label-text">Ver video</div>
      </div>
      <div class="info-rotalo">
        <h3>¡Hola!</h3>
        <h4>¡Compra, vende,<br> subasta o regala lo que quieras!</h4>
      </div>
    </div>
  </div>
  <div class="register-container material-register">
    <div class="container-fluid">
      <div *ngIf="!showSendEmail" class="form-container">
        <div class="text-center title-text">
          <h1>Haz parte de Rótalo ¡Regístrate!</h1>
        </div>
        <form role="form" [formGroup]="registerForm" name="registerForm" class="form-theme" (ngSubmit)="submitForm(form)"
          #form>
          <div class="text-center">
            <span [ngClass]="{'input--filled': registerForm.get('name').value}" class="input-full-name text-left input input--float">
              <input [ngClass]="{'invalid': registerForm.get('name').invalid && !registerForm.get('name').pristine}"
                formControlName="name" name="name" maxlength="50" class="input__field input__field--float" id="txt-name"
                type="text" />
              <label class="input__label input__label--float">
                <span class="input__label-content input__label-content--float" data-content="Nombre completo">Nombre
                  completo</span>
              </label>
              <span class="help-block">
                <span *ngIf="registerForm.get('name').invalid && !registerForm.get('name').pristine">
                  Este campo es requerido.
                </span>
              </span>
            </span>
          </div>
          <div class="text-center">
            <span [ngClass]="{'input--filled': registerForm.get('email').value}" class="input-email-user text-left input input--float">
              <input (keypress)="removeError()" [ngClass]="{'invalid': registerForm.get('email').invalid && !registerForm.get('email').pristine || errorMessage}"
                formControlName="email" name="email" maxlength="64" class=" input__field input__field--float " id="txt-email-register"
                type="email" />
              <label class="input__label input__label--float">
                <span class="input__label-content input__label-content--float" data-content="Email corporativo">
                  Email corporativo</span>
              </label>
              <span class="help-block text-left">
                <span *ngIf="registerForm.get('email').invalid && !registerForm.get('email').pristine">
                  El campo no cumple con el formato de correo.
                </span>
                <span *ngIf="errorMessage">
                  {{errorMessage}}
                </span>
              </span>
            </span>
          </div>

          <div>
            <div class="row text-center">
              <div class="text-center type-document">
                  <span [ngClass]="{'input--filled': registerForm.get('type-document-id').value}" class="input-pass-user text-left input input--float">
                      <select class="select-text input__field input__field--float" name="type-id" formControlName="type-document-id"
                      (change)="documentId=$event.target.value; validateTypeDocument()">
                      <option value="" disabled selected></option>
                      <option *ngFor="let typeDocument of typeDocumentsFilter" value="{{typeDocument.id}}">{{typeDocument['abrev']}}</option>
                    </select>
                    <label class="input__label input__label--float">
                      <span class="input__label-content input__label-content--float" data-content="Tipo doc.">
                        Tipo doc.</span>
                    </label>
                  </span>
              </div>
              <div class="text-center number-document">
                <span [ngClass]="{'input--filled': registerForm.get('id-number').value}" class="input-pass-user text-left input input--float">
                  <input [ngClass]="{'invalid': registerForm.get('id-number').invalid && !registerForm.get('id-number').pristine}"
                    formControlName="id-number" name="id-number" maxlength="40" class="input__field input__field--float" id="txt-id-number"
                    autocomplete="off" type="text">
                  <label class="input__label input__label--float">
                    <span class="input__label-content input__label-content--float" data-content=" Número de doc.">
                      Número de doc.</span>
                  </label>
                </span>
              </div>
            </div>
            <div>
              <span class="error-document text-center help-block">
                <span *ngIf="(registerForm.get('type-document-id').touched && registerForm.get('type-document-id').invalid) || registerForm.get('id-number').touched && registerForm.get('id-number').errors?.required && !registerForm.get('id-number').pristine">
                  Estos campos son requeridos.
                </span>
                <span *ngIf="!registerForm.get('id-number').errors?.required && registerForm.get('id-number').invalid">
                  {{errorMessageId}}
                </span>
              </span>
            </div>
          </div>

          <div class="text-center">
            <span [ngClass]="{'input--filled': registerForm.get('password').value}" class="input-pass-user text-left input input--float">
              <input [ngClass]="{'invalid': registerForm.get('password').invalid && !registerForm.get('password').pristine}"
                formControlName="password" name="password" maxlength="20" class="input__field input__field--float" id="txt-password-register"
                type="password" />
              <label class="input__label input__label--float">
                <span class="input__label-content input__label-content--float" data-content="Contraseña">
                  Contraseña</span>
              </label>
              <span class="help-block">
                <span *ngIf="registerForm.get('password').touched && registerForm.get('password').errors?.required && !registerForm.get('password').pristine">
                  Este campo es requerido.
                </span>
                <span *ngIf="registerForm.get('password').errors?.minlength && !registerForm.get('password').pristine">
                  El campo no cumple la longitud mínima.
                </span>
              </span>
            </span>
          </div>
          <div class="text-center">
            <span [ngClass]="{'input--filled': registerForm.get('password-confirmation').value}" class="input-pass-confirm text-left input input--float">
              <input [ngClass]="{'invalid': registerForm.get('password-confirmation').invalid && !registerForm.get('password-confirmation').pristine}"
                name="password-confirmation" formControlName="password-confirmation" maxlength="20" class="input__field input__field--float"
                id="txt-password-confirmation" type="password" />
              <label class="input__label input__label--float">
                <span class="input__label-content input__label-content--float" data-content="Confirmar Contraseña">
                  Confirmar Contraseña</span>
              </label>
              <span class="help-block">
                <span *ngIf="registerForm.get('password-confirmation').touched && registerForm.get('password-confirmation').errors?.required && !registerForm.get('password-confirmation').pristine">
                  Este campo es requerido.
                </span>
                <span *ngIf="registerForm.get('password-confirmation').errors?.minlength && !registerForm.get('password-confirmation').pristine">
                  El campo no cumple la longitud mínima.
                </span>
                <span *ngIf="registerForm.get('password-confirmation').errors?.match && !registerForm.get('password-confirmation').errors?.minlength &&!registerForm.get('password-confirmation').pristine">
                  La contraseña de verificación no coincide.
                </span>
              </span>
            </span>
          </div>
          <div class="text-center form-group terms input-terms">
      <!--      <label class="material-checkbox gtmSignUpAcepTermYCond" for="checkTerms">
              <input #checkBoxTerms class="gtmSignUpAcepTermYCond" type="checkbox" id="checkTerms" name="checkTerms" formControlName="termsCheckbox">
              <span class="checkmark"></span>
            </label> -->
            Al dar click en REGISTRARME aceptas nuestros
            <br>
            <a class="terms-link" (click)="openTermsModal()">
                términos y condiciones</a>
            para rotar en confianza.
          </div>
          <div class="btn-container">
            <custom-button buttonClass="gtmSignUpValidCrearCuenta primary register" type="submit" text="Registrarme"></custom-button>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="showSendEmail" class="success-container">
      <div class="img-send">
      </div>
      <div class="text-container">
        <p>¡Genial! Ya estás a un paso de hacer parte de esta comunidad. Revisa tu bandeja de entrada, te acabamos de enviar un correo electrónico para que confirmes tu registro</p>
      </div>
      <div class="btn-container">
        <custom-button type="submit" (click)="reSendEmail()" buttonClass="primary register" text="No me llegó el correo"></custom-button>
      </div>
      <div *ngIf="showMessageEmail" class="success-message">
        <span class="icon-check">
        </span>
        <span class="text">
            ¡Hemos enviado el correo con éxito!
          </span>
      </div>
    </div>
  </div>

</div>
<company-slider></company-slider>
<terms-modal class="opacity" *ngIf="modalTermsIsOpen" (close)="closeModal()" (accept)="acceptTerms(checkBoxTerms)"></terms-modal>
<custom-footer></custom-footer>
