<div class="container flexbox center-center">
  <slider-component></slider-component>
  <div class="container-form">
    <div class="text-center">
      <div class="container-logo">
        <a href="../index.html">
          <img src="./assets/img/logo.svg" alt="rótalo">
          <h1 class="sr-only">rótalo</h1>
        </a>
      </div>
      <div class="container-text">
        <p class="text--small text--white semibold">Compra, vende y regala con tus amigos</p>
      </div>
      <div class="button-ingresar">
        <custom-button buttonClass="gtmIngIngresar primary" text="Ingresar" link="/login"></custom-button>
      </div>
      <footer>
        <custom-button  buttonClass="gtmSignUpCrearCuenta alternative" text="Crear cuenta" link="{{singupLink}}"></custom-button>
      </footer>
    </div>
     <div class="link-info">
      <a class="gtmTerminosYCondiciones" [routerLink]="termsLink">Términos y condiciones</a>
      -
      <a [routerLink]="faqLink">Preguntas frecuentes</a>
      </div>
  </div>
  <img class="sufi-logo" src="./assets/img/logo-sufi.svg" alt="sufi">
  <img class="vigilado-logo" src="./assets/img/vigilado.svg" alt="">
</div>
