<div  class="company-slider-section">
  <div class="header-company">
    <h3>Estas empresas ya estan rotando</h3>
  </div>
  <ngx-carousel [inputs]="carouselCompanyConfig">
      <ngx-item NgxCarouselItem>
          <div>
            1
          </div>
      </ngx-item>
      <ngx-item NgxCarouselItem>
          <div>
            2
          </div>
      </ngx-item>
      <ngx-item NgxCarouselItem>
          <div>
            3
          </div>
      </ngx-item>
      <ngx-item NgxCarouselItem>
          <div>
            4
          </div>
      </ngx-item>
      <span NgxCarouselPrev class="gtmBannerRotFlechas arrow arrow-prev"></span>
      <span NgxCarouselNext class="gtmBannerRotFlechas arrow arrow-next"></span>
  </ngx-carousel>
</div>
