:host {
  width: 100%;
  .company-slider-section{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 45px 0;
    text-align: center;
    .header-company{
      margin-bottom: 20px;
      h1 {
        font-size: 2.4rem;
        margin: 0;
        margin-bottom: 10px;
        color:#272727;
        font-weight: bold;
      }
    }
  }
}

:host {
  ngx-carousel {
    position: relative;
    padding: 0 6%;
    .arrow {
      display: inline-block !important;
      border: 0;
      z-index: 1;
      top: 46%;
      left: 2rem;
      width: 50px;
      height: 50px;
      position: absolute;
      cursor: pointer;
      border-radius: 50%;
      background: #EFEFEF;
      &:hover{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      }
    }
    .arrow-next {
      // left: unset;
     left: auto;
     right: 2rem;
     // transform: rotate(-135deg);
    }

    .ic-arrow {
      margin: 0 auto;
      margin-top: 18px;
      width: 15px;
      height: 15px;
      background-size: 15px 15px;
    }

    .arrow-prev{
      .ic-arrow-prev{
        background-image: url(../../assets/img/ic_flecha_izquierda.svg);
      }
    }

    .arrow-next{
      .ic-arrow-next{
        background-image: url(../../assets/img/ic_flecha_derecha.svg);
      }
    }

    .companies-container{
      display: flex;
      flex-flow: row wrap;
    }

    .company-container{
      width: 100%;
      .img-container{
        margin: 0 auto;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 70%;
          height: auto;
        }
      }
    }

  }
}

@media screen and (max-width: 460px) {
  :host {
    .company-slider-section .header-company h1 {
      font-size: 2.0rem;
    }
  }
  :host {
    ngx-carousel {
      .arrow {
        width: 30px;
        height: 30px;
      }
      .ic-arrow {
        margin-top: 7px;
      }
      .arrow-prev{
        left: 0;
      }
      .arrow-next{
        right: 0;
      }
    }
  }
:host {
   ngx-carousel .company-container .img-container {
    width: 110px;
    height: 110px;
  }
}
}
