<div  class="product">
  <div class="first">
      <div [ngStyle]="{'background-image': getUrlImge(product.url)}" class="thumb cover"></div>
  </div>
  <div class="product-info">
      <li>
        <div>
            <p class="title">
              {{product.name}}
              </p>
              <p class = "status">
               <span>Estado:</span> {{product.status}}
              </p>
        </div>
        </li>
        <li>
          <p class="price">
            {{product.price  | currency:'$' | removeDigits}}
          </p>
        </li>
        <li class="heart-container">
            <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                <div class="heart"></div>
            </button>
        </li>
  </div>

</div>
