<div class="product" [ngClass]="{active: isProductAvailable}">
  <div class="first">
      <div [ngStyle]="{'background-image': getUrlImge(product.url)}" class="thumb cover"></div>
      <div *ngIf="!isCostume && product['product_is_low_price']"
            class="container-low-price">
            <p>$ REBAJÓ</p>
      </div>
      <div *ngIf="isCostume" class="halloween">
      </div>
  </div>
  <div class="product-info">
      <li>
        <div>
            <p class="title">
              {{product.name}}
              </p>
              <p class = "status">
               <span>Estado:</span> {{product.status}}
              </p>
        </div>
        </li>
        <li>
          <p class="price">
            {{product.price  | currency:'$' | removeDigits}}
          </p>
        </li>
        <li class="heart-container">
            <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                <div class="heart"></div>
            </button>
        </li>
  </div>

</div>
