@import "../../../styles/settings/_colors.scss";
@import "../../../styles/settings/_variables.scss";
:host {
  display: block;
  margin-bottom: 4rem;
  .container {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .zeta, p{
    margin: 0;
    font-size: 1.6rem;
  }
  p{
    margin-bottom: 20px;
  }
  .location{
    label{
      font-weight: 700;
      font-size: 1.4rem;
    }
  }

  select.form-control{
    background-position: 95% center;
    background-size: 15px;
    background-repeat: no-repeat;
  }

  @media (max-width: 780px) {
    .container {
      width: 100%;
    }
  }
}
