<div class="back-modal">
  <div class="modal-detail">
      <div class="button-close-modal" (click)="closeModalBuy()">
          <p>x</p>
      </div>
      <div class="img-monkey"></div>
      <div class="section-title">
          <p>¡Genial! Tu simulación se envió con éxito</p>
      </div>
      <div class="second-section-title">
        <p>Sufi te contactará en los próximos días</p>
      </div>
      <div class="section-info">
          <div class="buttons-container">
              <button (click)="closeModalBuy()" type="button" class="btn-go-microsite">Volver</button>
          </div>
      </div>
  </div>
</div>
