@import "../../../styles/settings/_colors.scss";
@import "../../../styles/settings/_variables.scss";
:host {
  width: 100%;
  height: auto;
  padding: 0 5%;
  padding-left: 2%;
  min-height: 60rem;
  .spinner{
    position: relative;
    height: 60rem;
  }
  custom-spinner {
    position: absolute;
    left: 48%;
    top: 40%;
  }
  .tittle {
    .text {
      color: #ed2f3c;
    }
    h1.text {
      font-size: 4rem;
      font-weight: normal;
      margin: 0;
    }
  }
  .product-container {
    padding: 10px;
  }
  .main-title {
    padding-bottom: 15px;
    border-bottom: 2px solid #eae9e8;
    margin-bottom: 25px;
  }
  .products-empty {
    text-align: center;
    padding: 20px 10px;
    min-height: 40rem;
    .ico-sold {
      margin: 0 auto;
      width: 200px;
      height: 200px;
      background: url(../../../assets/img/producto_rotados.svg);
      background-size: 200px 200px;
    }
    .ico-no-product {
      margin: 0 auto;
      width: 200px;
      height: 200px;
      background: url(../../../assets/img/productos_rotando.svg);
      background-size: 200px 200px;
    }
    p {
      font-size: 2rem;
    }
  }
  .sold-header-nav {
    .nav-tabs {
      display: flex;
      width: 100%;
    }
    .tab {
      width: 50%;
    }
    .tab.active {
      .option {
        border-bottom: 3px solid #00aac7;
      }
    }

    .option {
      cursor: pointer;
      font-size: 2.5rem;
      text-align: center;
      width: 100%;
      padding: 5px 0;
      border-bottom: 3px solid #eae9e8;
    }
  }

  .container-masonry {
    .masonry {
      .grid-item {
        width: 32%;
      }
    }
  }

  .container--app {
    width: 100%;
  }
  .row-list__wrapper {
    margin: 20px 0;
  }
  .row-list__ul {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .modal--offer {
    overflow-y: visible;
  }
  .row-list__item {
    width: 50%;
    overflow: hidden;
    list-style-type: none;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
  }
  .product-buy__thumbnail {
    margin-right: 15px;
    height: 46px;
    width: 46px;
    border-radius: 4px;
    float: left;
    background-size: cover;
  }
  .product-buy__info {
    float: left;
    padding-top: 3px;
  }
  .product-buy__title {
    line-height: 19px;
    margin-bottom: 2px;
    margin-top: 0;
  }
  .text--small,
  .product-buy__title {
    font-size: 1.4rem;
  }

}

@media screen and (max-width: 450px) {
  :host {
    .container--app {
      width: 100%;
      margin: 0;
      padding: 0 1rem;
    }
  }
}

@media screen and (max-width: 780px) {
  :host {
    padding: 0 2%;
    .container-masonry {
      .masonry {
        .grid-item {
          width: 48%;
        }
      }
    }
    .tittle h1.text {
      text-align: center;
      margin-top: 20px;
    }
  }
}
