@import "../../../styles/settings/_colors.scss";
@import "../../../styles/settings/_variables.scss";
:host {
  width: 100%;
  height: auto;
  padding: 0 7%;
  custom-spinner {
    position: absolute;
    left: 65%;
    top: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
  }
  .tittle {
    position: relative;
    padding: 0 55px;
    margin-bottom: 40px;
    .ico {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    .ico-product {
      width: 50px;
      height: 50px;
      background: url(../../../assets/img/articulos_rotados.svg);
      background-size: 50px 50px;
    }
    .text {
      color: #ed2f3c;
      font-size: 2.5rem;
    }
  }
  .products-empty {
    text-align: center;
    padding: 20px 10px;
    .ico-sold {
      margin: 0 auto;
      width: 200px;
      height: 200px;
      background: url(../../../assets/img/producto_rotados.svg);
      background-size: 200px 200px;
    }
    .ico-no-product {
      margin: 0 auto;
      width: 200px;
      height: 200px;
      background: url(../../../assets/img/productos_rotando.svg);
      background-size: 200px 200px;
    }
    p {
      font-size: 2rem;
    }
  }
  .sold-header-nav{
    .nav-tabs{
      display: flex;
      width: 100%;
    }
    .tab{
      width: 50%;

    }
    .tab.active{
      .option{
        border-bottom: 3px solid #00AAC7;
      }
    }
    .tab-left{
      padding-right: 2%;
      .option{
        float: right;
      }
    }
    .tab-right{
      padding-left: 2%;
      .option{
        float: left;
      }
    }
    .option{
      cursor: pointer;
      font-size: 2rem;
      text-align: center;
      width: 16rem;
      padding: 5px 0;
    }
  }

  .container-masonry {
    .masonry {
      .grid-item {
        width: 48%;
      }
    }
  }

  .container--app {
    width: 100%;
  }
  .row-list__wrapper {
    margin: 20px 0;
  }
  .row-list__ul {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .modal--offer {
    overflow-y: visible;
  }
  .row-list__item {
    width: 50%;
    overflow: hidden;
    list-style-type: none;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
  }
  .product-buy__thumbnail {
    margin-right: 15px;
    height: 46px;
    width: 46px;
    border-radius: 4px;
    float: left;
    background-size: cover;
  }
  .product-buy__info {
    float: left;
    padding-top: 3px;
  }
  .product-buy__title {
    line-height: 19px;
    margin-bottom: 2px;
    margin-top: 0;
  }
  .text--small,
  .product-buy__title {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 450px){
  :host{
    .container--app {
      width: 100%;
      margin: 0;
      padding: 0 1rem;
    }
  }
}
