<div class="info-container">
  <div class="tittle main-title">
    <h1 class="text">Artículos rotados</h1>
  </div>
  <nav class="sold-header-nav">
    <div class="nav nav-tabs">
      <div class="tab tab-left" [ngClass]="{ active:  currentTab == 'sold' }">
        <div (click)="currentTab = 'sold'" class="option">
          <a class="link">Vendiste</a>
        </div>
      </div>
      <div class="tab tab-right" [ngClass]="{ active:  currentTab == 'purchased' }">
        <div (click)="currentTab = 'purchased'" class="option">
          <a class="link">Compraste</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container--app">
    <div id="sold" *ngIf="currentTab === 'sold'">
        <div *ngIf="isSpinnerShow" class="spinner">
            <custom-spinner *ngIf="isSpinnerShow"></custom-spinner>
        </div>
      <div *ngIf="showEmptySold" class="products-empty">
        <div class="ico ico-sold"></div>
        <p class="text">No tienes artículos vendidos.</p>
      </div>
      <div class="row-list__wrapper" *ngIf="!showEmptySold">
        <div class="container-masonry">
          <masonry class="masonry" #masonryRef [useImagesLoaded]="false" [options]="masonryConfig" infiniteScroll [infiniteScrollDistance]="0.5">
            <masonry-brick class="grid-item" *ngFor="let productSold of productsSold">
              <div class="product-container">
                <product-rotalo-center  [masonryInfo]="masonryRef" [isProductSold]="true" [isProductSelling]="false" [showField]="false" [product]="productSold"></product-rotalo-center>
              </div>
            </masonry-brick>
          </masonry>
        </div>
      </div>
    </div>
    <div id="purchased" *ngIf="currentTab === 'purchased'">
        <div *ngIf="isSpinnerShow" class="spinner">
            <custom-spinner *ngIf="isSpinnerShow"></custom-spinner>
        </div>
      <div *ngIf="showEmptyPurchase"  class="products-empty">
        <div class="ico ico-no-product"></div>
        <p class="text">Aún no tienes ningun artículo comprando.</p>
      </div>
      <div class="row-list__wrapper" *ngIf="!showEmptyPurchase">
        <div class="container-masonry">
          <masonry class="masonry" #masonryRef [useImagesLoaded]="false" [options]="masonryConfig" infiniteScroll [infiniteScrollDistance]="0.5">
            <masonry-brick class="grid-item" *ngFor="let productPurchased of productsPurchased">
              <div class="product-container">
                <product-rotalo-center [masonryInfo]="masonryRef" [isProductPurchased]="true" [isProductSelling]="false" [showField]="false" [product]="productPurchased"></product-rotalo-center>
              </div>
            </masonry-brick>
          </masonry>
        </div>
      </div>
    </div>
  </div>
</div>
