html{
    font-size: 10px;
}

body{
    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

*{
    box-sizing: border-box;
    outline: none;
}

a{
    text-decoration: none;
}