html {
    font-size: 10px;
}

body {
    font-family: "Lato Regular", "Abel", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #9B9B9B;
}

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

select {
    background-image: url(assets/img/arrow.svg);
    background-position: 92% center;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    appearance: none;
}

button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}
