html{
    font-size: 10px;
}

body{
    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

*{
    box-sizing: border-box;
    outline: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

select{
    background-image: url(assets/img/arrow.png);
    background-position: 92% center;
    background-size: 15px;
    background-repeat: no-repeat;
    appearance: none;
}