@import '../../styles/settings/_colors.scss';
@import '../../styles/settings/_variables.scss';
custom-spinner{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 50%);
}


:host(){


}
