<custom-modal (close)="closeModal()">
  <div modal-header>
    <div class="message-show-product">
      <div class="media" *ngIf="conversation.length > 0">
        <span>
          <div class="avatar" [ngStyle]="{'background-image': getUrlImage()}"></div>
        </span>
        <div>
          <h2>{{conversation[0].name}}</h2>
          <p>{{messages.length}} Mensajes</p>
        </div>
      </div>
    </div>
  </div>

  <div modal-body>
    <div class="message-show-history">
      <ul Class="media-list-conversation">
        <li *ngFor="let message of messages" [ngClass]="{'media-current-user': message['by-me']}">
          <a class="avatar-user" *ngIf="!message['by-me']">
            <img src="{{message.photo}}">
          </a>
          <div class="data-message">
            <div class="media-body-text">
              {{message.content}}
            </div>
            <div class="media-footer">
              <small>
                <a>{{message.name}}</a> {{message['sent-at'] | date:'medium'}}
              </small>
            </div>
          </div>
          <a class="avatar-user" *ngIf="message['by-me']">
            <img src="{{message.photo}}">
          </a>
        </li>
      </ul>
      <div id="bottom"></div>
    </div>
  </div>
  <div modal-footer>
    <div class="modal-footer">
      <form (ngSubmit)="onSubmit()" [formGroup]="formMessage">
        <input type="text" class="message-show-input" placeholder="Mensaje" formControlName="message" required />
        <input type="submit" class="message-show-button" value="Enviar" [disabled]="formMessage.invalid"/>
      </form>
    </div>
  </div>
</custom-modal>
