.modal-theme{
	.container-header{
		font-size: 1.4rem;
		display: flex;  
		align-items: center;
		border-bottom: 1px solid #D3E0E9;
		padding: 1.5rem;
		.image{
			width: 5rem;
			margin-right: 1rem;
			img{
				width: 100%;
			}
		}
		.title{
			font-weight: bold;
			color: #4A4A4A;
		}
		.price{
			color: $red;
			font-weight: 500;
			line-height: 2.5rem;
		}
	}
	.container-actions{
		padding: 2rem;
	}
}
  