.modal-theme {
  .container-header {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D3E0E9;
    padding: 1.5rem;
    .image {
      width: 5rem;
      margin-right: 1rem;
      img {
        width: 100%;
      }
    }
    .title {
      font-weight: bold;
      color: #4A4A4A;
    }
    .price {
      color: $red;
      font-weight: 500;
      line-height: 2.5rem;
    }
  }
  .container-actions {
    padding: 2rem;
  }
}

.md-modal {
  position: fixed;
  top: 55%;
  right: 10px;
  width: 50%;
  max-width: 340px;
  min-width: 300px;
  height: 423px;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform:  translateY(-50%);
  -moz-transform:  translateY(-50%);
  -ms-transform:  translateY(-50%);
  transform:  translateY(-50%);
}

.md-modal-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50%;
  max-width: 941.08px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
}

.md-show {
  visibility: visible;
}


/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 2: Slide from the right */
.md-effect-2 .md-content {
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.md-show.md-effect-2 .md-content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.modal-open{
  feed-back {
    display: none;
  }
}
