image-upload {
  .img-ul {
    text-align: center;
    border-color: #9B9B9B !important;

    .img-ul-file-upload {
      display: inline-block;

      .img-ul-upload,
      .img-ul-clear {
        background: #4B2878;
      }

      .img-ul-clear {
        margin-left: 1rem;
      }
    }

    .img-ul-container {
      .img-ul-image {
        height: 150px;
        width: 185px;

        &:not(:last-child) {
          margin-right: 1.5rem;
        }
      }

      .img-ul-x-mark {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $red;

        .img-ul-close {
          display: inline-block;
          height: 15px;
          padding: 0;
          width: 3px;
        }
      }
    }
  }
}

.container-box {
  image-upload {
    .img-ul .img-ul-container .img-ul-image {
      width: 120.46px;
      height: 120.21px;
    }

    .img-ul-container {
      padding: 0;
    }

    .img-ul-file-upload {
      padding: 0;
    }

    .img-ul-button {
      padding: 0;
      border-radius: 0;
      background: center center no-repeat;
      background-size: contain;
      display: inline-block;
      position: relative;
      cursor: pointer;
      text-transform: uppercase;
      width: 120.46px;
      height: 120.21px;
      margin: 6px;
    }

    .img-ul-drag-box-msg {
        display: none;
    }

    .img-ul {
      border: none;
    }

  }
}

@media screen and (max-width: 850px) {
  .img-ul-drag-box-msg {
    display: none !important;
  }
}
