<div class="container-product" *ngIf="product" #containerProducts>
  <a>
  <div (click)="selectProduct()"  [ngClass]="isProductSelling || isProductSold? 'opacity-container' : ''" class="container-photo">
      <div [ngClass]="isPromoDate? 'container-black-friday' : ''" *ngIf="product['is-low-price'] || isActivePromo" class="container-low-price ">
        <p *ngIf="!isPromoDate">$ REBAJÓ</p>
      </div>
    <div *ngIf="isProductSelling" class="options-container">
      <div *ngIf="expiredProduct" class="republish" (click)="republish(product)"></div>
      <div class="delete" (click)="deleteProduct(product)"></div>
      <div class="edit" (click)="editProduct(product)"></div>
    </div>
    <div *ngIf="isProductSold" class="options-container">
        <div class="republish" (click)="republishSold(product)"></div>
    </div>
    <!--<img [src]="product.photos.url" [alt]="product.name">-->
    <img (load)="triggerMasonryLayout()" *ngIf="!product.photos" [src]="defaultImage" [alt]="product.name" (error)="updateSrc($event)">
    <img (load)="triggerMasonryLayout()" *ngIf="product.photos" [src]="product.photos?.url || product.photos[0].url" [alt]="product.name"  (error)="updateSrc($event)">
    <!--<img [src]="product.photos.url || product.photos[0].url" [alt]="product.name">-->
  </div>
  <div  class="container-name">
    <div (click)= "shareProduct('custom-modal-2')"  *ngIf="!isProductSelling  && !isProductSold" class="gtmCompartirProducto icon-share-container">
      <div class="gtmCompartirProducto icon-share">
      </div>
    </div>
    <span  (click)="selectProduct()" class="name">{{product.name}}</span>
  </div>
  <div class="product-info" (click)="selectProduct()">
      <div [ngClass]="showField ? '' : 'border-price'" class="container-price">
          <span *ngIf="product.price != 0 && product.currency == 'GTQ'" class="name">{{product.price | currency:"Q":0 | removeDigits}}</span>
          <span *ngIf="product.price != 0 && product.currency != 'GTQ' && idCountry == 9" class="name">{{product.price | currency:"$":0 | removeDigits}}</span>
          <span *ngIf="product.price != 0 && product.currency != 'GTQ' && idCountry == 1" class="name">{{product.price | currency:"$":0 | removeDigits}}</span>
          <span *ngIf="product.price == 0" class="name">Gratis</span>
          <div *ngIf="isProductSold && product.calificacionGeneral > 0" class="gold-ranking">
            <show-star [numberStar] = "product.calificacionGeneral" class="price"> </show-star>
          </div>
        </div>
        <div *ngIf="product['sell-type'] && showField" class="container-status">
            <span class="icon-margin">$</span>
            <span class="name">{{product['sell-type'].toLowerCase()}}</span>
          </div>
          <div class="container-status">
            <span class="icon icon-tag icon-margin"></span>
            <span  class="name">{{product.used ? 'Usado' : 'Nuevo'}}</span>
         </div>
          <div *ngIf="showField" class="container-location">
            <span class="icon-location"></span>
            <span>{{getLocation(product)}}</span>
          </div>
          <div *ngIf="!showField" class="container-date">
            <span class="icon-calendar"></span>
            <p>
              <span>Fecha de Publicación</span>
              {{product['published-at'] | date}}</p>
          </div>
          <div *ngIf="isProductSelling" class="container-date">
            <span class="icon-calendar"></span>
            <p>
              <span>Fecha de Caducación</span>
              {{product['publish-until'] | date}}</p>
          </div>
          <div *ngIf="isProductSold" class="container-date">
            <span class="icon-calendar"></span>
            <p>
              <span>Fecha de venta</span>
              {{product['received-at'] | date}}</p>
          </div>
          <div *ngIf="isProductPurchased" class="container-date">
            <span class="icon-calendar"></span>
            <p>
              <span>Fecha de compra</span>
              {{product['received-at'] | date}}</p>
          </div>

          <div *ngIf="isProductSold && product.comprador" class="container-date">
            <span class="icon-account"></span>
            <p>
              <span>Comprador</span>
                {{product.comprador}}
          </div>

          <div *ngIf="product.user && isProductPurchased" class="container-date">
            <span class="icon-account"></span>
            <p>
              <span>Vendedor</span>
              {{product.user.name}}
          </div>
  </div>
  <div  (click)="selectProduct()" *ngIf="product.user && showField" class="container-info-user">
    <div class="icon-container" [ngStyle]="{'background-color':colourCompany}">
      <span class="icon-account" *ngIf="!product.user.photo && !product.user.photos"></span>
      <img  *ngIf="product.user.photo" [src]="product.user.photo.url">
      <img  *ngIf="product.user.photos" [src]="product.user.photos.url">
    </div>
      <div class="user-info-container">
        <p class="name-text">{{product.user.name}}</p>
        <p *ngIf="product.user && product.user.company" class="company-text" [ngStyle]="{'color':colourCompany}">
          {{product.user?.company.name}}
          <span class="comunidad-text"> - {{product.user?.company.community.name}}</span>
        </p>
      </div>
  </div>
  <div *ngIf="isProductSelling && !expiredProduct" class="media">
    <div class="media-left media-middle">
      <label class="switch">
        <input type="checkbox" [checked]="productStatus" (change)="saveCheck()">
        <div class="switch-slider round"></div>
      </label>
    </div>
    <div class="media-body">
      <p class="panel-product__info post-status {{productChecked}}">Tu artículo está {{ productStatus ? 'activo' : 'inactivo' }}</p>
    </div>
  </div>
</a>
</div>
