<navigation-top [hideBackArrow]="isHideBackArrow"></navigation-top>
<div class="main">
  <div *ngIf="showMenu" class="menu">
    <div class="photo-container">
      <div [routerLink]="profileShow" class="photo clickable">
        <img *ngIf="userInfo && !userInfo.photo || userInfo && !userInfo.photo.url" [src]="defaultImage" alt="no imagen" (error)="updateSrc($event)">
        <img *ngIf="userInfo && userInfo.photo && userInfo.photo.url" [src]="photoUrl" alt="imagen-perfil" (error)="updateSrc($event)">
      </div>
      <div class="user-info">
        <p *ngIf="userName" class="name">{{userName}}</p>
        <p *ngIf="userInfo && userInfo.company && userInfo.company.name" class="company">{{userInfo.company.name}}</p>
        <div  *ngIf="userInfo && userInfo.calificacionGeneral" class="ranking">
            <span class="star star-full">
            </span>
            <span> {{userInfo.calificacionGeneral}}
            </span>
        </div>
      </div>
    </div>
    <div class="menu-options">
      <div class="menu-container ac-container">
        <div  #option1 routerLinkActive="active open" [ngClass]="options[0] ? 'open' : ''">
          <div class="option">
            <div class="ico user-icon"></div>
            <input (change) = " selectOption(option1, 0)"  id="ac-1" name="accordion-1" type="checkbox" />
            <label for="ac-1">Mi cuenta<div class="icon"></div></label>
          </div>
          <article (click)="closeOptions(0)" class="ac-small">
            <ul>
              <li [routerLink]="profileShow" routerLinkActive="active" class="subOption">
                <div class="bullet"></div>
                <a>Mi perfil</a>
              </li>
              <li [routerLink]="hobbies" routerLinkActive="active" class="subOption">
                <div class="bullet"></div>
                <a>Mis intereses</a>
              </li>
            </ul>
          </article>
        </div>
        <div (click)="closeAllOptions()" [routerLink]="messages" class="option gtmMensajes" routerLinkActive="active">
          <div class="ico message-icon"></div>
          <a class="gtmMensajes">Mensajes</a>
          <span *ngIf="messageAvailable" class="noti-circle">{{getMessagesUnRead}}</span>
        </div>
        <div (click)="closeAllOptions()" [routerLink]="selling" class="option" routerLinkActive="active">
          <div class="ico rotando-icon"></div>
          <a>Artículos publicados</a>
        </div>
        <div (click)="closeAllOptions()" [routerLink]="sold" class="option" routerLinkActive="active">
          <div class="ico rotados-icon"></div>
          <a>Artículos comprados y vendidos</a>
        </div>
        <div #option2 routerLinkActive="active open" [ngClass]="options[1] ? 'open' : ''">
            <div class="option">
              <div class="ico configuration-icon"></div>
              <input  (change) = " selectOption(option2, 1)" id="ac-2" name="accordion-2" type="checkbox" />
              <label for="ac-2">Mi Configuración<div class="icon"></div></label>
            </div>
            <article (click)="closeOptions(1)" class="ac-small">
              <ul>
                <li [routerLink]="edit" routerLinkActive="active" class="subOption">
                  <div class="bullet"></div>
                  <a>Mis datos</a>
                </li>
                <li [routerLink]="security" routerLinkActive="active" class="subOption">
                  <div class="bullet"></div>
                  <a>Seguridad</a>
                </li>
                <li [routerLink]="notificationsSettings" routerLinkActive="active" class="subOption">
                  <div class="bullet"></div>
                  <a>Configuración</a>
                </li>
              </ul>
            </article>
        </div>

        <div *ngIf="currentUser && currentUser['is-admin-store']" class="line">
        </div>

        <div *ngFor="let store of stores ; let i = index">
            <div #option3
            *ngIf="store['is_assigned_to_user']" routerLinkActive="active open"  [ngClass]="optionsStore[i] ? 'open' : ''">
                <div class="option">
                  <div class="ico shop-icon"></div>
                  <input  (change) = "selectOptionStores(option3, i)" id="store-{{store.id}}" name="accordion-{{store.id}}" type="checkbox" />
                  <label for="store-{{store.id}}">{{store.name}}<div class="icon"></div></label>
                </div>
                <article (click)="closeOptionsStores(i)" class="ac-small">
                  <ul>
                    <li *ngIf="store.id == 1" routerLinkActive="active" [routerLink]="adminOrders" class="subOption">
                      <div class="bullet"></div>
                      <a>Ordenes</a>
                    </li>
                    <li routerLinkActive="active" routerLink="{{productShop}}/{{store.id}}" class="subOption">
                      <div class="bullet"></div>
                      <a>Productos</a>
                    </li>
                    <li routerLinkActive="active" routerLink="{{bannersShop}}/{{store.id}}" class="subOption">
                        <div class="bullet"></div>
                        <a>Banners tienda</a>
                    </li>
                <!--    <li class="subOption">
                      <div class="bullet"></div>
                      <a>Destacados</a>
                    </li> -->


                    <!--
                    <li routerLinkActive="active" [routerLink]="uploadProducts" class="subOption">
                        <div class="bullet"></div>
                        <a>Carga de productos</a>
                      </li>-->
                  </ul>
                </article>
            </div>
        </div>

        <div *ngIf="isSuperUser()" class="line">
        </div>

        <div #option4 *ngIf="isSuperUser()" routerLinkActive="active open"  [ngClass]="options[2] ? 'open' : ''">
            <div class="option">
              <div class="ico admin-icon "></div>
              <input  (change) = " selectOption(option4, 2)" id="ac-4" name="accordion-4" type="checkbox" />
              <label for="ac-4">Admin. Sistema<div class="icon"></div></label>
            </div>
            <article (click)="closeOptions(2)" class="ac-small">
              <ul>
                <li [routerLink]="users" routerLinkActive="active" class="subOption">
                  <div class="bullet"></div>
                  <a>Usuarios</a>
                </li>
                <li [routerLink]="adminRegister" routerLinkActive="active" class="subOption">
                  <div class="bullet"></div>
                  <a>Pre-registro</a>
                </li>
                <li [routerLink]="featuredProduct" routerLinkActive="active" class="subOption">
                  <div class="bullet"></div>
                  <a>Destacados</a>
                </li>
                <li [routerLink]="banners" routerLinkActive="active" class="subOption">
                  <div class="bullet"></div>
                  <a>Banners home</a>
                </li>
                <li [routerLink]="campaign" routerLinkActive="active" class="subOption">
                    <div class="bullet"></div>
                    <a>Campañas</a>
                </li>
              </ul>
            </article>
        </div>
      </div>
    </div>
  </div>
  <router-outlet class="content"></router-outlet>
</div>
<custom-footer class="footer"></custom-footer>
