<navigation-top [hideBackArrow]="isHideBackArrow"></navigation-top>
<div class="container-bar-offer">
  <div class="container">
    <h1 class="offer-head-title">Centro Rótalo</h1>
  </div>
</div>
<div class="main">
  <div *ngIf="showMenu" class="menu">
    <div class="logo-container">
      <div [routerLink]="infoRotalo" class="logo-circle">
        <img class="logo-rotalo" src="../../assets/img/logo_rotalo.svg" alt="logo rotalo">
      </div>
    </div>
    <div class="menu-options">
      <div class="menu-container">
        <div [routerLink]="messages" class="option gtmMensajes" routerLinkActive="active">
          <div class="ico message-icon"></div>
          <a class="gtmMensajes">Mensajes</a>
          <span *ngIf="messageAvailable" class="noti-circle">{{getMessagesUnRead}}</span>
        </div>
        <div [routerLink]="selling" class="option" routerLinkActive="active">
          <div class="ico rotando-icon"></div>
          <a>Artículos rotando</a>
        </div>
        <div [routerLink]="sold" class="option" routerLinkActive="active">
          <div class="ico rotados-icon"></div>
          <a>Artículos rotados</a>
        </div>
        <div [routerLink]="notificationsSettings" class="option" routerLinkActive="active">
          <div class="ico configuration-icon"></div>
          <a>Configuraciones</a>
        </div>
        <div *ngIf="showOptionsOrders" [routerLink]="adminOrders" class="option" routerLinkActive="active">
          <div class="ico configuration-icon"></div>
          <a>Administrador de órdenes</a>
        </div>
      </div>
    </div>
  </div>
  <router-outlet class="content"></router-outlet>
</div>
<custom-footer class="footer"></custom-footer>
