:host {
  .container-bar-offer {
    background: url("/assets/img/image_bw.jpg") no-repeat center;
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
      .inside-circle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 4rem;
        background-color: #41b5cb;
        border-radius: 50%;
        margin-right: 2rem;
        .icon-tag {
          font-size: 2.5rem;
          color: white;
        }
      }
      .offer-head-title {
        color: white;
        margin: 0;
        font-size: 5.5rem;
      }
    }
  }
  .main {
    flex: 1 0 auto;
    display: flex;
    height: auto;
    padding-top: 45px;
    padding-bottom: 70px;
    .menu {
      width: 40%;
      padding-left: 7%;
      list-style: none;
      text-align: left;
      order: -1;
      margin: 0;
      border-right: 2px solid #eae9e8;
    }

    .menu {
      .menu-options {
        font-size: 2.2rem;
        border-radius: 2px;
        padding-left: 15%;
      }
      .menu-options a {
        display: block;
        padding: 15px 0;
        text-decoration: none;
        padding-left: 2.5em;
      }
      .menu-options .active {
        color: #ed2f3c;
        background: #eae9e8;
      }
    }

    .menu {
      .logo-container {
        border-radius: 2px;
        margin-bottom: 5px;
        padding: 20px 0;

        .logo-circle {
          position: relative;
          background: #ffffff;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          border: 5px solid #eae9e8;
          text-align: center;
          line-height: 100px;
          vertical-align: middle;
          padding: 30px 15px;
          margin: 0 auto;
          .logo-rotalo {
            position: absolute;
            display: block;
            top: 47%;
            transform: translateY(-50%);
            width: 110px;
            height: 50px;
            background-size: 110px 50px;
          }
        }
      }
    }

    .menu {
      .menu-options {
        .option {
          cursor: pointer;
          position: relative;
          padding-left: 5%;
        }
        .ico {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        .message-icon {
          width: 30px;
          height: 30px;
          background: url(../../assets/img/mensaje_menu.svg);
          background-size: 30px 30px;
        }
        .rotando-icon {
          width: 30px;
          height: 30px;
          background: url(../../assets/img/articulos_rotando.svg);
          background-size: 30px 30px;
        }
        .rotados-icon {
          left: 3px;
          width: 50px;
          height: 50px;
          background: url(../../assets/img/articulos_rotados.svg);
          background-size: 50px 50px;
        }
        .configuration-icon {
          width: 30px;
          height: 30px;
          background: url(../../assets/img/configuracion.svg);
          background-size: 30px 30px;
        }
      }
    }
  }

  .footer {
    width: 100%;
  }

  @media (max-width: 700px) {
    .main {
      flex-direction: column;
      .menu {
        width: 100%;
      }
    }
  }
}
