<custom-modal title="{{title}}" class="modal-theme" (close)="closeModal()">
	<div modal-header class="container-header">
	</div>
	<div modal-body class="container-body" [ngSwitch]="stateRequest">
		<div *ngSwitchCase="statesRequestEnum.initial" class="container-rating">
			<div class="profile">
				<div class="thumb"> 
			        <img [src]="'/assets/img/profile-no-image.png'" width="64">
				</div>
				<p *ngIf="config['seller-rate']">Ya has calificado a <span class="semibold">{{config.name}}</span></p>
				<p *ngIf="!config['seller-rate']">
					<span class="bold block">¿Cómo te fue?</span>
					<span *ngIf="!config['seller-rate']">Califica a </span><span class="bold">{{config.name}}</span> como {{type}}
				</p>
			</div>
			<div class="rating">
				<star-rating (checked)="rate($event)" [rating]="config['seller-rate']"></star-rating>
			</div>
			<div class="comments">
				<textarea placeholder="Agregar un comentario..." (blur)="onBlurText($event)" [readonly]="config.comment">{{config.comment || '' }}</textarea>
			</div>
		</div>
		<div *ngSwitchCase="statesRequestEnum.loading">
			<custom-spinner></custom-spinner>
		</div>
		<div *ngSwitchCase="statesRequestEnum.success"  class="container-text container-text-success">
			<div>
				<span>{{msgRequest}}</span>
			</div>
		</div>
		<div *ngSwitchCase="statesRequestEnum.error" class="container-text container-text-error">
			<div>
				<span>{{msgRequest}}</span>
			</div>
		</div>
	</div>
	<div modal-footer class="container-actions" *ngIf="stateRequest == statesRequestEnum.initial && !config['seller-rate']">
		<custom-button text="Calificar" [disabled]= "!isRateButtonAvailable" (click)= "ratePurchase()"></custom-button>
	</div>
</custom-modal>