<div *ngIf="!isGuatemala" class="container-terms">
  <h2 class="title">CONDICIONES DE USO DEL SITIO WEB</h2>
  <p>El sitio web www.rotalo.co (en adelante “El Sitio Web”), es un portal de información creado por Bancolombia S.A. para facilitar
    el ofrecimiento de sus productos y servicios financieros y/o de sus filiales y/o subsidiarias, domiciliadas en Colombia
    y/o en el exterior, y las entidades que pertenezcan o llegaren a pertenecer a su Grupo Empresarial (en adelante Bancolombia).
    En tal sentido, Bancolombia pone al servicio del (de los) Usuario(s) de la(s) Comunidad(es) dicho Sitio Web para que
    este (estos) publique(n) sus ofertas de venta, donación y/o permuta de bienes y servicios, en los términos y condiciones
    aquí establecidos; bienes y servicios estos que podrían ser objeto de financiación por parte de Bancolombia, siempre
    que el(los)Usuario(s) cumpla(n) las políticas de crédito de la entidad financiera.</p>
    <br>
  <p>Entiéndase por Comunidades, un grupo de Usuarios de El Sitio Web unidos por relaciones de tipo laboral o contractual con
    un tercero. Dicho tercero puede ser una empresa individualmente considerada o un Grupo empresarial. El (los) Usuario(s)
    podrá(n), voluntariamente (i) registrarse en el Sitio Web y usar el mismo para publicar o anunciar sus productos o servicios
    con fines de venta, permuta o donación, y/o (ii) comprar, permutar, subastar, o aceptar la donación de bienes o servicios,
    aceptando los términos y condiciones del (de los) Usuario(s) oferente(s); y/o (iii) solicitar a Bancolombia la financiación
    de los bienes o servicios, cumpliendo las políticas de crédito de la entidad.</p>
    <br>
  <h4 class="subtitle">Aceptación</h4>
  <p>Con el registro exitoso del (de los) Usuario(s) en El Sitio Web, el(los) Usuario(s) aceptará(n) el cumplimiento de las
    obligaciones establecidas en los presentes Términos y Condiciones.</p>
    <br>
  <p>Bancolombia tiene el derecho de modificar los presentes lineamientos en cualquier momento y para el efecto los dará a conocer
    al(a los) Usuario(s) de forma oportuna y en caso que el (los) Usuario(s) no esté(n) de acuerdo con alguna de las modificaciones
    que se hicieren, podrá(n) dejar de usar la misma en el momento en que lo decida(n).</p>

  <h4 class="subtitle">Contenido</h4>

  <p>Bancolombia, a través del Sitio Web, da la posibilidad al (a los) Usuario(s) de publicar productos y servicios para su
    compra, venta, permuta, cambio o donación y en consecuencia permite que otro(s) Usuario(s) pueda(n) ver los mismos a
    través de El sitio Web y solicitar su financiación a Bancolombia. </p>
    <br>
  <p>Los datos e información consignados en el contenido informativo de El Sitio Web, tales como mensajes, comentarios, archivos,
    imágenes, valores, tamaños, cantidades, colores, entre otros, son responsabilidad únicamente del Usuario anunciante y
    no son proveídos o comercializados por Bancolombia, a menos que sea un producto financiero.</p>
    <br>
  <p>Es importante tener en cuenta que el (los) Usuario(s) no puede(n), bajo ninguna circunstancia, transmitir, transferir,
    reformar, publicar, reproducir, distribuir, vender, arrendar o comercializar dicha información sin autorización expresa
    del respectivo titular de la misma.</p>
    <br>
  <p>La interpretación y uso de los datos y de la información suministrada en El sitio Web, son responsabilidad de cada uno
    de los Usuarios.</p>
    <br>
  <p>Bancolombia se reserva el derecho de modificar o suprimir los contenidos o publicaciones efectuadas por el(los) Usuario(s)
    en El sitio Web sin necesidad de previo aviso.</p>

  <h4 class="subtitle">Subasta</h4>
  <p>El (los) Usuario(s) podrá(n) ofrecer sus productos o servicios mediante el mecanismo de Subasta, entendiéndose por este,
    el proceso en el cual varios Usuarios dentro de un tiempo determinado, ofrecen el pago de un producto o servicio el cual
    no puede ser inferior al indicado por el Usuario anunciante. El Usuario que haya ofrecido el mayor valor será el que
    comprará el producto o servicio anunciado. </p>

  <h4 class="subtitle">Servicio</h4>

  <p>El acceso a El Sitio Web estará disponible para el (los) Usuario(s), salvo que existan circunstancias de fuerza mayor,
    caso fortuito o hechos de un tercero que impidan o restrinjan dicho acceso. De presentarse alguna de estas Bancolombia
    lo informará a los Usuarios.</p>

  <h4 class="subtitle">Derecho de propiedad</h4>

  <p>El contenido de El Sitio Web, bien sea en la publicidad del (los) Usuario(s) anunciantes, o en la información presentada
    por Bancolombia o por un tercero autorizado, está protegida por derechos de autor, marcas, patentes, o formas diferentes
    del derecho de propiedad. Dicho contenido incluye, entre otros, los textos, el software, la música, el sonido, las fotografías,
    los videos, los gráficos, etc.</p>
    <br>
  <p>Por lo tanto, el (los) Usuario(s) debe(n) abstenerse de, sin la previa autorización escrita de Bancolombia o del titular
    del derecho de propiedad (según el caso), de publicar, retransmitir o comercializar a cualquier título o por cualquier
    medio, total o parcialmente, tanto la información contenida en El Sitio Web, como en sus enlaces, so pena de incurrir
    en las responsabilidades por violación de los derechos de autor, conforme a las normas vigentes.</p>


  <h4 class="subtitle">Protección de datos Personales - Comunidad</h4>

  <p>Cada uno de los Usuarios autorizan a Bancolombia para compartir los datos personales que han diligenciado en El Sitio Web
    con los Usuarios de la Comunidad o Comunidades que ofrezcan o publiquen sus productos o servicios en dicho sitio, con
    el fin que puedan ser contactados vía telefónica, mail o chat, compartir información de los productos o servicios que
    anuncian, aclarar dudas sobre los mismos, y acordar condiciones de negociación. </p>

  <h4 class="subtitle">Protección de datos Personales - Bancolombia</h4>

  <p>Con el registro en el Sitio Web, cada uno de los Usuarios autorizan en forma permanente a Bancolombia, para que realice
    los tratamientos que se indican a continuación: I. Autorizaciones necesarias para el desarrollo de la actividad financiera:
    Bancolombia está autorizado para que: (i) Solicite, almacene, consulte, comparta, informe, reporte, rectifique, procese,
    modifique, actualice, aclare, retire, o divulgue, ante Operadores de Información y Riesgo, o ante cualquier otra entidad
    que maneje o administre bases de datos, todo lo referente a la información financiera, comercial y crediticia (presente,
    pasada y futura) del (de los) Usuario(s), y aquella relacionada con sus derechos y obligaciones originados en virtud
    de cualquier contrato u operación que hayan llegado o llegaren a celebrar o realizar con cualquiera de las entidades
    indicadas en estos Términos y Condiciones. (ii) Acceda, recolecte, procese, actualice, conserve, compartan, y destruyan
    la información y documentación de (de los) Usuario(s) incluso aún, cuando no se haya perfeccionado una relación contractual
    o después de finalizada la misma. (iii) Suministre, consulte, verifique y comparta la información financiera, comercial,
    crediticia de (de los) Usuario(s) con contratistas o cualquier otra entidad nacional o extranjera que preste servicios
    de verificación o análisis de administración de riesgo; y actualice la información de acuerdo con el análisis realizado.
    (iv) Compile y remitan a las autoridades competentes, incluyendo las fiscales y los reguladores financieros, nacionales
    o extranjeros, la información relacionada con la titularidad de los productos y servicios contratados o que llegare a
    contratar, datos de contacto, movimientos y saldos, y toda aquella información que reposare en la entidad que sea solicitada
    por normas nacionales o extranjeras. (v) Consulte multas y sanciones a cargo del (de los) Usuario(s) ante las diferentes
    autoridades administrativas y judiciales. (vi) Consulten, soliciten o verifiquen información sobre los activos, bienes
    o derechos de (de los) Usuario(s) en entidades públicas o privadas, o que conozcan personas naturales o jurídicas, o
    se encuentren en buscadores públicos, redes sociales o publicaciones físicas o electrónicas, bien fuere en Colombia o
    en el exterior. (vii) Consulte, solicite o verifique información de ubicación o contacto en entidades públicas o privadas
    o que conozcan personas naturales o jurídicas, o se encuentren en buscadores públicos, redes sociales o publicaciones
    físicas o electrónicas, bien fuere en Colombia o en el exterior con la finalidad de obtener, aproximar o predecir datos
    sobre los ingresos que percibo, utilizando modelos y herramientas estadísticas y/o sociodemográficas. II. Autorizaciones
    por la naturaleza del producto y/o servicio: Bancolombia está autorizada para que: Comparta, transmita, transfiera y
    divulgue la información y documentación de (de los) Usuario(s) con las siguientes personas, siempre que por la naturaleza
    del producto o servicio adquirido se requiera este tratamiento: (a) quienes ofrezcan, presten o suministren bienes y/o
    servicios a Bancolombia para la adecuada prestación de sus productos o servicios; o a quienes en alianza con estas, ofrezcan
    productos o servicios que conllevan beneficios para los Usuarios en virtud de los productos que tengo con las anteriores;
    (b) Entidades con las cuales tenga celebrados o celebren a futuro contratos de uso de red; (c) Las Aseguradoras con las
    cuales tengan contratadas pólizas o con las cuales yo haya decidido contratarlas, los intermediarios de seguros o de
    reaseguros; (d) el comercializador o proveedor de los bienes o servicios financiados por Bancolombia y las entidades
    antes indicadas en esta cláusula; (e) Terceros contratados por Bancolombia para la cobranza judicial y extrajudicial,
    así como para la localización de el(los) Usuario(s) e investigación sobre bienes y derechos; (f) Terceros contratados
    por Bancolombia o personas que en virtud de una relación contractual con dichos terceros, llevan a cabo avalúos de bienes
    o activos; (g) Personas que estén interesadas en la adquisición de cartera de Bancolombia o que la adquieran a cualquier
    título; (h) A quienes son contratados para la realización de actividades de educación financiera. III. Autorizaciones
    para fines comerciales, y para el ofrecimiento y administración de productos y/o servicios: Bancolombia está autorizado
    para que: (a) contacte vía telefónica, directamente o a través de sus proveedores, envíe mensajes por cualquier medio,
    así como correos electrónicos al (los) Usuario(s); (b) Comparta información con proveedores o aliados; (c) Consulte,
    solicite o verifiquen información de ubicación o contacto en entidades públicas o privadas, en Colombia o en el exterior.
  </p>
  <br>
  <p>Los anteriores tratamientos, además de considerar las finalidades antes señaladas, también consideran las siguientes finalidades
    para que Bancolombia: (a) conozca el comportamiento financiero, comercial y crediticio, y el cumplimiento de obligaciones
    legales del (de los) Usuario(s); (b) realice todas las gestiones necesarias tendientes a confirmar y actualizar la información;
    (c) valide y verifique la identidad del (de los) Usuario(s) para el ofrecimiento y administración de productos y servicios,
    así mismo para que comparta la información; (d) establezca una relación contractual, así como mantenerla y terminarla;
    y actualizar la información del (de los) Usuario(s); (e) ofrezca y preste sus productos o servicios a través de cualquier
    medio o canal para el beneficio del(de los) Usuario(s) y de acuerdo con el perfil de estos; (f) realice una adecuada
    prestación y administración de los servicios financieros, incluyendo la gestión de cobranza; (g) suministre información
    comercial, legal, de productos, de seguridad, de servicio o de cualquier otra índole; (h) conozca la ubicación y datos
    de contacto de (de los) Usuario(s) para efectos de notificaciones con fines de seguridad y ofrecimiento de beneficios
    y ofertas comerciales; (i) efectúe análisis e investigaciones comerciales, estadísticas, de riesgos, de mercado, interbancaria
    y financiera incluyendo contactarme para estos fines.</p>
    <br>


  <p>El sitio Web, utiliza "cookies" para brindar un servicio de alto valor agregado. Las "cookies" son pequeños archivos de
    texto que se colocamos en el navegador del computador para guardar las preferencias de los Usuarios.</p>
    <br>
  Se hace uso de las "cookies" para realizar seguimiento y reunir información que permita hacer mejoras de contenido y servicios.
  Seguridad Bancolombia ha implementado procedimientos electrónicos y administrativos para proteger y ayudar a prevenir el
  acceso no autorizado, evitar la pérdida, mal uso, alteración, y hurto de los datos personales de los Usuarios; y por consiguiente
  cada Usuario es responsable por los daños y perjuicios que se puedan causar a Bancolombia por su actuar por los usos indebido
  de dichos datos personales en El sitio Web. Política de Contenido Bancolombia conservará el derecho para bloquear o limitar
  Usuarios, rechazar o eliminar el contenido que se haya puesto a disposición de los demás Usuarios a través de la El sitio
  Web y que implique una violación a la ley, las buenas costumbres o a las políticas del mismo. El (los) Usuario(s) anunciante(s)
  afirma(n) que frente al contenido publicado en la El sitio Web es (son) dueño(s) o tiene(n) las patentes necesarias, derechos
  o permisos para usar los mismos. Conductas Prohibidas El (los) Usuario(s) acepta(n) no anunciar, enviar por email ni de
  cualquier otra forma contenido que: sea contrario a la ley, viole derechos de autor o propiedad intelectual, sea dañino,
  abusivo, acosador, degradante, intimidante respecto a un individuo o un grupo de individuos por su religión, género, orientación
  sexual, raza, etnia, edad o discapacidad, incluya información personal o de identificación de otra persona, sin el consentimiento
  expreso de la persona mencionada, sea falso, engañoso, de una falsa apariencia, engañe respecto de la información o que
  constituya una forma de "atracción y luego se modifique lo ofrecido", incluya enlaces a servicios comerciales o a sitios
  en la Web (salvo lo específicamente permitido por Bancolombia y las compañías de seguros referidas por Bancolombia), interrumpa
  el flujo normal del diálogo con una cantidad excesiva de mensajes (ataque masivo) a El sitio Web, que de alguna forma afecta
  en forma negativa la capacidad del (de los) Usuario(s) para utilizar El sitio Web.


  <h5>Notificación de reclamos ante violaciones por parte de terceros o usuarios</h5>
  <p>Si el (los) Usuario(s) es (son) dueño(s) de los derechos de propiedad intelectual de cierto contenido y considera(n) que
    su publicación en El Sitio Web viola su(s) derechos, puede(n) contactase con Bancolombia para resolver la situación.
    <p>
      <p>Es importante que el (los) Usuario(s) tenga(n) presente que con la aceptación de las Condiciones de uso de El sitio
        Web, reconoce(n) que Bancolombia podrá conservar por tiempo indeterminado su información, tales como emails, direcciones
        IP, datos de tiempo y hora y publicaciones realizadas, ofertas realizadas y aceptadas, entre otros, sobre su(s) actividad(es)
        o acceso y uso a El sitio Web, con la finalidad de cumplir con requerimientos de entes gubernamentales o de efectuar
        estudios estadísticos. </p>
      <h5>Política Anti-Spam</h5>
      <p>El (los) Usuario(s) entiende(n) y conviene(n) que el envío de publicidad no solicitada a Bancolombia o al (a los) Usuario(s)
        queda expresamente prohibido. </p>
      <h5>Negociaciones entre Usuarios</h5>
      <p>Bancolombia es responsable por el ofrecimiento de los productos y servicios financieros, y los Usuarios de la Comunidad
        son responsables por lo bienes y servicios publicados, ofrecidos, comprados, permutados, donados o recibidos, diferentes
        a los ofrecidos por Bancolombia; y de la misma forma los Usuarios responderán por el cumplimiento de la normatividad
        aduanera y registral de los mismos, de acuerdo con la legislación correspondiente. </p>
      <h5>Moneda</h5>
      <p>El (los) Usuario(s) de la Comunidad aceptan que la única moneda con la que pagarán o cobrarán los productos o servicios
        publicados en El Sitio Web es la legalmente autorizada en cada país.</p>
      <h5>Límites y cancelación del servicio</h5>
      <p>Bancolombia puede poner límites respecto al uso de El Sitio Web, con inclusión, entre otras cosas, de la cantidad máxima
        de días que el Contenido será publicado, la cantidad y el tamaño máximo de los anuncios, los mensajes de email, o
        de todo otro contenido que se puede transmitir o almacenar, y la frecuencia con la cual el (los) Usuario(s) puede(n)
        acceder al Sitio Web. El (los) Usuario(s) entiende(n) que Bancolombia podrá suspender el uso de El sitio Web notificando
        previamente al (a los) Usuario(s). </p>


      <h4 class="subtitle">Cesión de Derechos</h4>
      <p>Estos términos y condiciones podrán ser cedidos por Bancolombia bastando para ellos una notificación previa al(a los)
        Usuario(s).
      </p>
      <h5>Capacidad para acceder a El sitio Web.</h5>
      <p>El uso de El sitio Web solo está permitido para personas mayores de 18 años, en caso que el (los) Usuario(s) no cumpla(n)
        con este requisito rogamos visitar otros sitios más adecuadas para su edad.</p>
      <h5>Ley y Jurisdicción aplicables</h5>

      <p>Las políticas y condiciones de acceso y uso aquí establecidas y los conflictos que puedan surgir respecto de su interpretación,
        uso, alcance y terminación se rigen por la Ley colombiana y se someten a los jueces y tribunales colombianos.</p>

      <h5>Limitación a la Responsabilidad</h5>

      <p>Bancolombia no es intermediario, comisionista, corredor entre el (los) Usuario(s) de la Comunidad, y por consiguiente
        no asume responsabilidad alguna por la exactitud o puntualidad del contenido publicado por la Comunidad en El Sitio
        Web o de otros sitios que se accedan a través de enlaces en El sitio Web. Tampoco es responsable por virus o ataques
        cibernéticos que puedan ser transmitidos desde o a través de El sitio Web por un tercero o Usuarios de la Comunidad;
        en consecuencia, el (los) Usuario(s) de la Comunidad reconocen que Bancolombia no será responsable por los daños
        o perjuicios directos o indirectos que resulten por el uso de El sitio Web, así como tampoco por los daños y perjuicios
        que se den con ocasión de la compra, venta, permuta, donación, información o características de los productos o servicios
        publicados por la Comunidad, ya que no controla, y no es responsable por los artículos, mensajes, comentarios, archivos,
        imágenes, fotografías, videos, sonidos y todo otro material anunciado o transmitido a través de El sitio Web que
        no corresponda a sus propios productos o servicios. </p>
        <br>
      <p>Bancolombia no comparte ni apoya ningún contenido u opinión, recomendación, o consejo dado en El sitio Web por parte
        de los Usuarios de la Comunidad y por lo tanto no asume ninguna responsabilidad por los mismos. </p>
        <br>
      <p>La conexión que el (los) Usuario(s) de la Comunidad realice(n) con otros sitios Web queda totalmente bajo la responsabilidad
        de dicho(s) Usuario(s). </p>
        <br>
      <p>Por todo lo anterior, los Usuario(s) anunciantes de la Comunidad se obligan a evaluar y asumir los riesgos que se relacionan
        con el uso de El sitio Web ya que son los únicos responsables por todo el contenido subido, o enviado por correo
        electrónico.
      </p>

      <h5>Prohibiciones</h5>
      <p>Cada uno de los Usuarios de la Comunidad aceptan y se comprometen a no anunciar, enviar por mail, ni de cualquier otra
        forma publicar en El sitio Web contenido que: </p>
      <ul>
        <li>Sea falso, engañoso o confuso respecto de la información de los productos o servicios publicados. </li>
        <li>incluya información personal o de identificación de otra persona, sin el consentimiento expreso del titular de la
          misma. </li>
      </ul>
      <p>Adicional a lo anterior, cada uno de los Usuarios de la Comunidad se comprometen de manera expresa a:</p>
      <ul>
        <li>No utilizar El sitio Web de manera habitual para comercializar sus productos o prestar sus servicios. </li>
        <li>No anunciar un mismo artículo o servicio en más de una categoría de clasificación. </li>
        <li>No publicar anuncios para venta o permuta de animales.</li>
        <li>No publicita servicios ilícitos o la venta de artículos cuya venta se encuentra prohibida o restringida por la ley
          aplicable según el caso.</li>
        <li>No contactar a las personas que solicitaron no ser contactadas.</li>
        <li>No utilizar medios automáticos, tales como robots, rastreadores, herramientas de ataque a datos, o similares para
          descargar información de El sitio Web.</li>
        <li>No intentar obtener acceso sin autorización a los sistemas de computación de Bancolombia o bien dedicarse a una actividad
          que interrumpa, baje la calidad, interfiera con el desempeño o deteriore la funcionalidad de El sitio Web.
        </li>
        <li>No realizar actividades ilegales según la legislación que resulte aplicable en el caso concreto.</li>
      </ul>

      <h4 class="subtitle">Indemnidad</h4>
      <p>Cada uno de los Usuarios de la Comunidad se obligan a mantener indemne a Bancolombia por cualquier reclamación, sanción
        o proceso judicial o extrajudicial adelantado por terceros que tenga como causa sus actuaciones o la de sus contratistas,
        socios, vinculados, representantes, asesores o dependientes, con ocasión del uso de El sitio Web o por hechos vinculados
        con el mismo. </p>

      <h4 class="subtitle">Impuestos</h4>
      <p>Los impuestos que llegaren a generarse por la comercialización de los productos o servicios publicados por el (los)
        Usuario(s) de la Comunidad serán pagados por el (los) Usuario(s) de acuerdo a la legislación aplicable. </p>
</div>

<div *ngIf="isGuatemala" class="container-terms">
  <h2 class="title">CONDICIONES DE USO DEL SITIO WEB</h2>
  <p>El sitio web www.rotalo.co (en adelante “El Sitio Web”), es un portal de información creado por Banco Agromercantil de Guatemala,
    S. A.. para facilitar el ofrecimiento de sus productos y servicios financieros, domiciliadas en Guatemala, y las entidades que
    pertenezcan o llegaren a pertenecer al Grupo Financiero Agromercantil (en adelante BAM). En tal sentido, BAM pone al servicio del
    (de los) Usuario(s) de la(s) Comunidad(es) dicho Sitio Web para que este (estos) publique(n) sus ofertas de venta, donación y/o
    permuta de bienes y servicios, en los términos y condiciones aquí establecidos; bienes y servicios estos que podrían ser objeto de
    financiamiento por parte de BAM, siempre que el(los)Usuario(s) cumpla(n) las políticas de crédito de la entidad financiera.</p>
    <br>
  <p>Entiéndase por Comunidadun grupo de Usuarios de El Sitio Web unidos por relaciones de tipo laboral con cualquiera de las
    empresas del Grupo Financiero Agromercantil.. El (los) Usuario(s) podrá(n), voluntariamente (i) registrarse en el Sitio Web y usar el
    mismo para publicar o anunciar sus productos o servicios con fines de venta, permuta o donación, y/o (ii) comprar, permutar,
    subastar, o aceptar la donación de bienes o servicios, aceptando los términos y condiciones del (de los) Usuario(s) oferente(s); y/o
    (iii) solicitar a BAM la financiación de los bienes o servicios, cumpliendo las políticas de crédito de la entidad.</p>
    <br>
  <h4 class="subtitle">Aceptación</h4>
  <p>Con el registro exitoso del (de los) Usuario(s) en El Sitio Web, el(los) Usuario(s) aceptará(n) el cumplimiento de las obligaciones
    establecidas en los presentes Términos y Condiciones.</p>
    <br>
  <p>BAM tiene el derecho de modificar los presentes lineamientos en cualquier momento y para el efecto los dará a conocer al(a los)
    Usuario(s) de forma oportuna y en caso que el (los) Usuario(s) no esté(n) de acuerdo con alguna de las modificaciones que se
    hicieren, podrá(n) dejar de usar la misma en el momento en que lo decida(n).</p>

  <h4 class="subtitle">Contenido</h4>

  <p>BAM, a través del Sitio Web, da la posibilidad al (a los) Usuario(s) de publicar productos y servicios para su compra, venta, permuta,
    cambio o donación y en consecuencia permite que otro(s) Usuario(s) pueda(n) ver los mismos a través de El sitio Web y solicitar su
    financiación a BAM.</p>
    <br>
  <p>Los datos e información consignados en el contenido informativo de El Sitio Web, tales como mensajes, comentarios, archivos,
    imágenes, valores, tamaños, cantidades, colores, entre otros, son responsabilidad única y exclusiva del Usuario anunciante y no son
    proveídos o comercializados por BAM, a menos que sea un producto financiero.</p>
    <br>
  <p>Es importante tener en cuenta que el (los) Usuario(s) no puede(n), bajo ninguna circunstancia, transmitir, transferir, reformar,
    publicar, reproducir, distribuir, vender, arrendar o comercializar dicha información sin autorización expresa del respectivo titular de la
    misma.</p>
    <br>
  <p>La interpretación y uso de los datos y de la información suministrada en El sitio Web, son responsabilidad exclusiva de cada uno de
    los Usuarios.</p>
    <br>
  <p>BAM se reserva el derecho de modificar o suprimir los contenidos o publicaciones efectuadas por el(los) Usuario(s) en El sitio Web
    sin necesidad de previo aviso.</p>

  <h4 class="subtitle">Subasta</h4>
  <p>El (los) Usuario(s) podrá(n) ofrecer sus productos o servicios mediante el mecanismo de Subasta, entendiéndose por este, el
    proceso en el cual varios Usuarios dentro de un tiempo determinado, ofrecen el pago de un producto o servicio el cual no puede ser
    inferior al indicado por el Usuario anunciante. El Usuario que haya ofrecido el mayor valor será el que comprará el producto o
    servicio anunciado.</p>

  <h4 class="subtitle">Servicio</h4>

  <p>El acceso a El Sitio Web estará disponible para el (los) Usuario(s), salvo que existan circunstancias de fuerza mayor, caso fortuito o
    hechos de un tercero que impidan o restrinjan dicho acceso. De presentarse alguna de éstas, BAM lo informará a los Usuarios.</p>

  <h4 class="subtitle">Derecho de propiedad</h4>

  <p>El contenido de El Sitio Web, bien sea en la publicidad del (los) Usuario(s) anunciantes, o en la información presentada por BAM,
    está protegida por derechos de autor, marcas, patentes, o formas diferentes del derecho de propiedad. Dicho contenido incluye,
    entre otros, los textos, el software, la música, el sonido, las fotografías, los videos, los gráficos, etc.</p>
    <br>
  <p>Por lo tanto, el (los) Usuario(s) debe(n) abstenerse de, sin la previa autorización escrita de BAM o del titular del derecho de
    propiedad (según el caso), de publicar, retransmitir o comercializar a cualquier título o por cualquier medio, total o parcialmente,
    tanto la información contenida en El Sitio Web, como en sus enlaces, so pena de incurrir en las responsabilidades por violación de
    los derechos de autor, conforme a las normas vigentes.</p>


  <h4 class="subtitle">Protección de datos Personales - Comunidad</h4>

  <p>Cada uno de los Usuarios autorizan a BAM para compartir los datos personales que han diligenciado en El Sitio Web con los
    Usuarios de la Comunidad o Comunidades que ofrezcan o publiquen sus productos o servicios en dicho sitio, con el fin que puedan
    ser contactados vía telefónica, mail o chat, compartir información de los productos o servicios que anuncian, aclarar dudas sobre los
    mismos, y acordar condiciones de negociación.</p>

  <h4 class="subtitle">Protección de datos Personales - Bancolombia</h4>

  <p>Con el registro en el Sitio Web, cada uno de los Usuarios autorizan, expresamente, de forma irrevocable y en forma
    permanente a BAM, para que realice los tratamientos que se indican a continuación: I. Autorizaciones necesarias para el
    desarrollo de la actividad financiera: BAM está autorizado para: <strong> a) Corroborar por cualquier medio legal la
    información sobre la persona de los Usuarios, inclusive, a través de consultas en registros
    públicos y en bases de datos particulares, por si misma o por medio de la persona individual o
    jurídica que designe; b) Comprar, compartir o distribuir con cualquier entidad que presta
    servicios de información, estudios con información concerniente a los Usuarios; c) Consultar
    en cualquier momento información de los Usuarios en las centrales de información, las
    centrales de riesgo o burós de crédito que considere pertinente, autorizando a su vez a las
    entidades que prestan estos servicios para que puedan recopilar datos, reportes o estudios de
    los Usuarios, difundirla o comercializarla; d) Crear un banco de datos o registro informático,
    con toda información que se genere, para analizar toda solicitud que formule en futuras
    relaciones crediticias o para analizar la posibilidad de otorgarle otros productos financieros o
    servicios y ofrecerlos.</strong>
  </p>
  <br>
  <p>Los anteriores tratamientos, además de considerar las finalidades antes señaladas, también consideran las siguientes finalidades
    para que BAM: (a) conozca el comportamiento financiero, comercial y crediticio, y el cumplimiento de obligaciones legales del (de
    los) Usuario(s); (b) realice todas las gestiones necesarias tendientes a confirmar y actualizar la información; (c) valide y verifique la
    identidad del (de los) Usuario(s) para el ofrecimiento y administración de productos y servicios, así mismo para que comparta la
    información; (d) establezca una relación contractual, así como mantenerla y terminarla; y actualizar la información del (de los)
    Usuario(s); (e) ofrezca y preste sus productos o servicios a través de cualquier medio o canal para el beneficio del(de los) Usuario(s)
    y de acuerdo con el perfil de estos; (f) realice una adecuada prestación y administración de los servicios financieros, incluyendo la
    gestión de cobranza; (g) suministre información comercial, legal, de productos, de seguridad, de servicio o de cualquier otra índole;
    (h) conozca la ubicación y datos de contacto de (de los) Usuario(s) para efectos de notificaciones con fines de seguridad y
    ofrecimiento de beneficios y ofertas comerciales; (i) efectúe análisis e investigaciones comerciales, estadísticas, de riesgos, de
    mercado, interbancaria y financiera incluyendo contactarme para estos fines.</p>
    <br>


  <p>El sitio Web, utiliza &quot;cookies&quot; para brindar un servicio de alto valor agregado. Las &quot;cookies&quot; son pequeños archivos de texto que se
    colocamos en el navegador del computador para guardar las preferencias de los Usuarios.</p>
    <br>
    Se hace uso de las &quot;cookies&quot; para realizar seguimiento y reunir información que permita hacer mejoras de contenido y servicios.
    Seguridad BAM ha implementado procedimientos electrónicos y administrativos para proteger y ayudar a prevenir el acceso no
    autorizado, evitar la pérdida, mal uso, alteración, y hurto de los datos personales de los Usuarios; y por consiguiente cada Usuario
    es responsable por los daños y perjuicios que se puedan causar a BAM por su actuar por los usos indebido de dichos datos
    personales en El sitio Web. Política de Contenido BAM conservará el derecho para bloquear o limitar Usuarios, rechazar o eliminar
    el contenido que se haya puesto a disposición de los demás Usuarios a través del sitio Web y que implique una violación a la ley, las
    buenas costumbres o a las políticas del mismo. El (los) Usuario(s) anunciante(s) afirma(n) que frente al contenido publicado en la El
    sitio Web es (son) dueño(s) o tiene(n) las patentes necesarias, derechos o permisos para usar los mismos. Conductas Prohibidas El

    (los) Usuario(s) acepta(n) no anunciar, enviar por email ni de cualquier otra forma contenido que: sea contrario a la ley, viole
    derechos de autor o propiedad intelectual, sea dañino, abusivo, acosador, degradante, intimidante respecto a un individuo o un
    grupo de individuos por su religión, género, orientación sexual, raza, etnia, edad o discapacidad, incluya información personal o de
    identificación de otra persona, sin el consentimiento expreso de la persona mencionada, sea falso, engañoso, de una falsa
    apariencia, engañe respecto de la información o que constituya una forma de &quot;atracción y luego se modifique lo ofrecido&quot;, incluya
    enlaces a servicios comerciales o a sitios en la Web (salvo lo específicamente permitido por BAM y las compañías de seguros
    referidas por BAM), interrumpa el flujo normal del diálogo con una cantidad excesiva de mensajes (ataque masivo) a El sitio Web,
    que de alguna forma afecta en forma negativa la capacidad del (de los) Usuario(s) para utilizar El sitio Web.


  <h5>Notificación de reclamos ante violaciones por parte de terceros o usuarios</h5>
  <p>Si el (los) Usuario(s) es (son) dueño(s) de los derechos de propiedad intelectual de cierto contenido y considera(n) que su
    publicación en El Sitio Web viola su(s) derechos, puede(n) contactase con BAM para resolver la situación.
    <p>
      <p>Es importante que el (los) Usuario(s) tenga(n) presente que con la aceptación de las Condiciones de uso de El sitio Web,
        reconoce(n) que BAM podrá conservar por tiempo indeterminado su información, tales como emails, direcciones IP, datos de
        tiempo y hora y publicaciones realizadas, ofertas realizadas y aceptadas, entre otros, sobre su(s) actividad(es) o acceso y uso a El
        sitio Web, con la finalidad de cumplir con requerimientos de entes gubernamentales o de efectuar estudios estadísticos.</p>
      <h5>Política Anti-Spam</h5>
      <p>El (los) Usuario(s) entiende(n) y conviene(n) que el envío de publicidad no solicitada a BAM o al (a los) Usuario(s) queda
        expresamente prohibido.</p>
      <h5>Negociaciones entre Usuarios</h5>
      <p>BAM es únicamente responsable por el ofrecimiento de los productos y servicios financieros, y los Usuarios de la Comunidad son
        responsables por lo bienes y servicios publicados, ofrecidos, comprados, permutados, donados o recibidos, diferentes a los
        ofrecidos por BAM; y de la misma forma los Usuarios responderán por el cumplimiento de la normativa fiscal, de acuerdo con la
        legislación correspondiente.</p>
      <h5>Moneda</h5>
      <p>El (los) Usuario(s) de la Comunidad aceptan que la única moneda con la que pagarán o cobrarán los productos o servicios
        publicados en El Sitio Web es la legalmente autorizada en cada país, es decir el Quetzal.</p>
      <h5>Límites y cancelación del servicio</h5>
      <p>BAM puede poner límites respecto al uso de El Sitio Web, con inclusión, entre otras cosas, de la cantidad máxima de días que el
        Contenido será publicado, la cantidad y el tamaño máximo de los anuncios, los mensajes de email, o de todo otro contenido que se
        puede transmitir o almacenar, y la frecuencia con la cual el (los) Usuario(s) puede(n) acceder al Sitio Web. El (los) Usuario(s)
        entiende(n) que BAM podrá suspender el uso de El sitio Web notificando previamente al (a los) Usuario(s).</p>


      <h4 class="subtitle">Cesión de Derechos</h4>
      <p>Estos términos y condiciones podrán ser cedidos por Bancolombia bastando para ellos una notificación previa al(a los) Usuario(s).
      </p>
      <h5>Capacidad para acceder a El sitio Web.</h5>
      <p>El uso de El sitio Web solo está permitido para personas mayores de 18 años, en caso que el (los) Usuario(s) no cumpla(n) con este
        requisito rogamos visitar otros sitios más adecuadas para su edad.</p>
      <h5>Ley y Jurisdicción aplicables</h5>

      <p>Las políticas y condiciones de acceso y uso aquí establecidas y los conflictos que puedan surgir respecto de su interpretación, uso,
        alcance y terminación se rigen por la legislación guatemalteca y se someten a los jueces y tribunales del departamento de
        Guatemala, República de Guatemala,</p>

      <h5>Limitación a la Responsabilidad</h5>

      <p>BAM no es intermediario, comisionista, corredor entre el (los) Usuario(s) de la Comunidad, y por consiguiente no asume
        responsabilidad alguna por la exactitud o puntualidad del contenido publicado por la Comunidad en El Sitio Web o de otros sitios
        que se accedan a través de enlaces en El sitio Web. Tampoco es responsable por virus o ataques cibernéticos que puedan ser
        transmitidos desde o a través de El sitio Web por un tercero o Usuarios de la Comunidad; en consecuencia, el (los) Usuario(s) de la
        Comunidad reconocen que BAM no será responsable por los daños o perjuicios directos o indirectos que resulten por el uso de El
        sitio Web, así como tampoco por los daños y perjuicios que se den con ocasión de la compra, venta, permuta, donación, información
        o características de los productos o servicios publicados por la Comunidad, ya que no controla, y no es responsable por los
        artículos, mensajes, comentarios, archivos, imágenes, fotografías, videos, sonidos y todo otro material anunciado o transmitido a
        través de El sitio Web que no corresponda a sus propios productos o servicios.
        En consecuencia de lo anterior, el Usuario entiende, acepta y asume expresamente su responsabilidad sobre los bienes o productos
        que ofrezca dentro del sitio Web; así mismo los Usuarios de la Comunidad no podrán pretender o reclamar cuestión alguna en
        contra de BAM por las fallas o desperfectos que presenten los productos o bienes adquiridos a través del sitio Web.</p>
        <br>
      <p>BAM no comparte ni apoya ningún contenido u opinión, recomendación, o consejo dado en El sitio Web por parte de los Usuarios de
        la Comunidad y por lo tanto no asume ninguna responsabilidad por los mismos.</p>
        <br>
      <p>La conexión que el (los) Usuario(s) de la Comunidad realice(n) con otros sitios Web queda totalmente bajo la responsabilidad de
        dicho(s) Usuario(s).</p>
        <br>
      <p>Por todo lo anterior, los Usuario(s) anunciantes de la Comunidad se obligan a evaluar y asumir los riesgos que se relacionan con el
        uso de El sitio Web ya que son los únicos responsables por todo el contenido subido, o enviado por correo electrónico.
      </p>

      <h5>Prohibiciones</h5>
      <p>Cada uno de los Usuarios de la Comunidad aceptan y se obliga a no anunciar, enviar por mail, ni de cualquier otra forma publicar en
        El sitio Web contenido que:</p>
      <ul>
        <li>Sea falso, engañoso o confuso respecto de la información de los productos o servicios publicados.</li>
        <li>incluya información personal o de identificación de otra persona, sin el consentimiento expreso del titular de la misma.</li>
      </ul>
      <p>Adicional a lo anterior, cada uno de los Usuarios de la Comunidad se obliga de manera expresa a:</p>
      <ul>
        <li>No utilizar El sitio Web de manera habitual para comercializar sus productos o prestar sus servicios.</li>
        <li>No anunciar un mismo artículo o servicio en más de una categoría de clasificación.</li>
        <li>No publicar anuncios para venta o permuta de animales.</li>
        <li>No publicita servicios ilícitos o la venta de artículos cuya venta se encuentra prohibida o restringida por la ley aplicable según el
          caso.</li>
        <li>No contactar a las personas que solicitaron no ser contactadas.</li>
        <li>No utilizar medios automáticos, tales como robots, rastreadores, herramientas de ataque a datos, o similares para descargar
          información de El sitio Web.</li>
        <li>No intentar obtener acceso sin autorización a los sistemas de computación de BAM o bien dedicarse a una actividad que
          interrumpa, baje la calidad, interfiera con el desempeño o deteriore la funcionalidad de El sitio Web.
        </li>
        <li>No realizar actividades ilegales según la legislación que resulte aplicable en el caso concreto.</li>
      </ul>

      <h4 class="subtitle">Indemnidad</h4>
      <p>Cada uno de los Usuarios de la Comunidad se obligan a mantener indemne a Bancolombia por cualquier reclamación, sanción o
        proceso judicial o extrajudicial adelantado por terceros que tenga como causa sus actuaciones o la de sus contratistas, socios,
        vinculados, representantes, asesores o dependientes, con ocasión del uso de El sitio Web o por hechos vinculados con el mismo. </p>

      <h4 class="subtitle">Impuestos</h4>
      <p>Los impuestos que llegaren a generarse por la comercialización de los productos o servicios publicados por el (los) Usuario(s) de la
        Comunidad serán pagados por el (los) Usuario(s) de acuerdo a la legislación aplicable.</p>
</div>
