<div class="container">
  <div class="page">
    <div class="marvel-device">
      <div class="screen">
        <div class="screen-container">
          <div *ngIf="!showSpinner" class="chat">
            <div class="chat-container">
              <div class="user-bar">
                <div class="avatar">
                  <img *ngIf="!imagenChat" class="avatar" [src]="defaultImage" [alt]="nameUser" (error)="updateSrc($event)">
                  <img *ngIf="imagenChat" class="avatar" [src]="imagenChat" [alt]="nameUser" (error)="updateSrc($event)">
                </div>
                <div class="name">
                  <span>{{nameUser}}
                  </span>
                </div>

                <a (click)="closeChatWindow()" class="modal__close">
                  <span class="icon-close">
                  </span>
                </a>
              </div>
              <div class="conversation">
                <div #scrollMe class="conversation-container">
                  <div class="notifications-theme" *ngIf="messages">

                    <!-- Inicio ngFor para notificaciones -->
                    <div *ngFor="let message of  messages">
                      <!-- INICIO NOTIFICACIÓN NUEVO MENSAJE -->
                      <div *ngIf="message.tipoNotificacion == 'new_message'">
                        <div *ngIf="message.mensaje != ' ' && message.mensaje != '' " [ngClass]="isSender(message.idEmisor) ? 'sent' : 'received'"
                          class="message">
                          {{message.mensaje}}
                          <small class="notification-date">{{message.fechaHora}}</small>
                        </div>
                      </div>
                      <!-- FIN NOTIFICACIÓN NUEVO MENSAJE -->

                      <!-- INICIO NOTIFICACIÓN NUEVA OFERTA -->
                      <div *ngIf="message.tipoNotificacion == 'new_offer'" class="notifications-item">
                        <span class="icon icon-flag notification-icon"></span>
                        <a class="notification-text offer-text">
                          <span class="highlight bold clickable">{{message.oferta.nombreUsuario}}</span> ha hecho una oferta
                          <div *ngIf="message.producto">
                            <span *ngIf="message.producto.tipoVenta !== 'SUBASTA'">para tu</span>
                            <span *ngIf="message.producto.tipoVenta === 'SUBASTA'">en subasta</span>
                            <span class="highlight bold clickable" (click)="goToDetail(message)">
                              {{(message.producto.nombreProducto )+ ': ' + (message.oferta.monto | currency:'$':0 | removeDigits) + ' pesos.'}}
                            </span>
                          </div>
                        </a>
                        <small class="notification-date">{{message.fechaHora }}</small>
                        <p class="notification-text" *ngIf="message.status">{{message.status}}</p>
                        <div class="notification-buttons" *ngIf="message.producto && message.producto.tipoVenta !== 'SUBASTA' && !message.status">
                          <div class="button-item">
                            <button class="button button-secondary" (click)="acceptOffer(message)">Aceptar</button>
                          </div>
                          <div class="button-item">
                            <button class="button button-primary" (click)="declineOffer(message)">Rechazar</button>
                          </div>
                        </div>
                      </div>
                      <!-- FIN NOTIFICACIÓN NUEVA OFERTA -->

                      <!-- INICIO NOTIFICACIÓN OFERTA ACEPTADA -->
                      <div *ngIf="message.tipoNotificacion == 'offer_accepted'" class="notifications-item">
                        <span class="icon icon-flag notification-icon"></span>
                        <p class="notification-text">Tu oferta ha sido aceptada
                          <span class="highlight bold clickable" (click)="goToDetail(message)">
                            {{(message.producto.nombreProducto) + ': ' + (message.oferta.monto | currency:'$':0 | removeDigits) + ' pesos.'}}</span>
                        </p>
                        <small class="notification-date">{{message.fechaHora }}</small>
                        <p class="notification-text" *ngIf="message.status">{{message.status}}</p>
                        <div class="notification-buttons" *ngIf="!message.status">
                          <div class="button-item">
                            <button class="button button-secondary" (click)="buyProduct(message)">Comprar</button>
                          </div>
                          <div class="button-item">
                            <button class="button button-primary" (click)="regretOffer(message)">Cancelar</button>
                          </div>
                        </div>
                      </div>
                      <!-- FIN NOTIFICACIÓN OFERTA ACEPTADA -->

                      <!-- INICIO NOTIFICACIÓN OFERTA RECHAZADA -->
                      <div *ngIf="message.tipoNotificacion == 'offer_declined'" class="notifications-item">
                        <span class="icon icon-warning notification-icon"></span>
                        <p class="notification-text">Tu oferta ha sido rechazada
                          <span class="highlight bold clickable" (click)="goToDetail(message)">{{(message.producto.nombreProducto) + ' ' +(message.oferta.monto | currency:'$':0 | removeDigits) + ' pesos.'}}</span>
                        </p>
                        <small class="notification-date">{{message.fechaHora }}</small>
                      </div>
                      <!-- FIN NOTIFICACIÓN OFERTA RECHAZADA -->

                      <!-- INICIO NOTIFICACIÓN OFERTA CANCELADA -->
                      <div *ngIf="message.tipoNotificacion ==  'offer_regretted'" class="notifications-item">
                        <span class="icon icon-warning notification-icon"></span>
                        <p class="notification-text">
                          <span class="highlight bold">{{message.oferta.nombreUsuario}}</span> ha cancelado su oferta
                          <span *ngIf="message.producto.tipoVenta === 'SUBASTA'">en tu subasta</span>
                          <span class="highlight bold clickable" (click)="goToDetail(message)">{{(message.producto.nombreProducto) + ': ' + (message.oferta.monto | currency:'$':0 | removeDigits) + ' pesos.'}}</span>
                        </p>
                        <small class="notification-date">{{message.fechaHora }}</small>
                      </div>
                      <!-- FIN NOTIFICACIÓN OFERTA CANCELADA -->


                      <!-- INICIO NOTIFICACIÓN NUEVA COMPRA -->
                      <div *ngIf="message.tipoNotificacion == 'new_purchase'" class="notifications-item">
                        <span class="icon icon-flag notification-icon"></span>
                        <p class="notification-text">
                          <span class="highlight bold clickable">{{message.compra.nombreUsuario}}</span>
                          <span *ngIf="message.producto.tipoVenta === 'GRATIS'">te ha pedido </span>
                          <span *ngIf="message.producto.tipoVenta !== 'GRATIS'">ha comprado el producto: </span>
                          <span class="highlight bold clickable" (click)="goToDetail(message)">{{(message.producto.nombreProducto) + '.' }}</span>
                          <br>
                          <span>Precio: {{ (message.compra.monto | currency:' ':0 | removeDigits) }}</span>
                          <span *ngIf="message.compra.unidadesCompradas"> x {{message.compra.unidadesCompradas}} unidades
                            -
                          </span>
                          <span *ngIf="message.compra.unidadesCompradas" class="highlight bold">
                            Total: {{message.compra.unidadesCompradas * message.compra.monto  | currency:' ':0 | removeDigits}}
                          </span>.
                          <br>
                          <span>Pago: {{paymentTypes[message.compra.tipoPago]}}</span>
                          <br>
                          <span class="notification-text" *ngIf="message.status">{{message.status}}</span>
                        </p>
                        <small class="notification-date">{{message.fechaHora }}</small>

                        <div class="notification-buttons" *ngIf="!message.status">
                          <div class="button-item">
                            <button class="button button-secondary" (click)="acceptPurchase(message)">
                              <span *ngIf="message.producto.tipoVenta === 'GRATIS'">Regalar</span>
                              <span *ngIf="message.producto.tipoVenta !== 'GRATIS'">Recibí el dinero</span>
                            </button>
                          </div>
                          <div class="button-item">
                            <button class="button button-primary" (click)="declinePurchase(message)">
                              <span *ngIf="message.producto.tipoVenta === 'GRATIS'">No Regalar</span>
                              <span *ngIf="message.producto.tipoVenta !== 'GRATIS'">Cancelar Compra</span>
                            </button>
                          </div>
                        </div>
                      </div>
                      <!-- FIN NOTIFICACIÓN NUEVA COMPRA -->

                      <!-- INICIO NOTIFICACIÓN COMPRA ACEPTADA -->
                      <purchase-accepted *ngIf="message.tipoNotificacion == 'purchase_accepted'" [notification]="message">
                      </purchase-accepted>
                      <!-- INICIO NOTIFICACIÓN COMPRA ACEPTADA -->


                      <!-- INICIO NOTIFICACIÓN COMPRA RECHAZADA -->
                      <div *ngIf="message.tipoNotificacion == 'purchase_declined'" class="notifications-item">
                        <span class="icon icon-warning notification-icon"></span>
                        <p class="notification-text" *ngIf="message.producto.tipoVenta !== 'GRATIS'">
                          <span class="highlight bold">{{message.producto.nombreUsuario}}</span>
                          <span>ha cancelado tu compra</span>
                          <span class="highlight bold clickable" (click)="goToDetail(message)">
                            {{(message.producto.nombreProducto) + ': ' + (message.compra.monto | currency:'$':0 | removeDigits) + ' pesos.'}}
                          </span>
                        </p>
                        <p class="notification-text" *ngIf="message.producto.tipoVenta === 'GRATIS'">
                          <span class="highlight bold">{{message.producto.nombreUsuario}}</span>
                          <span>No te ha regalado el artículo</span>
                          <span class="highlight bold">
                            {{(message.producto.nombreProducto) + ': ' + (message.compra.monto | currency:'$':0 | removeDigits) + ' pesos.'}}
                          </span>
                        </p>
                        <small class="notification-date">
                          {{message.fechaHora }}
                        </small>
                      </div>
                      <!-- INICIO NOTIFICACIÓN COMPRA RECHAZADA -->


                      <!--INICIO NOTIFICACIÓN PRODUCTO EXPIRADO -->
                      <div *ngIf="message.tipoNotificacion == 'product_expired'">
                        <div class="notifications-item"  *ngIf="!message.accionExpirado">
                          <span class="icon icon-warning notification-icon"></span>
                          <p class="notification-text">Tu publicación
                            <span class="highlight bold">{{message.producto.nombreProducto}}</span>
                            se ha vencido.
                          </p>
                          <small class="notification-date">{{message.fechaHora}}</small>
                        </div>
                      </div>
                      <!--INICIO NOTIFICACIÓN PRODUCTO EXPIRADO -->
                      <div class="notifications-item" *ngIf="message.tipoNotificacion == 'product_expired'">
                        <div class="expired-container" *ngIf="message.accionExpirado">
                          <div class="intro main-text">
                            <p class="notification-text">Tu publicación
                              <span (click)="goToDetail(message)" class="highlight bold clickable">{{message.producto.nombreProducto}}</span>
                              se ha vencido.
                            </p>
                            <div class="notification-buttons" *ngIf="message.accionExpirado === 'new'">
                              <div class="button-item">
                                <button (click)="updateSellUnknow(message, 'in'); message.accionExpirado = 'sell_unknow_in'" class="gtmVendidoRotalo button button-primary">Vendido en Rótalo</button>
                              </div>
                              <div class="long-button button-item">
                                <button (click)="updateSellUnknow(message, 'out'); message.accionExpirado = 'sell_unknow_out'" class="gtmVendidoFuera button button-primary">Vendido por fuera / No republicar</button>
                              </div>
                              <div class="button-item">
                                <button (click)="republish(message)" class="gtmRepublicar button button-primary">Republicar</button>
                              </div>
                            </div>
                            <div *ngIf="message.accionExpirado !== 'new'">
                              <div *ngIf="message.accionExpirado === 'republished'">
                                <p class="notification-text">
                                  Has republicado tu producto.
                                </p>
                              </div>
                              <div *ngIf="message.accionExpirado === 'sell_unknow_out'">
                                <p class="notification-text">
                                  Tu producto ha sido marcado como fuera de Rótalo.
                                </p>
                              </div>
                              <div *ngIf="message.accionExpirado === 'sell_unknow_in'">
                                <p class="notification-text">
                                  Tu producto ha sido marcado como vendido en Rótalo. Ya no recibirás más notificaciones de éste.
                                </p>
                              </div>
                            </div>
                            <small class="notification-date">{{message.fechaHora }}</small>
                          </div>
                        </div>
                      </div>

                      <!--FIN NOTIFICACIÓN PRODUCTO EXPIRADO -->


                      <!--INICIO NOTIFICACIÓN PRODUCTO RECIBIDO -->
                      <div *ngIf="message.tipoNotificacion == 'product_received'" class="notifications-item">
                        <span class="icon icon-flag notification-icon"></span>
                        <p class="notification-text">
                          Tu producto
                          <span class="highlight bold clickable" (click)="goToDetail(message)">{{(message.producto.nombreProducto) + ': ' + (message.producto.precio | currency:'$':0 | removeDigits) + ' pesos.'}}</span>
                          ha sido recibido.
                        </p>
                        <small class="notification-date">{{message.fechaHora }}</small>
                      </div>
                      <!--FIN NOTIFICACIÓN PRODUCTO RECIBIDO -->


                      <!-- INICIO NOTIFICACIÓN NUEVO SUFI -->
                      <div *ngIf="message.tipoNotificacion == 'new_sufi'" class="notifications-item">
                        <span class="icon icon-flag notification-icon"></span>
                        <p class="notification-text">
                          <span class="highlight bold">{{message['sufi-loan'].nombreUsuario}}</span>
                          quiere comprar
                          <span class="highlight bold clickable" (click)="goToDetail(message)">{{(message.producto.nombreProducto) + ': ' + (message.producto.precio | currency:'$':0 | removeDigits) + ' pesos'}}</span>
                          y para ello ha solicitado un crédito Sufi.
                        </p>
                        <small class="notification-date">{{message.fechaHora }}</small>
                      </div>
                      <!-- FIN NOTIFICACIÓN NUEVO SUFI -->

                      <!-- INICIO NOTIFICACIÓN SUFI APROBADO -->
                      <div *ngIf="message.tipoNotificacion == 'sufi_approved'" class="notifications-item">
                        <span class="icon icon-flag notification-icon"></span>
                        <p class="notification-text">
                          Felicitaciones! Tu crédito con Sufi para la compra del producto
                          <span class="highlight bold clickable" (click)="goToDetail(message)">
                            {{(message.producto.nombreProducto) + ': ' + (message.producto.precio | currency:'$':0 | removeDigits) + ' pesos '}}
                          </span>
                          ha sido aprobada.
                        </p>
                        <small class="notification-date">{{message.fechaHora }}</small>
                      </div>
                      <!-- FIN NOTIFICACIÓN SUFI APROBADO -->

                      <!-- INICIO NOTIFICACIÓN SUFI RECHAZADO -->
                      <div *ngIf="message.tipoNotificacion == 'sufi_declined'" class="notifications-item">
                        <span class="icon icon-flag notification-icon"></span>
                        <p class="notification-text">
                          Tu solicitud de crédito Sufi para la compra del producto
                          <span class="highlight bold clickable" (click)="goToDetail(message)">
                            {{(message.producto.nombreProducto) + ': ' + (message.producto.precio | currency:'$':0 | removeDigits) + ' pesos '}}
                          </span>
                          no fue aprobada.
                        </p>
                        <small class="notification-date">{{message.fechaHora }}</small>
                      </div>
                      <!-- FIN NOTIFICACIÓN SUFI RECHAZADO -->

                      <!-- INICIO NOTIFICACIÓN SUBASTA GANADA -->
                      <div *ngIf="message.tipoNotificacion == 'auction_assigned'" class="notifications-item">
                        <span class="icon icon-flag notification-icon"></span>
                        <p class="notification-text">Has ganado la subasta
                          <span class="highlight bold clickable" (click)="goToDetail(message)">
                            {{(message.producto.nombreProducto) + ': ' + (message.oferta.monto | currency:'$':0 | removeDigits) + ' pesos.'}}
                          </span>
                        </p>
                        <small class="notification-date">{{message.fechaHora}}</small>
                        <p class="notification-text" *ngIf="message.status">{{message.status}}</p>
                        <div class="notification-buttons" *ngIf="!message.status">
                          <div class="button-item">
                            <button (click)="buyProduct(message)" class="button button-secondary">Comprar</button>
                          </div>
                          <div class="button-item">
                            <button (click)="regretOffer(message)" class="button button-primary">Cancelar</button>
                          </div>
                        </div>
                      </div>
                      <!-- FIN NOTIFICACIÓN SUBASTA GANADA -->

                      <!-- INICIO NOTIFICACIÓN SUBASTA FINALIZADA -->
                      <div *ngIf="message.tipoNotificacion == 'auction_finished'" class="notifications-item">
                        <span class="icon icon-flag notification-icon"></span>
                        <p class="notification-text">
                          <span class="highlight bold">{{message.oferta.nombreUsuario}}</span> ha ganado tu subasta
                          <span class="highlight bold clickable" (click)="goToDetail(message)">
                            {{(message.producto.nombreProducto) + ': ' + (message.producto.precio | currency:'$':0 | removeDigits) + ' pesos.'}}
                          </span>
                        </p>
                        <small class="notification-date">{{message.fechaHora }}</small>
                      </div>
                      <!-- FIN NOTIFICACIÓN SUBASTA FINALIZADA -->

                      <!-- INICIO NOTIFICACIÓN SUBASTA SOBREPASADA -->
                      <div *ngIf="message.tipoNotificacion == 'auction_overtaken'" class="notifications-item">
                        <span class="icon icon-flag notification-icon"></span>
                        <p class="notification-text">Han superado tu oferta en la subasta del producto
                          <span class="highlight bold clickable" (click)="goToDetail(message)">
                            {{(message.producto.nombreProducto) + ':' + (message.producto.precio | currency:'$':0 | removeDigits) + ' pesos.'}}
                          </span>
                        </p>
                        <small class="notification-date">{{message.fechaHora }}</small>
                      </div>
                      <!-- FIN NOTIFICACIÓN SUBASTA SOBREPASADA -->

                      <!-- INICIO NOTIFICACIÓN CALIFICACIÓN COMPRA -->
                      <div *ngIf="message.tipoNotificacion == 'qualify_purchase'">
                        <rating-notification class="notifications-theme" [notification]="message"></rating-notification>
                      </div>
                      <!-- FIN NOTIFICACIÓN CALIFICACIÓN COMPRA -->

                      <!-- INICIO NOTIFICACIÓN INFORMACION DEL VEHICULO -->
                      <div *ngIf="message.tipoNotificacion == 'vehicles_not_updated'" class="notifications-item">
                          <span class="icon icon-warning notification-icon"></span>
                          <p class="notification-text">
                            ¡Hey, tenemos algo que contarte! Ahora puedes agregar detalles a la publicación de tu vehículo, porque como sabes, todo entra por los ojos.
                          </p>
                          <small class="notification-date">{{message.fechaHora}}</small>
                        </div>
                        <!-- FIN NOTIFICACIÓN INFORMACION DEL VEHICULO -->



                      <!-- INICIO NOTIFICACIÓN OFERTA RECHAZADA -->
                      <div *ngIf="message.tipoNotificacion == 'first_interests_association'" class="notifications-item">
                        <span class="icon icon-warning notification-icon"></span>
                        <p class="notification-text">Tus gustos y aficiones nos ayudan a ofrecerte los productos rotados más afines y encontrar usuarios
                          que comparten tus intereses. ¡Sigue rotando!
                          <span *ngIf="message.interes.tieneIntereses" class="highlight bold clickable" (click)="goToHobbies()">
                            Has seleccionado tus intereses.
                          </span>
                        </p>
                        <small class="notification-date">{{message.fechaHora}}</small>
                        <div *ngIf="!message.interes.tieneIntereses" class="notification-buttons">
                          <div class="button-item">
                            <button class="button button-secondary" (click)="goToHobbies()">
                              <span>Aceptar</span>
                            </button>
                          </div>
                        </div>
                      </div>
                      <!-- FIN NOTIFICACIÓN OFERTA RECHAZADA -->
                    </div>


                    <div *ngIf="showMessageFeedBack"  class="notifications-item">
                      <a class="notification-text offer-text big-text">
                        <div>
                          <span *ngIf="!isSendMessage" class="bold">
                            ¿Quieres decirnos algo?, escríbenos y pronto te responderemos.
                          </span>
                          <span *ngIf="isSendMessage" class="bold">
                            ¡Recibido! Gracias por ayudarnos a ser cada vez mejor.
                            Muy pronto te contactaremos para resolver tu duda.
                          </span>
                        </div>
                      </a>
                    </div>



                  </div>
                </div>
              </div>
            </div>
            <form (ngSubmit)="onSubmit()" [formGroup]="formMessage" class="conversation-compose">
              <textarea style="overflow:hidden;" formControlName="message" required type="area" class="bold input-msg" name="input" placeholder="Escribe un mensaje">
              </textarea>
              <button [disabled]="formMessage.invalid" type="submit" class="send gtmCentrRotEnvMens">
                <div class="circle gtmCentrRotEnvMens">
                  <p>Enviar</p>
                </div>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
