:host {
  width: 60%;
  margin-top: 45px;
  .container {
    padding: 10px;
    padding-top: 0;
    width: 100%;
    height: 491px;
  }
  .page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .marvel-device {
    width: 100%;
  }
  .marvel-device .screen {
    text-align: left;
  }
  .screen-container {
    height: 100%;
  }
  /* Status Bar */
  .status-bar {
    height: 25px;
    background: #004e45;
    color: #fff;
    font-size: 14px;
    padding: 0 8px;
  }
  .status-bar:after {
    content: "";
    display: table;
    clear: both;
  }
  .status-bar div {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 0 0 8px;
    font-weight: 600;
  }
  /* Chat */
  .chat {
    height: calc(100% - 69px);
  }
  .chat-container {
    height: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  /* User Bar */
  .user-bar {
    height: 55px;
    background: #f4f4f4;
    color: #eb4654;
    padding: 0 8px;
    font-size: 24px;
    position: relative;
    z-index: 1;
  }
  .user-bar:after {
    content: "";
    display: table;
    clear: both;
  }
  .user-bar div {
    float: left;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
  }
  .user-bar .actions {
    float: right;
    margin: 0 0 0 20px;
  }
  .user-bar .actions.more {
    margin: 0 12px 0 32px;
  }
  .user-bar .actions.attachment {
    margin: 0 0 0 30px;
  }
  .user-bar .actions.attachment i {
    display: block;
    transform: rotate(-45deg);
  }
  .user-bar .avatar {
    margin: 0 0 0 5px;
    width: 80px;
    height: 80px;
  }
  .user-bar .avatar img {
    border-radius: 50%;
    background: #EAE9E8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: block;
    width: 100%;
  }
  .user-bar .name {
    font-size: 2rem;
    font-weight: 600;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
    margin: 0 0 0 110px;
    overflow: hidden;
    white-space: nowrap;
    width: 71%;
    padding-right: 25%;
  }
  /* Conversation */
  .conversation {
    position: relative;
    padding-bottom: 2rem;
    height: 32.6rem;
    background: #ffffff;
    z-index: 0;
  }
  .conversation ::-webkit-scrollbar {
    transition: all 0.5s;
    width: 5px;
    height: 1px;
    z-index: 10;
  }
  .conversation ::-webkit-scrollbar-track {
    background: transparent;
  }
  .conversation ::-webkit-scrollbar-thumb {
    background: #b3ada7;
  }
  .conversation .conversation-container {
    overflow-x: auto;
    padding: 0 16px;
    margin-bottom: 5px;
    height: 100%;
    padding-top: 2rem;
  }
  .conversation .conversation-container:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Messages */
  .message {
    color: #000;
    clear: both;
    line-height: 25px;
    font-size: 1.6rem;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: -1;
  }
  .message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
  }
  .metadata {
    display: inline-block;
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
  }
  .message:first-child {
    margin: 16px 0 8px;
  }
  .message.received {
    background: #f8f8f8;
    border-radius: 0px 5px 5px 5px;
    float: left;
  }
  .message.received .metadata {
    padding: 0 0 0 16px;
  }
  .message.received:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #f8f8f8 transparent transparent;
    top: 0;
    left: -10px;
  }
  .message.sent {
    background: #ffdcdf;
    border-radius: 5px 0px 5px 5px;
    float: right;
  }
  .message.sent:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #ffdcdf;
    top: 0;
    right: -10px;
  }
  /* Compose */
  .conversation-compose {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 90px;
    width: 100%;
    z-index: 2;
    margin-top: 20px;
    border: 1px solid #E2E2E2;
    border-radius: 5px 5px 0px 5px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 22%;
  }
  .conversation-compose div,
  .conversation-compose input {
    background: #fff;
    height: 100%;
  }
  .conversation-compose .input-msg {
    border: 0;
    flex: 1 1 auto;
    font-size: 16px;
    margin: 0;
    outline: none;
    min-width: 50px;
    height: 70px;
  }
  .conversation-compose .photo {
    flex: 0 0 auto;
    border-radius: 0 0 5px 0;
    text-align: center;
    position: relative;
    width: 48px;
  }
  .conversation-compose .photo:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    top: 0;
    right: -10px;
  }
  .conversation-compose .photo i {
    display: block;
    color: #7d8488;
    font-size: 24px;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
  }
  .conversation-compose .send {
    background: transparent;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto
  }
  .conversation-compose .send .circle {
    background: #ED2F3C;
    color: #fff;
    position: relative;
    width: 100px;
    height: 48px;
    border-top-left-radius: 15px;
    padding-top: 10px;
    p {
      font-size: 2rem;
    }
  }
  .conversation-compose .send .circle i {
    font-size: 24px;
    margin-left: 5px;
  }
  .notifications-theme .notifications-item {
    width: 100%;
  }
  .notifications-theme .notifications-item .notification-text.offer-text {
    font-size: 1.4rem;
  }
  .notifications-theme .notifications-item .notification-text.offer-text.big-text {
    font-size: 1.6rem;
  }

  small {
    display: block;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  textarea {
    overflow: hidden;
    resize: none;
  }
  .modal__close {
    display: none;
  }
  .delete-container{
    display: block;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 50px;
  }
  .icon-delete {
    width: 30px;
    height: 30px;
    background: url(../../assets/img/eliminar_chat.svg);
    background-size: 30px 30px;
  }


  .intro.main-text{
     p.notification-text{
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .expired-container {
    width: 100%;
  }

 .notifications-theme .notifications-item .notification-icon.expired{
    font-size: 1.5rem;
  }

  .btn-height{
    height: 4.4rem;
  }

  .long-button{
    min-width: 205px;
  }

  .expired-container{
    .notification-buttons{
      .button-item{
        margin-bottom: 10px;
      }
    }
  }


  .notification-text.align {
    display: inline-block;
    vertical-align: middle;
  }


  @media (max-width: 960px) {
    .expired-container{
      .notification-buttons{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .button-item{
          min-width: 205px;
        }
      }
    }

    .user-bar .name{
      width: 50%;
      padding-right: 4%;
    }

  }

  @media (max-width: 800px) {
    .user-bar .name {
      width: 50%;
    }
    .modal__close {
      display: block;
      font-size: 1.6rem;
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      right: 10px;
    }
    .delete-container{
      right: 60px;
    }
    .user-bar .name {
      padding-right: 10%;
    }
    .container {
      margin-top: 35px;
    }
  }
}

