<div class="info-container">
    <div class="tittle main-title">
      <h1 class="text ">Admin. Destacados</h1>
    </div>
    <div id="flashMessage" class="flashMessage">
        <div *ngIf="successChange" class="alert alert-success text--center" role="success">
          <p>
            <span class="icon-check alert-icon"></span> Se guardaron las posiciones</p>
        </div>
        <div *ngIf="errorChange" class="alert alert-danger" role="alert">
          <ul>
            <li>
              <span>{{errorChange}}</span>
            </li>
          </ul>
        </div>
      </div>
    <div *ngIf="products.length != 0" class="container-masonry">
        <div class="list">
            <div class="masonry">
              <div class="grid-item">
                  <product *ngFor="let product of products; index as i"  class="product-feed basic-product"
                  [ngClass]="product && product.product_status === 'sell_process' ? 'deactivated-photo' : ''"
                  [isProductSelling]="false"
                  [showField] = "true"
                  [product]="product"
                  (selected)="selectProduct($event);"
                  [colourCompany]="product['seller_company_color']  ? product['seller_company_color'] : '#FF3646'"
                  (updateProducts)="updateProduct($event)"
                  id="{{product.product_id}}"
                  [isProductChecked] = "true"
                  [numberOrder] = 'i+1'
                  >
                </product>
              </div>
            </div>
        </div>
    </div>
    <div *ngIf="products.length != 0" class="btn-accept">
      <custom-button (click)="saveOrder()" type="submit" text="Guardar"></custom-button>
    </div>
    <div  class="msg-no-products" *ngIf="showEmpty">
      ¡Aún no tenemos productos seleccionados!
   </div>
  </div>
