<div class="close-container">
    <div id="close" class="button-close-modal" (click)="close()">
     <div class="icon-close">
     </div>
    </div>
  </div>
  <div class="modal-container">
    <div class="icon-success">
    </div>
    <div class="description">
      <p>
          ¡Ya está todo listo!
      </p>
      <p>
          Ahora puedes iniciar sesión
      </p>
    </div>
  </div>
  
   <div class="close-container">
      <div id="close" class="button-close-modal" (click)="close()">
       <div class="icon-close">
       </div>
      </div>
    </div>
    <div class="modal-container modal-container-btn">
      <div class="btn-container">
        <button (click)='close()' class="btn-item">Iniciar sesión</button>
      </div>
    </div>
    
    