<div class="menu-usuario">
    <div *ngIf="userEdit" class="info">
      <div class="photo-container">
        <div [routerLink]="profileShow" class="photo clickable">
          <img *ngIf="!userEdit.photo || !userEdit.photo.url" [src]="defaultImage" alt="no imagen">
          <img *ngIf="userEdit.photo && userEdit.photo.url" [src]="userEdit.photo.url" alt="imagen-perfil">
        </div>
        <div class="user-info">
          <p *ngIf="userEdit.name" class="name">{{userEdit.name}}</p>
          <p *ngIf="userEdit.company && userEdit.company.name" class="company">{{userEdit.company.name}}</p>
          <div  *ngIf="userEdit.calificacionGeneral" class="ranking">
              <span class="star star-full">
              </span>
              <span> {{userEdit.calificacionGeneral}}
              </span>
          </div>
        </div>
      </div>
    </div>
    <button routerLinkActive="active" [routerLink]="categories" mat-menu-item>
        <div class="button-container">
            Categorías
            <div class="arrow icon"></div>
        </div>
    </button>

    <div class="ac-container">
        <div #option1 routerLinkActive="active" [ngClass]="options[0] ? 'open' : ''">
          <div (click)="$event.stopPropagation();" mat-menu-item class="option">
            <div class="ico user-icon"></div>
            <input [disabled]="validateIfIsActive(option1)" [(ngModel)]="options[0]" id="menu-1"
              name="accordion-1" type="checkbox" />
            <label for="menu-1">Mi cuenta<div class="icon-down"></div></label>
          </div>
          <article (click)="closeOptions(0)" class="ac-small">
            <ul>
              <li [routerLink]="profileShow" routerLinkActive="active" class="subOption">
                <div class="bullet"></div>
                <a>Mi perfil</a>
              </li>
              <li [routerLink]="hobbies" routerLinkActive="active" class="subOption">
                <div class="bullet"></div>
                <a>Mis intereses</a>
              </li>
            </ul>
          </article>
        </div>
      </div>

    <button routerLinkActive="active" [routerLink]="messages" mat-menu-item>
        <div class="button-container">
                Mensajes
                <span *ngIf="messagesUnRead" class="message-notification">
                    <p>{{messagesUnRead}}</p>
                </span>
            <div class="arrow icon"></div>
        </div>
    </button>
    <button routerLinkActive="active" [routerLink]="selling" mat-menu-item>
        <div class="button-container">
              Artículos publicados
            <div class="arrow icon"></div>
        </div>
    </button>
    <button routerLinkActive="active" [routerLink]="sold" mat-menu-item>
        <div class="button-container">
            Artículos comprados y vendidos
            <div class="arrow icon"></div>
        </div>
    </button>

    <div class="ac-container">
        <div #option2 routerLinkActive="active" [ngClass]="options[1] ? 'open' : ''">
          <div (click)="$event.stopPropagation();" mat-menu-item class="option">
            <div class="ico configuration-icon"></div>
            <input [disabled]="validateIfIsActive(option2)" [(ngModel)]="options[1]" id="menu-2"
              name="accordion-2" type="checkbox" />
            <label for="menu-2">Mi Configuración<div class="icon-down"></div></label>
          </div>
          <article (click)="closeOptions(1)" class="ac-small">
            <ul>
              <li [routerLink]="edit" routerLinkActive="active" class="subOption">
                <div class="bullet"></div>
                <a>Mis datos</a>
              </li>
              <li [routerLink]="security" routerLinkActive="active" class="subOption">
                <div class="bullet"></div>
                <a>Seguridad</a>
              </li>
              <li [routerLink]="notificationsSettings" routerLinkActive="active" class="subOption">
                <div class="bullet"></div>
                <a>Configuración</a>
              </li>
            </ul>
          </article>
        </div>
      </div>

      <div *ngFor="let store of stores; let i = index" class="ac-container">
        <div *ngIf="store['is_assigned_to_user']" #option3 routerLinkActive="active"
         [ngClass]="optionsStore[i] ? 'open' : ''">
        <div (click)="$event.stopPropagation();" mat-menu-item class="option">
          <div class="ico shop-icon"></div>
          <input [disabled]="validateIfIsActive(option3)" [(ngModel)]="optionsStore[i]" id="store-{{store.id}}"
            name="accordion-{{store.id}}" type="checkbox" />
          <label for="store-{{store.id}}">{{store.name}}<div class="icon-down"></div></label>
        </div>
        <article (click)="closeOptionsStores(i)" class="ac-small">
          <ul>
            <li *ngIf="store.id == 1" routerLinkActive="active" [routerLink]="adminOrders" class="subOption">
              <div class="bullet"></div>
              <a>Ordenes</a>
            </li>
            <li routerLinkActive="active" routerLink="{{productShop}}/{{store.id}}" class="subOption">
              <div class="bullet"></div>
              <a>Productos</a>
            </li>
            <li routerLinkActive="active" routerLink="{{bannersShop}}/{{store.id}}" class="subOption">
                <div class="bullet"></div>
                <a>Banners tienda</a>
            </li>
            <!--    <li class="subOption">
                <div class="bullet"></div>
                <a>Destacados</a>
              </li> -->
              <li routerLinkActive="active" routerLink="{{uploadProducts}}/{{store.id}}" class="subOption">
                <div class="bullet"></div>
                <a>Carga de productos</a>
              </li>
          </ul>
        </article>
      </div>
      </div>

      <div class="ac-container">
            <div #option4 *ngIf="isSuperUser()" routerLinkActive="active" [ngClass]="options[2] ? 'open' : ''">
              <div (click)="$event.stopPropagation();" mat-menu-item class="option">
                <div class="ico admin-icon "></div>
                <input [disabled]="validateIfIsActive(option4)" [(ngModel)]="options[2]" id="menu-4"
                  name="accordion-4" type="checkbox" />
                <label for="menu-4">Admin. Sistema<div class="icon-down"></div></label>
              </div>
              <article (click)="closeOptions(2)" class="ac-small">
                <ul>
                  <li [routerLink]="users" routerLinkActive="active" class="subOption">
                    <div class="bullet"></div>
                    <a>Usuarios</a>
                  </li>
                  <li [routerLink]="adminRegister" routerLinkActive="active" class="subOption">
                    <div class="bullet"></div>
                    <a>Pre-registro</a>
                  </li>
                  <li [routerLink]="featuredProduct" routerLinkActive="active" class="subOption">
                    <div class="bullet"></div>
                    <a>Destacados</a>
                  </li>
                  <li [routerLink]="banners" routerLinkActive="active" class="subOption">
                    <div class="bullet"></div>
                    <a>Banners home</a>
                  </li>
                  <li [routerLink]="campaign" routerLinkActive="active" class="subOption">
                    <div class="bullet"></div>
                    <a>Campañas</a>
                  </li>
                </ul>
              </article>
            </div>
      </div>

    <button class="gtmPerfilConfigCerrarSesion" (click) = "onLogout()" mat-menu-item>
        <div class="button-container">
                Cerrar sesión
            <div class="arrow icon"></div>
        </div>
    </button>
  </div>
