<div class="modal">
  <div class="md-content">
    <div class="close-container">
      <span (click)="close()"  class="icon-circle-cancel"></span>
    </div>
    <div class="share-product-container">
        <div class="icon-share-container">
          <div class="icon-email"></div>
        </div>
      <div>
        <p  class="share-product">Comparte este producto con un amigo</p>
      </div>
      <div class="input-container">
          <form (ngSubmit)="shareProduct()" [formGroup]="sendInfoProduct" class="form-theme">
            <div class="form-group">
              <input (click)="messageSuccess=false; messageError= false" [ngClass]="{'invalid': sendInfoProduct.get('email').invalid && !sendInfoProduct.get('email').pristine}"
                formControlName="email" maxlength="100" id="txt-email" type="email" class="form-control" placeholder="Escribe aquí el correo corporativo de tu amigo">
              <div class="icon-container">
                <button class="button-share" type="submit">
                  <div class="icon-email"></div>
                </button>
              </div>
            </div>
            <span *ngIf="sendInfoProduct.get('email').invalid && !sendInfoProduct.get('email').pristine" class="help-block">
              <span class="icon-circle-cancel"></span>
              <span *ngIf="!sendInfoProduct.get('email').errors.emailError">
                Aseguráte de que sea un correo válido.
              </span>
              <span *ngIf="sendInfoProduct.get('email').errors.emailError">
                ¡Hey! compártelo a un correo diferente al tuyo.
              </span>
            </span>
            <span *ngIf="messageSuccess" class="help-block">
              <span class="icon-check"></span>
              <span>
                ¡Hemos enviado el correo con éxito!
              </span>
            </span>
            <span *ngIf="messageError" class="help-block">
              <span class="icon-circle-cancel"></span>
              <span>
                {{textError}}
              </span>
            </span>
          </form>
        </div>
    </div>
  </div>
</div>
