<back-arrow></back-arrow>
<div class="container-form">
  <div class="container--app">
    <div *ngFor="let error of errorRequest">
      <div class="alert-danger" *ngIf="error">
        <span>{{error.title}}</span>
      </div>
    </div>
  </div>
  <simple-form title="¡Tu cuenta ha sido creada!" firstRow="Hemos enviado un código de activación a tu correo." secondRow="Ingresa el código para activar tu cuenta."
    placeholder="Ingresa tu código de activación" (next)="activate($event)"></simple-form>
</div>
