:host {

  .container-terms {
    margin-bottom: 20px;
    .title {
      margin: 0.5rem 0;
    }
    h3 {
      font-weight: normal;
    }
  }


  .modal-container {
    min-height: 500px;
  }

  .description {
    p {
      width: 100%;
      padding: 45px 0px;
      font-size: 1.6rem;
      font-weight: bold;
      color: #272727;
      text-align: center;
      width: 95%;
      margin: 0 auto;
    }
  }

  .btn-container {
    text-align: center;
    padding-top: 20px;
    /*position: absolute;
    bottom: 40px;
    min-width: 205.07px;
    left: 50%;
    transform: translateX(-50%);*/
    button {
      width: 100%;
      height: 40px;
      max-width: 205.07px;
      border-radius: 25px;
    }
  }

  .close-container {
    position: relative;
    width: 100%;
    height: 45px;
    p.title-modal {
      color: #808080;
      font-size: 1.6rem;
    }
  }

  .button-close-modal {
    position: absolute;
    top: -7px;
    right: 0px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: white;
    border: 2px solid #A2A2A2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    p {
      font-size: 2rem;
      color: #A2A2A2;
      line-height: 1;
      font-weight: bold;
    }
    &:hover {
      border: 2px solid #707070;
      p {
        color: #707070;
      }
    }
  }
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #FF3646;
  font-family: 'Lato Regular';
  font-size: 1.6rem;
  font-weight: bold;
  color:white;
  &:hover {
    background-color: #FF4655;
  }
}

.mat-stroked-button:not([disabled]) {
  border-color: #FF3646;
  &:hover {
    background-color: #FF3646;
    color:white;
  }
}

.mat-stroked-button {
  color:#FF3646;
  font-family: 'Lato Regular';
  font-size: 1.6rem;
  font-weight: bold;
}

.mat-dialog-container {
  overflow-y: scroll;
}

:host {
    .check-offer {
      padding-left: 12px;
    }

    .subcategory-container {
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    .material-checkbox {
      position: relative;
      display: inline-block;
      color: rgba(0, 0, 0, 0.87);
      cursor: pointer;
      font-size: 14px;
      line-height: 18px;
    }

    .material-checkbox>input {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      position: absolute;
      z-index: -1;
      left: -15px;
      top: -15px;
      display: block;
      margin: 0;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      background-color: rgba(0, 0, 0, 0.42);
      outline: none;
      opacity: 0;
      transform: scale(1);
      -ms-transform: scale(0);
      /* Graceful degradation for IE */
      transition: opacity 0.5s, transform 0.5s;
    }

    .material-checkbox>input:checked {
      background-color: #AAAAAA;
    }

    .material-checkbox:active>input {
      opacity: 1;
      transform: scale(0);
      transition: opacity 0s, transform 0s;
    }

    .material-checkbox>input:disabled {
      opacity: 0;
    }

    .material-checkbox>input:disabled+span {
      color: rgba(0, 0, 0, 0.38);
      cursor: initial;
    }

    .material-checkbox>span::before {
      content: "";
      display: inline-block;
      border: solid 1px rgba(0, 0, 0, 0.42);
      border-radius: 2px;
      width: 14px;
      height: 14px;
      vertical-align: 0px;
      transition: border-color 0.5s, background-color 0.5s;
    }

    .material-checkbox>input:checked+span::before {
      border-color: #AAAAAA;
    }

    .material-checkbox>input:active+span::before {
      border-color: #AAAAAA;
    }

    .material-checkbox>input:focus+span::before {
      border-color: #AAAAAA;
    }

    .material-checkbox>input:checked:active+span::before {
      border-color: transparent;
      background-color: rgba(0, 0, 0, 0.42);
    }

    .material-checkbox>input:disabled+span::before {
      border-color: rgba(0, 0, 0, 0.26);
    }

    .material-checkbox>input:checked:disabled+span::before {
      border-color: transparent;
      background-color: rgba(0, 0, 0, 0.26);
    }

    .material-checkbox>span::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 10px;
      border: solid 2px transparent;
      border-left: none;
      border-top: none;
      transform: translate(5.5px, 1px) rotate(45deg);
      -ms-transform: translate(5.5px, 2px) rotate(45deg);
    }

    .material-checkbox>input:checked+span::after {
      border-color: #AAAAAA;
    }

    .check-label {
      color: #808080;
      font-size: 1.6rem;
      margin-left: 5px;
    }

    .select-cities {
      select-cities {
        position: absolute;
        width: 100%;
        bottom: 0;
      }

      .error-msg {
        position: absolute;
        width: 100%;
        bottom: -20px;
      }
    }

}

:host {
  .check-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .checkbox{
      width: 33.333%;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 648px) {
  :host {

    .description p {
      padding: 30px 0px;
    }

    .btn-container {
      width: 75%;
      margin: 0 auto;
      button:first-child {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    .button-close-modal{
      top: -10px;
      right: -10px;
    }

    .close-container {
      position: relative;
      height: 0;
    }

  }
}

@media screen and (max-width: 680px) {
  .container-terms {
    .title, h3 {
      font-size: 1.8rem;
    }
  }

}
