@import '../../styles/settings/_colors.scss';
@import '../../styles/settings/_variables.scss';
:host {
  custom-spinner{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 50%);
  }
    back-top {
        position: fixed;
        z-index: 99999;
        bottom: 15px;
        left: 50%;
        opacity: 0;
        transition: opacity 0.5s;
        &.show {
            opacity: 1;
            transition: opacity 1s;
        }
    }
    #section-notifications {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 2em;
        border-radius: 4px;
        border: 1px solid $border-color;
        header {
            &.tittle-section-notifications {
                background-color: $red;
                padding: 19px 17px;
                h1 {
                    color: $body-bg;
                    font-size: 18px;
                    font-weight: 700;
                    margin: 0;
                }
            }
        }
        article {
            aside {
                &.no-notifications {
                    text-align: center;
                    padding: 2em 0;
                    p {
                        font-size: 1.6em;
                        color: $color-text-body;
                        font-family: $font-family-base;
                        font-weight: $font-weight-base;
                        line-height: $line-height-base;
                    }
                }
            }
        }
    }
}
