:host{
  .row {
    position: relative;
    padding-bottom: 2rem;
    height: 32.6rem;
    background: #ffffff;
    z-index: 0;
  }
  .row ::-webkit-scrollbar {
    transition: all 0.5s;
    width: 5px;
    height: 1px;
    z-index: 10;
  }
  .row ::-webkit-scrollbar-track {
    background: transparent;
  }
  .row ::-webkit-scrollbar-thumb {
    background: #b3ada7;
  }
  .row .conversation-wrap {
    overflow-x: auto;
    padding: 0 16px;
    margin-bottom: 5px;
    height: 100%;
    padding-top: 2rem;
  }
  .row .conversation-wrap:after {
    content: "";
    display: table;
    clear: both;
  }
}
