<div class="row">
  <div id="conversation-wrap" class="material-design conversation-wrap">
    <div  class="selectAll-container" *ngIf="threads">
      <label class="material-checkbox container-check">
        <input [checked]="selectAllCheck" (change)="selectAll()" type="checkbox" id="deleteAll" name="deleteAll">
        <span class="checkmark"></span>
      </label>
      <button (click)="openDialog()" mat-icon-button>
         <div class="trash-icon"></div>
      </button>
    </div>
    <div *ngFor="let thread of threads; let i = index" class="chat-container">
      <div *ngIf="i != 0" class="checkbox-container">
        <div class="wrapper">
          <label *ngIf="thread.rol == 'user'" class="material-checkbox container-check">
              <input type="checkbox" id="{{thread.idEmisario}}" name="{{thread.idEmisario}}">
              <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <chat-thread (selectOption)="receiveOption()" [thread]="thread">
      </chat-thread>
    </div>
  </div>
</div>
