@font-face {
	font-family: 'Abel Light';
	font-weight: 300;
	font-style: normal;
	src: url('assets/fonts/Abel/Abel-Regular.ttf') format('truetype'),
}

@font-face {
	font-family: 'Abel';
	font-weight: 400;
	font-style: normal;
	src: url('assets/fonts/Abel/Abel-Regular.ttf') format('truetype'),
}

@font-face {
	font-family: 'Abel semibold';
	font-weight: 600;
	font-style: normal;
	src: url('assets/fonts/Abel/Abel-Regular.ttf') format('truetype'),
}

@font-face {
	font-family: 'Abel Bold';
	font-weight: 700;
	font-style: normal;
	src: url('assets/fonts/Abel/Abel-Regular.ttf') format('truetype'),
}