:host{

  .feedback-container{
    cursor: pointer;
    transform: rotate(-90deg);
    background: #FF3646;
    color: #fff;
    padding: 5px;
    font-size: 2.2rem;
    right: -41px;
    position: fixed;
    border-radius: 10px 10px 0px 0px;
  }
}
