:host{
  .feedback-container{
    cursor: pointer;
    top: 50%;
    z-index: 3;
    transform: rotate(-90deg);
    background: #FF3646;
    color: #fff;
    font-size: 1.8rem;
    right: -46px;
    position: fixed;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 10px;
  }
  .icon-feedback {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    top: 50%;
    left: 12%;
    transform: translate(-50%, -50%) rotate(90deg);
    background: url(../../assets/img/icono_feedBack.svg);
    background-size: 30px 30px;
    position: absolute;
  }
}
