<div class="container-modal">
  <div class="modal__header">
      <div class="split__title">
        <h1 class="modal__title">Mejora tus fotos</h1>
      </div>
      <a class="modal__close">
        <span class="icon-close" (click)="closeModal()">
        </span>
      </a>
  </div>
  <div class="modal__body modal--offer">
    <div class="text-xs-center">
      <img src="../../assets/img/tips/tip1.png" alt="Rotalo upload images tip" class="m-b">
      <p class="text--grey-dark m-b tips-list__item">No uses fotos de internet</p>
    </div>
    <div class="text-xs-center">
      <img src="../../assets/img/tips/tip2.png" alt="Rotalo upload images tip" class="m-b">
      <p class="text--grey-dark m-b tips-list__item">Busca un lugar limpio, con fondo simple y bien iluminado</p>
    </div>
    <div class="text-xs-center">
      <img src="../../assets/img/tips/tip3.png" alt="Rotalo upload images tip" class="m-b">
      <p class="text--grey-dark m-b tips-list__item">No uses el flash de tu cámara</p>
    </div>
    <div class="text-xs-center">
      <img src="../../assets/img/tips/tip4.png" alt="Rotalo upload images tip" class="m-b">
      <p class="text--grey-dark m-b tips-list__item">Enfoca bien y no cortes el objeto</p>
    </div>
    <div class="text-xs-center">
      <img src="../../assets/img/tips/tip5.png" alt="Rotalo upload images tip" class="m-b">
      <p class="text--grey-dark m-b tips-list__item">Para más detalles, agrega más fotos</p>
    </div>
  </div>
  <div class="modal__footer">
  </div>
</div>
