<div class="modal">
  <div class="md-content">
    <div class="icon-main">
      <div class="icon-feedback"></div>
    </div>
    <div class="close-container">
      <span (click)="close()" class="icon-close">
      </span>
    </div>
    <div>
      <p>¿Quieres decirnos algo? escríbenos y pronto te responderemos.</p>
      <form  [formGroup]="feedBackForm" (ngSubmit)="onSubmit()" role="form" class="form-theme">
        <div *ngIf="!checkSession()" class="form-group">
          <input
          (click)="messageSuccess=false;"
          autocomplete="off"
          formControlName="email"
          name="email"
          type="email"
          class="form-control"
          maxlength="50"
          placeholder="¿Cuál es tu correo electrónico?">
          <span class="help-block">
            <span *ngIf="
            feedBackForm.get('email').invalid
            && (!feedBackForm.get('email').pristine
            || feedBackForm.get('email').touched)">
              El campo no cumple con el formato de correo.
            </span>
          </span>
        </div>
        <div class="form-group">
          <textarea
          (click)="messageSuccess=false; success.emit(false);"
          autocomplete="off"
          formControlName="comment"
          class="form-control"
          name="field"
          placeholder="Escribe un mensaje…"></textarea>
          <span class="help-block">
            <span *ngIf="feedBackForm.get('comment').invalid
            && (!feedBackForm.get('comment').pristine
            || feedBackForm.get('comment').touched )">
              Este campo es obligatorio.
            </span>
          </span>
          <span *ngIf="messageSuccess" class="help-block success-text">
              <span>
                ¡Recibido! Gracias por ayudarnos a ser cada vez mejor.
                Muy pronto te contactaremos para resolver tu duda.
              </span>
          </span>
        </div>
        <div>
          <button class="primary" type="submit">
            <div class="icon-send"></div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
