<div class="info-container">
    <div class="number-messages">
        <div class="ico ico-message-open"></div>
        <p class="messages">Tienes 10 mensajes pendientes</p>
    </div>
    <div class="ranking-container">
        <p>Mi ranking general</p>
        <div class="ranking">
            <p>3</p>
            <div class="ico ico-star"></div>
        </div>
    </div>
    <div class="ranking-elements">
      <div class="element"></div>
      <div class="element"></div>
      <div class="element"></div>
    </div>
</div>
