:host{
    width: 100%;
    padding: 0 5%;
    .number-messages{
        position: relative;
        padding: 0 5%;
        .ico{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        .ico-message-open{
          width: 30px;
          height: 30px;
          background: url(../../assets/img/mensaje.svg);
          background-size: 30px 30px;
        }
        .messages{
            color: #ED2F3C;
            font-size: 2.5rem;
        }
    }
    .ranking-container{
        position: relative;
        border: 2px solid #9B9B9B;
        border-radius: 10px;
        margin: 20px 0;
        padding: 8px 2%;
        .ranking{
          position: absolute;
          top: 8px;
          right: 2%;
          display: flex;
            .ico-star{
                width: 25px;
                height: 25px;
                background: url(../../assets/img/estrella_linea.svg);
                background-size: 25px 25px;
                margin-left: 5px;
            }
        }
        p{
            font-size: 2rem;
        }
    }
    .ranking-elements{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 50px 0;
    }
    .ranking-elements > .element {
      width: 250px;
      height: 100px;
      border: 2px dashed red;
    }
}
