<div class="info-container">
  <div class="tittle">
    <div class="ico ico-message-open"></div>
    <p class="text">Tienes 10 mensajes pendientes</p>
  </div>
  <div class="ranking-container">
    <p>Mi ranking general</p>
    <div class="ranking">
      <p>3</p>
      <div class="ico ico-star"></div>
    </div>
  </div>
  <div class="elements-container">
    <div class="element element-process">
      <p>Rapidez en el proceso</p>
    </div>
    <div class="element element-product">
      <p>Calidad del producto</p>
    </div>
    <div class="element element-attention">
      <p>Amabilidad y atención</p>
    </div>
  </div>
  <div class="tittle">
    <div class="ico ico-product "></div>
    <p class="text">Artículos</p>
  </div>
  <div class="elements-container">
    <div class="element product-number">
      <div class="container-circle">
        <div class="circle">4</div>
        <div class="info">Artículos rotando</div>
      </div>
    </div>
    <div class="element product-number">
      <div class="container-circle">
        <div class="circle">4</div>
        <div class="info">Artículos rotados</div>
      </div>
    </div>
    <div class="element product-number">
      <div class="container-circle">
        <div class="circle">4</div>
        <div class="info">Artículos vencidos</div>
      </div>
    </div>
  </div>
</div>
