@import '../../styles/settings/_colors.scss';
@import '../../styles/settings/_variables.scss';

:host{
  position: relative;
    .container-footer{
        background: $red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 3.1rem 8%;
        font-size: 1.6rem;
        font-weight: 400;
        .terms{
          position: relative;
            cursor: pointer;
            a{
                color: white;
            }
            label {
              cursor: pointer;
            }
        }
        .logo{
            cursor: pointer;
            width: 9rem;
            img{
                width: 100%;
                height: auto;
            }
        }
    }

    .contact {
      position: relative;
    }
}
