@import "../../styles/settings/_colors.scss";
@import "../../styles/settings/_variables.scss";

:host {
  position: relative;
  .container-footer {
    background: $red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 3.1rem 8%;
    font-size: 1.6rem;
    font-weight: 400;
    position: relative;
    overflow: hidden;
    .terms {
      cursor: pointer;
      a {
        color: white;
      }
      label {
        cursor: pointer;
      }
    }
    .logo {
      cursor: pointer;
      width: 100%;
      padding-bottom: 3.1rem;
      border-bottom: 1px solid #ff747f;
      img {
        width: 9rem;
        height: auto;
      }
    }
  }

  .contact {
    position: relative;
    cursor: auto;
    @media (max-width: 600px) {
      position: initial;
    }
  }
  .footer-content {
    width: 100%;
    display: flex;
    @media (max-width:680px) {
      flex-direction: column;
    }
  }
  .footer-col {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-right: 80px;
    .col-title {
      vertical-align: middle;
      display: flex;
      align-items: center;
    }
    a {
      height: 38px;
      vertical-align: middle;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
  .bg-one {
    bottom: 2px;
    left: -85px;
    background: #5a298d;
    width: 149px;
    height: 74px;
    transform: matrix(0.53, -0.85, -0.85, -0.53, 0, 0);
    border-radius: 32px;
    position: absolute;
    transform: rotate(151deg);
  }
  .bg-two {
    bottom: -360px;
    right: -74px;
    background: #5a298d;
    width: 238px;
    height: 442px;
    -webkit-transform: matrix(0.53, -0.85, -0.85, -0.53, 0, 0);
    transform: matrix(0.53, -0.85, -0.85, -0.53, 0, 0);
    border-radius: 40px;
    position: absolute;
    -webkit-transform: rotate(151deg);
    transform: rotate(149deg);
  }
  .bg-three {
    top: calc(50% - 80px);
    right: -100px;
    background: #ff5f6c;
    width: 149px;
    height: 74px;
    -webkit-transform: matrix(0.53, -0.85, -0.85, -0.53, 0, 0);
    transform: matrix(0.53, -0.85, -0.85, -0.53, 0, 0);
    border-radius: 32px;
    position: absolute;
    -webkit-transform: rotate(151deg);
    transform: rotate(157deg);
  }
}

:host() {
  .md-show + .back-modal {
    width: 100%;
    background: transparent;
    position: fixed;
    z-index: 1999;
    max-height: 0;
    top: 0;
    left: 0;
    min-height: 100vh;
    transition: max-height 0.5s;
  }
  @media (max-width: 700px) {
    .messages {
      display: none;
    }
  }
  @media (max-width: 1080px) {
    .container-footer {
      padding-bottom: 6rem;
    }
  }
}
