<div class="modal-container">
    <div (click) = "close()" class="close"></div>
    <mat-dialog-content>
      <div class="container">
        <div class="monkey-success">
          <div class="img-monkey"></div>
          <div class="text">
            <p>Te redirigimos a la página externa</p>
            <p>Mis aliados Sura</p>
          </div>
        </div>
        <div  class="product-btns">
          <div class="cont-botons success">
            <button  (click) = "goToUrl()"
            class="botons" mat-flat-button>OK</button>
          </div>
        </div>
      </div>
    </mat-dialog-content>
</div>

