<div class="modal-container">
    <div (click) = "close()" class="close"></div>
    <mat-dialog-content>
      <div class="container">
        <div class="monkey-success">
          <div class="img-monkey"></div>
          <div class="text">
            <p>Estás a punto de abandonar el Sitio Web de Rótalo, Bancolombia S.A. no se hace responsable por el contenido disponible en otros sitios web y/o plataformas,</p>
            <p>para mayor información consulta los términos y condiciones de los sitios web.</p>
          </div>
        </div>
        <div  class="product-btns">
          <div class="cont-botons success">
            <button  (click) = "goToUrl()"
            class="botons gtmProdMisAliaOk" mat-flat-button>OK</button>
          </div>
        </div>
        <div class="terms-container">
         <a [href]="getUrlTerms()" target="_blank">Ver términos y condiciones</a>
        </div>
      </div>
    </mat-dialog-content>
</div>

