<back-arrow></back-arrow>
<div class="container-fluid">
  <div class="">
    <form role="form" class="text-center">
      <div class="text-left">
        <p class="text--grey-dark bold">Email Enviado</p>
        <p class="text--grey text--small">Ingresa tu email para recuperar tu contraseña. Enviaremos instrucciones para recuperar tu contraseña.</p>
      </div>
      <footer>
        <a routerLink="/home">Volver al Home</a>
      </footer>
    </form>
  </div>
</div>
<custom-footer></custom-footer>
