<div class="breadcrumbs">
  <a href="">Campañas</a> > <span>Detalles generales de la campaña</span>
</div>
<div class="form-container">
  <form [formGroup]="formCampaign" name="formCampaign" (ngSubmit)="createCampaign()" role="form" class="form-theme">
    <div class="material-design">
      <div class="row">
        <div class="form-group half" data-input="name">
          <label class="label-title">Título de la campaña</label>
          <input  formControlName="title" type="text" class="form-control" name="title" maxlength="50">
          <span class="help-block error-msg"> Este campo es requerido </span>
        </div>
      </div>
      <div formArrayName="campaignsCommunities" class="row">
        <div *ngFor="let comunidad of formCampaign.get('campaignsCommunities').controls; let i = index;" class="dynamic-container">
          <div [formGroupName]="i">
            <div class="row">
              <a (click)="removeCampaign(i)" mat-icon-button>
                <div class="trash-icon"></div>
              </a>
            </div>
            <div class="row">
              <div class="form-group field-form">
                <label class="label-title">Comunidad</label>
                <select formControlName="communityId" name="communityId" class="category form-control">
                  <option value="-1">Todas</option>
                  <option *ngFor="let community of communities" value="{{community.id}}">{{community.nombre}}
                </select>
                <span class="error-msg">Este campo es requerido</span>
              </div>
              <div class="form-group date-auction">
                <div class="date-container">
                  <label class="label-title">Desde</label>
                  <my-date-picker
                  formControlName="startAt"
                  class="data-picker-theme" name="startAt" placeholder="dd/mm/aaaa" [options]="datePickerOptions"></my-date-picker>
                  <span class="help-block error-msg"> Este campo es requerido </span>
                </div>
              </div>
              <div class="form-group date-auction">
                <div class="date-container">
                  <label class="label-title">Hasta</label>
                  <my-date-picker
                  formControlName="untilAt"
                  class="data-picker-theme" name="untilAt" placeholder="dd/mm/aaaa" [options]="datePickerOptions"></my-date-picker>
                  <span class="help-block error-msg"> Este campo es requerido </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group" data-input="name">
                <label class="label-title">Id del producto</label>
                <input onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="path" type="text" class="form-control" name="path" maxlength="50">
                <span class="help-block error-msg"> Este campo es requerido </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="btn-container">
          <a (click)="addCampaign()" mat-button>+ Agregar</a>
        </div>
      </div>
      <div class="row">
        <div class="tittle-container">
          <p><strong>Imágenes de la campaña</strong> (formato .png o .gif máximo 5MG)</p>
        </div>
      </div>
      <div class="row row-img">
        <custom-spinner *ngIf="disableBtn"></custom-spinner>
        <div class="img-sortable">
          <image-upload id="image-upload" [max]="maxNumberImg" #imageInput [preview]="false" [extensions]="['png', 'gif']"
            [buttonCaption]="'Seleccionar imágenes'" [dropBoxMessage]="'Arrastra tus imágenes aquí!'"
            [clearButtonCaption]="'Limpiar'" [style]="customStyleImageLoader" (uploadFinished)="onUploadImageFinished($event)">
          </image-upload>
          <div class="container-prev-photos">
            <div class="grid-wrapper">
              <div id="grid-holder" class="grid-holder">
                <div *ngFor="let numberOfPhoto of numberOfPhotos" class="item place-holder">
                  <div id={{numberOfPhoto}} class="item-content">
                    <div [ngClass]="{'hover': !photosUploaded[numberOfPhoto-1]}" (drop)="onDrop($event)" (dragover)="onDragOver($event)"
                      (click)="uploadFiles()" class="container-wrapper">
                      <div class="wrapper">
                        <div class="icon-camera"></div>
                        <p>
                          Agregar
                        </p>
                      </div>
                    </div>
                    <span class="title-first" *ngIf="numberOfPhoto == 1">Sticker</span>
                    <span class="title-first" *ngIf="numberOfPhoto == 2">Modal Ganaste</span>
                    <span class="title-first" *ngIf="numberOfPhoto == 3">Modal Perdiste</span>
                  </div>
                </div>
              </div>
            </div>
            <div #grid [sortablejs]="photosUploaded" [sortablejsOptions]="{ animation: 150 }" id="grid" class="grid">
              <div #photosEnd *ngFor="let photoUploaded of photosUploaded" class="item">
                <div class="drag item-content">
                  <div *ngIf="photoUploaded" class="container-img">
                    <div (click)="onRemovePreviewImage(photoUploaded)" class="remove-action">
                      <span class="icon-close"></span>
                    </div>
                    <img class="imagenUpload" #imagen [src]="photoUploaded?.src">
                  </div>
                </div>
              </div>
            </div>
            <div class = "error-container">
                <span class="help-block uploadImg" *ngIf="errorUploadImg">
                    ¡Omg! No pudimos subir alguna de tus fotos. Asegúrate de que tenga formato .png, .gif
                  </span>
                  <span class="help-block uploadImg" *ngIf="errorMaxImg">
                    ¡Ups! Alguna de tus imágenes está un poco pesada. Debe ser máximo de 5MB.
                  </span>
            </div>
            <div class="tool-tip">
                <label>
                    Recuerda el tamaño de las imágenes: Sticker: 205 x205 px Modales: 300x300 px
                </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group half">
          <label class="label-title">Texto 1 modal ganador</label>
          <textarea class="form-control" placeholder="" formControlName="winnerText" name="winnerText" maxlength="500"></textarea>
          <span class="error-msg">Este campo es requerido</span>
        </div>
      </div>
      <div class="row">
        <div class="form-group half">
          <label class="label-title">Texto 2 modal perdedor</label>
          <textarea class="form-control" placeholder="" formControlName="loserText" name="loserText" maxlength="500"></textarea>
          <span class="error-msg">Este campo es requerido</span>
        </div>
      </div>
      <div class="row">
        <div class="btn-container">
          <button mat-flat-button color="primary">Programar</button>
          <a (click)="cancelCampaign()" class = "cancel" mat-stroked-button>Cancelar</a>
        </div>
      </div>
    </div>
  </form>
</div>
