<div class="breadcrumbs">
 <a href="">Campañas</a> > <span>Detalles generales de la campaña</span>
</div>
<div class="form-container">
  <form role="form" class="form-theme">
    <div class="material-design">
      <div class="row">
        <div class="form-group half" data-input="name">
          <label class="label-title">Título de la campaña</label>
          <input type="text" class="form-control" name="titulo" maxlength="50">
          <span class="help-block error-msg"> Este campo es requerido </span>
        </div>
      </div>
      <div class="row">
        <div class="dynamic-container">

        </div>
      </div>
    </div>
  </form>
</div>
