<div class="close-container">
  <div id="close" class="button-close-modal" (click)="close()">
    <p>x</p>
  </div>
</div>
<div class="modal-container">
  <div class="icon-question">
  </div>
  <div class="description">
    <p>
      ¡Auch! Cuéntanos por qué quieres reportar esta publicación
    </p>

  </div>
  <form [formGroup]="reportForm" class="form-theme">
      <div class="material-design">
        <p class="success" *ngIf="showSuccess" >Tu reporte ha sido enviado, gracias por ayudarnos a conservar la confianza</p>
        <div class="md-radio">
          <input (change) ="changeRadioButton()" [value]="false" formControlName="option" id="used1" type="radio" name="option">
          <label for="used1">Esta persona ya no trabaja en la empresa</label>
        </div>
        <div class="md-radio">
          <input (change) ="changeRadioButton()" [value]="true" formControlName="option" id="used2" type="radio" name="option">
          <label for="used2">El contenido es inapropiado</label>
        </div>
        <div *ngIf="reportForm.get('option').value" class="form-group">
          <textarea  class="form-control" formControlName="comentario" placeholder="Cuéntanos más detalles" name="comentario" maxlength="500"></textarea>
          <span class="error-msg">Este campo es requerido</span>
        </div>
      </div>
  </form>
  <div class="btn-container">
    <button (click)='save()' mat-stroked-button>Enviar</button>
  </div>
</div>
