*,
*::after,
*::before {
  outline: none;
}

:host {

  .cart-shop {
    background-color: #FBFBFB;
  }

  .info-title {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    //max-width: 1200px;

    p {
      font-size: 2.0rem;
      color: #383838;
      font-weight: bold;
    }
  }

  .main-label {
    display: flex;
    margin-top: 2.0rem;
    margin-bottom: 11px;
    align-items: center;
  }

  .icon-checked {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    background: #EEEEEE;
  }

  .icon-checked::after {
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    top: 1.5px;
    width: 3px;
    height: 8px;
    border: solid #707070;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  .container-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;

    .row-price-container {
      padding: 15px 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;

      .row-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 5px 0px;

        .label-text {
          font-size: 1.6rem;
          color: #383838;
          font-weight: bold;
        }

        .label-price {
          font-size: 1.6rem;
          color: #383838;
        }

      }
    }

    .total-price {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin: 10px 0px 20px;

      .label-text,
      .label-price {
        color: #414141;
        font-size: 22px;
        font-weight: bold;
      }

      .red-text {
        color: #383838;
        font-size: 2.0rem;
        margin-left: 20px;
      }
    }
  }


  .user-info {
    display: flex;
    flex-direction: column;
    padding-top: 19px;
    padding-bottom: 29px;
    padding-left: 31px;
    padding-right: 31px;
    border-radius: 8px;
    margin-top: 12px;
    background-color: white;

    .info-title-box {
      color: #383838;
      font-size: 1.8rem;
      font-weight: bold;
    }

    .label-title-form {
      color: #383838;
      font-size: 1.4rem;
    }

    .row-form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .row-value {
        color: #383838;
        font-size: 1.6rem;
        padding-left: 25px;
      }
    }
  }

  .title-total {
    color: #272727;
    font-size: 1.8rem;
    font-weight: bold;
  }

  .info-container {
    display: flex;

    .column {
      margin-right: 5%;
    }
  }

  .mobile {
    display: none;
  }

  .form-empty-message p {
    font-size: 1.4rem;
    color: #FF3646;
  }

}

.no-products,
.spinner {
  width: 90vw;
  margin: 0 auto;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .container-load-car {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .img-shopping-car {
      width: 201px;
      height: 154.87px;
      background: url(../../assets/img/iconos/ic_carrito_vacio.svg) no-repeat;
      background-size: contain;
      background-position: center;
    }

    .text-empty {
      font-size: 2.4rem;
      color: #272727;
      font-weight: bold;
      margin-top: 20px;
      text-align: center;
    }

    .text-start-load {
      font-size: 2.2rem;
      color: #B0B0B0;
      margin-top: 10px;
      text-align: center;
    }

    .btn-back-microsite {
      width: 170px;
      padding: 8px 0px;
      border-style: none;
      border-radius: 25px;
      font-size: 16px;
      transition: 100ms;
      font-weight: bold;
      background: white;
      border: 1px solid #FF3646;
      color: #FF3646;
      margin-top: 30px;

      &:hover {
        color: #bf111c;
        //color: white;
        border: 1px solid #bf111c;
      }
    }
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host {
  .options-container {
    margin-top: 20px;

    .title {
      font-weight: bold;
      color: #383838;
      font-size: 1.8rem;
    }

    .label {
      color: #383838;
      font-size: 1.6rem;
      margin-left: 10px;
    }

    .option {
      margin: 15px 0;
      display: flex;
    }

  }

  .check-section {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      width: 18px;
      height: 18px;
      border-radius: 2px;
      border: 1px solid #B0B0B0;
      background: white;
      cursor: pointer;
      position: relative;
    }

    .selected:after {
      content: "";
      display: block;
      position: absolute;
      left: 5px;
      top: 0;
      width: 5px;
      height: 10px;
      border: solid #414141;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .buttons-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 30px 0;
    margin-bottom: 10px;

    .btn-go-microsite,
    .btn-buy {
      width: 170px;
      padding: 8px 0px;
      border-style: none;
      border-radius: 25px;
      font-size: 16px;
      transition: 100ms;
      font-weight: bold;
    }

    .btn-go-microsite {
      background: white;
      border: 1px solid #FF3646;
      color: #FF3646;
      margin-left: 20px;

      &:hover {
        color: #bf111c;
        //color: white;
        border: 1px solid #bf111c;
      }
    }

    .btn-buy {
      background: #FF3646;
      border: 1px solid #FF3646;
      color: white;
      margin-right: 20px;

      &:hover {
        background: #bf111c;
        border: 1px solid #bf111c;
      }
    }

    .btn-buy.disabled {
      background: #B0B0B0;
      border: 1px solid #B0B0B0;

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  .info-send-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FCF3F3;
    margin-top: 30px;
    padding: 10px 0px 25px;
    width: 100%;
    border-radius: 8px;

    .first-info-section,
    .second-info-section {
      /* display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;*/

      .info-label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 17px;

        .icon-label {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        .icon-shopping-car {
          background: url(../../assets/img/iconos/ic_local_shipping_24px.svg) no-repeat;
          background-size: contain;
          background-position: center;
        }

        .icon-watch {
          background: url(../../assets/img/iconos/ic_history_24px.svg) no-repeat;
          background-size: contain;
          background-position: center;
        }


        .icon-box {
          background: url(../../assets/img/iconos/ic_box_mail.svg) no-repeat;
          background-size: contain;
          background-position: center;
        }

        .text-label {
          font-size: 16px;
          color: #414141;

          span {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }


}

:host {
  .form-main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    .container {
     margin-left: 60px;
    }
  }

}

@media screen and (max-width: 736px) {

  .no-products,
  .spinner {
    height: calc(100vh - 8.4vw - 79px - 100px - 30px);
  }
}

@media screen and (max-width: 700px) {

  .no-products,
  .spinner {
    height: calc(100vh - 25vw - 80px - 100px - 30px);
  }
}



.general-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  // max-width: 1200px;

  .container-info-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding-top: 17px;
    padding-left: 29px;
    padding-right: 29px;
    padding-bottom: 35px;
    //  width: 100%;
    max-width: 448px;


    .info-user-box {
      width: 100%;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .form-info {
        margin-top: 20px;
        width: 100%;

        .info-title-box {
          color: #272727;
          font-size: 1.8rem;
          font-weight: bold;
        }
      }
    }
  }

  .container-products {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 31px;
    padding-right: 31px;
    background-color: #FFFFFF;

    .title-products {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .title-added-products {
        p {
          font-size: 1.8rem;
          color: #383838;
          font-weight: bold;

          .showSpanResponsive {
            display: none;
          }
        }
      }

      .btn-delete-product {
        width: 35px;
        height: 35px;
        background: #0FBBD8;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 5px;

        .icon-delete {
          width: 47%;
          height: 50%;
          background: url(../../assets/img/iconos/ic_boton_eliminar.svg);
          background-size: contain;
        }

        &:hover {
          background: #0CB2CE;
        }
      }

      .btn-delete-product.disabled {
        background: #B0B0B0;
        cursor: default;
      }
    }
  }
}

.pending-message,
.form-empty-message {
  width: 100%;

  p {
    font-size: 1.6rem;
    color: #FF3646;
  }
}

.info-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // cursor: pointer;

  .btn-hide {
    width: 20px;
    height: 20px;
    background: url(../../assets/img/iconos/ic_arrow_header.svg) no-repeat;
    background-size: contain;
    background-position: center;
    transition: 200ms;

    &:hover {
      background: url(../../assets/img/iconos/ic_arrow_header_hover.svg) no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .btn-hide.active {
    transform: rotate(180deg)
  }
}

.form-theme {

  .row-two {
    margin-top: 20px;

    .form-group {
      margin: 15px 0px !important;
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .label-input {
        font-size: 16px;
        color: #383838;
      }
    }
  }

  .form-inputs {
    display: flex;
    flex-direction: column;

    .input-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .label-input {
        font-size: 18px;
        color: #383838;
      }

      input {
        padding: 10px;
        border-radius: 12px;
        border-style: none;
        border: 1px solid #A2A2A2;
        font-size: 18px;
        color: #383838;
        margin-top: 25px;
        width: 100%;
      }

      input.invalid {
        border: 2px solid #FF3646;
      }

      .mt-25 {
        margin-top: 25px;
      }
    }

    .messageError {
      color: #FF3646;
      font-size: 1.4rem;
    }
  }
}

.footer-car {
  margin-top: 30px;
}

:host {
  .form-group .invalid+.error-msg {
    display: block;
  }
  .buttons-section .btn-buy, .buttons-section .btn-go-microsite{
    line-height: 18px;
    height: 44px;
  }
}

.buttons-section .btn-buy, .buttons-section .btn-go-microsite {
  font-family: 'Lato Regular';
}

@media screen and (max-width: 1220px) {
  .btn-delete-product {
    margin-right: 8px !important;
  }
}

@media screen and (max-width: 1150px) {
  .info-send-section {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}



@media screen and (max-width: 1142px) {
  :host {
    .general-container .container-products .title-products .title-added-products p {
      font-size: 1.6rem;
    }

    .info-container {
      flex-direction: column;
    }

    .main-label {
      margin-bottom: 5px;
    }

  }
}

@media screen and (max-width: 1142px) {
  :host {
    .general-container .container-products .title-products .title-added-products p {
      font-size: 1.6rem;
    }

    .info-container {
      flex-direction: column;
    }

    .main-label {
      margin-bottom: 5px;
    }

  }
}

@media screen and (max-width: 1168px) {
  :host {

    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }

    .general-container {
      flex-direction: column;
    }

     .form-main .container {
      margin: 0;
    }

    .items {
      flex-direction: column-reverse;
      display: flex;
      width: 100%;
    }

    .user-info {
      margin: 0;
    }

    .general-container .container-products,
    .container-info-user {
      margin-top: 12px;
    }

    .container-info-user {
      width: 100%;
      max-width: 100%;
    }

  }
}


@media screen and (max-width: 1024px) {
  :host {
    .items {
      width: 100%;
    }

    .general-container .container-info-user {
      width: 100%;
      max-width: 100%;
    }

    .info-send-section {
      align-items: normal;
      padding: 18px 20px;
    }
  }
}

@media screen and (max-width: 700px) {
  .info-send-section {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}

@media screen and (max-width: 525px) {
  :host {
    .general-container {
      width: 98%;
    }

    .user-info,
    .general-container .container-products,
    .general-container .container-info-user {
      padding-left: 18px;
      padding-right: 18px;
    }

    .buttons-section {
      flex-direction: column;
    }

    .buttons-section .btn-buy,  .buttons-section .btn-go-microsite {
      width: 100%;
      max-width: 280px;
      margin: 0;
      margin-bottom: 15px;
    }

    .info-send-section {
      margin-top: 10px;
    }

  }
}
