<div class="cart-shop">
    <banner-latienda></banner-latienda>
    <div *ngIf="showView == 'loading'" class="spinner">
        <custom-spinner></custom-spinner>
    </div>
    <div *ngIf="showView == 'noProducts'" class="no-products">
        <div class="info-title">
            <p>Mi carrito de compras</p>
        </div>
        <div class="container-load-car">
            <div class="img-shopping-car"></div>
            <div class="text-empty">Este carrito se encuentra vacío</div>
            <div class="text-start-load">¡Empieza a llenarlo!</div>
            <button class="btn-back-microsite" (click)="goToMicrosite()">Volver</button>
        </div>
    </div>
    <form *ngIf="showView == 'Products'" role="form" name="registerForm" class="form-theme form-main">
        <div class="container">
            <div class="info-title">
                <p>Mi carrito de compras</p>
            </div>
            <div class="general-container">
                <div class="items">
                    <div class="container-products">
                        <div class="title-products">
                            <div class="title-added-products">
                                <p>
                                    <span class="showSpanResponsive"></span> Artículos añadidos al carrito:</p>
                            </div>
                            <div class="btn-delete-product" (click)="deleteCheckedProducts()" [ngClass]="{'disabled': disabledButton}">
                                <span class="icon-delete"></span>
                            </div>
                        </div>
                        <div class="container-cards">
                            <div class="product" *ngFor="let product of products">
                                <mini-product-detail [product]="product" (changeQuantity)="changeQuantity($event, product)"
                                    (updateButtonStatus)="updateButtonStatus()"></mini-product-detail>
                            </div>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="info-title-box" (click)="hideInfoText()">
                            <p>Tu información personal</p>
                          <!--<div class="btn-hide" *ngIf="canHide" [ngClass]="{'active': showInfo}"></div>-->
                        </div>
                        <div class="info-container">
                          <div class = "column">
                              <div class="main-label">
                                  <div class="icon-checked">
                                  </div>
                                  <div class="label-title-form">Nombre</div>
                              </div>
                              <div class="row-form">
                                  <div class="row-value">{{ nameUser }}</div>
                              </div>

                              <div class="main-label">
                                  <div class="icon-checked"></div>
                                  <div class="label-title-form">Correo electrónico</div>
                              </div>
                              <div class="row-form">
                                  <div class="row-value">{{ email }}</div>
                              </div>
                          </div>
                          <div class = "column">
                              <div class="main-label">
                                  <div class="icon-checked"></div>
                                  <div class="label-title-form">Tipo de documento</div>
                              </div>
                              <div class="row-form">
                                  <div class="row-value">{{ typeDocument }}</div>
                              </div>

                              <div class="mobile">
                                  <div class="main-label">
                                      <div class="icon-checked"></div>
                                      <div class="label-title-form">Número de doc.</div>
                                  </div>
                                  <div class="row-form">
                                      <div class="row-value">{{ documentNumber }}</div>
                                  </div>
                              </div>

                              <div class="desktop">
                                  <div class="main-label">
                                      <div class="icon-checked"></div>
                                      <div class="label-title-form">Celular</div>
                                  </div>
                                  <div class="row-form">
                                      <div class="row-value">{{ cellphone }}</div>
                                  </div>
                              </div>

                          </div>
                          <div class = "column">

                              <div class="desktop">
                                  <div class="main-label">
                                      <div class="icon-checked"></div>
                                      <div class="label-title-form">Número de doc.</div>
                                  </div>
                                  <div class="row-form">
                                      <div class="row-value">{{ documentNumber }}</div>
                                  </div>
                              </div>

                              <div class="mobile">
                                  <div class="main-label">
                                      <div class="icon-checked"></div>
                                      <div class="label-title-form">Celular</div>
                                  </div>
                                  <div class="row-form">
                                      <div class="row-value">{{ cellphone }}</div>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="container-info-user">
                    <div class="title-total">
                        <p>Resumen de tu compra</p>
                    </div>
                    <div class="container-price">
                        <div class="row-price-container">
                            <div class="row-text">
                                <div class="label-text">Subtotal</div>
                                <div class="label-price">{{ carSubTotalPrice | currency:"$" | removeDigits }}</div>
                            </div>
                            <div class="row-text">
                                <div class="label-text">IVA</div>
                                <div class="label-price">{{ carTotalIva | currency:"$" | removeDigits }}</div>
                            </div>
                            <div class="row-text">
                                <div class="label-text">Envío</div>
                                <div *ngIf="shippingTaxes" class="label-price">{{shippingTaxes.price | currency:"$" | removeDigits }}</div>
                                <div *ngIf="!shippingTaxes" class="label-price">$0</div>
                            </div>
                        </div>
                        <div class="total-price">
                            <div class="label-price red-text">Total: {{ carTotalPrice | currency:"$" | removeDigits }}</div>
                        </div>
                    </div>

                    <div class="material-design options-container">
                      <div *ngIf="isBancolombia" class="title">
                          ¿Cómo quieres recibir tu compra?
                      </div>
                      <div class="form-empty-message" *ngIf="emptyCheck">
                          <p>¡Ups! Debes seleccionar un método de entrega</p>
                      </div>
                      <div  *ngIf="isBancolombia" class="option">
                          <div class="md-radio">
                            <input [checked]="classCheckSelected == 2"
                              (change)="clickCheckProduct(2)" value="" id="option2" type="radio" name="option2">
                            <label for="option2">Envío nacional : $6.000 adicionales</label>
                          </div>
                      </div>
                      <div *ngIf="isBancolombia" class="option">
                          <div class="md-radio">
                              <input [checked]="classCheckSelected == 1"
                                (change)="clickCheckProduct(1)" value="" id="option1" type="radio" name="option1">
                              <label for="option1">Envío por correspondencia interna (Empleados Bancolombia)</label>
                            </div>
                      </div>
                    </div>

                    <div class="info-user-box">
                        <div class="form-info">
                            <div class="info-title-box" (click)="hideFormText()">
                                <p>Ingresa tus datos de entrega</p>
                              <!--  <div class="btn-hide" *ngIf="canHide" [ngClass]="{'active': showForm}"></div>-->
                            </div>
                            <div *ngIf="!isBancolombia" class="info-sub-title">
                              <p>Envío nacional : $6.000 adicionales</p>
                            </div>
                            <form class="form-theme form-main"  *ngIf="classCheckSelected == 1" [formGroup]="registerFormBank" (ngSubmit)="onSubmit()">
                                <div  class="form-container margin-top">
                                    <div class="form-inputs">
                                        <span class="input-container">
                                            <label class="label-input">Sede, piso, Nº puesto y extensión</label>
                                            <input [ngClass]="{'invalid': registerFormBank.get('address').invalid && !registerFormBank.get('address').pristine}"
                                                name="address" formControlName="address" type="text" id="txt-address" autocomplete="off"
                                                placeholder="Ejm: Torre sur, 8D, puesto 81, ext. 44444" maxlength="100" />
                                                <span class="messageError">
                                                  <span *ngIf="registerFormBank.get('address').touched && registerFormBank.get('address').invalid && !registerFormBank.get('address').pristine
                                                    && !registerFormBank.get('address').errors['pattern']">
                                                    ¡Ups! Debes ingresar tus datos de entrega
                                                  </span>
                                                </span>
                                        </span>
                                    </div>
                                </div>
                            </form>

                            <form class="form-theme form-main" *ngIf="classCheckSelected == 2 " [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <div class="form-container">
                                    <div class="row-two">
                                        <div class="form-group column">
                                            <label class="label-input">Departamento*</label>
                                            <select-states  id="select-states" [ngClass]="{'invalid': errorState}" class="white-theme-select material-select"
                                                [country]="country" (selected)="state=$event; validateState()"></select-states>
                                            <span class="error-msg">Este campo es requerido.</span>
                                        </div>
                                        <div class="form-group column">
                                            <label class="label-input">Ciudad*</label>
                                            <select-cities [ngClass]="{'invalid': errorCity}" class="white-theme-select material-select"
                                                [state]="state" (selected)="city=$event; validateCity()"></select-cities>
                                            <span class="error-msg">Este campo es requerido.</span>
                                        </div>
                                    </div>
                                    <div class="form-inputs">
                                        <span class="input-container">
                                            <label class="label-input">Dirección*</label>
                                            <input [ngClass]="{'invalid': registerForm.get('address').invalid && !registerForm.get('address').pristine}"
                                                name="address" formControlName="address" type="text" id="txt-address" autocomplete="off"
                                                placeholder="ejm: Calle 48 C# 12 c07" maxlength="100" />
                                        </span>
                                        <span class="messageError">
                                            <span *ngIf="registerForm.get('address').touched && registerForm.get('address').invalid && !registerForm.get('address').pristine
                                            && !registerForm.get('address').errors['pattern']">
                                                Este campo es requerido.
                                            </span>
                                            <span *ngIf="registerForm.get('address').touched && registerForm.get('address').invalid && !registerForm.get('address').pristine
                                            && registerForm.get('address').errors['pattern']">
                                                El campo no cumple con el formato
                                            </span>
                                        </span>
                                    </div>
                                    <div class="form-inputs">
                                        <span class="input-container">
                                            <label class="label-input mt-25">Número de contacto (Celular)*
                                            </label>
                                            <input [ngClass]="{'invalid': registerForm.get('cellphone').invalid && !registerForm.get('cellphone').pristine}"
                                                name="cellphone" formControlName="cellphone" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                maxlength="10" id="txt-cellphone" autocomplete="off" />
                                        </span>
                                        <span class="messageError">
                                            <span *ngIf="registerForm.get('cellphone').touched && registerForm.get('cellphone').invalid && !registerForm.get('cellphone').pristine
                                            && !registerForm.get('cellphone').errors['pattern']">
                                                Este campo es requerido.
                                            </span>
                                            <span *ngIf="registerForm.get('cellphone').touched && registerForm.get('cellphone').invalid && !registerForm.get('cellphone').pristine
                                            && registerForm.get('cellphone').errors['pattern']">
                                                El campo no cumple con el formato
                                                <br />
                                                de teléfono.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="buttons-section">
                        <button mat-flat-button class="btn-buy gtmTienCorpCarComprar" type="submit" id="btn-pagar" (click)="pay(); onSubmit()" [ngClass]="{'disabled': disablePayButton}">Comprar</button>
                        <button mat-flat-button class="btn-go-microsite gtmTienCorpCarSigueComprando" (click)="goToMicrosite()">Seguir comprando</button>
                    </div>
                    <div class="pending-message" *ngIf="hasPending">
                        <p>{{ errorPending }}</p>
                    </div>
                    <div class="form-empty-message" *ngIf="emptyMessaje">
                        <p>Debes diligenciar todos los campos obligatorios del formulario</p>
                    </div>
                    <div class="form-empty-message" *ngIf="productsWithError">
                        <p>¡Ups! parece que alguno de tus productos ya no se encuentra disponible.</p>
                        <p>{{nameProductError}}</p>
                    </div>

                    <div class="info-send-section">
                        <div class="first-info-section">
                            <div class="info-label">
                                <div class="icon-label icon-watch"></div>
                                <div class="text-label">Devoluciones aplican
                                    <span (click)="goToTerms()">términos y condiciones.</span>
                                </div>
                            </div>
                            <div *ngIf="classCheckSelected == 2" class="info-label">
                                <div class="icon-label icon-shopping-car"></div>
                                <div class="text-label">Empresa transportadora: Coordinadora S.A</div>
                            </div>
                            <div class="info-label">
                                <div class="icon-label icon-box"></div>
                                <div class="text-label">Entrega hasta 5 días hábiles</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="footer-car">
        <custom-footer></custom-footer>
    </div>
</div>
