<div class="info-container">
  <div class="tittle main-title">
    <h1 class="text ">Banners home</h1>
  </div>
  <div class="form-container">
    <form name="formBanner" role="form" class="form-theme">
      <div class="material-design">
        <div class="row">
          <div class="dynamic-container">
            <div>
              <div class="row">
                <a mat-icon-button>
                  <div class="trash-icon"></div>
                </a>
              </div>
              <div class="row">
                <div class="images-container">
                  <div class="container-prev-photos">
                    <div class="grid-wrapper">
                      <div id="grid-holder" class="grid-holder">
                        <div class="item place-holder">
                          <div id='photo1' class="item-content">
                            <div class="container-wrapper">
                              <div class="wrapper">
                                <div class="icon-camera"></div>
                                <p>
                                  Agregar
                                </p>
                              </div>
                            </div>
                            <span class="title-first">Banner Desktop</span>
                          </div>
                        </div>
                        <div class="item place-holder">
                            <div id='photo2' class="item-content">
                              <div class="container-wrapper">
                                <div class="wrapper">
                                  <div class="icon-camera"></div>
                                  <p>
                                    Agregar
                                  </p>
                                </div>
                              </div>
                              <span class="title-first">Banner Mobile</span>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="error-container">
                      <span class="help-block uploadImg">
                        ¡Omg! No pudimos subir alguna de tus fotos. Asegúrate de que tenga formato .png, .gif
                      </span>
                      <span class="help-block uploadImg">
                        ¡Ups! Alguna de tus imágenes está un poco pesada. Debe ser máximo de 5MB.
                      </span>
                    </div>
                    <div class="banner-info">
                      <p><strong>Banner</strong> ( Formato .jpg .png o .gif )</p>
                      <p>Desktop: 1920 x 400 px Mobile: 375 x 214</p>
                    </div>
                  </div>
                </div>
                <div class="form-info">
                  <div class="row">
                      <div class="form-group field-form half">
                          <label class="label-title">País</label>
                          <select  name="communityId" class="form-control">
                            <option value="-1">Todas</option>
                            <option value="Colombia">Colombia
                          </select>
                          <span class="error-msg">Este campo es requerido</span>
                      </div>
                      <div class="form-group field-form half">
                          <label class="label-title">País</label>
                          <select  name="communityId" class="form-control">
                            <option value="-1">Todas</option>
                            <option value="Colombia">Colombia
                          </select>
                          <span class="error-msg">Este campo es requerido</span>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group full optional" data-input="name">
                          <label class="label-title">Link (Opcional)</label>
                          <input   type="text" class="form-control" name="link" maxlength="50">
                          <span class="help-block error-msg"> Este campo es requerido </span>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
