<div class="info-container">
  <div class="tittle main-title">
    <h1 class="text ">Banners home</h1>
  </div>
  <div class="form-container">
    <form [formGroup]="formBannerColombia" name="formBanner" role="form" class="form-theme">
      <div class="material-design">
        <div formArrayName="banners" class="row">
          <div *ngFor="let banner of formBannerColombia.get('banners').controls; let i = index;" class="dynamic-container">
            <div [formGroupName]="i">
              <div class="row">
                <a (click)="removeBannerColombia(i)" mat-icon-button>
                  <div class="trash-icon"></div>
                </a>
              </div>
              <div class="row">
                <div class="images-container">
                  <div class="container-prev-photos">
                    <div class="grid-wrapper">
                      <div id="grid-holder{{i}}" class="grid-holder">
                        <div class="item place-holder">
                          <div id='photo1{{i}}' class="item-content">

                            <div *ngIf="
                            formBannerColombia.get('banners').controls[i] &&
                            formBannerColombia.get('banners').controls[i].controls['url-photo-desktop'] &&
                            formBannerColombia.get('banners').controls[i].controls['url-photo-desktop'].value"
                              class="container-img">
                              <div (click)="onRemovePreviewImage(imageInputDesktop, formBannerColombia.get('banners').controls[i], 'desktop')" class="remove-action">
                                <span class="icon-close"></span>
                              </div>
                              <img class="imagenUpload" [src]="formBannerColombia.get('banners').controls[i].controls['url-photo-desktop'].value">
                            </div>

                            <image-upload id="image-upload-desktop{{i}}" [max]="1" #imageInputDesktop [preview]="false"
                              [extensions]="['jpg', 'png', 'gif']" [buttonCaption]="'Seleccionar imágenes'"
                              [dropBoxMessage]="'Arrastra tus imágenes aquí!'" [clearButtonCaption]="'Limpiar'" [style]="customStyleImageLoader"
                              (uploadFinished)="onUploadImageFinished($event, formBannerColombia.get('banners').controls[i], 'desktop')">
                            </image-upload>
                            <div class="container-wrapper" (click)="uploadFiles(imageInputDesktop)" (drop)="onDrop($event, imageInputDesktop)"
                              (dragover)="onDragOver($event, imageInputDesktop)">
                              <div class="wrapper">
                                <div class="icon-camera"></div>
                                <p>
                                  Agregar
                                </p>
                              </div>
                            </div>
                            <span class="title-first">Banner Desktop</span>
                          </div>
                        </div>
                        <div class="item place-holder">
                          <div id='photo2{{i}}' class="item-content">

                            <div *ngIf="
                                formBannerColombia.get('banners').controls[i] &&
                                formBannerColombia.get('banners').controls[i].controls['url-photo-mobile'] &&
                                formBannerColombia.get('banners').controls[i].controls['url-photo-mobile'].value"
                              class="container-img">
                              <div (click)="onRemovePreviewImage(imageInputMobile, formBannerColombia.get('banners').controls[i], 'mobile')" class="remove-action">
                                <span class="icon-close"></span>
                              </div>
                              <img class="imagenUpload" [src]="formBannerColombia.get('banners').controls[i].controls['url-photo-mobile'].value">
                            </div>

                            <image-upload id="image-upload-mobile{{i}}" [max]="1" #imageInputMobile [preview]="false"
                              [extensions]="['jpg','png', 'gif']" [buttonCaption]="'Seleccionar imágenes'"
                              [dropBoxMessage]="'Arrastra tus imágenes aquí!'" [clearButtonCaption]="'Limpiar'" [style]="customStyleImageLoader"
                              (uploadFinished)="onUploadImageFinished($event, formBannerColombia.get('banners').controls[i], 'mobile')">
                            </image-upload>
                            <div class="container-wrapper" (click)="uploadFiles(imageInputMobile)" (drop)="onDrop($event, imageInputMobile)"
                              (dragover)="onDragOver($event, imageInputMobile)">
                              <div class="wrapper">
                                <div class="icon-camera"></div>
                                <p>
                                  Agregar
                                </p>
                              </div>
                            </div>
                            <span class="title-first">Banner Mobile</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="banner-info">
                      <p><strong>Banner</strong> ( Formato .jpg .png o .gif )</p>
                      <p>Desktop: 1920 x 400 px Mobile: 375 x 214</p>
                    </div>
                  </div>
                </div>
                <div class="form-info">
                  <div class="row">
                    <div class="form-group field-form half">
                      <label class="label-title">País</label>
                      <select formControlName="country-id" name="country-id" class="form-control">
                        <option value="1">Colombia
                      </select>
                      <span class="error-msg">Este campo es requerido</span>
                    </div>
                    <div class="form-group field-form half">
                      <label class="label-title">Comunidad</label>
                      <select name="communityId" class="form-control">
                        <option value="-1">Todas</option>
                        <option value="Colombia">Colombia
                      </select>
                      <span class="error-msg">Este campo es requerido</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group  field-form link" data-input="name">
                      <label class="label-title">Link (Opcional)</label>
                      <input formControlName="link" name="link" type="text" class="form-control" maxlength="50">
                      <span class="help-block error-msg"> Este campo es requerido </span>
                    </div>
                    <div class="form-group field-form position">
                      <label class="label-title">Posición</label>
                      <select formControlName="position" name="position" class="form-control">
                        <option *ngFor="let position of numberPositionsColombia" value="{{position}}">{{position}}</option>
                      </select>
                      <span class="error-msg">Este campo es requerido</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="btn-container">
            <a (click)="addBannerColombia(1)" mat-button>+ Agregar</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
