@import "../../styles/settings/_colors.scss";
@import "../../styles/settings/_variables.scss";

:host() {
  custom-footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .container-error{
    padding: 40px 2%;
    text-align: center;
    .container-img{
      img{
        width: 219.82px;
        height: 133.88px;
      }
    }
    .message-error{
      font-size: 2.4rem;
      color:#FF2334;
      padding: 20px 0;
    }
    .description-error{
      font-size: 1.6rem;
      color:#777777;
      padding: 20px 0;
    }
    .container-button{
      width: 15%;
      margin: 0 auto;
    }
  }

}
