<div class="container-error">
  <div class="container-img">
      <img src="/assets/img/icono_error_pagina_no_encontrada.svg" alt="spinner">
  </div>
  <div class="message-error">
    <p>¡Ooops!</p>
  </div>
  <div class="description-error">
    <p>Al parecer la página a la que intentas ingresar no se encuentra disponible.</p>
  </div>
  <div class="container-button">
      <custom-button (click)= "goBack()" type="submit" text = "Regresar"></custom-button>
  </div>
</div>
<custom-footer></custom-footer>
