:host {
  padding: 0;
  .conversation {
    position: relative;
    display: block;
    padding: 5px;
    border: 1px solid #ddd;
    margin: 0;
    .avatar {
      width: 75px;
      height: 75px;
    }
    &:hover {
      cursor: hand;
      cursor: pointer;
     // opacity: 0.8;
    }

    .div-link {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      text-decoration: none;
      z-index: 10;
      background-color: white;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
  .media {
    margin-bottom: 10px;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }

  .media:hover {
   /* opacity: 1;
    filter: alpha(opacity=100);*/
  }

  .media.active {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    opacity: 1;
    background-color: #f4f4f4;
    filter: alpha(opacity=100);
    .pull-left{
      position: relative;
    }
    .pull-left:after{
      content: '';
      width: 0px;
      height: 0px;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid #ED2F3C;
      position: absolute;
      top: 0;
      right: 9px;
      top: 30px;
    }
  }

  .media.unread{
    opacity: 0.99;
    filter: alpha(opacity=99);
    .message-preview{
      font-weight: bold;
    }
  }

  .message-preview {
    font-size: 1.6rem;
  }
  .media,
  .media-body {
    zoom: 1;
    overflow: hidden;
  }

  .media-body {
    width: 10000px;
  }

  .media-object {
    display: block;
  }

  .media-object.img-thumbnail {
    max-width: none;
  }

  .media-right,
  .media > .pull-right {
    padding-left: 10px;
  }

  .media-left,
  .media > .pull-left {
    padding-right: 15px;
  }

  .media-left,
  .media-right,
  .media-body {
    display: table-cell;
    vertical-align: top;
  }

  .media-middle {
    vertical-align: middle;
  }

  .media-bottom {
    vertical-align: bottom;
  }

  .media-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: normal;
    color: #4a4a4a;
  }

  .media-list {
    padding-left: 0;
    list-style: none;
  }

  .list-group {
    margin-bottom: 20px;
    padding-left: 0;
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  a.list-group-item,
  button.list-group-item {
    color: #555;
  }

  a.list-group-item .list-group-item-heading,
  button.list-group-item .list-group-item-heading {
    color: #333;
  }

  a.list-group-item:hover,
  a.list-group-item:focus,
  button.list-group-item:hover,
  button.list-group-item:focus {
    text-decoration: none;
    color: #555;
    background-color: #f5f5f5;
  }

  .pull-right {
    float: right;
  }

  .pull-left {
    float: left;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .invisible {
    visibility: hidden;
  }
}
