<div [routerLink]="selectConversation(thread.idEmisario)" routerLinkActive="active" class="media conversation">
    <div class="pull-left">
      <img *ngIf="!thread.fotoEmisario" class="media-object avatar"
      [src]="defaultImage" [alt]="thread.nombreEmisario" (error)="updateSrc($event)">
      <img *ngIf="thread.fotoEmisario" class="media-object avatar"
      [src]="thread.fotoEmisario" [alt]="thread.nombreEmisario" (error)="updateSrc($event)">
    </div>
    <div class="media-body">
      <h5 class="media-heading contact-name">
          {{thread.nombreEmisario}}
      </h5>
      <small class="message-preview">{{thread.ultimoMensaje.mensaje | slice:0:25}}...</small>
    </div>
    <a class="div-link">Select</a>
</div>


