@import "../../styles/settings/_colors.scss";
@import "../../styles/settings/_variables.scss";
:host{
    .container-msg{
        text-align: center;
        font-size: 1.4rem;
        width: 56rem;
        padding: 0 1rem;
        margin: 0 auto;
        .image{
            width: 100%;
            img{
              width: 32%;
            }
        }
        .title{
            color: #272727;
            font-weight: bold;
            span{
              font-size: 2.0rem;
                display: block;
            }
        }
        .text{
            color: #B0B0B0;
            font-size: 1.8rem;
        }
        .link, .link:visited{
            color: $red;
            font-weight: bold;
            color: $red;
        }
        & > div {
            margin-bottom: 2rem;
        }
    }

}
