<navigation-top *ngIf="showHeader"></navigation-top>
<back-arrow *ngIf="!showHeader"></back-arrow>
<div *ngIf="!isGuatemala">
  <div class="container-terms">
    <h2 class="title">REGLAMENTO APLICABLE A LAS EMPRESAS PERTENECIENTES A LA COMUNIDAD RÓTALO</h2>
    <p>El sitio web www.rotalo.com.co (en adelante “El Sitio Web”), es un portal de
      información creado por BANCOLOMBIA S.A., para facilitar el ofrecimiento de sus
      productos y servicios financieros y/o de sus filiales y/o subsidiarias, domiciliadas
      en Colombia y/o en el exterior, y las entidades que pertenezcan o llegaren a
      pertenecer a su Grupo Empresarial (en adelante Bancolombia).</p>
    <br>
    <p>BANCOLOMBIA pone al servicio del (de los) Usuario(s) perteneciente(s) a la(s)
      Comunidad(es) el Sitio Web para que este (estos) publique(n) sus ofertas de
      venta, donación y/o permuta de bienes y servicios, de acuerdo con los términos y
      condiciones de los Usuarios publicados en el Sitio Web www.rotalo.com.co; bienes
      y servicios que podrían ser objeto de financiación por parte de BANCOLOMBIA,
      siempre que el(los)Usuario(s) cumpla(n) las políticas de crédito de la entidad
      financiera.</p>
    <br>
    <h4 class="subtitle">Aceptación</h4>
    <p>Las Empresas a las que pertenezcan los Usuarios (en su calidad de empleados o
      contratistas) en adelante “Las Empresas de la Comunidad”, aceptan obligarse el
      cumplimiento de las obligaciones y condiciones establecidas en el presente
      Reglamento, y aceptan conocer lo consagrado en los Términos y Condiciones de
      los Usuarios publicados en el Sitio Web www.rotalo.com.co, que prevén, entre
      otros, la responsabilidad de los usuarios por las transacciones que celebren.</p>
    <br>
    <p>BANCOLOMBIA informará y notificará la existencia del presente Reglamento a
      Las Empresas de la Comunidad a través de correo electrónico enviado a un correo
      corporativo informado por el contacto designado por Las Empresas de la
      Comunidad. A partir del momento en que alguno de los empleados de Las
      Empresas de la Comunidad, decida registrarse en el sitio web www.rotalo.com.co,
      se entenderá que Las Empresas de la Comunidad aceptan este Reglamento, y
      BANCOLOMBIA entenderá que Las Empresas de la Comunidad han aceptado
      voluntariamente ser parte de la comunidad Rótalo.</p>
    <br>
    <p>Bancolombia tiene el derecho a modificar el presente Reglamento en cualquier
      momento y para el efecto, lo dará a conocer a Las Empresas de la Comunidad de
      forma oportuna. En caso de que Las Empresas de la Comunidad no estén de
      acuerdo con alguna de las modificaciones que se hicieren, podrán solicitar la
      suspensión del registro de sus empleados o contratistas.</p>

    <h4 class="subtitle">Tarifas</h4>

    <p>No habrá lugar al pago de contraprestación por parte de Las Empresas de la
      Comunidad por la puesta a disposición del Sitio Web a sus empleados o
      contratistas.</p>

    <h4 class="subtitle">Acceso al Sitio Web</h4>
    <p>Bancolombia adelantará las gestiones operativas y técnicas para que los
      empleados o contratistas de la(s) Comunidad(es) tengan acceso y puedan actuar
      como Usuarios dentro del Sitio Web.</p>
    <br>
    <p>Las instrucciones para ingreso y uso del Sitio Web por parte de los Usuarios
      pertenecientes a La(s) Comunidad(es) se encuentra descrito en los Términos y
      Condiciones de los Usuarios publicados en el Sitio Web www.rotalo.com.co.</p>

    <h4 class="subtitle">Uso de la información</h4>
    <p>Las Empresas de la Comunidad se obligan a entregar a BANCOLOMBIA la lista
      de los dominios con los cuales los empleados de la(s) Comunidad(es) podrán
      registrarse en El Sitio Web, y crear una cuenta de Usuario. Con el fin de que, a El
      Sitio Web solo tengan acceso los empleados vigentes de Las Empresas de la
      Comunidad, éstas últimas se obligan a entregar a BANCOLOMBIA los primero
      diez (10) días de cada mes, la lista de correos corporativos de empleados cuyo
      contrato de trabajo haya terminado, en aras de retirar a los mismos de la
      Comunidad. La anterior entrega de información se hará conforme a la autorización
      previa, expresa e informada entregada por los Usuarios a BANCOLOMBIA en el
      portal Rótalo a través de la aceptación de los Términos y Condiciones de los
      Usuarios publicados en www.rotalo.com.co.</p>
    <br>
    <p>
      La información que le proporcionen Las Empresas de la Comunidad a
      BANCOLOMBIA, o este último a Las Empresas de la Comunidad, o que pudiesen
      conocer con ocasión a la ejecución de las actividades llevadas a cabo a través de
      El Sitio Web, es de carácter confidencial y como tal será tratada, estando su uso
      estricta y directamente relacionado con el Reglamento.
    </p>
    <br>
    <p>
      En cuanto a la información de terceros a la que tengan acceso BANCOLOMBIA y
      Las Empresas de la Comunidad, éstas se obligan a dar cumplimiento a lo previsto
      en la Ley 1266 de 2008 y/o la Ley 1581 de 2012 en materia de protección de datos
      personales, según resulte procedente, en atención a la naturaleza de la
      información.
    </p>
    <h4 class="subtitle">Propiedad intelectual</h4>
    <p>Las Empresas de la Comunidad reconocen que la plataforma Rótalo es de
      propiedad de BANCOLOMBIA y se obligan a respetar los derechos de propiedad
      intelectual de dicha entidad.</p>
    <br>
    <p>Las Empresas de la Comunidad reconocen que todo el Software y cualquier tipo
      de código usado en El Sitio Web es propiedad de BANCOLOMBIA y está
      protegido por leyes nacionales y tratados internacionales sobre la propiedad
      intelectual. Cualquier reproducción, redistribución y en general, cualquier uso no
      autorizado, está expresamente prohibido por la ley y el presente Reglamento y
      puede conllevar sanciones civiles y penales.</p>

    <h4 class="subtitle">Contacto</h4>
    <p>Las Empresas de la Comunidad contactarse con Bancolombia a través del enlace
      “Contáctanos” de El Sitio Web. </p>
  </div>
</div>
<custom-footer></custom-footer>
