@import '../../styles/settings/_colors.scss';
@import '../../styles/settings/_variables.scss';

:host {

  .container-terms {
    color: $grey-dark;
    font-size: 1.6rem;
    flex-shrink: 1;
    overflow: auto;
    padding: 1rem 5rem;
    padding-bottom: 5rem;
    font-family: 'Lato Regular';
    .title {
      font-size: 2.0rem;
      color: #272727;
      margin: 1rem 0;
    }

    .subtitle {
      color: #272727;
      font-size: 1.6rem;
      font-weight: bold;
      margin: 1rem 0;
    }

    h5 {
      margin: 1rem 0;
      font-size: 2rem;
      font-weight: 100;
    }

    p, li {
      font-size: 1.4rem;
      color: #707070;
    }

    li {
      strong {
        color: #272727;
      }
    }

    h4,
    h5 {
      color: #707070;
    }
  }

}

@media screen and (max-width: 600px){
  :host{
    .container-terms {
      font-size: 1.3rem;
      padding: 1rem 3rem;
      .title {
        font-size: 2.5rem;
      }
      .subtitle {
        font-size: 2rem;
      }
      h5{
        font-size: 1.7rem;
      }
    }
  }
}

