@import '../../styles/settings/_colors.scss';
@import '../../styles/settings/_variables.scss';

:host {
  .container-terms {
    color: $grey-dark;
    font-size: 1.6rem;
    flex-shrink: 1;
    overflow: auto;
    padding: 1rem 5rem;
    padding-bottom: 5rem;
    .title {
      font-size: 3.2rem;
      color: $red;
      margin: 1rem 0;
    }
    .subtitle {
      font-size: 2.4rem;
      font-weight: bold;
      margin: 1rem 0;
    }
    h5{
      margin: 1rem 0;
      font-size: 2rem;
      font-weight: 100;
    }
    p{
      color: $grey-dark;
    }
    h4, h5{
      color: $grey-dark;
    }
  }
}

@media screen and (max-width: 600px){
  :host{
    .container-terms {
      font-size: 1.3rem;
      padding: 1rem 3rem;
      .title {
        font-size: 2.5rem;
      }
      .subtitle {
        font-size: 2rem;
      }
      h5{
        font-size: 1.7rem;
      }
    }
  }
}
