<div class="info-container">
  <div class="tittle main-title">
    <h1 class="text">Perfil</h1>
  </div>
  <div class="email">
    <p>{{email}}</p>
  </div>
  <div class="content">
    <div class="elements-container">
      <div class="element element-process">
        <div class="center-icon">
          <span class="icon-account"></span>
        </div>
        <div class="info">Miembro Rótalo</div>
        <div class="info bold">{{dateCreated}}</div>
      </div>
      <div class="element element-product">
        <div class="container-circle">
          <show-star [numberStar] = "mainRanking"> </show-star>
          <!--<div class="center-icon">
            <div class="ico-star"></div>            
          </div>-->
          <div class="info">Mi ranking general</div>
          <div class="circle">{{mainRanking}}</div>
        </div>
      </div>
    </div>
    <div class="tittle">
      <div class="ico hobbies-icon"></div>
      <p class="text">Mis intereses</p>
    </div>
    <div class="elements-container">
      <div class="tag-wrapper">
        <div class="tag-container" *ngFor="let hobby of hobbies">
            <div class="tag" *ngIf="hobby.seleccionado">
              <label>{{hobby.nombre}}</label>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
