@import "../../styles/settings/_colors.scss";
@import "../../styles/settings/_variables.scss";

:host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  overflow-x: hidden;
  overflow-y: auto;

  .container-modal {
    background: #FFFFFF;
    width: 53%;
    height: fit-content;
    min-height: 460px;
    max-height: 500px;
    //display: flex;
    //flex-direction: column;
    border-radius: 15px;
    .modal__body {
      overflow: hidden;
    }
    .modal__button {
      text-align: center;
      padding: 20px 2.5rem;
    }
  }
  .modal__body {
    padding: 60px 4% 30px 4%;
    overflow-x: hidden;
    overflow-y: scroll;
  //  max-height: 80vh;
  }
  .text-xs-center {
    text-align: center;
  }
  .text--grey-dark {
    color: #4a4a4a;
  }

  .tips-list__item {
    padding: 0px 40px;
    display: inline-block;
    max-width: 250px;
    font-size: 17px;
    text-align: left;
  }

  .button-modal{
    width: 25%;
    display: inline-block;
  }

  .button-modal-space{
    margin-right: 2%;
  }

  .buy-continue{
    cursor: pointer;
    padding-top: 30px;
    font-size: 18px;
    color: #FF2334;
    text-decoration: underline;
  }

  img {
    width: 22%;
    height: 89.96px;
    max-width: 100%;
    vertical-align: middle;
  }
  h3{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 35px;
    color: #FF2334;
  }
  p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #777777;
  }
  label{
    font-weight: bold;
    font-size: 16px;
    color: #777777;
  }
}
