@import '../../styles/settings/_colors.scss';
@import '../../styles/settings/_variables.scss';
:host{
    display: block;
    display: block;
    height: 100%;
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
    .container-fluid{
      display: flex;
    }
    custom-footer {
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    .img-container {
      width: 40%;
      padding: 50px 2% 20px 13.5%;
      img {
        max-width: 380px;
      }
    }

    .form-container {
      width: 60%;
      padding: 50px 16% 20px 2%;
    }

    .material-input {
      position: relative;
    }

    .row-two {
      display:flex;
      justify-content: space-between;
      .column {
        width: 48%;
      }
    }

    .btn-signup {
      max-width: 270px;
      margin-top: 20px;
    }

    .currency-select {
      position: absolute;
      bottom: 0;
    }

    input:disabled {
      background-color: #fff;
    }

    form{
        .title-text{
            h1{
                color: #272727;
                font-size: 2.4rem;
                margin: 0;
                margin-bottom: 20px;
            }
        }
        custom-button{
            display: block;
            width: 100%;
            margin-bottom: 5rem;
        }
        footer{
            font-weight: 400;
            line-height: 19px;
            p{
                font-size: 1.4rem;
            }
            a{
                color: $red;
                font-size: 1.4rem;
                cursor: pointer;
            }
        }
    }

    .form-theme .form-group {
      position: relative;
      .form-control{
        background-position: 95% center;
        border-bottom: 1px solid #707070;
      }
    }


    .material .form-theme .form-group {
      .form-control.invalid.ng-touched{
        border-bottom: 2px solid #FF3646;
      }
    }

    .help-block {
      position: absolute;
      left: 0;
      bottom: 0px;
    }

    .select-country{
      display: none;
    }

    input:-webkit-autofill {
      background-color: #fff !important;
    }
}

:host {
  .invalid ~ .error-msg {
    display: block;
    position: absolute;
    bottom: -20px;
  }
}

:host {
  @media (max-width: 1024px) {
    .form-container {
      padding: 50px 3% 20px 2%;
    }
  }
}

:host {
  @media (max-width: 900px) {
    .img-container {
      display: none;
    }

    .form-container {
      width: 100%;
      padding: 50px 5% 20px 5%;
    }

     .btn-signup {
      margin: 0 auto;
      margin-top: 20px;
    }

  }
}

