@import '../../styles/settings/_colors.scss';
@import '../../styles/settings/_variables.scss';
:host{
    display: block;
    .container-fluid{
      display: flex;
      margin-bottom: 100px;
    }
    .img-container {
      width: 40%
    }

    .form-container {
      width: 60%;
      padding: 40px 8% 20px 1%;
    }

    .material-input {
      position: relative;
    }

    .row-two {
      display:flex;
      justify-content: space-between;
      .column {
        width: 48%;
      }
    }

    .btn-signup {
      max-width: 270px;
      margin-top: 20px;
    }

    .currency-select {
      position: absolute;
      bottom: 0;
    }

    input:disabled {
      background-color: #fff;
    }

    form{
        .title-text{
            h1{
                color: #272727;
                font-size: 2.4rem;
                margin: 0;
                margin-bottom: 20px;
            }
        }
        custom-button{
            display: block;
            width: 100%;
            margin-bottom: 5rem;
        }
        footer{
            font-weight: 400;
            line-height: 19px;
            p{
                font-size: 1.4rem;
            }
            a{
                color: $red;
                font-size: 1.4rem;
                cursor: pointer;
            }
        }
    }

    .form-theme .form-group {
      position: relative;
      .form-control{
        background-position: 95% center;
        border-bottom: 1px solid #707070;
      }
    }
    .help-block {
      position: absolute;
      left: 0;
      bottom: 0px;
    }

    .select-country{
      display: none;
    }

    input:-webkit-autofill {
      background-color: #fff !important;
    }
}

:host {
  .invalid ~ .error-msg {
    display: block;
    position: absolute;
    bottom: -20px;
  }
}

:host{
  @media (max-width: 450px) {
    form {
      max-width: 235px;
    }
     .form-theme .form-group.margin-error-bottom {
      margin-bottom: 4rem;
    }
  }
}
