<div class="detail-order">
  <div class="breadcrumb">
    <a>Artículos comprados y vendidos </a> <span>> Detalle de la orden</span>
  </div>
  <div class="container">
    <div class="list-orders">
      <div class="number-order">
        <p><span>Órden #1916246315</span> - 18 de enero de 2019</p>
      </div>

      <ul class="order">
        <li class="first">
          <img src="" alt="no foto">
        </li>
        <li>
          <p>
            Renault Duster 2014 con carnet
          </p>
        </li>
        <li>
          <p>
            $25.000.000 x 1 unidad
          </p>
        </li>
        <li class="total-product">
          <p>
            Total: 20.000
          </p>
        </li>

      </ul>

      <ul class="order">
        <li class="first">
          <img src="" alt="no foto">
        </li>
        <li>
          <p>
            Renault Duster 2014 con carnet
          </p>
        </li>
        <li>
          <p>
            $25.000.000 x 1 unidad
          </p>
        </li>
        <li class="total-product">
          <p>
            Total: 20.000
          </p>
        </li>

      </ul>

      <ul class="order-total">
        <li class="first">
          <div>Subtotal</div>
          <div>IVA</div>
        </li>
        <li>
        </li>
        <li>
        </li>
        <li class="right">
          <div>$60.000</div>
          <div>$60.000</div>
        </li>
        <div class="line"></div>
      </ul>

      <ul class="order-total sum">
        <li class="first">
          <div>TOTAL</div>
        </li>
        <li>
        </li>
        <li>
        </li>
        <li class="right">
          <div class="total-price">$70.000</div>
        </li>
      </ul>

    </div>
    <div class="detail-info">

    </div>
  </div>
</div>
