:host {
  width: 100%;
  padding: 45px 5% 70px 2%;
  position: relative;
  background-color: #FAFAFA;
  .detail-order {
    width: 100%;
    .breadcrumb {
      color:#383838;
      font-size: 2.0rem;
      margin-bottom: 40px;
      span {
        font-weight: bold;
      }
    }

    .container {
      display: flex;
      color:#707070;
      font-size: 1.6rem;
      .list-orders {
        width: 60%;
        padding: 15px 15px 90px 18px;
        background-color: #FFFFFF;
        margin-right: 19px;
        .number-order {
          margin-bottom: 26px;
          p {
            color: #272727;
            font-size: 1.8rem;
            span {
              font-weight: bold;
            }
          }
        }
      }
      .detail-info {
        width: 40%;
        background-color: #FFFFFF;
      }

      .order {
        padding: 0px;
        display: flex;
        border-bottom: 1px dashed #E5E5E5;
        padding-bottom: 23px;
        margin-top: 15px;
        .photo {
          width: 124px;
          height: 94.03px;
          margin-right: 16px;
          background-color: blue;
          border-radius: 5px;
          border: 1px solid #E3E3E3;
          img {
            width: 100%;
          }
        }

        .photo ~ li {
          width: 28%;
          padding: 20px 10px;
        }

        .total-product {
          font-size: 1.8rem;
          color: #414141;
          font-weight: bold;
        }

      }

      .total {
        margin-top: 30px;
        margin-right: 35px;
        .subtotal {
          border-bottom: 1px solid #707070;
          padding: 0px 9px;
        }
        .row {
          display: flex;
          justify-content: space-between;
          margin: 10px 0;
          span {
            color: #707070;
            font-size: 1.8rem;
          }
        }
        .row:last-child {
          margin-bottom: 25px;
        }
        .row.total-order {
          padding: 0px 9px;
          margin-top: 30px;
          span {
            color: #414141;
            font-weight: bold;
            font-size: 1.8rem;
          }
          span.red {
            color: #FF3646;
          }
        }
      }
    }

  }

}
