<div class="detail-order">
  <div class="breadcrumb">
    <a>Artículos comprados y vendidos </a> <span>> Detalle de la orden</span>
  </div>
  <div class="container">
    <div class="list-orders">
      <div class="number-order">
        <p><span>Órden #1916246315</span> - 18 de enero de 2019</p>
      </div>

      <ul class="order">
        <li class="photo">
          <img src="" alt="no foto">
        </li>
        <li>
          <p>
            Renault Duster 2014 con carnet 
          </p>
        </li>
        <li>
          <p>
            $25.000.000 x 1 unidad
          </p>
        </li>
        <li class="total-product">
          <p>
            Total: 20.000
          </p>
        </li>

      </ul>

      <ul class="order">
        <li class="photo">
          <img src="" alt="no foto">
        </li>
        <li>
          <p>
            Renault Duster 2014 con carnet 
          </p>
        </li>
        <li>
          <p>
            $25.000.000 x 1 unidad
          </p>
        </li>
        <li class="total-product">
          <p>
            Total: 20.000
          </p>
        </li>

      </ul>

      <div class="total">
        <div class="subtotal">
            <div class="row">
              <span>Subtotal</span>
              <span>$60.000</span>
            </div>
            <div class="row">
              <span>IVA</span>
              <span>$60.000</span>
            </div>
        </div>
        <div class="row total-order">
            <span>TOTAL</span>
            <span class="red">$70.000</span>
        </div>
      </div>

    </div>
    <div class="detail-info">

    </div>
  </div>
</div>
