<div class="detail-order">
  <div class="breadcrumb">
    <a>Artículos comprados y vendidos </a> <span>> Detalle de la orden</span>
  </div>
  <div class="container">
    <div class="list-orders">
      <div *ngIf="detailOrder">
          <div class="number-order">
              <p><span>Órden #{{detailOrder.referencia}}</span> - {{formatDate(detailOrder.fechaTransaccion)}}</p>
            </div>

            <ul *ngFor="let product of detailOrder.productos" class="order">
              <li class="first">
                <div [ngStyle]="{'background-image': getUrlImge(product.urlFotoProducto)}" class="thumb"></div>
              </li>
              <li>
                <p>
                  {{product.nombreProducto}}
                </p>
              </li>
              <li>
                <p>
                  {{product.precioProducto  | currency:'$' | removeDigits}}
                  x {{product.unidades}} unidad<span *ngIf="product.unidades > 1">es</span>
                </p>
              </li>
              <li class="total-product">
                <p>
                  Total: {{product.totalProducto | currency:'$' | removeDigits}}
                </p>
              </li>

            </ul>

            <ul class="order-total">
              <li class="first">
                <div>Subtotal</div>
                <div>IVA</div>
              </li>
              <li>
              </li>
              <li>
              </li>
              <li class="right">
                <div>{{detailOrder.subtotalOrden  | currency:'$' | removeDigits}}</div>
                <div>{{detailOrder.ivaOrden  | currency:'$' | removeDigits}}</div>
              </li>
              <div class="line"></div>
            </ul>

            <ul class="order-total sum">
              <li class="first">
                <div>TOTAL</div>
              </li>
              <li>
              </li>
              <li>
              </li>
              <li class="right">
                <div class="total-price">{{detailOrder.totalOrden | currency:'$' | removeDigits}}</div>
              </li>
            </ul>
      </div>
    </div>
    <div class="detail-info">
      <div *ngIf="detailOrder">
          <div class="info-intro">
              <p>
                <span class = "strong">¡Genial! Tu pedido esta listo </span>para ser enviado, puede llegarte en un plazo máximo de 5 días hábiles.
              </p>
            </div>
            <ul>
              <li>
                <p>
                  <span class = "strong">Medio de pago: </span>
                  <span *ngIf="detailOrder.medioPago && detailOrder.medioPago =='CARD'">Tarjeta de Crédito</span>
                  <span *ngIf="detailOrder.medioPago && detailOrder.medioPago =='NEQUI'">Nequi</span>
                </p>
              </li>
              <li *ngIf="detailOrder.numeroGuia">
                <p>
                  <span class = "strong">Número de guía:</span> {{detailOrder.numeroGuia}}
                </p>
              </li>
            </ul>
            <div *ngIf="detailOrder.datosEnvio" class="row">
              <div class="title">
                Datos de envío
              </div>
              <div class="item">
                <div class="img">
                  <div class="location"></div>
                </div>
                <div class="item-description">
                  <div>
                    <p>{{detailOrder.datosEnvio.direccion}}</p>
                    <p> <span>{{detailOrder.datosEnvio.ciudad}}</span> - <span>{{detailOrder.datosEnvio.departamento}}</span></p>
                  </div>
                  <div>
                    <p>Celular: <span>{{detailOrder.datosEnvio.celular}}</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="user" class="row">
              <div class="title">
                Información del comprador
              </div>
              <div class="item">
                <div class="img">
                  <div class="user"></div>
                </div>
                <div class="item-description">
                  <div>
                    <p>Sergio Andrés Londoño</p> <a>Contactar</a>
                  </div>
                  <div>
                    <p>Bancolombia - Rótalo</p>
                  </div>
                  <div>
                    <p>dmejiac@rentingcolombia.com</p>
                  </div>
                  <div>
                    <p>3187789009</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="contact">
                <div class="icon-bank icon-label"></div>
                <a>
                    Contactar al vendedor
                </a>
            </div>
            <div class="logistic-info">
                <div class="info-label">
                    <div class="icon-label icon-shopping-car"></div>
                    <div class="text-label">Envío incluido</div>
                </div>
                <div class="info-label">
                    <div class="icon-label icon-watch"></div>
                    <div class="text-label">Devoluciones aplican  <a href="">términos y condiciones.</a></div>
                </div>
                 <div class="company">
                   <p>Empresa transportadora: Coordinadora. S.A</p>
                   <p>Entrega hasta 5 días hábiles</p>
                 </div>
            </div>
      </div>
    </div>
  </div>
</div>
