<navigation-top></navigation-top>
<div>
  <div class="container container--app">
    <div id="top"></div>

    <div id="flashMessage" class="container--app p-b">
      <div *ngIf="messageChange && !errorChange" class="alert alert-success text--center" role="success" >
        <p><span class="icon-check alert-icon"></span> {{messageChange}}</p>
      </div>
      <div *ngIf="errorChange && !messageChange"  class="alert alert-danger" role="alert">
        <ul>
          <li>
            <span>{{errorChange}}</span>
          </li>
        </ul>
      </div>
    </div>

    <h1 class="zeta text--grey-dark bold">Cambiar contraseña</h1>
    <p class="text--grey-dark">Ingresa los siguientes campos para cambiar tu contraseña</p>

    <form role="form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="form-theme">
      <div class="form-group">
        <input
        [ngClass]="{'invalid': changePasswordForm.get('currentPassword').invalid && !changePasswordForm.get('currentPassword').pristine}"
        formControlName="currentPassword"
        maxlength="20"
        id="txt-pass-act"
        type="password"
        class="form-control"
        placeholder="Ingresar contraseña actual">
        <span class="help-block">
          <span *ngIf="changePasswordForm.get('currentPassword').touched && changePasswordForm.get('currentPassword').errors?.required && !changePasswordForm.get('currentPassword').pristine">
              Este campo es obligatorio.
          </span>
          <span *ngIf="changePasswordForm.get('currentPassword').errors?.minlength && !changePasswordForm.get('currentPassword').pristine">
              El campo no cumple la longitud mínima.
          </span>
        </span>
      </div>

      <div class="form-group">
        <input
        [ngClass]="{'invalid': changePasswordForm.get('newPassword').invalid && !changePasswordForm.get('newPassword').pristine}"
        formControlName="newPassword"
        maxlength="20"
        id="txt-pass-new"
        type="password"
        class="form-control"
        placeholder="Ingresar contraseña nueva">
        <span class="help-block">
          <span *ngIf="changePasswordForm.get('newPassword').touched && changePasswordForm.get('newPassword').errors?.required && !changePasswordForm.get('newPassword').pristine">
              Este campo es obligatorio.
          </span>
          <span *ngIf="changePasswordForm.get('newPassword').errors?.minlength && !changePasswordForm.get('newPassword').pristine">
              El campo no cumple la longitud mínima.
          </span>
        </span>
      </div>

      <div class="form-group m-b-md">
        <input
        [ngClass]="{'invalid': changePasswordForm.get('confirmNewPassword').invalid && !changePasswordForm.get('confirmNewPassword').pristine}"
        formControlName="confirmNewPassword"
        maxlength="20"
        id="txt-pass-new-conf"
        type="password"
        class="form-control"
        placeholder="Confirmar contraseña nueva">
        <span class="help-block">
          <span *ngIf="changePasswordForm.get('newPassword').touched && changePasswordForm.get('confirmNewPassword').errors?.required && !changePasswordForm.get('confirmNewPassword').pristine">
              Este campo es obligatorio.
          </span>
          <span *ngIf="changePasswordForm.get('confirmNewPassword').errors?.minlength && !changePasswordForm.get('confirmNewPassword').pristine">
              El campo no cumple la longitud mínima.
          </span>
          <span *ngIf="!changePasswordForm.get('confirmNewPassword').errors?.required && changePasswordForm?.errors?.match && !changePasswordForm.get('confirmNewPassword').errors?.minlength &&!changePasswordForm.get('confirmNewPassword').pristine">
              La contraseña de verificación no coincide.
          </span>
        </span>
      </div>
      <footer>
          <div class="btn-square">
              <custom-button [disabled]="!changePasswordForm.valid"  type="submit" text="Cambiar Contraseña"></custom-button>
          </div>
      </footer>
    </form>
  </div>
</div>
<custom-footer></custom-footer>