<navigation-top></navigation-top>
<div>
  <div class="container container--app">
    <div id="top"></div>
    <div partial path="views/shared/flash-message.html"></div>

    <h1 class="zeta text--grey-dark bold">Cambiar contraseña</h1>
    <p class="text--grey-dark">Ingresa los siguientes campos para cambiar tu contraseña</p>

    <form role="form" class="form-theme">
      <div class="form-group">
        <input id="txt-pass-act" type="password" class="form-control" placeholder="Ingresar contraseña actual">
      </div>

      <div class="form-group">
        <input id="txt-pass-new" type="password" class="form-control" placeholder="Ingresar contraseña nueva">
      </div>

      <div class="form-group m-b-md">
        <input id="txt-pass-new-conf" type="password" class="form-control" placeholder="Confirmar contraseña nueva">
      </div>
      <footer>
          <div class="btn-square">
              <custom-button  type="submit" text="Cambiar Contraseña"></custom-button>
          </div>
      </footer>
    </form>
  </div>
</div>
