<div class="container">
    <div class="container-filters">
		<div class="categories">
			<span class="category-title">{{config?.category}}</span>
			<span class="subcategory-title" *ngIf="config.subCategory">{{config?.subCategory}}</span>
		</div>
		<div class="container-selects"></div>
		<div class="actions">
			<button (click)="filterBySellType($event,'Venta')">Venta</button>
			<button (click)="filterBySellType($event,'Subasta')">Subasta</button>
			<button (click)="filterBySellType($event,'Gratis')">Gratis</button>
		</div>
	</div>
</div>