:host {
  width: 100%;

  .notifications-item, .rating-container{
    display: block;
    width: 100%;
    min-height: 270px;
    padding-bottom: 0;
    overflow: hidden;
  }

  .rate {
    width: 100%;
    display: table;
    position: relative;
    transition: all 0.2s ease;
  }

  .rating {
    padding-bottom: 20px;
  }

  p.notification-text {
    margin: 0;
    color: #767676;
    font-size: 1.6rem;
    display: table-cell;
    vertical-align: middle;
  }

  bar-rating {
    display: table-cell;
    vertical-align: middle;
  }

  .main-text {
    margin-bottom: 40px;
  }
  .icon-close {
    cursor: pointer;
  }
}

:host {
  .question-rating{
    color:#383838;
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 10px;
  }
}
