:host {
  width: 100%;
  height: auto;
  padding: 0 5%;
  padding-left: 2%;
  .info-container {
    position: relative;
  }
  .container {
    display: flex;
    chat-threads {
      width: 40%;
    }
  }
  .tittle {
    .text {
      color: #ed2f3c;
    }
    h1.text {
      font-size: 4rem;
      font-weight: normal;
      margin: 0;
    }
  }
  .main-title {
    padding-bottom: 15px;
    border-bottom: 2px solid #eae9e8;
    margin-bottom: 25px;
  }
  custom-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    z-index: 1;
  }
  @media (max-width: 780px) {
    .tittle h1.text {
      text-align: center;
      margin-top: 20px;
    }
  }
  @media (max-width: 700px) {
    padding: 0 2%;
    .container {
      flex-direction: column;
      chat-threads {
        width: 100%;
        min-height: 491px;
      }
      chat-window {
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: white;
        z-index: 100000;
      }
    }
  }
}
