<div  class="container-terms">
  <h2 class="title">Términos y Condiciones</h2>
  <p>www.rotalo.com.co (en adelante El Sitio Web) es una Plataforma cerrada de
      comercio que Bancolombia S.A. pone al servicio del(los) Usuario(s) pertenecientes
      a la(s) Empresa(s) de la Comunidad. Bancolombia S.A., adicionalmente ha
      habilitado un portal público www.rotalo.com.co/tiendainmueble para que los
      Usuarios del Sitio Web puedan interactuar con las diferentes ofertas de venta que
      el Banco haga respecto de sus bienes, entiéndase remanentes de activos fijos,
      inmuebles, maquinaria y equipos, vehículos, , los cuales son recibidos en dación en
      pago de conformidad con el capitulo XVIII, artículo 110, numeral 6 (literal c) y
      numeral 7 del Estatuto Orgánico del Sistema Financiero y con la exigencia de
      enajenación de los mismos contenida en el referido estatuto (en adelante “Tienda
      del Inmueble y Otros ”), con los presentes términos y condiciones y demás normas
      aplicables. Dichos bienes, además podrían ser objeto de financiación por parte de
      Bancolombia, siempre que el (los) Usuario(s) cumpla(n) las políticas de crédito de
      la entidad financiera.</p>
  <br>
  <p>Para efectos de los presentes términos y condiciones, las palabras que se listan a
      continuación tendrán los significados señalados:</p>
      <ul style="list-style-type: disc;">
          <li> <strong>Usuario(s):</strong> Entiéndase como, aquellas personas que navegan el Sitio Web
              sin realizar el proceso de registro.</li>
          <li> <strong>Comunidad(es):</strong> Entiéndase como un grupo de Usuarios del Sitio Web
              unidos por relaciones de tipo laboral o contractual con un tercero. Dicho
              tercero puede ser una empresa individualmente considerada o un grupo
              empresarial.</li>
          <li>
            <strong>
              Anunciante:
            </strong> Entiéndase como BANCOLOMBIA S.A, quien será el oferente
              de los bienes (inmuebles, maquinaria y equipos, vehículos y remanentes de
              activos fijos) y productos y servicios financieros.
          </li>
          <li>
              <strong>Sitio web:</strong> Es el portal de
              información <a href="https://www.rotalo.com.co/tiendainmueble">https://www.rotalo.com.co/tiendainmueble</a>, creado por
              BANCOLOMBIA S.A.
          </li>
          <li>
              <strong>Información personal:</strong> Entiendase como aquella brindada por el Usuario
              con la finalidad de de ser contactado y que incluye los siguientes datos
              personales: nombre completo, tipo y número de identificación, correo
              electrónico y número telefónico de contacto.
          </li>
        </ul>
        <br>
    <p>
        El(los) Usuario(s) podrán ingresar al Sitio Web a través de la dirección
        <a href="https://www.rotalo.com.co/tiendainmueble">https://www.rotalo.com.co/tiendainmueble</a>, y estando allí, podrán navegar,
        consultar dentro de una categoría determinada el(los) bien(es) de su interés,
        comparar los diferentes anuncios disponibles dentro del Sitio Web, interactuar con
        el anunciante etc. y una vez deseen mostrar su interés por uno o varios de los
        bienes anunciados y consultar sobre la disponibilidad de los mismos, deberán
        proporcionar los siguientes datos con fines de identificación y contacto: (i)Nombres

        y apellidos, (ii)Correo electrónico, (iii)Tipo y número de documento de
        identificación personal y (iv)Número telefónico de contacto personal.
    </p>
    <br>
    <p>
        El Usuario deberá disponer de los medios físicos y técnicos que le permitan vía
        Internet, tener acceso al Sitio Web.
    </p>
    <br>
    <p>
        En ningún caso la información contenida en el Sitio Web deberá considerarse como
        exhaustiva, completa o que de cualquier forma pueda satisfacer todas las
        necesidades del Usuario. La información anunciada está destinada a que el Usuario
        pueda acceder a la mayor cantidad de ofertas posibles sobre una determinada
        categoría de bienes y al mostrar su interés por alguno de ellos, poder gestionar la
        información que considere pertinente y necesaria a través de los canales de
        comunicación dispuestos para tal fin o de la posibilidad de ser contactado por el
        Anunciante, iniciar un proceso de negociación y, finalmente, acordar los términos
        finales del negocio jurídico.
    </p>

    <h4 class="subtitle">Tratamiento y Datos</h4>
    <p>
        BANCOLOMBIA S.A., atendiendo al ofrecimiento que hace de sus bienes, productos
        y/o servicios a través del Sitio Web y especialmente al interés demostrado por el
        Usuario respecto de uno o varios de ellos, realizará a los Usuarios una solicitud de
        información personal y en ese sentido:
    </p>
    <br>
    <p>
        El(los) usuario(s)suministrará(n) su información personal y autorizará de forma
        expresa, voluntaria y con entendimiento de sus implicaciones ser contactado(s)
        por el Anunciante, a través de un asesor o de un tercero a quien se le haya
        encomendado esa labor, para suministrarle la información adicional que el mismo
        requiera y con ello, el usuario decida libremente continuar con las conversaciones
        con miras a una posible negociación o desistir de continuar mostrando su interés
        frente a un bien, servicio o producto determinado.
    </p>
    <br>
    <p>
        BANCOLOMBIA S.A., tratará los datos de forma confidencial y exclusivamente con
        la finalidad de contactar a el(los)usuario(s) y acordar los términos y condiciones
        del evento negocio jurídico que se celebre entre BANCOLOMBIA S.A. y los Usuarios
        interesados.
    </p>
    <br>
    <p>
        El(los) Usuario(s) podrán revocar la anterior autorización en el momento que así lo
        deseen.
    </p>

    <h4 class="subtitle">Alcance de Anuncios y Responsabilidad</h4>
    <p>
        En ningún caso, las conversaciones sobre los productos, bienes y/o servicios
        ofrecidos en el Sitio Web constituirá por sí mismas ofertas en firme o final,
        promesas de compraventa respecto de los bienes anunciados, la consolidación de
        un contrato final de compraventa o cualquier otro negocio jurídico. En tal sentido
        BANCOLOMBIA S.A. no será responsable de las consecuencias, daños o perjuicios
        que los Usuarios aleguen por este hecho, en tanto Bancolombia S.A. se reserva la
        facultad de iniciar, suspender, y/o terminar las conversaciones tendientes a cerrar
        algún negocio jurídico con los Usuarios sobre los bienes en que han mostrado
        interés. En igual sentido, Bancolombia S.A. podrá modificar las posibles
        condiciones de negociación y/o retirar los anuncios, negociar con un Usuario(s)
        determinado(s), de variar o modificar las posibles condiciones de negociación, o de
        retirar de sus publicaciones uno o varios bienes determinados.
    </p>
    <br>
    <p>
        El(los) Usuario(s) entiende(n) y reconoce(n) la posibilidad de que frente a un
        mismo bien respecto del cual haya(n) demostrado interés, otro(s) Usuario(s) lo
        hayan hecho con la intención de concretar la negociación, y en tal sentido, se
        estén adelantando concomitantemente conversaciones de buena fe entre
        Bancolombia S.A. y otros usuarios tendientes a la concreción de un negocio
        jurídico sobre el respectivo bien y/o servicio anunciado.
    </p>
    <br>
    <p>
        BANCOLOMBIA S.A. se reserva la facultad de modificar en cualquier momento los
        términos y condiciones de uso del Sitio Web. En todo caso, se recomienda su
        consulta periódica por parte del(los) Usuario(s) ya que podrían ser modificados.
    </p>
    <br>
    <p>
        BANCOLOMBIA S.A. se reserva el derecho a ejercer todas las acciones judiciales
        y/o administrativas que se encuentren a su disposición para exigir las
        responsabilidades que se deriven del incumplimiento por parte del(los) Usuario(s),
        de cualquiera de las disposiciones de estos términos y condiciones.
    </p>

    <h4 class="subtitle">Condciones del Producto</h4>
    <p>
        Los remanentes de activos fijos, maquinaria y equipo, vehículos, e inmuebles se
        anunciarán en el estado en que se encuentran y en el evento de concretarse la
        venta de estos, el (los) Usuario(s) lo(s) recibirá(n) en dicho estado, y en el caso de
        los bienes muebles, además, los recogerán en el lugar en que se encuentren
        asumiendo los gastos de traslado a los que hubiere lugar.
        En caso de que el (los) usuario(s) considere(n) necesaria una revisión o
        verificación detallada del estado de estos, deberá asumir los costos que se
        generen, así mismo, los bienes anunciados no poseen ningún tipo de garantía y
        el(los) Usuario(s) no estará(n) facultado(s) para ejercer ningún tipo de acción
        judicial en contra de BANCOLOMBIA S.A.
    </p>
    <br>
    <p>
        Las características de los bienes anunciados y los precios de venta incluidos en el
        Sitio Web, están sujetos a modificaciones sin previo aviso (son de referencia y no
        se constituyen como oferta comercial).
    </p>
    <br>
    <p>
        Sin perjuicio de lo anterior, Bancolombia S.A. y el(los) Usuario(s) podrá(n) acordar
        términos y condiciones adicionales a las anteriormente descritas en los
        acercamientos y conversaciones que se realicen con posterioridad al ofrecimiento
        de los bienes realizados por El Banco a través de El Portal y en ese sentido, el(los)
        Usuario(s) reconoce(n), entiende(n) y acepta(n) que el acuerdo de voluntades a
        que llegue Bancolombia S.A. y el(los) Usuario(s) por fuera de El Portal conllevará,
        a un contrato u oferta final y, por tanto, dicho documento será el único
        instrumento y soporte a través del cual el(los) Usuario(s) podrá(n) pretender el
        cumplimiento de las obligaciones allí contenidas.
    </p>

</div>
