<div class="container-offer">
  <div class="container">
    <div class="buy-detail">
      <p>Debes haber recibido una notificación de Nequi en tu celular. Por favor sigue los pasos para confirmar el pago.</p>
    </div>
    <div class="gif-container">
      <clock-animation></clock-animation>
      <div class="title-gif">
        {{titleWait}}
      </div>
    </div>
    <div class="note-info">
      <span class="util-modal icon-light vertical-align--middle"></span>
      Nota: Solo tienes 15 minutos para realizar y completar el proceso de pago con Nequi. Si te demoras más de este tiempo debes
      volver a comenzar el proceso de pago.
    </div>
    <div class="container-gallery">
      <div class="gallery">
        <div class="container-img">
          <img src="/assets/img/nequi_steps/paso_01.png" alt="spinner">
        </div>
        <div class="desc">Sigue la noticación push de la App Nequi en tu celular para aceptar el pago.</div>
        <div class="desc--small"> <span class="util-modal icon-light vertical-align--middle"></span>
          Si no la encuentras, ingresa a la App de Nequi y en el menú de “Tu cuenta” encontrarás un movimiento pendiente.
        </div>
      </div>
      <div class="gallery">
        <div class="container-img">
          <img src="/assets/img/nequi_steps/paso_02.png" alt="spinner">
        </div>
        <div class="desc">Revisa el detaller del pago pendiente y confirmalo</div>
      </div>
      <div class="gallery">
        <div class="container-img">
          <img src="/assets/img/nequi_steps/paso_03.png" alt="spinner">
        </div>
        <div class="desc">Selecciona el bolsillo que usarás para realizar el pago.</div>
      </div>
      <div class="gallery">
        <div class="container-img">
          <img src="/assets/img/nequi_steps/paso_04.png" alt="spinner">
        </div>
        <div class="desc">Confirma la realización del pago.</div>
      </div>
      <div class="gallery">
        <div class="container-img--big">
          <img src="/assets/img/nequi_steps/paso_05.png" alt="spinner">
        </div>
        <div class="desc">Inserta tu clave de ser necesario.</div>
      </div>
      <div class="gallery">
        <div class="container-img">
          <img src="/assets/img/nequi_steps/paso_06.png" alt="spinner">
        </div>
        <div class="desc">¡Listo! Ya realizaste el pago. No cierres esta ventana hasta que se confirme el pago en tu navegador.</div>
      </div>
    </div>
  </div>
</div>
