<div class="container">
  <section class="ac-container">
    <div class="question">
      <input id="ac-1" name="accordion-1" type="checkbox" />
      <label for="ac-1">¿Qué es Rotalo? <div class="icon"></div></label>
      <article class="ac-medium">
        <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the
          people who make shows, and on the strength of that one show they decide if they're going to make more shows.</p>
      </article>
    </div>
    <div class="question">
      <input id="ac-2" name="accordion-1" type="checkbox" />
      <label for="ac-2">¿Cómo funciona?<div class="icon"></div></label>
      <article class="ac-medium">
        <p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then
          some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness
          is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to
          pay the price. </p>
      </article>
    </div>
    <div class="question">
        <input id="ac-3" name="accordion-1" type="checkbox" />
        <label for="ac-3">¿Cómo funciona?<div class="icon"></div></label>
        <article class="ac-medium">
          <p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then
            some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness
            is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to
            pay the price. </p>
        </article>
      </div>
      <div class="question">
          <input id="ac-4" name="accordion-1" type="checkbox" />
          <label for="ac-4">¿Cómo funciona?<div class="icon"></div></label>
          <article class="ac-medium">
            <p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then
              some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness
              is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to
              pay the price. </p>
          </article>
        </div>
  </section>
</div>
