<div class="opacity">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal__header ng-scope">
        <div class="split">
          <div class="split__title">
            <h1 class="modal__title ng-hide">Mensajes</h1>
            <h1 class="modal__title">
              <a class="text--greenblue button--back-modal icon-custom icon-custom--back message-show__back-button"></a>
            </h1>
          </div>
          <a class="modal__close">
            <span class="icon-custom icon-custom--cross"></span>
          </a>
        </div>
      </div>
      <div class="ng-scope">
        <div class="ng-isolate-scope">
          <div class="message-show__product">
            <div class="media">
              <span class="media-left">
                <div class="avatar rounded-cornes message-show__product-image clickable" style="background-image: url(https://s3.amazonaws.com/rotalo-app-imagenes/staging/uploads/photo/file/7194/celular.jpg)"></div>
              </span>
              <div class="media-body">
                <h2 class="title-small text--grey-dark ng-binding">Sebas mora</h2>
                <p class="regular-text text--grey-dark ng-binding">0 Mensajes</p>
              </div>
            </div>
          </div>
          <div class="m-a js-conversation message-show__history">
            <ul class="media-list media-list-conversation"></ul>
            <div id="bottom"></div>
          </div>
          <div class="modal__footer ng-scope message-show__footer">
            <form class="ng-pristine ng-invalid ng-invalid-required">
              <input type="text" class="form-control message-show__input ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                placeholder="Message" required="">
              <input type="submit" class="text--greenblue message-show__button" value="Enviar">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>