<div class="info-container">
  <div class="tittle main-title">
    <h1 class="text ">Órdenes tienda</h1>
  </div>

  <div class="first-row">
    <div class="filter-container">
      <form autocomplete="off" class="form-theme">
        <div class="material-design">
          <label class="label-title bold">Filtar por</label>
          <div class="filter">
            <div class="row">
              <div class="form-group half" data-input="name">
                <label class="label-title">Nombre</label>
                <input autocomplete="off" class="form-control" type="text" id="nameId" [(ngModel)]="name" name="name">
              </div>
              <div class="form-group half" data-input="typeOrder">
                <label class="label-title">Estado</label>
                <select (change)="onSelect($event)" class="form-control">
                  <option value="" selected="true" disabled>Todas</option>
                  <option *ngFor="let typeOrder of typeOrders" value="{{typeOrder.idOrderStatus}}">{{typeOrder.label}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group half" data-input="since">
                <label class="label-title">Desde</label>
                <input autocomplete="off" placeholder="dd/mm/aaaa" class="form-control" type="text" id="since"
                  [(ngModel)]="since" name="since">
              </div>
              <div class="form-group half" data-input="until">
                <label class="label-title">Hasta</label>
                <input autocomplete="off" placeholder="dd/mm/aaaa" class="form-control" type="text" id="untilId"
                  [(ngModel)]="until" name="until">
              </div>
            </div>
            <div class="row">
              <div class="form-group full" data-input="email">
                <label class="label-title">Correo electrónico</label>
                <input autocomplete="new-password" class="form-control" type="text" id="email" [(ngModel)]="email"
                  name="email">
              </div>
            </div>
          </div>
          <div class="row justify">
            <div (click)="removeFilter()" class="btn-container">
              <a mat-flat-button>Borrar filtros</a>
            </div>
            <div (click)='setFilter()' class="btn-container">
              <button (keyup.enter)="setFilter()" mat-flat-button class="primary">Filtrar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="tabla-campaign">
    <table id="campaigns-wrap" class="campaigns">
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Ciudad</th>
        <th>N° referencia</th>
        <th>N° guía</th>
        <th>Transportadora</th>
        <th>Estado</th>
        <th>Acción</th>
        <th class="table-no-border"></th>
        <th class="table-no-border"></th>
        <th class="table-no-border"></th>
      </tr>

      <tbody>
        <tr *ngFor="let order of  orders">
          <td>
            <p>{{order.idOrder}}</p>
          </td>
          <td>
            <p>{{getFormatDate(order['createDate'])}}</p>
          </td>
          <td>
            <p>{{order.buyerName}}</p>
          </td>
          <td>
            <p>{{order.buyerEmail}}</p>
          </td>
          <td>
            <p *ngIf="order.shippingAddress">{{order.shippingAddress.city}}</p>
          </td>
          <td>
            <p>{{order.referenceNumber}}</p>
          </td>
          <td>
            <div class="tracking">
                <input [(ngModel)] = "order.trackingNumber" (click) = "openDialog(order.trackingNumber, order.orderStatus)" type="text"/>
            </div>

          </td>
          <td>
            <p *ngIf="order.shippingCompany">
              {{order.shippingCompany.name}}
            </p>
          </td>
          <td>
            <p *ngIf="order.orderStatus">
              {{order.orderStatus.label}}
            </p>
          </td>
          <td>
            <a>Contactar</a>
          </td>
          <td>
            <a [routerLink]="detailOrder">Ver detalle</a>
          </td>
          <td *ngIf="order.orderStatus.name == 'VALIDATION'" class="material-design">
              <div  class="btn-container">
                  <button 
                  (click)="openModal(order.referenceNumber,2)"
                  class="primary" mat-flat-button>Aceptar</button>
              </div>
          </td>
          <td *ngIf="order.orderStatus.name == 'VALIDATION'" class="material-design">
              <div  class="btn-container">
                  <button 
                  (click)="openModal(order.referenceNumber, 3)"
                  class="secundary" mat-flat-button>Rechazar</button>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="back-modal" *ngIf="showModalDescription">
    <div class="modal-detail">
      <div class="button-close-modal" (click)="closeModal()">
        <p>x</p>
      </div>
      <div class="section-text">
        <p>Agrega una descripción</p>
        <textarea id="description" [(ngModel)]='description' maxlength="100">
          </textarea>
          <span class="msj-error" *ngIf="isEmpty">
            Este campo es obligatorio
          </span>
      </div>
      <div class="buttons-container">
        <button type="button" class="btn-go-confirm" (click)="changeStatusOrder()">Confirmar</button>
      </div>
    </div>
  </div>
