<div class="info-container">
  <div class="tittle main-title">
    <h1 class="text ">Administrador de órdenes</h1>
  </div>
  <div class="material-design">
    <form class="form-theme">
      <div class="form-group field-form valid">
        <select
        (change) = "onSelect($event)"
        class="form-control">
          <option value="" selected="true" disabled>Tipo de orden*</option>
          <option value="1">PENDING</option>
          <option value="2">APPROVED</option>
          <option value="3">DECLINED</option>
          <option value="4">VALIDATION</option>
        </select>
      <!--  <label class="label-title">Categoría*</label>-->
      </div>
    </form>
    <div class="tabla-container">
      <table class="table-info">
        <tbody>
          <tr>
            <td class=" ">
              <div>
                ID
                <p>123456</p>
              </div>
            </td>
            <td class="padding-cell-left middle-cell">
              <div>
                Número de referencia
                <p>1234567</p>
              </div>
            </td>
            <td class="padding-cell-left middle-cell">
              <div>
                User ID
                <p>123465</p>
              </div>
            </td>
            <td class="padding-cell-left middle-cell">
              <div>
                Traking number
                <p>123465</p>
              </div>
            </td>
            <td class="padding-cell-left middle-cell">
              <div>
                Estado
                <p>123465</p>
              </div>
            </td>
            <td class="padding-cell-left middle-cell">
              <div>
                Fecha de creacción
                <p>123465</p>
              </div>
            </td>
            <td class="padding-cell-left">
              <div>
                <button class="primary" type="submit">
                  Aprobar
                </button>
                <button class="primary-light" type="submit">
                  Rechazar
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
