<div class="info-container">
  <div class="tittle main-title">
    <h1 class="text ">Administrador de órdenes</h1>
  </div>
  <div class="material-design">
    <form class="form-theme">
      <div class="form-group field-form valid">
        <select
        (change) = "onSelect($event)"
        class="form-control">
          <option value="" selected="true" disabled>Tipo de orden*</option>
          <option  *ngFor="let typeOrder of typeOrders" value="{{typeOrder.idOrderStatus}}">{{typeOrder.name}}</option>
        </select>
      <!--  <label class="label-title">Categoría*</label>-->
      </div>
    </form>
    <div class="msg-no-products" *ngIf="noOrders">
      ¡Aún no tenemos ordenes en esta categoría!.
    </div>
    <div *ngIf="orders" class="tabla-container">
      <table class="table-info">
        <tbody>
          <tr *ngFor="let order of orders">
            <td class=" ">
              <div>
                ID Orden
                <p>{{order.idOrder}}</p>
              </div>
            </td>
            <td class="padding-cell-left middle-cell cell">
              <div>
                Número de referencia
                <p>{{order.referenceNumber}}</p>
              </div>
            </td>
            <td class="padding-cell-left middle-cell">
              <div>
                ID Usuario
                <p>{{order.userId}}</p>
              </div>
            </td>
            <td class="padding-cell-left middle-cell">
              <div>
                Traking number
                <p>{{order.trackingNumber}}</p>
              </div>
            </td>
            <td class="padding-cell-left middle-cell">
              <div>
                Fecha de creacción
                <p>{{order.createDate | date}}</p>
              </div>
            </td>
            <td *ngIf="order.orderStatus.name == 'VALIDATION'" class="padding-cell-left">
              <div>
                <button
                (click)="changeStatusOrder(order.referenceNumber,2)"
                 class="primary" type="submit">
                  Aprobar
                </button>
                <button
                (click)="changeStatusOrder(order.referenceNumber, 3)"
                 class="primary-light" type="submit">
                  Rechazar
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
