<offer-modal *ngIf="isOfferModalShowed" [config]="configModal" (close)="isOfferModalShowed = false"></offer-modal>
<custom-spinner *ngIf="!products"></custom-spinner>
<div *ngIf="products" class="container">
  <div class="product">
    <div class="visits capitalize">{{products['sell-type'].toLowerCase()}} ({{visitsNumber}} visitas)
    </div>
    <div *ngIf="!products?.photos" class="product-photos">
      <div *ngIf="isSellProcess()" class="lable-sell-process">
        <div class="icon-clock label-sell--center"></div>
        <label class="label-sell--center">Venta en proceso</label>
      </div>
      <div class="panel-heading">
        <div class="container-product__image">
          <img src="/assets/img/product-no-image.png">
        </div>
      </div>
    </div>
    <div *ngIf="products?.photos" class="product-photos">
      <div *ngIf="isSellProcess()" class="lable-sell-process">
        <div class="icon-clock label-sell--center"></div>
        <label class="label-sell--center">Venta en proceso</label>
      </div>
      <div [ngClass]="isSellProcess() ? 'deactivated-photo' : ''" class="panel-heading">
        <ngx-carousel [inputs]="carouselConfig">
          <ngx-item NgxCarouselItem *ngFor="let productImage of productsPhotos">
            <div class="container-product__image">
              <img src="{{productImage?.url}}">
            </div>
          </ngx-item>
          <span (click)="clickArrow()" NgxCarouselPrev class="gtmFlechasProductos carousel-arrow carousel-arrow__prev">
            <span class="icon icon-chevron-thin-left"></span>
          </span>
          <span (click)="clickArrow()" NgxCarouselNext class="gtmFlechasProductos carousel-arrow carousel-arrow__next">
            <span class="icon icon-chevron-thin-right"></span>
          </span>
        </ngx-carousel>
      </div>
    </div>
    <div *ngIf="products" class="product-info">
      <div class="title-product">{{products.name}}</div>
      <div class="flexbox">
        <div *ngIf="products.model" class="contTipo">
          Modelo - {{products.model}}
        </div>
        <div>
          <span class="space" *ngIf="products.model">-</span>
          <span class="condition">Condición: </span>
          <span>{{products.used ? 'Usado' : 'Nuevo'}}</span>
        </div>
      </div>
      <div class="description">{{products.description}}</div>
      <div *ngIf="products.subcategory" class="contTipo">
        {{products.subcategory.category.name}} - {{products.subcategory.name}}
      </div>
      <div class="btns-container">
        <div class="btn-item">
          <div *ngIf="products.price!='0' && products.currency == 'GTQ'" class="valor-product">{{products.price | currency:"Q":0| removeDigits }}</div>
          <div *ngIf="products.price!='0' && products.currency != 'GTQ' && countryId == 9" class="valor-product">{{products.price | currency:"$":0 | removeDigits }}</div>
          <div *ngIf="products.price!='0' && products.currency != 'GTQ' && countryId != 9" class="valor-product">{{products.price | currency:"$":0 | removeDigits }} {{ products.currency }}</div>
          <div *ngIf="products.price =='0'" class="valor-product">Gratis</div>
        </div>
        <div *ngIf="products && !checkSufiBotton() && !isSellProcess() && !validateSession() &&  products['sell-type'] != 'ALQUILA'" class="btn-item">
          <button class="gtmProdComprar botons" *ngIf="products && products['sell-type'] !== 'SUBASTA'" (click)="buyProduct(products.id)">
            <span [ngClass]="products['sell-type'] === 'GRATIS' ? 'icon-love-detalle' : 'icon-shop_car'"></span> {{ products['sell-type'] === 'GRATIS' ? 'Lo quiero' : 'Comprar' }}
          </button>
          <button *ngIf="products && products['sell-type'] == 'SUBASTA'" class="gtmProdHacerOferta botons" (click)="openOfferModal(products)">
            <span class="icon-ofert-detalle"></span> Hacer oferta
          </button>
        </div>
        <div *ngIf="products  && !isSellProcess() && !validateSession() &&  products['sell-type'] == 'ALQUILA'" class="btn-item">
            <button class="gtmProdAlquilar botons" (click)="rentProduct(products.id)">
              <span [ngClass]="products['sell-type'] === 'GRATIS' ? 'icon-love-detalle' : 'icon-shop_car'"></span> Me interesa
            </button>
        </div>
        <div class="btn-two-container" *ngIf="products && checkSufiBotton() && !isSellProcess() && !validateSession() &&  products['sell-type'] !== 'ALQUILA'">
          <div class="btn-item">
            <button class="gtmProdSufiTePresta botons" (click)="openSimulateCreditSufi(products.id)">
              <span class="icon-custom icon-custom--sufi-logo"></span>Solicitar Crédito
            </button>
          </div>
          <div class="btn-item">
            <button class="gtmProdComprar botons" *ngIf="products && products['sell-type'] !== 'SUBASTA'" (click)="buyProduct(products.id)">
              <span class="icon-shop_car"></span> {{ products['sell-type'] === 'GRATIS' ? 'Lo quiero' : 'Comprar' }}
            </button>
            <button *ngIf="products && products['sell-type'] == 'SUBASTA'" class="gtmProdHacerOferta botons" (click)="openOfferModal(products)">
                <span class="icon-ofert-detalle"></span> Hacer oferta
            </button>
          </div>
        </div>
        <div class="btn-two-container" *ngIf="products && validateSession() && !isSold()">
          <div class="btn-item">
            <button class="botons" (click)="deleteProduct(products)">
              <span class="icon icon-trash"></span>Eliminar
            </button>
          </div>
          <div class="btn-item">
            <button class="botons" (click)="editProduct(products)">
              <span class="icon icon-edit"></span> Editar
            </button>
          </div>
        </div>
        <div class="btn-item">
          <div class="media" *ngIf="validateSession() && !isSold()">
            <div class="media-left media-middle">
              <label class="switch">
                <input type="checkbox" [checked]="productStatus" (change)="saveCheck()">
                <div class="switch-slider round"></div>
              </label>
            </div>
            <div class="media-body">
              <p class="panel-product__info post-status {{productChecked}}">Tu aviso está {{ productStatus ? 'activo' : 'inactivo' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-container">
    <div class="column info-section">
      <div class="margin-info">
        <div class="product-info-ubicacion">
          <div>
            <span class="icon icon-calendar"></span>
            Fecha de Publicación:
            <span>{{products['published-at'] | amTimeAgo}}</span>
          </div>
          <span class="icon icon-location"></span>
          <span>{{getLocation(products)}}</span>
        </div>
        <div class="product-info-user">
          <div>
            <div class="media-middle">
              <div *ngIf="!products.user.photo && products.user.company" class="product-info-user--icon" [ngStyle]="{'background-color':products.user.company.colour}">
                <span class="icon-account"></span>
              </div>
              <div *ngIf="products.user.photo" class="photo-user">
                <div [ngStyle]="{'background-image': getUrlImge()}" class="thumbnail-img"></div>
              </div>
            </div>
            <div *ngIf="products.user.company" class="media-middle product-info-user--data">
              <p class="name-user">{{products.user.name}}</p>
              <p class="panel-product" [ngStyle]="{'color':products.user.company.colour}">{{products.user.company.name}} -
                <span [ngStyle]="{'color':products.user.company.colour}">{{products.user.company.community.name}}</span>
              </p>
            </div>
          </div>
          <div class="product-btn" *ngIf="!validateSession()">
            <div *ngIf="products && products.negotiable" class="get-offer">
              <span class="icon-check"></span>
              <span>Recibo ofertas</span>
            </div>
            <div class="product-btns">
              <div class="cont-botons">
                <div class="gtmEnviarMensaje botons" (click)="sendMessage()">
                  <span class="icon-chat-detalle"></span>
                  Chatea con {{firstName}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!isSellProcess()" class="column  share-container">
      <div class="share-product-container">
        <div (click)="validateMobile()" class="gtmCompartirProducto share-mobile">
          <div class="icon-share-container">
            <div class="icon-email"></div>
          </div>
          <a  class="gtmCompartirProducto share-product">Comparte este producto con un amigo</a>
          <span  [ngClass]="{'open': showInputShare}" class="icon-arrow"></span>
        </div>
        <div *ngIf="showInputShare" class="input-container">
          <form (ngSubmit)="shareProduct()" [formGroup]="sendInfoProduct" class="form-theme">
            <div class="form-group">
              <input (click)="messageSuccess=false; messageError= false" [ngClass]="{'invalid': sendInfoProduct.get('email').invalid && !sendInfoProduct.get('email').pristine}"
                formControlName="email" maxlength="100" id="txt-email-detail" type="email" class="form-control" placeholder="Escribe aquí el correo corporativo de tu amigo">
              <div class="icon-container">
                <button class="button-share" type="submit">
                  <div class="icon-email"></div>
                </button>
              </div>
            </div>
            <span *ngIf="sendInfoProduct.get('email').invalid && !sendInfoProduct.get('email').pristine" class="help-block">
              <span class="icon-circle-cancel"></span>
              <span *ngIf="!sendInfoProduct.get('email').errors.emailError">
                Aseguráte de que sea un correo válido.
              </span>
              <span *ngIf="sendInfoProduct.get('email').errors.emailError">
                ¡Hey! compártelo a un correo diferente al tuyo.
              </span>
            </span>
            <span *ngIf="messageSuccess" class="help-block">
              <span class="icon-check"></span>
              <span>
                ¡Hemos enviado el correo con éxito!
              </span>
            </span>
            <span *ngIf="messageError" class="help-block">
              <span class="icon-circle-cancel"></span>
              <span>
                {{textError}}
              </span>
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
