<offer-modal *ngIf="isOfferModalShowed" [config]="configModal" (close)="isOfferModalShowed = false"></offer-modal>
<custom-spinner *ngIf="!products"></custom-spinner>
<div *ngIf="products" class="container">
  <div class="product">
    <div *ngIf="!products?.photos" class="product-photos">
      <div *ngIf="isSellProcess()" class="lable-sell-process">
        <div class="icon-clock label-sell--center"></div>
        <label class="label-sell--center">Venta en proceso</label>
      </div>
      <div class="panel-heading">
        <div class="container-product__image">
          <img src="/assets/img/product-no-image.png">
        </div>
      </div>
    </div>
    <div *ngIf="products?.photos" class="product-photos">
      <div *ngIf="isSellProcess()" class="lable-sell-process">
        <div class="icon-clock label-sell--center"></div>
        <label class="label-sell--center">Venta en proceso</label>
      </div>
      <div [ngClass]="isSellProcess() ? 'deactivated-photo' : ''" class="panel-heading">
        <ngx-carousel [inputs]="carouselConfig">
          <ngx-item NgxCarouselItem *ngFor="let productImage of productsPhotos">
            <div class="container-product__image">
              <img src="{{productImage?.url}}">
            </div>
          </ngx-item>
          <span (click)="clickArrow()" NgxCarouselPrev class="gtmFlechasProductos carousel-arrow carousel-arrow__prev">
            <span class="icon icon-chevron-thin-left"></span>
          </span>
          <span (click)="clickArrow()" NgxCarouselNext class="gtmFlechasProductos carousel-arrow carousel-arrow__next">
            <span class="icon icon-chevron-thin-right"></span>
          </span>
        </ngx-carousel>
      </div>
    </div>
    <div *ngIf="products" class="product-info">
      <div class="title-product">{{products.name}}</div>
      <div class="valor-product">{{products.price | currency:"$":0 | removeDigits }} {{ products.currency }}</div>
      <div class="capitalize">{{products['sell-type'].toLowerCase()}} <strong>({{visitsNumber}} visitas)</strong></div>
      <div *ngIf="products.subcategory" class="contTipo">
        <strong>{{products.subcategory.category.name}} -</strong> {{products.subcategory.name}}
      </div>
      <div class="contTipo">

      </div>
      <div *ngIf="products.model" class="contTipo">
        <strong>Modelo -</strong> {{products.model}}
      </div>
      <div class="description">{{products.description}}</div>



    </div>

  </div>
</div>
